@import url(normalize-css/normalize.css);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404d59;
  margin-bottom: 96px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Mercury Display A", "Mercury Display B", Georgia, "Times New Roman", Times, serif;
  line-height: 1.2;
  margin-bottom: 24px;
  color: #404d59;
}

h1 {
  color: #283743;
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 56px;
}
h1 a {
  display: block;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.01);
  color: #283743;
}
h1 a:hover {
  background-color: #efefef;
  background-color: #f3f4f4;
  border-bottom: 1px dotted #e7e8ea;
  text-decoration: none;
}
h1 a:active {
  background-color: #c5d9fe;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 28.8px 0 12px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
}

a {
  color: #7db1fe;
}
a:hover {
  color: #3b8afd;
  text-decoration: none;
}

a:hover {
  color: #034fda;
  text-decoration: underline;
}

p {
  margin: 0;
}

small {
  font-size: 15px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

.muted {
  color: #b7bcc0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.5;
}

dl {
  margin-bottom: 18px;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 18px;
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #cfd3d5;
  border-bottom: 1px solid white;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #b7bcc0;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  border-left: 5px solid #b7bcc0;
  font-size: 15px;
}

p {
  font-size: 18px;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

#connect {
  margin: 0 auto;
  margin-top: 20px;
}
#connect form {
  width: 845.61689px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#connect form > div {
  margin: 10px 10px 0 0;
  float: left;
  clear: none;
}
#connect span.label,
#connect span.spacer,
#connect span.multiple span {
  width: 220px;
  float: left;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-weight: 100;
}
#connect span.multiple {
  float: left;
}

input {
  border-width: 0;
  background-color: white;
  border-bottom: 1px solid #b7bcc0;
  height: 45px;
  padding: 2px;
  float: left;
  font-size: 24.86232px;
  color: #999;
  color: #b89892;
}

.button input {
  background-color: rgba(16, 33, 47, 0.4);
  border-radius: 0;
  color: #fff;
  padding: 6px 12px;
  text-align: center;
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 24px;
}
.button input:hover {
  background-color: rgba(16, 33, 47, 0.6);
}

form div,
form span {
  float: left;
  clear: both;
}

.button:hover {
  opacity: 0.8;
}

.image-header {
  height: 2%;
  display: block;
  margin: 0 auto;
  width: 90%;
  background-image: url("http://meedan.github.io/meedan-checkdesk/img/checkdesk-screenshots/checkdesk-wilder.jpg");
  background-size: cover;
  background-position: left top;
  padding: 5%;
  text-align: center;
  overflow: hidden;
}

img.logo {
  max-width: 100%;
  float: right;
}

p {
  padding: 5px 0;
  margin: 3px 0;
}

ul li {
  margin: 3px 0;
}

div#about-section {
  width: 90%;
  padding: 1% 5%;
  background: white;
  margin: 0 auto;
}
div#about-section img {
  max-width: 100%;
}

div.about-footer {
  width: 96%;
  padding: 2%;
  font-size: 0.85em;
  background-image: url("http://meedan.github.io/meedan-checkdesk/img/wavecut.png");
  float: left;
  clear: both;
}

.bilingual {
  direction: rtl;
  font-size: 21px;
}
.bilingual h2 :lang(en) {
  font-size: 0.8em;
}
.bilingual #about-section {
  width: 60%;
  float: left;
}
.bilingual #about-section h1 {
  font-size: 18px;
}
.bilingual #about-section h2 {
  font-size: 38px;
}
.bilingual #about-section h3 {
  font-size: 1em;
}
.bilingual #about-section:lang(en) {
  padding-top: 4%;
  direction: ltr;
  width: 17%;
  float: right;
  color: #c3c3c3;
  font-size: 12px;
  background-color: transparent;
}
.bilingual #about-section:lang(en) h1 {
  font-size: 15px;
}
.bilingual #about-section:lang(en) h2 {
  font-size: 17px;
}
.bilingual #about-section:lang(en) h3 {
  font-size: 1em;
}
.bilingual #about-section:lang(en) p {
  padding-top: 40px;
}

body {
  background-color: #333;
}

article.story .story-participants {
  float: left;
}

article.story {
  text-align: "right";
  background: white;
  overflow: hidden;
}
article.story .story-meta {
  border: 1px solid "#c3c3c3";
}
article.story .story-description {
  border: 1px solid "#c3c3c3";
}
article.story .story-description p {
  padding: 10px;
}
article.story .story-participants {
  border: 1px solid black;
}
article.story .participant-avatar {
  border: 1px solid "#c3c3c3";
  float: "right";
}
article.story .participant-avatar {
  border: 1px solid "#c3c3c3";
  float: "right";
}
article.story .story-slogan {
  border: 1px solid blue;
  float: "right";
  clear: both;
  padding: 10px;
}
article.story .story-slogan a {
  color: #f9b806;
  font-weight: bold;
  font-family: Arial;
}
article.story .story-reports {
  border: 1px solid "#c3c3c3";
  clear: both;
}
article.story .story-reports .report-icon {
  border: 1px solid "#c3c3c3";
  float: "right";
}

body {
  margin: 0;
  padding: 0px;
  background-color: #fbfaf9;
  background-size: cover;
  min-width: 845.61689px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: hidden;
  width: 845.61689px;
  margin: 38.4px auto;
}

section#header img {
  width: 150px;
}
section#header ul li {
  display: inline-block;
}

section.video {
  width: 100%;
  background-color: white;
  border-top: 1px solid #e7e8ea;
  border-bottom: 1px solid #e7e8ea;
}
section.video .inner {
  margin: 12px auto;
  width: 845.61689px;
}
section.video p {
  float: left;
  width: 20%;
  color: #b7bcc0;
  font-size: 20px;
  padding: 0 29.12461px 10px 0;
}
section.video #video {
  padding-bottom: 10px;
  padding-top: 10px;
}
section.video #video iframe {
  display: block;
}

#follow {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
}

ul.team li {
  display: block;
}
ul.team li img {
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin: 10px auto;
}

section.partners {
  width: 100%;
  float: left;
  clear: both;
  border-top: 1px solid #e7e8ea;
  border-bottom: 1px solid #e7e8ea;
  margin: 24px 0 30px;
  padding: 24px 0;
  background: white;
}
section.partners .inner {
  width: 845.61689px;
  margin: 24px auto;
}
section.partners h2 {
  margin-top: 24px;
}
section.partners ul li {
  display: inline-block;
  margin: 5px;
}
section.partners ul li img {
  max-height: 55px;
  max-width: 100px;
  vertical-align: middle;
  display: inline-block;
}

.installation {
  float: left;
  background-color: white;
  border: 1px solid #e7e8ea;
  border-bottom: 1px solid #e7e8ea;
  width: 410px;
  padding: 24px;
}
.installation a {
  color: #b89892;
}

aside {
  width: 300px;
  padding: 0 24px;
  float: right;
}
aside p {
  margin: 0;
  font-size: 15px;
  line-height: 1.65;
  float: right;
}
aside .attribution {
  display: inline-block;
}

.footer {
  width: 845.61689px;
  margin: 24px auto;
}

#meedan-logo {
  float: left;
  clear: none;
  margin-left: -30px;
}
