.oembed {
  clear: right;
  display: inline;
  float: right;
  margin: 5px 0 10px 5px;
  padding: 5px;
  border-top: 1px solid #a3a3a3;
  border-right: 1px solid #888;
  border-bottom: 1px solid #747474;
  border-left: 1px solid #888;
  background: #c9c9c9;
  color: #494949;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
.oembed .oembed-title {
  text-align: center;
  margin: -5px -5px 5px;
  border-top: 1px solid #dedede;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  line-height: normal;
  padding: 5px 8px 3px;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  font-weight: 700;
  font-size: 10px;
  font-family: Verdana;
}
.oembed .oembed-center, .oembed .oembed-photo img, .oembed .oembed-content object, .oembed .oembed-content embed {
  display: block;
  margin: 0 auto;
}
.oembed .oembed-content {
  border-top: 0;
}
.oembed .oembed-content .node {
  max-width: 300px;
}
