// Partner header

#partner-header {
  text-align: center;
}

#partner-header-inner {

  .partner_logo {
    display: block;
  }

  #partner-header-slogan {
    display: block;
    padding-top: 36px;
    @if $from-direction == 'left' {
      font-size: 16px;
      font-weight: 400;
    }
    color: $firefly40;
    
    a {
      color: $firefly40;
      &:hover { 
        text-decoration: none;
        color: $firefly60; 
      }
    }

  }

  .checkdesk-slogan-logo {
    display: inline-block;
    width: 86px;
    height: 22px;
    text-indent: -5000em;
    background: transparent url(../imgs/checkdesk-logo.png) center bottom no-repeat;
  }
}