.image-header {
  height: 300px;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-image: url("http://meedan.github.io/meedan-checkdesk/img/checkdesk-screenshots/checkdesk-wilder.jpg");
  background-size: cover;
  padding: 2em;
  
}

img.logo {
  display: block;
  border: 1px solid green;
  top: 1%;
  left: 0%;
  width: 50%;
  height: auto;
}

div#about-section {
  width: 90%;
  padding: 1% 5%;
  background: white;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

div.about-footer {
  width: 100%;
  padding: 5em; 
}