// Checkdesk branding from ARK 
//
$firefly: #10212f;
$firefly90: #283743;
$firefly80: #404d59;
$firefly60: #6f7a82;
$firefly40: #9fa6ac;
$firefly30: #b7bcc0;
$firefly20: #cfd3d5;
$firefly10: #e7e8ea;
$firefly5: #f3f4f4;
$firefly2: #fafbfb;