// config
$direction: "right";
$default-color: "#c3c3c3";

// body 
body {
  background-color: #333;
}

%left-col {
  float: left;
}
// story
article.story {
  text-align: $direction;
  background: white;
  @include clearfix;
  .story-meta {
    border: 1px solid $default-color;
  }

  .story-description {
    border: 1px solid $default-color;
    p {
      padding:10px;
    }
  }

  .story-participants {
    border: 1px solid black;
    @extend %left-col;
  }

  .participant-avatar {
    border:1px solid $default-color;
    float: $direction;
  }

  .participant-avatar {
    border:1px solid $default-color;
    float: $direction;
  }

  .story-slogan {
    border: 1px solid blue;
    float: $direction;
    clear: both;
    padding: 10px;
    a {
      color: hsl(44, 95%, 50%);
      font-weight: bold;
      font-family: Arial;
    }
  }

  .story-reports {
    border: 1px solid $default-color;
    clear: both;
    .report-icon {
      border: 1px solid $default-color;
      float: $direction;
    }
  }
}