@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

@import url(http://fonts.googleapis.com/css?family=Merriweather);

$body-font-stack: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-secondary-font-stack: "Merriweather", Georgia, "Times New Roman", Times, serif;
$header-font-stack: "Mercury Display A", "Mercury Display B", Georgia, "Times New Roman", Times, serif;
$mono-font-stack: Monaco, Menlo, Consolas, "Courier New", monospace !default;

// Background color with alpha fallback
//
@mixin background($hex: #333333, $rgba: rgba(0, 0, 0, 0.8)) {
  background-color: $hex;
  background-color: $rgba;
}

// body defaults
body {
  font-family: $body-font-stack;
  color: $firefly80;
  margin-bottom: $absolute-line-height * 4;
}

// header defaults
h1, h2, h3, h4 {
  @include reset-box-model;
  font-family: $header-font-stack;
  line-height: 1.2;
  margin-bottom: $absolute-line-height;
  color: $firefly80;
}

h1 {
  color: $firefly90;
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 56px;
  a {
    display: block;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.01);
    color: $firefly90;
    &:hover {
      @include background(#efefef, $firefly5);
      border-bottom: 1px dotted $firefly10;
      text-decoration: none;
    }
    &:active {
      background-color: lighten($link-color, 30);
    }
  }
}

h2 {
  @include reset-box-model;
  margin: $absolute-line-height * 1.2 0 $absolute-line-height / 2 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  @include reset-box-model;
  font-size: $base-font-size;
}

a {
  color: $dodger-blue60;
  &:hover {
    color: $dodger-blue80;
    text-decoration: none;
  }
}

a:hover {
  color: $link-color-hover;
  text-decoration: underline;
}

p {
  margin: 0;
}

small {
  font-size: $small-font-size;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

.muted {
  color: $firefly30;
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: $relative-line-height;
}

dl {
  margin-bottom: $base-font-size;
}

dt,
dd {
  line-height: $relative-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-#{$from-direction}: $base-font-size;
}

hr {
  margin: $base-font-size 0;
  border: 0;
  border-top: 1px solid $hr-color;
  border-bottom: 1px solid $white;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $firefly30;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote {
  @include reset-box-model;
  border-#{$from-direction}: 5px solid $firefly30;
  font-size: $small-font-size;
}

// The story body text
%story-body {
  font-size: ms(0);
  font-family: $body-secondary-font-stack;
  line-height: 30px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

p {
  @extend %story-body;
}

// In the style of a checkdesk update
// the sidebar with the light text
//
%update-info {
  font-family: $body-font-stack;
  color: $firefly20;
  border-top: 4px solid $firefly20;
  margin-bottom: $absolute-line-height;
  padding-top: $absolute-line-height / 1.6;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  @if $from-direction == "left" {
    letter-spacing: 0.15em;
  }
}