@import "base.scss";
@import "compass/utilities";
@import "colors";
@import "typography";

@import "about";

// this will move to develop branch
@import "story_embed";
@import "compass/css3";

body {
  margin: 0;
  padding: 0px;
  background-color: $firefly10;
  background-size: cover;
  min-width: $default-width;
  @include box-sizing(border-box);
}

section.inner {
  width: $default-width;
  margin: 0 auto;
}

// Logo header
#header {
  padding-top: 20px;
  color: #333;
  padding: 20px;
  img {
    width: 150px;
  }
}

#header ul li {
  display: inline-block;
}

section.video {
  background-color: $firefly;
  .inner {
    margin: 0 auto;
    width: $default-width;
  }
  p {
    float: left;
    width: 20%;
    color: $firefly30 !important;
    font-size: $large-font-size;
    padding: 10px 25px 10px 0;
  }
  // the video
  #video {
    padding-bottom: 10px;
    padding-top: 10px;
    iframe {
      display: block;
    }
  }
}

#follow {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.partners ul li {
  display: block;
}

input {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 45px;
  padding: 2px;
  float: left;
  font-size: 20px;
  color: #999;
}

.button input {
  background-color: #ECBF1D;
  border-radius: 5px;
  color: #fff;
  padding: 6px 12px;
  text-align: center;
  float: left;
  clear: both;
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 21px;
  border: 1px solid;
}

form div,
form span {
  float: left;
  clear: both;
}

.button:hover {
  opacity: 0.8;
}

// Mixins
@mixin circle($size) {
  border-radius: 50%;
  overflow: hidden;
  width: $size;
  height: $size;
}

// Paragraphs
p {
  margin: 10px 0;
}

// List reset
ul {
  list-style-type: none;
}

// team images
ul.team {
  li {
    img {
      @include circle(30px);
      margin: 0 auto;
    }
  }
}

#meedan-logo {
  float: left;
  clear: none;
}

// Partner section with partner logos
.partners {
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 17px;
  float: left;
  clear: both;
  margin: 10px 0 30px;
  padding: 10px 0;
  &.logos {
    background: #fff;
  }
}

// partner images
.partners ul li {
  display: inline-block;
  margin: 5px;
  img {
    max-height: 55px;
    max-width: 100px;
    vertical-align: middle;
    display: inline-block;
  }
}

#meedan {
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    vertical-align: middle;
    display: inline-block;
  }
}

section {
  @include clearfix;
}

// Form
#connect {
  margin: 0 auto;
  margin-top: 20px;
  form {
    width: $default-width;
    margin: 0 auto;
    padding: 0;
    @include clearfix;
    & > div {
      margin: 10px 10px 0 0;
      float: left;
      clear: none;
    }
  }
  span.label,
  span.spacer,
  span.multiple span {
    width: 120px;
    float: left;
  }
  span.multiple {
    float: left;
  }
}

.footer {
  width: $default-width;
  @include clearfix;
  margin: 0 auto;
}