@import "base.scss";
@import "compass/utilities";
@import "colors";
@import "typography";
@import "forms";

@import "about";

// this will move to develop branch
@import "story_embed";
@import "compass/css3";

body {
  margin: 0;
  padding: 0px;
  background-color: $thatch5;
  background-size: cover;
  min-width: $default-width;
  @include box-sizing(border-box);
}

// the full width sections
section {
  @include clearfix;
  width: $default-width;
  margin: $base-line-height * 1.6 auto;
}

// Logo header
section#header {
  img {
    width: 150px;
  }
  ul li {
    display: inline-block;
  }
}

// The video section
section.video {
  width: 100%;
  background-color: white;
  border-top: 1px solid $firefly10;
  border-bottom: 1px solid $firefly10;
  .inner {
    margin: $base-line-height / 2 auto;
    width: $default-width;
  }
  p {
    float: left;
    width: 20%;
    color: $firefly30;
    font-size: $large-font-size;
    padding: 0 ms(2) 10px 0;
  }
  // the video
  #video {
    padding-bottom: 10px;
    padding-top: 10px;
    iframe {
      display: block;
    }
  }
}

#follow {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

// Mixins
@mixin circle($size) {
  border-radius: 50%;
  overflow: hidden;
  width: $size;
  height: $size;
}

// Paragraphs
p {
  margin: 10px 0;
}

// List reset
ul {
  list-style-type: none;
}

// team images
ul.team {
  li {
    display: block;
    img {
      vertical-align: middle;
      @include circle(30px);
      margin: 10px auto;
    }
    span.contact {}
  }
}

// Partner section with partner logos
section.partners {
  width: 100%;
  float: left;
  clear: both;
  border-top: 1px solid $firefly10;
  border-bottom: 1px solid $firefly10;
  margin: $base-line-height 0 30px;
  padding: $base-line-height 0;
  background: white;
  .inner {
    width: $default-width;
    margin: $base-line-height auto;
  }
  h2 {
    margin-top: $base-line-height;
  }
  ul {
    li {
      display: inline-block;
      margin: 5px;
      img {
        max-height: 55px;
        max-width: 100px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}

// installation and aside
.installation {
  float: left;
  background-color: white;
  border: 1px solid $firefly10;
  border-bottom: 1px solid $firefly10;
  width: 410px;
  padding: $base-line-height;
  a {
    color: $thatch;
  }
}

aside {
  width: 300px;
  padding: 0 $base-line-height;
  float: right;
  p {
    margin: 0;
    font-size: $small-font-size;
    line-height: 1.65;
    float: right;
  }
  .attribution {
    display: inline-block;
  }
}

// The footer with a meedan logo
.footer {
  width: $default-width;
  margin: $base-line-height auto;
}

#meedan-logo {
  float: left;
  clear: none;
  margin-left: -30px;
}