BODY.sidebar-first #main .column#sidebar-first {
  width: 400px;
  float: left;
  margin-right: 12px;
}

BODY.sidebar-first #main DIV#content .inner {
  width: 800px;
  float: left;
}

nav[role='navigation'] #user-menu SPAN.avatar {
  float: left;
  width: 20px;
  margin-right: 12px;
}

.report > header {
  padding: 0;
  margin: 0;
}

.report .report-content .report-media .container {
  display: inline;
}

.dropdown-menu {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#DDDDDD')";
  border: 1px solid #CCCCCC;
}
