BODY.sidebar-first #main .column#sidebar-first {
  width: 20%;
  float: left;
  margin-right: 12px;
}

BODY.sidebar-first #main DIV#content .inner {
  width: 70%;
  float: left;
}

nav[role='navigation'] #user-menu SPAN.avatar {
  float: left;
  width: 20px;
  margin-right: 12px;
}
