/*
Syntax error: File to import not found or unreadable: animate.
              Load paths:
                /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss
                /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets
                /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets
                /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.5/sass
                /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sassy-math-1.2/stylesheets
                /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/modular-scale-1.0.2/stylesheets
                Compass::SpriteImporter
                /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/bowerbird/extensions/bowerbird/stylesheets
        on line 212 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss

Backtrace:
/Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss:212
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:45:in `import'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:139:in `block in compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/logger.rb:45:in `red'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:138:in `compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `block in run'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:100:in `run'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/commands/update_project.rb:45:in `perform'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/commands/base.rb:18:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/lib/compass/commands/project_base.rb:19:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:99:in `block in run_supervised_task'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:97:in `catch'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:97:in `run_supervised_task'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:146:in `block in run_first_task_found'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:144:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:144:in `run_first_task_found'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:79:in `block in run_on_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:170:in `block (3 levels) in scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:169:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:169:in `block (2 levels) in scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:168:in `catch'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:168:in `block in scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:167:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:167:in `scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard/runner.rb:72:in `run_on_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard.rb:114:in `block (2 levels) in setup_listener'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard.rb:334:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard.rb:331:in `within_preserved_state'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.5.4/lib/guard.rb:113:in `block in setup_listener'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/listener.rb:212:in `call'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/listener.rb:212:in `on_change'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapter.rb:196:in `call'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapter.rb:196:in `report_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: animate.\A               Load paths:\A                 /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss\A                 /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets\A                 /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets\A                 /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.5/sass\A                 /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sassy-math-1.2/stylesheets\A                 /Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/modular-scale-1.0.2/stylesheets\A                 Compass::SpriteImporter\A                 /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/bowerbird/extensions/bowerbird/stylesheets\A         on line 212 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss"; }
