/*
Syntax error: Undefined variable: "$sans-font-stack".
        on line 45 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/extensions/bowerbird/stylesheets/bowerbird/_buttons.scss
        from line 102 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss

Backtrace:
/Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/extensions/bowerbird/stylesheets/bowerbird/_buttons.scss:45
/Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss:102
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/script/variable.rb:49:in `_perform'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/script/node.rb:40:in `perform'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:325:in `visit_variable'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/chris/git/meedan-checkdesk/.bundle/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/chris/git/meedan-checkdesk/.bundle/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:99:in `block in run_supervised_task'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:97:in `catch'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:97:in `run_supervised_task'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:146:in `block in run_first_task_found'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:144:in `each'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:144:in `run_first_task_found'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:79:in `block in run_on_changes'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:175:in `block (3 levels) in scoped_guards'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:174:in `each'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:174:in `block (2 levels) in scoped_guards'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:173:in `catch'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:173:in `block in scoped_guards'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:172:in `each'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:172:in `scoped_guards'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard/runner.rb:72:in `run_on_changes'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard.rb:139:in `block (2 levels) in setup_listener'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard.rb:363:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard.rb:360:in `within_preserved_state'
/Users/chris/git/meedan-checkdesk/.bundle/gems/guard-1.6.0/lib/guard.rb:138:in `block in setup_listener'
/Users/chris/git/meedan-checkdesk/.bundle/gems/listen-0.6.0/lib/listen/listener.rb:212:in `call'
/Users/chris/git/meedan-checkdesk/.bundle/gems/listen-0.6.0/lib/listen/listener.rb:212:in `on_change'
/Users/chris/git/meedan-checkdesk/.bundle/gems/listen-0.6.0/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/chris/git/meedan-checkdesk/.bundle/gems/listen-0.6.0/lib/listen/adapter.rb:196:in `call'
/Users/chris/git/meedan-checkdesk/.bundle/gems/listen-0.6.0/lib/listen/adapter.rb:196:in `report_changes'
/Users/chris/git/meedan-checkdesk/.bundle/gems/listen-0.6.0/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/chris/git/meedan-checkdesk/.bundle/gems/listen-0.6.0/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$sans-font-stack\".\A         on line 45 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/extensions/bowerbird/stylesheets/bowerbird/_buttons.scss\A         from line 102 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss"; }
