/*
Syntax error: Undefined variable: "$secongit".
        on line 57 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_widgets.scss, in `@content'
        from line 74 of /usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss, in `@content'
        from line 15 of /usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss, in `layout'
        from line 54 of /usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss, in `at-breakpoint'
        from line 54 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_widgets.scss
        from line 236 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss
        from line 18 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style-rtl.scss

Backtrace:
/var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_widgets.scss:57:in `@content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss:74:in `@content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss:15:in `layout'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss:54:in `at-breakpoint'
/var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_widgets.scss:54
/var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss:236
/var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style-rtl.scss:18
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/variable.rb:49:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/operation.rb:83:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/list.rb:70:in `block in _perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/list.rb:70:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/list.rb:70:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:327:in `visit_variable'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `block (2 levels) in visit_content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `block in visit_content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `visit_content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:362:in `visit_media'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:205:in `visit_if'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:205:in `visit_if'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:208:in `visit_if'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:205:in `visit_if'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `block (2 levels) in visit_content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `block in visit_content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:285:in `visit_content'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:205:in `visit_if'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:205:in `visit_if'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:99:in `block in run_supervised_task'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:97:in `catch'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:97:in `run_supervised_task'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:146:in `block in run_first_task_found'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:144:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:144:in `run_first_task_found'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:79:in `block in run_on_changes'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:175:in `block (3 levels) in scoped_guards'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:174:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:174:in `block (2 levels) in scoped_guards'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:173:in `catch'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:173:in `block in scoped_guards'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:172:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:172:in `scoped_guards'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard/runner.rb:72:in `run_on_changes'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard.rb:141:in `block (2 levels) in setup_listener'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard.rb:365:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard.rb:362:in `within_preserved_state'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/guard-1.7.0/lib/guard.rb:140:in `block in setup_listener'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.3/lib/listen/listener.rb:221:in `block in initialize_adapter'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
/usr/local/rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$secongit\".\A         on line 57 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_widgets.scss, in `@content'\A         from line 74 of /usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss, in `@content'\A         from line 15 of /usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss, in `layout'\A         from line 54 of /usr/local/rvm/gems/ruby-1.9.3-p286/gems/susy-1.0.8/sass/susy/_media.scss, in `at-breakpoint'\A         from line 54 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_widgets.scss\A         from line 236 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style.scss\A         from line 18 of /var/www/checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style-rtl.scss"; }
