/*
Syntax error: Invalid CSS after "...e in colors.css": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 163 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_base.scss
        from line 6 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style-rtl.scss

Backtrace:
/Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_base.scss:163
/Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style-rtl.scss:6
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:1149:in `expected'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/scss/parser.rb:28:in `parse'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-compass-1.0.0/lib/guard/compass.rb:136:in `perform'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-compass-1.0.0/lib/guard/compass.rb:119:in `run_on_change'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:67:in `block in run_supervised_task'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:65:in `catch'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:65:in `run_supervised_task'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:109:in `block in _run_first_task_found'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:107:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:107:in `_run_first_task_found'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:47:in `block in run_on_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:140:in `block (3 levels) in _scoped_plugins'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:138:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:138:in `block (2 levels) in _scoped_plugins'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:137:in `catch'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:137:in `block in _scoped_plugins'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:135:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:135:in `_scoped_plugins'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/runner.rb:40:in `run_on_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/setuper.rb:190:in `block (2 levels) in _setup_listener'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/commander.rb:108:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/commander.rb:105:in `within_preserved_state'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/guard-2.4.0/lib/guard/setuper.rb:189:in `block in _setup_listener'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/listen-2.5.0/lib/listen/listener.rb:151:in `call'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/listen-2.5.0/lib/listen/listener.rb:151:in `block in _wait_for_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/listen-2.5.0/lib/listen/listener.rb:146:in `loop'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/listen-2.5.0/lib/listen/listener.rb:146:in `_wait_for_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p484/gems/listen-2.5.0/lib/listen/listener.rb:44:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...e in colors.css\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 163 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/_base.scss\A         from line 6 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/style-rtl.scss"; }
