#navigation {
	width: 100%;
	float: left;
	background: #000;
	ul{
		list-style-type: none;
	}
	li {
		display: inline-block;
	}
}

#primary {
	color: #fff;
	float: left;
	a {
		color: #fff;
	}
}

#secondary {
	background: #000;
	color: #fff;
	float: right;
	clear: right;
	a {
		color: #fff;
	}
}