.livefyre-header {
  background-color: #f6f6f6;
  cursor: pointer;
}

.livefyre-header:hover {
  background-color: #d6d6d6;
}

.livefyre-comments {
  display: none;
}


img.fyre-logo-drop {
  width: auto!important;
}