@media (min-width: 1px) and (max-width: 740px) {
  body.sidebar-first #sidebar-first.column {
    display: none;
  }
}
@media only screen and (min-width: 740px) {
  body.sidebar-first #main {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }

  body.sidebar-first #main #content {
    margin-left: 360px;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -moz-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }

  body.sidebar-first #sidebar-first.column {
    position: fixed;
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 360px;
    -moz-box-flex: 2;
    -moz-flex: 2 1 360px;
    -ms-flex: 2 1 360px;
    flex: 2 1 360px;
    left: 60px;
    top: 65px;
    bottom: 0;
    z-index: 1;
    max-width: 360px;
    height: 100%;
  }

  body.toolbar-drawer #sidebar-first.column {
    top: 130px;
  }

  #sidebar-first.column {
    border-right: 1px solid #e7e8ea;
    background-color: #fff;
  }
  #sidebar-first.column .view-desk-reports .view-content {
    height: auto;
    overflow-y: auto;
  }
  #sidebar-first.column .pager-load-more {
    *zoom: 1;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    float: none;
    clear: both;
    position: relative;
    text-align: center;
  }
  #sidebar-first.column .pager-load-more:before, #sidebar-first.column .pager-load-more:after {
    display: table;
    content: "";
    line-height: 0;
  }
  #sidebar-first.column .pager-load-more:after {
    clear: both;
  }
  #sidebar-first.column .pager-load-more a {
    display: inline-block;
    width: 70%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 12px;
    letter-spacing: 0.05em;
    font-size: 15px;
    font-weight: 700;
    color: #9fa6ac;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  #sidebar-first.column .pager-load-more a:hover {
    color: #fff;
    background-color: #2e77fc;
    border: 1px solid #2e77fc;
  }
  #sidebar-first.column .pager-load-more .ajax-progress-throbber {
    position: absolute;
    top: 4px;
    right: 15px;
  }
  #sidebar-first.column .pager-load-more .ajax-progress-throbber .throbber {
    background: url("../imgs/icons/loader_white.gif");
  }
}
body.sidebar-second #main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

body.sidebar-second #main #content {
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.sidebar-second .cd-container {
  *zoom: 1;
  margin-bottom: 160px;
}
body.sidebar-second .cd-container:before, body.sidebar-second .cd-container:after {
  display: table;
  content: "";
  line-height: 0;
}
body.sidebar-second .cd-container:after {
  clear: both;
}
body.sidebar-second .cd-container .pager-load-more {
  *zoom: 1;
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  float: none;
  clear: both;
  position: relative;
  text-align: center;
}
body.sidebar-second .cd-container .pager-load-more:before, body.sidebar-second .cd-container .pager-load-more:after {
  display: table;
  content: "";
  line-height: 0;
}
body.sidebar-second .cd-container .pager-load-more:after {
  clear: both;
}
body.sidebar-second .cd-container .pager-load-more a {
  display: inline-block;
  width: 70%;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 12px;
  letter-spacing: 0.05em;
  font-size: 15px;
  font-weight: 700;
  color: #9fa6ac;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body.sidebar-second .cd-container .pager-load-more a:hover {
  color: #fff;
  background-color: #2e77fc;
  border: 1px solid #2e77fc;
}
body.sidebar-second .cd-container .pager-load-more .ajax-progress-throbber {
  position: absolute;
  top: 4px;
  right: 15px;
}
body.sidebar-second .cd-container .pager-load-more .ajax-progress-throbber .throbber {
  background: url("../imgs/icons/loader_white.gif");
}
body.sidebar-second .cd-container .pager-load-more {
  margin-top: 30px;
}

body.sidebar-second aside#sidebar-second {
  overflow: auto;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (min-width: 740px) {
  body.sidebar-second #main #content {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -moz-flex: 4;
    -ms-flex: 4;
    flex: 4;
    padding-right: 20px;
    max-width: 860px;
  }

  body.sidebar-second aside#sidebar-second {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding-right: 50px;
    padding-top: 40px;
    max-width: 300px;
  }
}
@media (min-width: 1px) and (max-width: 740px) {
  body.sidebar-second #main {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  body.sidebar-second aside#sidebar-second {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-order: -1;
    -ms-flex-order: -1;
    order: -1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  body.sidebar-second aside#sidebar-second .content-filter,
  body.sidebar-second aside#sidebar-second form {
    margin-bottom: 0;
  }
}
