[submodule "drupal/sites/all/themes/bowerbird"]
	path = drupal/sites/all/themes/bowerbird
	url = git@github.com:meedan/bowerbird.git
[submodule "drupal/sites/all/modules/meedan/meedan_discussion"]
	path = drupal/sites/all/modules/meedan/meedan_discussion
	url = git@github.com:meedan/meedan_discussion.git
