# Never add SQL files to the repository
*.sql
*.sql.gz
*.sql.bz2

# Project files, and other junk
*.kpf
*.komodoproject
*.proj
*.tmp
.DS_Store
Icon
Thumbs.db
.bundle
.sass-cache

# Exclude local configuration files
*.local.php

# Don't need sites/default
drupal/sites/default

# Exclude devel's stuff
drupal/FirePHPCore

# Stuff added by composer (e.g, Behat)
bin
vendor

# configuration files are created from templates
config/create_database_and_user.sql
config/settings.local.php
config/setup/create_database_and_user.sql
config/setup/settings.local.php