  <div id="about-section" class="draft translation" lang="en">

    <h1>Training manual for the citizen journalist</h1>

    <h2>Getting started with Checkdesk</h2>

    <h3>What is Checkdesk, and how can I use it?</h3>

    <p>Checkdesk is a new media platform of the field development, technology, non-profit organization, which aims to help professional journalists to cover stories that are reported and discussed through social media.</p>
     
    <p>Checkdesk seek information from readers and easy to investigate the accuracy of the information that has spread via social media and engage readers and encourages citizen journalists in this process. This effectively reduces the likelihood of spreading wrong information and rumors.</p>
     
    <h3>Definitions; What do we mean all of the report, update, and the subject?</h3>

    <p>The report is a key element of the content on Checkdesk. The report is simply a link to existing content on social media networks. Can be Tweets from Twitter, from Flickr or Twitpic, video from YouTube, update or image from Facebook, or blog entries.</p>
     
    <p>You can send reports to the work site, but it is important to notice that the reports sent to the "desk suspect" does not automatically publish readers do not appear until published by one of the journalists working on the site.</p>
     
    <p>Reports are published in the update. But what is the update? In the context of the "desk suspect", the update is part of the largest news topic. And is used to transfer important developments within the framework of the subject. Update his address and contains a text written by a journalist to explain the latest developments in addition to the reports of social media that contain materials and information and views on the news.</p>
     
    <p>Thread is a continuous press coverage consists of several parts (updates) for a particular topic or event on developments over a long period of time. Can develop over a few days, weeks or even months. The latest developments are added by writing new updates.</p>
    
    <h3>Create an account and log in</h3>

    <ul>
      <li>Create a new account and log in is very easy.</li>
      <li>Click on the "Login" button on the navigation bar</li>
      <li>Sign-in page, you can create an account and one of the following ways</li>
    </ul>

    <p>Log in with a social networking accounts (Twitter, Facebook and Google Plus will be added soon)</p>

    <p>After authentication, you may be asked to provide an email address and confirm the user name to complete the Create Profile</p>
    <p>After the account is created, you can log in each time using the same social network account</p>
    <p>Create a new account by clicking on the "Create new account" the bottom of the page</p>

    <ul>
      <li>Enter the user name that you want</li>
      <li>Put your e-mail address and password to complete the account creation</li>
      <li>Confirm your e-mail address of the message sent by the "desk suspect" to you via pressure on the confirmation link in the message account</li>
      <li>You can then log in using your user name and your password</ul></li>
    
    <h2>Content Creation</h2>

    <h3>Report</h3>


    <ul>
      <li>Click on the button "Send Report" on the navigation bar at the top of the page</li>
      Add content Link you wish to
      <li>You can edit the description and determine whether the report contains shocking images. Reports on the parameter they contain shocking material withhold its image and users will need to click them for review.</li>
      <li>But you also use the Description field to add a translator if the report (Tweets, for example) in a different language from the language of your live blog.</li>
      <li>We'll improvements to the translation function in future versions.</li>
      <li>Click on the "Send" and the report will be saved on the site and will appear in the reports page, allowing you to use when writing updates.</li></ul>
    
    <p>You can also use the Add browser to send reports. And can be obtained by clicking the "Add browser installed" in the bottom bar on the site and then follow the instructions to put it in a bar favorites (bookmarks). Click on it when you are on a page with content you want to send to Checkdesk. Then, follow the same steps listed above. Will be added to include the URL address automatically. Video clip shows how to use the add browser. Process of verifying the correctness of the information</p>
    
    <p>The process of verifying the correctness of the information is one of the most important features that provided by Chuck DSC. And can only journalist working on the site activate validate the information on any report sent to suspect you have, and have the option to do a verification of information with colleagues before the publication of the report, or engage readers in the process by conducting a published report on the live blog, and this allows them to receive the information and evidence and opinions from readers of the site and citizen journalists.</p>

    <p>You can also alert the journalists working on the site when you see published reports believes it wrong or inaccurate and the request for verification of authenticity. Alert requires the supervisor to enter details about the reason that pushes you to believe that the process of verifying the correctness of the information necessary for that report. Will alert the supervisor directly, and have the option to act upon alarm or ignored.</p>

    <p>All reports sent to the suspect DSC has what we call a "state of validation information." The case is set to "not applicable" to all reports received by default. And when they do the verification of the correctness of the information, the status is changed to "validate the information neighbor" and shows a text field, you can add notes and contribute to the verification process. Professional journalists can only change the status of the reports.</p>

    <h3>The conclusion of the process of finding health information</h3>

    <p>When you reach a satisfactory result with respect to the validity of the report that is being addressed, the team can work site status to the "right" or "wrong" depending on the evidence and information which he found during the health-finding report. If they are not able to say for sure the health of the report or not, they can adjust status to "can not be sure of the accuracy of the information</p>

    
    CC-BY Meedan 2013
  </div>