<!DOCTYPE html>
<html>
  <%= render "head.html" %>

<body lang="ar">

  <div id="about-section">
    <h1>الدليل التدريبي للصحفي المواطن</h1>

    <h2>الشروع في العمل باستخدام <span lang="en">Checkdesk</span></h2>
    <h3>ما هو <span lang="en">Checkdesk،</span> وكيف يمكنني أن أستخدمه؟</h3>
    
    <p><span lang="en">Checkdesk</span> هو منصة للإعلام الجديد من تطوير ميدان، منظمة تقنية غير ربحية، ويهدف لمساعدة الصحفيين المحترفين في تغطية القصص التي يتم الإبلاغ عنها ومناقشتها من خلال وسائل الاعلام الاجتماعية.
    </p> 

    <p><span lang="en">Checkdesk</span> يلتمس المعلومات من القراء ويسهل تقصي صحة المعلومات التي انتشرت عبر وسائل الاعلام الاجتماعية ويشجع إشراك القراء والصحفيين المواطنين في هذه العملية. هذا يقلل بشكل فعال من احتمال نشر المعلومات الخطأ والشائعات.
    </p> 

    <iframe width="640" height="360" src="https://www.youtube.com/embed/-2ch6n9SdZc?feature=player_embedded" frameborder="0" allowfullscreen></iframe>

    <h2>التعاريف؛ ماذا نقصد بكل من التقرير، التحديث، والموضوع؟</h2>
    
    <p>التقرير هو العنصر الأساسي من المحتوى على <span lang="en">Checkdesk</span>. التقرير ببساطة هو رابط لمحتوى موجود على شبكات الإعلام الاجتماعية. يمكن أن يكون تغريدة من تويتر، صورة من فليكر أو Twitpic، فيديو من يوتيوب، تحديث أو صورة من فيسبوك، أو تدوينة.
    </p> 
    
    <p>يمكنك إرسال التقارير إلى فريق عمل الموقع ولكن من المهم أن تلاحظ أن التقارير المرسلة إلى "تشك دسك" لا تنشر تلقائياً ولا تظهر  للقراء حتى ينشرها أحد الصحفيين العاملين على الموقع.
    </p> 
    
    <p>يتم نشر التقارير في تحديث. ولكن ما هو التحديث؟ في سياق "تشك دسك"، التحديث هو جزء من موضوع إخباري أكبر. ويستخدم لنقل التطورات الهامة ضمن إطار الموضوع. التحديث له عنوان ويحتوي نصاً مكتوباً من قبل الصحفي لشرح آخر التطورات بالإضافة إلى التقارير من الإعلام الاجتماعي التي تحتوي مواداً ومعلومات ووجهات نظر حول الخبر.</p>
     
    <p>الموضوع هو تغطية صحفية مستمرة تتكون من عدة أجزاء (تحديثات) لموضوع معين أو لتطورات حدث ما على مدى فترة زمنية طويلة. يمكن أن يتطور على مدى بضعة أيام أو أسابيع أو حتى أشهر. وتتم إضافة آخر التطورات عن طريق كتابة تحديثات جديدة.
    </p>

    <h2>إنشاء حساب وتسجيل الدخول</h2>
    
    <ul>
      <li>انقر على "تسجيل الدخول" الموجود على شريط التنقل</li>
      <li>في صفحة تسجيل الدخول يمكنك إنشاء حساب وتسجيل الدخول بإحدى الطرق التالية</li>
    </ul>

    <img src="http://meedan.github.io/meedan-checkdesk/img/checkdesk-screenshots/about-overview.png"></img>

    <h3>تسجيل الدخول عبر أحد حسابات الشبكات الاجتماعية (تويتر أو فيسبوك وسيتم إضافة جوجل بلس قريباً)</h3>
    <ul>
      <li>بعد المصادقة، قد يطلب منك تقديم عنوان بريد إلكتروني وتأكيد اسم المستخدم لاستكمال إنشاء الملف الشخصي</li>
      <li>بعد إنشاء الحساب، يمكنك تسجيل الدخول كل مرة باستخدام نفس حساب الشبكة الاجتماعية</li>
    </ul>

    <h3>إنشاء حساب جديد بالضغط على "أنشئ حساباً جديداً" أسفل الصفحة</h3>
    <ul>
      <li>أدخل اسم المستخدم الذي ترغب به</li>
      <li>ضع عنوان بريدك إلكتروني وكلمة السر لإتمام إنشاء الحساب</li>
      <li> قم بتأكيد عنوان البريد الإلكتروني من الرسالة التي يرسلها "تشك دسك" إليك عبر الضغط على رابط تأكيد الحساب في الرسالة</li>
      <li> ومن ثم يمكنك تسجيل الدخول باستخدام اسم المستخدم وكلمة المرور الخاصين بك</li>
    </ul>
    
    <h3>إرسال تقرير</h3>
    
    <img src="http://meedan.github.io/meedan-checkdesk/img/checkdesk-screenshots/about-liveblog.png"></img>
    
    <ul>
      <li>انقر على زر "إرسال تقرير" على شريط التنقل في أعلى الصفحة</li>
    <li>أضف رابط المحتوى الذي تود إرساله</li>
    </ul>
    
    <ul>
      <li>يمكنك تحرير الوصف وتحديد ما إذا كان التقرير يحتوي على صور صادمة. التقارير المعلمة على أنها تحتوي مواد صادمة ستحجب صورتها وسيحتاج المستخدمون للنقر عليها لاستعراضها.</li>
      <li>كنك أيضا استخدام حقل الوصف لإضافة الترجمة إذا كان التقرير (تغريدة على سبيل المثال) بلغة مختلفة عن لغة المدونة المباشرة الخاصة بك. </li>سنقوم إدخال تحسينات على وظيفة الترجمة في الإصدارات المستقبلية.
      <li>انقر على "إرسال" وسيتم حفظ التقرير على الموقع وسيظهر في صفحة التقارير الواردة مما يمكنك من استخدامه عند كتابة التحديثات.</li>
    </ul>

    <ul>
      <li>بإمكانك أيضاً استخدام إضافة المتصفح لإرسال التقارير. ويمكن الحصول عليها بالضغط "تثبيت إضافة المتصفح" في الشريط السفلي على الموقع ومن ثم اتباع التعليمات لوضعها في شريط المفضلة (العلامات المرجعية). انقر عليها حينما تكون على صفحة بها محتوى تريد إرساله إلى <span lang="en">Checkdesk</span>. ثم اتبع نفس الخطوات المذكورة أعلاه. ستقوم الإضافة بإدراج العنوان URL تلقائياً. <a href="http://homes.dcc.ufba.br/~caiosba/meedan/checkdesk-bookmarklet-2012-12-06.ogv">مقطع فيديو يوضح طريقة استخدام إضافة المتصفح</a>.
    عملية التحقق من صحة المعلومات</li>
    </ul>

    <p>إن عملية التحقق من صحة المعلومات هي من أهم الميزات التي يقدمها تشك دسك. ويمكن فقط للصحفي العامل على الموقع تفعيل ميزة التحقق من صحة المعلومات على أي تقرير أرسل إلى تشك ديك، ولهم الخيار في القيام بعملية التحقق من صحة المعلومات مع زملائهم قبل نشر التقرير، أو إشراك القراء في العملية عبر إجرائها على تقرير منشور على المدونة المباشرة، وهذا يسمح لهم بتلقي المعلومات والأدلة والآراء من قراء الموقع والصحفيين المواطنين.
    </p>

    <img src="http://meedan.github.io/meedan-checkdesk/img/checkdesk-screenshots/about-create-report.png"></img>
    <!-- <img src="http://meedan.github.io/meedan-checkdesk/img/checkdesk-screenshots/about-overview.png"></img> -->

    <p>كما يمكن لك أن تنبه الصحفيين العاملين على الموقع عندما ترى تقارير منشورة تعتقد بأنها خطأ أو غير دقيقة وطلب التحقق من صحتها. تنبيه المشرف يتطلب أن تدخل تفاصيل حول السبب الذي يدفعك للاعتقاد بأن عملية التحقق من صحة المعلومات ضرورية لذلك التقرير. سيتم تنبيه المشرف مباشرة، ولهم الخيار في التصرف بناء على التنبيه أو تجاهله. 
    </p>

    <p>جميع التقارير المرسلة إلى تشك دسك لديها ما نسميه "حالة التحقق من صحة المعلومات". يتم تعيين الحالة إلى "لا ينطبق" لجميع التقارير الواردة بشكل افتراضي. وعندما تفعل عملية التحقق من صحة المعلومات، يتم تغيير الحالة إلى "التحقق من صحة المعلومات جارٍ" ويظهر حقل نصي يمكنك من إضافة الملاحظات والمساهمة في عملية التحقق. يمكن للصحفيين المحترفين فقط تغيير حالة التقارير.</p>

<!--     <img src="http://meedan.github.io/meedan-checkdesk/img/checkdesk-screenshots/checklog.png"></img>
 -->
    <h3>ختام عملية تقصي صحة المعلومات</h3>
    عند الوصول إلى نتيجة مرضية فيما يتعلق بصحة التقرير الذي يتم تناوله، يمكن لفريق عمل الموقع تغيير الحالة إلى "صحيح" أو "خطأ" اعتماداً على الأدلة والمعلومات التي وجدها أثناء تقصي صحة التقرير. أما إذا كانوا غير قادرين على الجزم بصحة التقرير أو عدمها، فبإمكانهم ضبط الحالة إلى "لا يمكن التأكد من صحة المعلومات

    </div>

    <div class="about-footer">CC-BY <a href="http://meedan.org">Meedan</a> 2013</div>
  </body>
</html>