<%= render "head" %>

<h2>This is an example of an embedded story:</h2>

<!-- <script src="http://dev.checkdesk.org/sites/all/modules/meedan/meedan_iframes/js/meedan_iframes.parent.min.js?style=width%3A%20100%25%3B&amp;u=/ar/embed/135"></script>
 -->

 <section id="node-135" class="node node-discussion node-promoted contextual-links-region" about="/ar/node/135" typeof="sioc:Item foaf:Document" lang="loremipsum">
 <h1> An unholy trinity: Leading journalist’s latest novel navigates religion, media and state security</h1>
 <article class="story">
 <div class="story-meta">
 <div class="story-at">
 <a href="/ar/users/noha-journ" class="gravatar"><img typeof="foaf:Image" src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAAYABgDASIAAhEBAxEB/8QAGQABAQADAQAAAAAAAAAAAAAAAAYCAwcF/8QAKBAAAQQBAwIFBQAAAAAAAAAAAQIDBBEABQYSITEHFGFxgSJRgpHw/8QAFgEBAQEAAAAAAAAAAAAAAAAABQME/8QAHhEBAAIBBQEBAAAAAAAAAAAAAQACAwQRISIyEnH/2gAMAwEAAhEDEQA/AOi783Ina0iPPEdD0hTSm2LJHFRI7/cenpks7D3hr2nievVjagHBGWnikD4Ff3fPP33rLWp7q0BpZLjaVW6F1xsnpX6GVKXleVfgnV31tOpJLiWgDGN2AKAv5vDL5C3I8MTx42tTruzPZUsydUCXkcJDQW06iq4rFWMZs0UMNbyQlD63FutcypYAUv6U2ogAVZVX4nGW0/mZtT7nNdwaFq8vVm3YsNfFNcVkdjfWx7ZcxUzI0VyTSXFNtKWk11UQOgxjDrWXYix1r+yG2DueTI8Q0S5irVIdLJFVQIodPcYxjEB+VCHZ6jss/9k=" alt="Noha Journ"></a> <a class="contributor" href="/ar/users/noha-journ">Noha Journ</a> <span class="separator">●</span> <time datetime="2013-01-20">في يناير 20, 2013 الساعة 6:40 صباحا Los Angeles، الولايات المتحدة الأمريكية</time>  
 </div>
 <div class="story-comment-count">
 <a href="/ar/node/135#story-comments-135">
 <span data-lazy-load-class="livefyre-commentcount" data-lf-site-id="315968" data-lf-article-id="135" class="livefyre-commentcount">تعليق واحد</span> </a>
 </div>
 </div>
 <div class="story-description">
 <p>If you’ve ever watched Ibrahim Eissa’s political talk show on television, then you would know what to expect from his latest novel, “Mawlana” (“Our Sheikh”). Long-listed for the 2013 International Prize for Arabic Fiction, the novel — published in 2012 by Bloomsbury Qatar Foundation— is true to the controversial approach of its talk show host.</p>
 </div>
 <div class="story-participants">
 12 Participants <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 <div class="participant-avatar"><img alt="placeholder" src="http://placehold.it/24x24/0eafff/ffffff.png"></div>
 </div>
 <div class="story-reports">
 Reviewing <div class="report-icon"><img alt="placeholder" src="http://placehold.it/24x24/0dafff/ffffff.png"></div>
 <div class="report-icon"><img alt="placeholder" src="http://placehold.it/24x24/0dafff/ffffff.png"></div>
 <div class="report-icon"><img alt="placeholder" src="http://placehold.it/24x24/0dafff/ffffff.png"></div>
 </div>
 <div class="story-slogan">
 View our fact-checking progress on <a href="http://meedan.checkdesk.org">Checkdesk</a>.
 </div>
 <div class="story-status">
 </div>
 <div class="story-drafts">
 </div>
 </article>
 </section>
