<%= render "head" %>

<h2>This is an example of an embedded story:</h2>

<p>--------------------- start --------------------------</p>

<!-- <script src="http://dev.checkdesk.org/sites/all/modules/meedan/meedan_iframes/js/meedan_iframes.parent.min.js?style=width%3A%20100%25%3B&amp;u=/ar/embed/135"></script>
 -->

 <%= render "story" :lang => "en" %>
 
 <p>--------------------- end ----------------------</p>