<!DOCTYPE html>
<html>
  <%= render "head" %>

    <div class="bilingual">
      <%= render "about.ar.en.html" %>
    </div>     

   <div class="about-footer">CC-BY <a href="http://meedan.org">Meedan</a> 2013</div>
 </body>
</html>