.tour-tour {
  padding: 10px;
}

.tour-tour .popover-close {
  float: right;
  cursor: pointer;
}

.tour-tour h4 {
  margin: 0;
}

.tour-tour h4 b {
  float: left;
}

.tour-tour .popover-title {
  display: block;
  clear: both;
}

.tour-tour .popover-navigation ul {
  margin: 0;
  float: left;
}

.tour-tour .popover-navigation li {
  display: inline;
  cursor: pointer;
}

.tour-tour .popover-navigation li.tour-current-step {
  font-weight: bold;
}

.tour-next {
  float: right;
}

.popover-footer {
  clear: both;
}

.tour-step-background {
  display: none;
}
