// My account dropdown in the primary navigation
#my-account {
  // Magic numbers, taken from designs
  width: 438px;

  .user-picture, .info, #account-menu {
    float: $from-direction;
    padding: 0 $gutter-width;
  }

  .user-picture {
    width: 60px;
    height: 60px;

    a {
      @include reset-box-model;
    }
  }

  .info {
    max-width: 200px;

    a.username {
      @include reset-box-model;
      color: $grey;
      font-weight: bold;
      font-size: $fontSizeSmall;
    }

    .linked-account {
      .icon-twitter  {
        @include icon("twitter-sign", 21.5px, $twitter-blue);

        &:before {
          margin: 0;
        }
      }

      a {
        @include reset-box-model;
        display: inline;
        color: black;
      }

      small {
        font-size: $fontSizeMini;
        color: $grey;
      }
    }

    .bio {
      word-wrap: break-word;
    }
  }

  #account-menu {
    float: opposite-position($from-direction);
  }
}
