// Thumbnail Sizes
.thumb-60 {
	@include ctb-size(60px, 60px);
}

.thumb-38 {
	@include ctb-size(38px, 38px);
}

.thumb-48 {
	@include ctb-size(48px, 48px);
}

// icons
// TODO bring icons out of reports and declare them for all
// update FA
.icon-share { @include icon(share, 20px);	}
.icon-flag-o { @include icon(flag-o, 20px);	}
.icon-pencil-square-o { @include icon(pencil-square-o, 20px); }
.icon-plus-square-o { @include icon(plus-square-o, 20px); }
.icon-youtube-play { 
	@include icon(youtube-play);
 }
 .icon-check-circle {
 	@include icon(check-circle, 16px);
 }

 // Report status icons in activity log's header
$position:  "before";
@if $from-direction == left {
	$position: "after";
}
@if $from-direction == right {
	$position: "before";
}
// verified
.icon-check-circle { 
	color: $verified;
	@include icon(check-circle);
}
// in-progress
.icon-random { 
	color: $in-progress;
	@include icon(random);
}
.icon-circle { 
	color: rgba(239,202,43,1);
}
// undetermined
.icon-question-circle { 
	color: $undetermined;
	@include icon(question-circle);
}
// false
.icon-times-circle { 
	color: $false; 
	@include icon(times-circle);
}

.activity {
	
}

.activity-item {
	position: relative;
	padding: 0;
	padding-#{$from-direction}: (60px + $gutter-width);
	font-size: 16px;
	color: $firefly60;
	word-wrap: break-word;
	margin-top: 30px;

	a {
		color: $firefly60;
	}

	.avatar {
		position: absolute;
		top: 0;
		#{$from-direction}: 0;
		float: $from-direction;

		background-size: 100%;
		background-repeat: no-repeat;
		display: inline-block;
		@include border-radius(4px);
	}

	.activity-item-wrapper {
		background-color: #fff;
		@include border-radius(4px 4px 0 0);
	}

	.activity-item-message {
		padding: 15px 20px 0 20px;
	}

	.activity-item-content-wrapper {
		padding: 0 20px 15px 20px;
	}

	.activity-item-footer {
		@include ctb-bg($firefly5, rgba($firefly, 0.05));
		@include border-radius(0 0 4px 4px);
		padding: 10px 20px;
		color: $firefly40;
		.meta, .actions {
			display: table-cell;
			width: 100%;
		}
		.meta {
			font-weight: 700;
		}
		.actions {
			white-space: nowrap;
			span[class^="icon-"], span[class*="icon-"] { 
				font-size: 20px;
				color: $firefly40;
			}
			div {
				display: inline-block;
			}
		}

	}

	a.actor {
		font-weight: 700;
		color: $firefly;
	}

	.timestamp {
		float: opposite-position($from-direction);
		font-size: 14px;
		color: $firefly20;
	}

	.activity-item-content {
		display: block;
	}

	@include ctb-clearfix;
} // activity-item 



// specific styles for different activity types
// when an update is added to a story
.activity .update-added {
	.activity-item-content {
		border-top: 1px dotted rgba($firefly, 0.1);
		margin-top: 10px;
		padding-top: 10px;
	}

	h3.update-title {
		@include reset-box-model;
		@include cd-sans-serif-family;
		font-size: 18px;
		font-weight: 700;
		a { @include ctb-linkColor($strongBlue80); }
	}

	.checkdesk-update-reports-wrapper {
		margin-top: 8px;
	}

 	.update-reports-authors {
 		font-weight: 700;
 		color: $firefly80;
 		font-size: 16px;
 		a { @include ctb-linkColor($firefly80); }
 	}

}