// The administer users page
// 
.page-administer-users {
  
  // Submit button
  .views-submit-button {
    float: $from-direction;
  }

  // Submit input
  input[type="submit"] {
    float: $from-direction !important; //@TODO why is this submit float important?
  }

  // Select markup
  div.vbo-table-select-all-markup {
    display: none; // temporary hidden @TODO why is this hidden?
    input {
      font-size: $small-font-size;
      background-color: $grey;
    }
  }

  // VBO table select all pages
  input.vbo-table-select-all-pages {
    float: $from-direction;
    clear: both;
  }

  // Views table
  table.views-table {
    border-top: 1px solid black;
  }
}