.page-administer-users {
  // Default render of the form layout
  // @include cd-form-layout($cw, $cw, $gw);

  .views-submit-button {
    float: $alpha;
  }

  input[type="submit"] {
    float: $from-direction!important;
  }

  div.vbo-table-select-all-markup {
    display: none; // temporary
    input {
      font-size: $small-font-size;
      background-color: $grey;
    }
  }

  input.vbo-table-select-all-pages {
    float: left;
    clear: both;
  }

  table.views-table {
    border-top: 1px solid black;
  }

  // Breakpoint: small
  @include at-breakpoint($break-small) {
    $break: $break-small;
    // @include cd-form-layout($break, $break) {
    //   @include pad(0,0,$break);
    // }
  }
}