//
// Alerts
//
// Alerts and "messages" appear for many kinds of notifications and errors
// We establish the basic alert and then alternates.

// The alert container
.messages, .user-alert {
  padding: 8px 14px;
  margin-bottom: $absolute-line-height/2;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: $warning-background;
  border: 1px solid $warning-border;
  @include border-radius($radius);
  font-size: $font-size-small;
}

.messages,
.user-alert,
.messages-heading {
  color: $warning-text;
  a, a:hover {
    color: $warning-link;
    text-decoration: none;
  }
}

// Alternate styles
// ----------------

.success {
  @include icon(ok-sign, $base-font-size, $successText, $icon-position);
  background-color: $success-background;
  border-color: $success-border;  
}
.success,
.success .messages-heading {
  color: $successText;
}
.danger,
.error {
  @include icon(warning-sign, $base-font-size, $errorText, $icon-position);
  background-color: $error-background;
  border-color: $error-border;
}
.danger,
.error,
.danger .messages-heading,
.error .messages-heading {
  color: $error-text;
}
.status {
  @include icon(info-sign, $base-font-size, $infoText, $icon-position);
  background-color: $info-background;
  border-color: $info-border;
}
.status,
.status .messages-heading {
  color: $infoText;
}

.messages ul {
  padding-left: $gutter-width*2;
  margin: $absolute-line-height/4 0;
}

// Dismiss alert
.alert .close {
  float: $omega;
  font-size: $font-size-small;
  font-weight: bold;
  line-height: 1;
  color: $black;
  @include cd-dark-text-shadow;
  @include opacity(0.2);
  &:hover {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    @include opacity(0.4);
  }
}

// Close icons
.close, .user-alert-close {
  float: $omega;
  font-size: 20px;
  font-weight: bold;
  line-height: $absolute-line-height;
  color: $black;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  @include opacity(0.2);
  &:hover {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    @include opacity(0.4);
  }
}
