// Typography
//
// Apparently imports need to stay up top near the start of compilation.
// As per https://github.com/chriseppstein/compass/issues/639
// - CGB Nov 2012
//
// "Open Sans"
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300");
//
// Default font for the buttons mixin
$button-font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial !default; 
$button-font-weight: 300;
//
$smallest-font-size: 8px;
$small-font-size: 12px;
$base-font-size: 16px;
$large-font-size: 20px;
$x-large-font-size: 36px;

// Grid
//
// The basic grid for Susy. Note that these also feed bootstrap variables; see variables.scss
// $total-width: <number>;
$total-width: 12;
$total-columns: $total-width;
// $column-width: <length>;
$column-width: 70px;
// $gutter-width: <length>;
$gutter-width: 10px;
// $grid-padding: <length>;
$grid-padding: $gutter-width; 

// Susy container style
$container-style: fluid;

// Media query breakpoints
//
$break-small: 6;
$break-medium: 10;