// The basic grid for Susy. Note that these also feed bootstrap variables; see variables.scss
// $total-columns: <number>;
$total-width: 7;
// $column-width: <length>;
$column-width: 4em;
// $gutter-width: <length>;
$gutter-width: 1em;
// $grid-padding: <length>;
$grid-padding: $gutter-width; 