// Bookmarklet


// The bookmarklet itself

#meedan_bookmarklet {
  font-size: $small-font-size;
  overflow: hidden;

  h2 {
    @include reset-box-model;
    color: $grey;
    font-size: $base-font-size;
    float: $from-direction;
  }

  #meedan_bookmarklet_help {
    float: $from-direction;
    span {
      display: block;
      width: 30px;
      height: 40px;
      text-indent: -5000em;
      background: transparent url(../imgs/icons/bookmarklet-help.png) center center no-repeat;
      cursor: help;
      float: $from-direction;
      p {
        display: none;
      }

      &:hover p {
        display: block;
        width: 220px;
        height: 60px;
        background: #fff;
        border: 1px solid #bbb;
        font-size: 11px;
        color: #7c7c7c;
        text-indent: 0;
        padding: 8px;
        position: absolute;
        #{opposite-position($from-direction)}: 1px;
      }
    }
  }

  #meedan_bookmarklet_preview {
    color: $dark-grey;
    margin: 10px 0;
  }

  input[type=text], input[type=password], textarea {
    height: 32px;
    padding: 0 5px;
    border: 1px solid #bbb;
    color: #838383;
	  @include border-radius(3px);
  }

  input[type=text] {
    width: 290px;
    padding-#{opposite-position($from-direction)}: 35px;
  }

  textarea {
    width: 332px;
    height: 60px;
    padding: 5px;
  }

  label, textarea {
    color: #848484;
    font-size: 13px;
    font-weight: normal;
  }

  .meedan-bookmarklet-loading {
    background: #fff url(../imgs/icons/bookmarklet-loading.gif) 305px center no-repeat;
  }

  .field-type-link-field {
    clear: both;
    label {
      display: none;
    }
  }

  .form-item {
    margin: 0;
  }

  .field-edit-link {
    display: none;
  }

  #meedan_bookmarklet_preview_content img {
    width: auto;
  }

  #meedan_bookmarklet_preview_content,
  #meedan_bookmarklet_preview_gc {
    width: 332px;
    height: 230px;
  }

  #meedan_bookmarklet_preview_content {
    
  }
  
  #meedan_bookmarklet_preview_gc {
    background: #000;
    color: #fff;
    padding-top: 85px;
    height: 145px;
    span, a {
      text-align: center;
      display: block;
      width: 100%;
    }
    span {
      font-size: 15px;
      margin-bottom: 5px;
    }
    a, a:visited, a:link, a:hover {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }
  }

  #edit-graphic-content {
    float: opposite-position($from-direction);
    clear: both;
    margin-top: 10px;
    input[type=checkbox] {
      border: 1px solid #bbb;
      background: #fff;
      margin: 0;
    }
  }

  .form-actions {
    margin: 0;
    margin-top: 10px;
    background: transparent;
    border: 0;
    padding: 0;
  }

  input.form-submit {
    @include checkdesk-button();
  }

  #edit-submit {
    background: #2da3eb;
  }

  #meedan_bookmarklet_cancel_button {
    background: #929292;
  }

  .alert {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    h4, .close, li + li + li {
      display: none;
    }
    ul {
      clear: both;
      padding: 0;
      margin: 0;
    }
    li {
      display: block;
      list-style: none;
    }
    a, a:link, a:visited, a:hover {
      text-decoration: none;
      color: #848484;
      font-size: 15px;
      line-height: 40px;
    }
    a::before {
      display: none;
    }
  }

  .alert-error {
    color: #a00;
    font-size: 12px;
    position: absolute;
    top: 150px;
    a, a:link, a:visited, a:hover {
      font-size: 12px;
      color: #a00;
    }
  }

  #user-login {
    label, input[type=text], input[type=password], a {
      font-size: 13px;
      clear: both;
    }
    ul {
      margin: 0;
    }
    li {
      list-style: none;
      display: block;
      margin: 0;
    }
    #edit-social-media-signin {
      label, li, a {
        float: $from-direction;
      }
      li {
        margin-#{$from-direction}: 5px;
      }
    }
  }
}

// The installation page link

#info-menu {
  li {
    a.dropdown-toggle {
      margin-#{opposite-position($from-direction)}: 10px;
    }
  }
  li.open {
    a.dropdown-toggle {
      text-shadow: none;
    }
  }
}

// The installation page

#modalContent.modal-install-bookmarklet {
  width: 930px !important;
  height: 355px !important;
  background: #fff;
  border: 1px solid #C0C0C0;
  top: 80px !important; 
  #{$from-direction}: 50% !important;
  margin-#{$from-direction}: -465px;
  z-index: 1050 !important;
  overflow: visible;
  position: fixed !important;

  .ctools-modal-content {
    width: 930px !important;
    .modal-content {
      width: 930px !important;
    }
  }

  .modal-header {
    border-bottom: 0;

    .close {
      display: block;
      text-indent: -5000em;
      width: 19px;
      height: 19px;
      background: transparent url(../imgs/icons/modal-close.png) center center no-repeat;
      opacity: 1;
    }

    .modal-title {
      display: none;
    }
  }

  #install-bookmarklet-button {
    background: transparent url(../imgs/icons/bookmarklet-drag.png) $from-direction center no-repeat;
    display: block;
    height: 84px;
    width: 50%;
    padding-#{$from-direction}: 66px;
    position: absolute;
    #{$from-direction}: 35px;
    top: -9px;
    z-index: 1051;
    text-decoration: none;
    color: #fff;
    font-size: 18px;

    span {
      position: absolute;
      top: 35px;
      padding: 10px;
      background: #2DA3EB;
	    @include border-radius(3px);
    }
  }

  .install-bookmarklet-col {
    width: 410px;
    float: $from-direction;
    margin: 0 22px;

    h3 {
      color: #C0C0C0;
      font-size: ms(1);
      text-align: center;
      margin: 80px auto 20px auto;
      font-weight: normal;
      padding-#{opposite-position($from-direction)}: 76px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-top: 5px;
      list-style: none;
    }

    a, p {
      font-size: $small-font-size;
    }

    p {
      color: #616161;
    }
  }

  .install-bookmarklet-col + .install-bookmarklet-col {
    h2 {
      color: #C0C0C0;
      font-weight: normal;
      font-size: $large-font-size;
    }

    p {
      margin: ms(0) 0;
    }
  }
}

#modalBackdrop.modal-install-bookmarklet {
  background: url(../imgs/alpha.png) !important;
  z-index: zindexModal - 1 !important;
}

// Internal bookmarklet (Submit Report link)

#meedan_bookmarklet_cont {
  display: none;
  position: fixed !important; 
  #{$from-direction}: 44px !important;
  border-width: 0 !important;
}

.meedan-bookmarklet-internal {
  #meedan_bookmarklet_preview, #edit-body, #edit-graphic-content, #edit-actions #edit-submit {
    display: none;
  }
}
