$spinner-width: 45px; 
$bookmarklet-width: 345px;
$bookmarklet-preview-max-height: 345px;
$bookmarklet-height: $bookmarklet-width + ($bookmarklet-width * 0.61803);

// Bookmarklet forms
@mixin bookmarklet-forms() {
  
  form {
    @include reset-box-model;
    width: $bookmarklet-width;
  }

  .form-item {
    @include reset-box-model;
    float: $from-direction;
    clear: both;
  }

  .field-type-link-field {
    clear: both;
    label {
      display: none; // HACK hidden labels
    }
  }

  .field-edit-link {
    display: none; // HACK hidden
  }

  input[type=text], 
  input[type=password], 
  textarea {
    @include border-radius($radius);
  }

  input[type=text] {
    width: $bookmarklet-width - ($spinner-width + $gw*2);
    padding-#{opposite-position($from-direction)}: $spinner-width; //accomodate spinner
  }

  .form-type-textarea {
    padding-top: $gw;
  }

  textarea {
    width: $bookmarklet-width - 10px; // account for padding
    height: 60px;
    padding: 5px;
  }

  .form-actions {
    @include reset-box-model;
    background: transparent;
    float: $from-direction;
    width: auto;
    margin-top: $gw;
  }

  .footer {
    float: $from-direction;
    clear: both;
    margin-top: $gw;
    input {
      @include checkdesk-button();
    }
  }
}

@mixin bookmarklet-step-one() {
  // Step one  ...
  h2 {
    @include reset-box-model;
    color: $grey;
    font-size: $base-font-size;
    float: $from-direction;
    margin-bottom: 0;
    padding-top: $gw;
    line-height: $base-line-height;
  }

  #meedan_bookmarklet_help {
    position: absolute;
    top: 0;
    padding-top: $gw;
    line-height: $base-line-height;
    #{$omega-float}: $gw;

    span {
      display: block;
      float: $from-direction;
      width: 30px;
      text-indent: -5000em;
      background: transparent url(../imgs/icons/bookmarklet-help.png) center center no-repeat;
      cursor: help;
      p {
        display: none;
      }

      &:hover p {
        display: block;
        width: 240px;
        height: auto;
        background: white;
        border: 1px solid $grayLighter;
        font-size: 12px;
        color: $grayLight;
        text-indent: 0;
        padding: $gw;
        position: absolute;
        #{opposite-position($from-direction)}: 1px;
      }
    }
  }

  // Loading ..
  .meedan-bookmarklet-loading {
    background: #fff url(../imgs/icons/bookmarklet-loading.gif) 305px center no-repeat;
  }
}

// Step two  ...
@mixin bookmarklet-step-two() {
  #meedan_bookmarklet_preview {
    color: $dark-grey;
    margin: $gw 0;
  }

  #meedan_bookmarklet_preview_content img {
    width: auto;
    float: $from-direction;
    clear: both;
  }

  #meedan_bookmarklet_preview_content,
  #meedan_bookmarklet_preview_gc {
    width: 332px;
    height: auto;
    max-height: $bookmarklet-preview-max-height;
    display: inline-block;
    float: $from-direction;
    overflow: hidden;
  }

  #meedan_bookmarklet_preview_gc {
    background: $grey;
    color: $dark-grey;
    padding-top: 85px;
    height: $bookmarklet-preview-max-height;
    max-height: 145px;
    span, a {
      text-align: center;
      display: block;
      width: 100%;
    }
    span {
      font-size: 15px;
      margin-bottom: 5px;
    }
    a, a:visited, a:link, a:hover {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }
  }

  #edit-graphic-content {
    float: $from-direction;
    clear: both;
    margin: $gw 0 0 ($gw + $checkbox-width - 20px); // align with the button
    width: 100%;
    & > .form-type-checkbox {
      width: 100%;
    }
    .form-item label,
    .form-item input[type="checkbox"] {
      // padding: $gw 2px; // pad for the hover
      &:hover {
        color: $identity;
      }
    }
  }
}

// Alerts in bookmarklet
@mixin bookmarklet-alerts() {
 
  .absolute-messages-status, .messages.status, #absolute-messages-show, .absolute-messages-dismiss-all {
    display: none !important; // HACK hide status messages in bookmarklet
  }

  // Error messages
  .messages.error {
    clear: both;
    background: transparent;
    padding: 0;
    border: 0;
    position: absolute;
    top: 150px;
    color: #a00;
  }

  #meedan_bookmarklet_messages {
    padding: 0;
    margin: 0;
    font-size: $small-font-size;
    clear: both;
    li {
      display: block;
      list-style: none;
    }
    a, a:link, a:visited, a:hover {
      text-decoration: none;
      color: #848484;
      line-height: $base-font-size;
    }
  }

}

// Login
@mixin bookmarklet-login() {
  #user-login {
    label, 
    input[type=text], 
    input[type=password], 
    a {
      clear: both;
    }
    ul {
      margin: 0;
    }
    li {
      list-style: none;
      display: block;
      margin: 0;
    }

    #edit-social-media-signin {
      label, li, a {
        float: $from-direction;
      }
      li {
        margin-#{$from-direction}: 5px;
      }
    }
  }
}


// Internal bookmarklet (Submit Report link)
// ==============================================================
#meedan_bookmarklet_cont {
  display: none;
  position: absolute !important; 
  #{$from-direction}: 44px !important;
  #{opposite-position($from-direction)}: auto !important;
  border-width: 0 !important;
}

// NOTE applied to body 
.meedan-bookmarklet-internal {
  #meedan_bookmarklet_preview, 
  #edit-body, 
  #edit-graphic-content, 
  #edit-actions #edit-submit {
    display: none;
  }

}


// Bookmarklet
// ==============================================================

// The bookmarklet itself
// NOTE: applied to body
#meedan_bookmarklet {
  font-size: $small-font-size;
  overflow: auto;
  position: relative;
  padding: 0;
  @include bookmarklet-forms;
  @include bookmarklet-login;
  @include bookmarklet-alerts;
  @include bookmarklet-step-one;
  @include bookmarklet-step-two;
}


// ===========================================================================
// Breakpoints 

@include at-breakpoint($break-small) {
  // same as previous breakpoint
}

@include at-breakpoint($break-medium) {
  // same as previous breakpoint
}

@include at-breakpoint($break-large) {
  // same as previous breakpoint
}
