// Checkdesk theme colors
// =============================================================================
// ... live in colors.css

$firefly: 			#10212F;
$firefly90: 		#283743;
$firefly80: 		#3E4C57;
$firefly60: 		#6F7A82;
$firefly40: 		#9FA6AC;
$firefly30: 		#B7BCC0;
$firefly20: 		#CFD3D5;
$firefly10:			#E7E8EA;
$firefly5:			#F3F4F4;
$firefly2:			#FAFBFB;

$dodgerBlue: 		#2E77FC;
$dodgerBlue80:	#3B8AFD;
$dodgerBlue60: 	#7DB1FE;
$dodgerStrong:	#2155B4;

$thatch: 				#B89892;
$thatch80:			#BFA29C;
$thatch5: 			#EFE9E6;
$thatch5Alt:		#FBFAF9;
$thatch2:				#FEFDFD;

$strongBlue:		#2155B4;
$strongBlue80: 	#4A74C0;
$strongBlue60: 	#7A99D2;

$verified:			#399664;
$undetermined:	#EC9131;
$false:					#CC4F43;
$in-progress:		#F5A623;