// Create story form in navigation
#nav-discussion-form {
  width: 450px;

  form {
    padding: 0 $gutter-width;
    margin: 0;

    h2 {
      @include reset-box-model;
    }
  }

  .cke_contents {
    max-height: 160px !important;
  }

  .form-actions {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .image-widget-data {
    width: 100%;
  }

  .customfile {
    width: 100%;
    background: $grey;
    margin-bottom: $gutter-width;
    border: 0;

    .customfile {
      display: none;
    }

    .customfile-button {
      background: $twitter-blueish;
      float: opposite-position($from-direction);
      border: 0;
    }

    .customfile-feedback {
      text-align: $from-direction;
      overflow: hidden;
    }
  }
  .customfile-hover {
    .customfile-button {
      background: $twitter-blueish;
      color: $white;
    }
  }
  #edit-field-lead-image-und-0-upload-button {
    display: none; // FIXME: avoid uploading image before submitting form in order to avoid creating multiple stories
  }
}

// Fixed only for normal screen sizes
@media all and (max-height: 42em) {
  #nav-discussion-form {
    max-height: 290px;
    overflow-y: scroll;
  }
}
