body.page-node-add {
  
  h1.title,
  .filter-guidelines,
  .filter-help  {
    display: none;
  }

  .node-form  {
    // 1. First standardize the form
    @include cd-form($cw, $cw); 

    // This operates on the first fields of the report/update/story fields
    .form-type-link-field, 
    .form-item-title {

      // 2. now, customizations on top of the default checkdesk forms.
      label {
        @include icon('bolt');
        @include span-columns($label-width, $cw);
        font-size: $large-font-size;
        font-weight: bold;
      }

      .form-item {
        @include span-columns(($cw - $label-width) omega, $cw);
        input {
          @include span-columns($cw - $label-width, $cw - $label-width, $gw/2);
        }
      }
    }
    textarea {
      height: 100px;
    }
  }
}