// Create story form in navigation
#nav-discussion-form {
  width: 550px;

  form {
    padding: 0 $gutter-width;
    margin: 0;

    h2 {
      @include reset-box-model;
    }
  }

  .cke_contents {
    max-height: 120px !important;
  }

  .form-actions {
    padding: 0;
    background-color: transparent;
    border: none;
    #edit-submit-story {
      background: $identity;
    }
  }

  .image-widget-data {
    width: 100%;
  }

  .customfile {
    width: 98%;
    background: $firefly5;
    padding: 0;
    margin-bottom: $absolute-line-height/4;
    border: 0;

    .customfile {
      display: none;
    }

    .customfile-button {
      background: $firefly20;
      float: opposite-position($from-direction);
      padding: $absolute-line-height/3 $gutter-width/3;
      border: 0;
      width: auto;
      min-width: 120px;
      font-weight: normal;
    }

    .customfile-feedback {
      padding: $absolute-line-height/4 $gutter-width/2;
      text-align: $from-direction;
      overflow: hidden;
      color: $gray;
      font-weight: normal;
      font-style: normal;
      @if $from-direction == 'right' {
        font-size: $small-font-size;
        line-height: 2.4;
      }
    }

    .customfile-ext-jpg, .customfile-feedback-populated {
      background: none !important;
    }

    .customfile-feedback-populated {
      @include icon(picture, $base-font-size);
    }

    &:hover {
      .customfile-button { background: $firefly30; }
    }

  }
  .customfile-hover {
    .customfile-button {
      background: $firefly40;
      color: $white;
    }
  }
  #edit-field-lead-image-und-0-upload-button {
    display: none; // FIXME: avoid uploading image before submitting form in order to avoid creating multiple stories
  }
}

// Fixed only for normal screen sizes
@media all and (max-height: 42em) {
  #nav-discussion-form {
    max-height: 320px;
    overflow-y: scroll;
  }
}
