//
// Checkdesk Dropdown menus

// Dropdown arrow/caret
// ... is not in the current spec.
// .caret { @include caret; }

.dropup,
.dropdown {
  position: relative;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 75%;
  @if $from-direction == left {
    left: 0;
  }
  @if $from-direction == right {
    right: 0;
  }
  z-index: $zindexDropdown;
  display: none; // none by default, but block on "open" of the menu
  float: $from-direction;
  min-width: 160px;
  padding: $gutter-width 0;
  margin: -$gutter-width / 2 0 0; // override default ul
  list-style: none;
  background-color: white;
  color: $dark-grey;
  @include border-radius(0 $radius $radius $radius);
  @include cd-box-shadow;
  @include background-clip(padding-box);

  // Aligns the dropdown menu to right
  &.pull-#{$omega-float} {
    #{opposite-position($from-direction)}: 0;
    #{$from-direction}: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include ctb-nav-divider($dropdownDividerTop, $dropdownDividerBottom);
  }

  // Links within the dropdown menu
  a {
    display: block;
    float: none;
    padding: ms(-3) ms(0);
    clear: both;
    font-weight: normal;
    line-height: $absolute-line-height;
    white-space: nowrap;
    @include border-radius(0);
    color: $dropdownLinkColor;
    background-color: $dropdownBackground;
    &:hover {
      color: $dropdownLinkColorHover;
    }
  }
}

// Drop up menus
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

// Hover state
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: $dropdownLinkColorHover;
  background-color: $identity;
}

// Active state
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: $dropdownDividerTop;
  text-decoration: none;
  outline: 0;
  background-color: $identity;
}

// Disabled state
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: $grey;
}

// Nuke hover effects
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none; // Remove CSS gradient
  cursor: default;
}

// Open state for the dropdown
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: $zindexDropdown;

  & > .dropdown-menu {
    display: block;
  }
}

// Sub menus
.dropdown-submenu {
  position: relative;
}

// Default dropdowns
.dropdown-submenu > .dropdown-menu {
  top: 0;
  #{$from-direction}: 100%;
  #{$omega-float}: auto;
  @include border-radius($radius);
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  @include border-radius($radius);
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}


// ===========================================================================
// Breakpoints 

@include at-breakpoint($break-small) {
  // same as previous breakpoint
}

@include at-breakpoint($break-medium) {
  // same as previous breakpoint
}

@include at-breakpoint($break-large) {
  // same as previous breakpoint
}