
// ====================================================================== 
// Dungeon of deprecated techniques and hidden divs
// This is a todo list of things to fix in the markup ...
// NOT a permanent selector ghetto! ... CGB Dec 2012

// Don't display so much stuff on the forms {
.filter-wrapper {
  display: none;
}

// RSS icon is not in the spec but is appearing. 
// RSS *should* be enabled but no icon.
a.feed-icon {
  display: none;
}

// Disable vertical tabs in forms
div.vertical-tabs {
  // we need to verride this by disabling CSS in drupal before proceeding.
  display: none!important;  
}

// We don't use the i element for icons from TB
// And they should not display
i {
  display: none;
  &:hover {
    display: none
  }
}

// Disable views configuration popup
.contextual-links-wrapper {
  display: none!important;
}

// hack for empty div need to remove this in markup. CGB Dec 2012
li.menu-449 {
  display: none!important;
}

// Hide the summary link from text fields.
// FIXME This is a hack because the fields are of type "Long text and summary" while they should really be of type "Long text".
.field-edit-link {
  display: none
}

body {
  padding-top: 0!important; // override toolbar padding  
}

// No tabs in the sidebar pages ...
body.sidebar-first .tabs {
  display: none!important;
}

// Hide stuff on the user section
body.not-front.not-logged-in.page-user {
  // Hide breadcrumbs and titles
  div.breadcrumb, 
  h1.title {
   display: none;
  }
}

p br { display: none; } // hack to remove br's from content

// Drupal autocomplete indicator is appearing broken
input.form-autocomplete {
  background-image: none!important; // Remove the drupal autocomplete image
}

// HACK to hide this until there is room
li.menu-680 {
  display: none!important;
  @include at-breakpoint($break-medium) {display: block!important;}
}
