
// Dungeon of deprecated techniques and hidden divs
// This is a todo list of things to fix in the markup ...
// NOT a permanent selector ghetto! ... CGB Dec 2012

// Don't display so much stuff on the forms
.filter-wrapper {
  display: none;
}

// Disable vertical tabs in forms
.story .compose-update-form,
#nav-discussion-form {
  div.vertical-tabs, div.vertical-tabs-panes {
    display: none !important;  
  }  
}

// hack for an empty div
nav li.menu-449 {
  display: none !important;
  border: 1px solid red !important;
}

p br { display: none; } // hack to remove br's from content

// Drupal autocomplete indicator is appearing broken
input.form-autocomplete {
  background-image: none !important; // Remove the drupal autocomplete image
}

// hide unnecessary elements in forms
.filter-guidelines,
.filter-help   // the extremeley verbose lessons in how to use the editor
{
  display: none;
}

// Navigation hacks
#toolbar-home, 
#toolbar-user {
  display: none; // Disable duplicate link from Drupal
}  

body.toolbar-drawer {
  padding-top: 0 !important; // override drupal
}

// there is no reset, on the filter on the reports stream 
// on the create update page
.views-exposed-widget .views-reset-button {
  display: none;
}

// create update page
.page-node-add-post { 
  .tabs {
    display: none; //if the empty tabs div appears it breaks the layout
  }
}

