// Facebook comments header
.fb-comments-header {
  cursor: pointer;
}

// Hide comments by default, until they load
.fb-comments, 
.fb_iframe_widget {
  display: none !important;
}

// Display comments-visible
.fb-comments.fb-comments-visible, 
.fb_iframe_widget.fb-comments-visible {
  display: block !important;
}

// Full width
.fb-comments-wrapper, 
.fb-comments > span, 
.fb-comments, 
.fb-comments iframe[style] {
  width: 100% !important;
}