// TODO: integrate these into the mainstyles. CGB Jan 2013
.fb-comments-header {
  cursor: pointer;
}

.fb-comments, .fb_iframe_widget {
  display: none !important;
}

.fb-comments.fb-comments-visible, .fb_iframe_widget.fb-comments-visible {
  display: block !important;
}

// Full width
.fb-comments-wrapper, .fb-comments > span, .fb-comments, .fb-comments iframe[style] {
  width: 100% !important;
}
