// Filters on the incoming report stream
//
// Use @extend on the parent element containint the header and .panels
%filters {
  @include ctb-clearfix;
  margin-top: $absolute-line-height;
  font-family: $sans-serif-font-stack;
  font-size: $small-font-size;
  border-bottom: 1px solid rgba(0,0,0,.02);

  .filters-wrapper {
    @include ctb-clearfix();
    padding: 0 $gutter-width*2;
  }
  .filters-summary {
    position: relative;
    margin-top: $absolute-line-height/4;
    border-top: 1px solid rgba(0,0,0,.02);
    padding: $absolute-line-height/4 $gutter-width*2 $absolute-line-height/5;
    font-size: $small-font-size;
    color: rgba(0,0,0,.4);
    // Dropshadow for depth
    &:before {
      position: absolute;
      content: "";
      z-index: -1;
      bottom: -12px;
      left: 0;
      right: 0;
      height: 12px;
      width: 100%;
      @include ctb-gradient-vertical(rgba(0,0,0,.02), rgba(255,255,255,0.0));
    }
  }

  header {
    float: $alpha;
    h2 {
      display: inline-block;
      @include reset-box-model;
      font-family: $sans-serif-font-stack;
      font-size: $large-font-size;
      color: rgba(0,0,0,.6);
    }
  }

  // icons
  .icon-caret-down {
    @include icon(caret-down, 16px, rgba(0,0,0,.2), "before", 0);
  }
  .icon-sort {
    @include icon(sort, 16px, rgba(0,0,0,.4), "before", 0);
  }
  .icon-filter {
    @include icon(filter, 16px, rgba(0,0,0,.4), "before", 0);
  }
  
  .panels {
    @include reset-list-style;
    float: $omega;
    .panel {
      display: inline-block;
      margin-#{$omega}: $gutter-width/2;
      &:last-child {
        margin-#{$omega}: 0;
      }
      .panel-toggle {
        display: inline-block;
        padding: 0 $gutter-width/2;
        width: 30px;
        text-align: $alpha;
        vertical-align: middle;
        cursor: pointer;
        @include border-radius(4px);
        border: 1px solid rgba(0,0,0,.02);
        &:hover {
          background-color: rgba(0,0,0,.02);
          border: 1px solid rgba(0,0,0,.25);
          text-decoration: none;
        }
        .icon-caret-down:before {
          margin-right: 0;
          margin-#{$alpha}: $gutter-width/3;
        }
      }
      .panel-content {
        display: none;
        position: absolute;
        background-color: $grayLighter;
        padding: $absolute-line-height/2 $gutter-width;
        margin-top: $absolute-line-height/4;
        z-index: $zindexDropdown;
        width: 410px;

        background-color: lighten($grayLighter, 3%);
        border: 1px solid #ccc; // Fallback for IE7-8
        border: 1px solid $dropdownBorder;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
        @include border-radius(6px);
        @include box-shadow(0 5px 10px rgba(0,0,0,.2));
        -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
                background-clip: padding-box;

        input[type="text"] {
          float: none;
          width: 260px;
        }

        label {
          font-size: 14px !important;
        }

        .views-reset-button input#edit-reset {
          @include reset-box-model;
          background: none;
          border: 0 none;
          color: $gray;
          font-size: $fontSizeSmall;
          &:hover { color: $grayDark; }
        }
      }
    }

    #filter-by {
      #{$from-direction}: 130px; // warning magic pixels CGB
      .icon-caret-down:before {
        margin-#{$alpha}: 0;
      }
    }

    #filter-by .views-reset-button {
      float: $alpha;
    }

    #filter-by .views-submit-button {
      float: $omega;
      // hide the duplicate sort select
      .form-type-select {
        display: none;
      }
      #close {
        @include checkdesk-button($grayLight);
              margin-#{$omega}: 0;
      }
      input {
        margin-top: -4px; // no idea why it needs this CGB
        margin-#{$omega}: $gutter-width;
      }
    }

    #sort-by label {
      display: none;
    }

    #sort-by .panel-content {
      width: 200px;
    }

    #sort-by .views-submit-button input {
      margin-top: $absolute-line-height/2;
    }

    .form-type-radio input[type="radio"] {
      margin: 0;
    }

    .form-type-radio, .form-type-checkbox {
      padding: 0;
    }
  }
}

// Medium breakpoint
@include at-breakpoint($break-medium) {
  .body-ar #incoming-reports-filters {
    .panels .panel .panel-toggle {
      font-size: 95%;
    }
  }
}