// Webfont definitions
// 
// For Arabic and English, using a third set of shared language-independent variables.
//
// A.) Setup. Do not use these font names or this variable directly:
// $en-body-font-stack: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$en-body-font-stack: "Merriweather", Georgia, "Times New Roman", Times, serif;
$en-header-font-stack: "Merriweather", Georgia, "Times New Roman", Times, serif;
//
// B.) configure arabic font names, again for use in this file only
$ar-header-font-stack: "Arial", "Verdana", "Tahoma", sans-serif;
$ar-body-font-stack: "Arial", "Verdana", "Tahoma", sans-serif;
$ar-nav-font-stack: "Arial", "Verdana", "Tahoma", sans-serif;
//
// C.) Set the defaults for language-independent variables
$mono-font-stack: Monaco, Menlo, Consolas, "Courier New", monospace !default; // needs arabic equivalent CGB Apr 3
$nav-font-stack: $en-body-font-stack !default;
$header-font-stack: $en-header-font-stack !default;
$body-font-stack: $en-body-font-stack !default;
//
// 
$sans-serif-font-stack: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-stack: "Merriweather", Georgia, "Times New Roman", Times, serif;
