// Arabic font stack
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.eot');
  src:  local('Droid Arabic Naskh Regular'), local('Droid-Arabic-Naskh-Regular'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.svg#droid_arabic_naskhregular') format('svg');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.eot');
  src:  local('Droid Arabic Naskh Bold'), local('Droid-Arabic-Naskh-Bold'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.svg#droid_arabic_naskhbold') format('svg');
}
// Render English text in PT Sans Regular within Droid Arabic Naskh Regular
@font-face {
  font-family: 'Droid Arabic Naskh';
 	font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/PTS55F-webfont.eot');
  src:  local('PT Sans Regular'), local('PT-Sans-Regular'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  unicode-range: U+0000 – U+007F;
}
// Render English text in PT Sans Bold within Droid Arabic Naskh Bold
@font-face {
  font-family: 'Droid Arabic Naskh';
 	font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/PTS75F-webfont.eot');
  src:  local('PT Sans Bold'), local('PT-Sans-Bold'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
  unicode-range: U+0000 – U+007F;
}

// English font stack

// PT Sans
// Sans-serif
// Regular
@font-face {
  font-family: 'PT Sans';
 	font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/PTS55F-webfont.eot');
  src:  local('PT Sans Regular'), local('PT-Sans-Regular'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
}
// Bold
@font-face {
  font-family: 'PT Sans';
 	font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/PTS75F-webfont.eot');
  src:  local('PT Sans Bold'), local('PT-Sans-Bold'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
}
// Render Arabic text in Droid Arabic Naskh Regular within PT Sans Regular
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.eot');
  src:  local('Droid Arabic Naskh Regular'), local('Droid-Arabic-Naskh-Regular'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.svg#droid_arabic_naskhregular') format('svg');
  unicode-range: U+0600 – U+06FF;
}
// Render Arabic text in Droid Arabic Naskh Bold within PT Sans Bold
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.eot');
  src:  local('Droid Arabic Naskh Bold'), local('Droid-Arabic-Naskh-Bold'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.svg#droid_arabic_naskhbold') format('svg');
  unicode-range: U+0600 – U+06FF;
}
// Italic
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/PTS56F-webfont.eot');
  src:  local('PT Sans Italic'), local('PT-Sans-Italic'),
        url('../extensions/bowerbird/fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/PTS56F-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/PTS56F-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/PTS56F-webfont.svg#pt_sansitalic') format('svg');
}

// Serif for English
// Regular
@font-face {
  font-family: 'Merriweather';
 	font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
}
// Bold
@font-face {
  font-family: 'Merriweather';
 	font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
}
// Render Arabic text in Droid Arabic Naskh Regular within Merriweather Regular
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.eot');
  src:  local('Droid Arabic Naskh Regular'), local('Droid-Arabic-Naskh-Regular'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/droidnaskh-regular-webfont.svg#droid_arabic_naskhregular') format('svg');
  unicode-range: U+0600 – U+06FF;
}
// Render Arabic text in Droid Arabic Naskh Bold within Merriweather Bold
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.eot');
  src:  local('Droid Arabic Naskh Bold'), local('Droid-Arabic-Naskh-Bold'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/droidnaskh-bold-webfont.svg#droid_arabic_naskhbold') format('svg');
  unicode-range: U+0600 – U+06FF;
}
// Italic
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/merriweather-italic-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-italic-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-italic-webfont.ttf') format('truetype'),
        url('../extensions/bowerbird/fonts/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
}

// Sans and Serif
$sans-serif-font-stack: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-stack: 'Merriweather', Georgia, "Times New Roman", Times, serif;
$ar-sans-serif-font-stack: 'Droid Arabic Naskh', serif;
$ar-serif-font-stack: 'Droid Arabic Naskh', serif;

$en-body-font-stack: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$en-header-font-stack: 'Merriweather', Georgia, "Times New Roman", Times, serif;

$ar-header-font-stack: "Droid Arabic Naskh", serif;
$ar-body-font-stack: "Droid Arabic Naskh", serif;
$ar-nav-font-stack: "Droid Arabic Naskh", serif;

$mono-font-stack: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$nav-font-stack: $en-body-font-stack !default;

// Use the "header" and "body" font stacks in most cases.
// Then override with Arabic font stack in RTL stylesheet.
$header-font-stack: $en-header-font-stack !default;
$body-font-stack: $en-body-font-stack !default;