$en-body-font-stack: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", Times, serif;
$en-header-font-stack: "Mercury Display A", "Mercury Display B", Georgia, "Times New Roman", Times, serif;

$ar-header-font-stack: "Arial", "Verdana", "Tahoma", sans-serif;
$ar-body-font-stack: "Arial", "Verdana", "Tahoma", sans-serif;
$ar-nav-font-stack: "Arial", "Verdana", "Tahoma", sans-serif;

$mono-font-stack: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$nav-font-stack: $en-body-font-stack !default;

$sans-serif-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Use the "header" and "body" font stacks in most cases.
// Then override with Arabic font stack in RTL stylesheet.
$header-font-stack: $en-header-font-stack !default;
$body-font-stack: $en-body-font-stack !default;