// Sans and Serif
$sans-serif-font-stack: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-stack: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", Times, serif;
$ar-sans-serif-font-stack: 'Droid Arabic Naskh', serif;
$ar-serif-font-stack: 'Droid Arabic Naskh', serif;

$en-body-font-stack: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$en-header-font-stack: "Mercury Display A", "Mercury Display B", Georgia, "Times New Roman", Times, serif;

$ar-header-font-stack: 'Droid Arabic Naskh', serif;
$ar-body-font-stack: 'Droid Arabic Naskh', serif;
$ar-nav-font-stack: 'Droid Arabic Naskh', serif;

$mono-font-stack: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$nav-font-stack: $en-body-font-stack !default;

// Use the "header" and "body" font stacks in most cases.
// Then override with Arabic font stack in RTL stylesheet.
$header-font-stack: $en-header-font-stack !default;
$body-font-stack: $en-body-font-stack !default;