// Footer

#footer {
  @include ctb-clearfix;
  padding-top: $absolute-line-height/4;
  margin: $absolute-line-height*4 0 $absolute-line-height*2 0;
  font-family: $sans-serif-font-stack;
  text-align: center;

  #footer-menu {
    position: relative;
    padding-bottom: $absolute-line-height/2;
    @if $from-direction == 'left' {
      text-transform: uppercase;
      letter-spacing: 0.08em;
    }
    // Dropshadow for depth
    &:before {
      position: absolute;
      content: "";
      z-index: -1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 12px;
      width: 100%;
      @include ctb-gradient-vertical(rgba(255,255,255,0.0), rgba(0,0,0,.02));
    }
  }
  #information-menu {
    border-top: 1px solid $firefly5;
    padding-top: $absolute-line-height/2;
  }
}

// Treating footer as same as content/content-inner
// 
body.widgets, body.sidebar-first {
  #main {
    #footer {
      margin-#{$alpha}: 30%;
      #footer-inner {
        max-width: 850px;
        padding-top: $base-line-height*2;
        @include pad(1, 2, $container-width);
      }   
    }
  }
}

#footer-inner {
  padding: $absolute-line-height/4 0;
  ul {
    @include reset-box-model;
    @include reset-list-style;
    li {
      @include reset-box-model;
      position: relative;
      display: inline-block;
      font-size: 14px;
      @if $from-direction == 'right' {
        font-size: $small-font-size;
      }
      line-height: 1.6;

      a {
        display: block;
        color: $firefly20;
        text-decoration: none;
        padding: 0 $gutter-width;
        @include ctb-transition(color 0.3s linear);
        overflow: visible;
        span {
          margin-#{$omega}: $gutter-width;
        }
        &:hover {
          color: $firefly60;
        }
      }

      a.checkdesk {
        position: relative;
        padding-#{opposite-position($from-direction)}: 120px;
        background: $checkdesk-logo-background no-repeat opposite-position($from-direction) -2px transparent;
      }

      a.partner-logo {
        img { 
          display: inline; 
          vertical-align: middle;
          margin-top: -2px;
          @if $from-direction == 'right' {
            margin-top: -6px;
          }
        }
      }

      &:first-child {
        a {
          padding-#{$from-direction}: 0;
        }
      }

      // hide ajax throbber in dropdown
      .ajax-progress-throbber {
        display: none;
      }
    }
  }

  #footer-menu ul li {
    
  }

  // Note, factcheck call to action and icons required for embed theme
  .factcheck-cta {
    @include checkdesk-button($medium-grey);
  }
  .icon-comments-alt  {
    @include icon("comments-alt", 21.5px, #fff);

    &:before {
      margin: 0;
    }
  }
}