// Footer

#footer {
  @include ctb-clearfix;
  padding-top: $absolute-line-height/4;
  margin: $absolute-line-height*4 0 $absolute-line-height*2 0;
  font-family: $sans-serif-font-stack;
  text-align: center;

  #footer-menu {
    position: relative;
    padding-bottom: $absolute-line-height/2;
    @if $from-direction == 'left' {
      text-transform: uppercase;
      letter-spacing: 0.08em;
    }
    // Dropshadow for depth
      &:before {
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        height: 12px;
        width: 100%;
        @include ctb-gradient-vertical(rgba(255,255,255,0.0), rgba(0,0,0,.02));
      }

  }
  #information-menu {
    border-top: 1px solid rgba(0,0,0,.05);
    padding-top: $absolute-line-height/2;
  }
}

// Treating footer as same as content/content-inner
// 
body.widgets, body.sidebar-first {
  #main {
    #footer {
      margin-#{$alpha}: 30%;
      #footer-inner {
        max-width: 850px;
        padding-top: $base-line-height*2;
        @include pad(1, 2, $container-width);
      }   
    }
  }
}

#footer-inner {
  padding: $absolute-line-height/4 0;
  ul {
    @include reset-box-model;
    @include reset-list-style;
    li {
      @include reset-box-model;
      position: relative;
      display: inline-block;
      font-size: modular-scale(0) - modular-scale(-3); // 14px
      @if $from-direction == 'right' {
        font-size: $small-font-size;
      }
      line-height: 1.6;

      a {
        display: block;
        color: rgba(0,0,0,.2);
        text-decoration: none;
        padding: 0 $gutter-width;
        @include ctb-transition(color 0.3s linear);
        overflow: visible;
        span {
          margin-#{$omega}: $gutter-width;
        }
        &:hover {
          color: rgba(0,0,0,.6);
        }
      }

      a.checkdesk {
        position: relative;
        padding-#{opposite-position($from-direction)}: 120px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAAAVCAYAAAB17tGhAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANy8xMC8xM2G6VY8AAAXGSURBVGiB7ZpNctpYEIA/Ut7D2lrAnCDkBMYbq8Qmygksn2A8J7B8guATWJwgeGOV2AROEDjB4IXYDpyAWbx+ofX0JCfOJFWTclelsPT6v/t193tK53A48L2wnY9T4EYel0GYj9rwXyLjJbCdj0fAZ/schHnnR3mWRbQAzuTx/PTicfGjPJ+D7XxckRmEeatM6983P1WrV/il8BrM3wheg/kbwQlAp3NsLWUR9YAYGCi8WRDmK4VTY1QWUQwMm2gcGQOR0WvCPxwOFZoGGasgzGdtejn0Q0fmJgjzjay5du+AzOXxDTptxJadz46yiEbASOHvgMVz/lVrPUfeDliBBFMhXgMp0HV43JRF9AAkVkkFg7KIVsBbD800CPPEUWQCXHr0vCmLaAnErgwJwgzoe4xbi14rd83BS4B79WqNOFUCklG3O8U4y8cvFltqOgGTsoiugzDPHBsy6n6y60uxY9Nig8tjj0qMNwpxAnz0GGThPcahLvSbFAQuxYkWFvgDaeFMcL6CZPIX/E5DZC9kt3uhKZBBmO+E/yf8dnd9chVNk05d4F4CbpN4RrOfwNi+arJDArnACaRO4jdKuT8V7RL4AJwDD1qgExwNU+BWfjUkIiNxjLkNwrwjx4cr9f6tlSFOyNTaXnDPRdZe3ncxu6gGbYGUZ5f/rfC/8/Hz0KyBd2LHH1T9NZHfmGrgzx3brR2pb2eqQNqEqwUSjmX2Wr17cs6Ni7KIZpjtPMFkmMYHuHJKyo5qcrgypkGYp/YhCPNMFLY0CcZhrhO0AQuR8xGTQCnVPv9sIEWm5p+oHmz536h1W141TWwDEIT5RmT+I2v97Xzszh979be1fQMMtA8VDKm2Pm8g4RjMkXqXehhWeqXToNceJWbUg6l35UgO4xr0YGIPzLF69+AaEIT5pCyimRpiBg7Pe+fZ7cea/5MepgQmOMGkOnwAZJ6BZc/R+UNkQBHoAp/LItrL+4X8+loYmGTVcN00H9ieqfvFxkXyDD0a2taaoI8JmP5X6Sfb+bhHNcBeA9oGBg9MWtZqfJ6x24JrxxlVfw4kSdz20xXcG0z/3bS0MA0TaT81OPG88yL+xzDF47xn9HipXk8cy+L7sohizw58KexpTxAQO4MwT6QaxZhh0gU7NC0a5HQVXka1qgDHYGqDY5wtr8bwtKGufwtohdA905GzCsJ8czgc2M7HK6ol99rB72F2bIbfqVOhWXG0LyuLaODZdWdlEfWcdjLw8NR0XZzzsdIrDsI8M/emHWtzJrrafj3EzAdnijxx5D1hbE84ti5vUtoym6l3leOEOtv0MZnzXCY2gRZ8WRZRqhfljPsJM56nUmY1Tb8sokzh2/U+plTVynAQ5rbXJ+p1V/H19ci2Zx+NHd6sXgNMH7wvi2ghl/+URZSURbSyJTII85UEt7bDHLBn6BQTWC13oBE7sgN6mHKga/0ak4U6a8CM3wktX03kqGO/XixPLx5H2/l4APztUXbpkbHH9Jqd89UCMWiDyWqt7y3Gid6vJpI8epj5SwaoJv4D6ufI8yDMF5JU7nnZOtqluRVeFn+PSYiNPCcOzTtMEtW+mkjSfFG4yyDMR5WvJpK9I6pj81vqTr76zoHjKwjdlWfJlbEGRqcXj7acxfLOgh2edCCnvrLtyE8dPqk455qq3ZZ/04UAQrN23vU9NHenF48p9Wn2EpNYNw7NXdtNlqzdqldnUtEAdQMkiEPqUxeYg/C56pcbzI5a4p8yd751oX9H9WBt4UkUrZyhVKLpSwJNc6WuDLXcpUdG4ugVt9htLxDuFM3O6hSE+RD4i2rps2D9dS34E0xFmzbgr4EPFl90q8i0IEn5oNZjqaymzLqXx3C8lPZ9GH3Jx+Y2GZihp6J0i14DTNnauFXie/Vq4D8Cdr4d0qJTDzl/uv5qoRn58C3NS6Dzq/4XwCv8fDiR6yb3VuMV/n+wOcFcef2Ki4JX+Lmw+hc87NoVXi1eSQAAAABJRU5ErkJggg==) no-repeat opposite-position($from-direction) -2px transparent;
      }

      a.partner-logo {
        img { 
          display: inline; 
          vertical-align: middle;
          margin-top: -2px;
          @if $from-direction == 'right' {
            margin-top: -6px;
          }
        }
      }

      &:first-child {
        a {
          padding-#{$from-direction}: 0;
        }
      }

      // hide ajax throbber in dropdown
      .ajax-progress-throbber {
        display: none;
      }
    }
  }

  #footer-menu ul li {
    
  }

  // Note, factcheck call to action and icons required for embed theme
  .factcheck-cta {
    @include checkdesk-button($medium-grey);
  }
  .icon-comments-alt  {
    @include icon("comments-alt", 21.5px, #fff);

    &:before {
      margin: 0;
    }
  }
}


// Small breakpoint
@include at-breakpoint($break-small) {
  body.widgets #main #footer {
    margin-#{$alpha}: 0;
  }
}

// Medium breakpoint
@include at-breakpoint($break-medium) {
  body.widgets #main #footer {
    margin-#{$alpha}: 360px;
  }
}

// Large breakpoint
@include at-breakpoint($break-large) {
  body.widgets #main #footer {
    margin-#{$alpha}: 360px;
  }
}

