// Password section
.form-item-pass {
  @include span-columns($fw, $fw);
  .description {
      @include reset-box-model;
      // @include span-columns(half-of($fw), $fw);
      @include span-columns($fw, $fw);
    }
    
  .password-strength {
    @include reset-box-model;
    @include span-columns($fw, $fw);
    // @include span-columns($input-width omega, $fw);
    margin: { top: $gw; bottom: $gw; }
    
    .password-strength-title {
      @include span-columns(half-of($fw), $fw);
      font-size: $form-helper-text-size;
    }
    .password-indicator {
      @include span-columns(half-of($fw), $fw);
      margin-top: $gw;
    }
    .password-strength-text {
      @include span-columns(half-of($fw) omega, $fw);
    }
  }

  // "Passwords match" box
  div.password-confirm {
    @include reset-box-model;
    @include span-columns($input-width omega, $fw);
    font-size: $form-helper-text-size;
    span {
      padding: 0 $gw;
      &.error {
        background: $firetruck-red;
        color: white; 
        @include border-radius(15%);
        font-family: monaco, courier, monospace;
      }
      &.ok {
        background: darken(#47c965, 5%);
        @extend .error;
      }
    }
  }

  // Suggestions box (hidden by default)
  .password-suggestions {
    @include reset-box-model;
    padding: { top: $gw; bottom: $gw; } 
    @include span-columns(half-of($fw) omega, $fw);
    li {
      padding-#{opposite-position($from-direction)}: $gw;
    }
  }
}
