// ===================================================================
// Form drag and drop
// On create update page
//
@mixin form-drag-and-drop() {
  .views-row.ui-draggable-dragging .views-row, 
  .views-row.ui-draggable:hover .views-row {
    background-color: $postit-yellow;
    cursor: move;
    @include cd-box-shadow;
    // z-index: 1000000;
    // position: relative;
  }

  // The drop indicator
  .ui-droppable { 
    float: $from-direction; // it must be floated to contain droppable form elements.
    width: 100%; // ... thus this must be set since it must be floated. 
    padding: 0; //  ... thus we can have no padding
  }

  .ui-droppable.drop-hover textarea {
    background-color: rgba($twitter-blueish, 0.02);
    border-color: rgba($twitter-blueish, 0.9);
  }
}

// ===================================================================
// Form actions
//

@mixin form-actions {
  .form-actions {
    margin-top: $gw;
    input, a {
      @include checkdesk-button; 
    }
  }

  // De-emphasized buttons
  input#edit-reset, 
  input#edit-draft, 
  input[type="reset"] {
    @include checkdesk-button();
    border: 1px solid $grey;
  }

  // Buttons
  input#edit-submit, 
  .form-submit {
    @include checkdesk-button($twitter-blueish);
  }

  // Disabled buttons
  input:disabled {
    @include disable-button();
  }

}

// ===================================================================
// Inline form errors
//
@mixin form-inline-errors {

  // hide labels for forms with ife
  &.ife {
    label {
      display: none;
    }
    .form-type-checkbox, .form-type-radio {
      label {
        display: inline-block;
      }
    }
    // unless it is a select field
    .form-type-select {
      @include ctb-clearfix;
      label {
        display: inline-block;
        float: $alpha;
        margin-#{$omega}: $gw;
        line-height: $baseLineHeight;
        padding-top: $baseLineHeight/3;
      }
      select {
        float: $alpha;
        @include span-columns($cw/2);
      }
    }
  }
  .messages-inline {
    // @include cd-arrow-box($errorBackground, $errorBorder, $gw, 1px);
    background: none;
    border: 0 none;
    display: inline-block;
    // margin: $baseLineHeight/4 0 $baseLineHeight/4 0;
    // margin-#{$from-direction}: $gw*2;
    margin: 0;
    padding: 0;
    padding-bottom: $baseLineHeight/2;
    font-size: $fontSizeSmall;
    line-height: 1.4;
  }
}


// In addition to our use of normalize, and other resets, 
// This standardizes form elements
// #review why so many resets? CGB
//
@mixin form-standardize {
  
  label, input, button, select, textarea, body.cke_editable { font-size: $base-font-size; }

  // select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  //   display: inline-block;
  //   line-height: $base-line-height;
  //   height: $base-line-height * $base-font-size;
  //   margin-bottom: ms(-2);
  //   color: $gray;
  //   @include border-radius(4px);
  //   vertical-align: middle;
  // }

  // Everything else
  textarea, body.cke_editable, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: $input-background;
    border: 1px solid $inputBorder;
    @include box-shadow(rgba($black, .075) 0 1px 1px inset);
    @include ctb-transition(#{border linear .2s, box-shadow linear .2s});

    // Focus state
    &:focus {
      border-color: rgba($facebook-blue,.8);
      outline: 0;
      outline: thin dotted \9; /* IE6-9 */
      // @include ctb-box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)});
    }
  }

  // // Position radios and checkboxes better
  // input[type="radio"], input[type="checkbox"] {
  //   margin: ms(-2) 0 0;
  //   *margin-top: 0; /* IE7 */
  //   margin-top: 1px \9; /* IE8-9 */
  //   line-height: normal;
  //   cursor: pointer;
  //   & + label {
  //     margin: ms(-2) 0 0;
  //   }
  // }

  // // Reset width of input images, buttons, radios, checkboxes
  // input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  //   width: auto; // Override of generic input selector
  // }

  // Make select elements obey height by applying a border
  select {
    width: 220px; // default input width + 10px of padding that doesn't get applied
    border: 1px solid $inputBorder;
    background-color: $input-background; // Chrome on Linux and Mobile Safari need background-color
    // font-size: $small-font-size;
  }

  // Make multiple select elements height not fixed
  select[multiple], select[size] { height: auto; }

  // Focus for select, file, radio, and checkbox
  select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    @include ctb-tab-focus();
  }
}

@mixin cd-form-styles-except-layout {
  form {
    // input[type="password"],
    input[type="text"], 
    textarea {
      @include border-radius(3px);
      display: block;
      line-height: $base-line-height;
      background-color: $input-background;
      border: 1px solid $grey;
      margin-top: $gw;

      // focus state
      &:focus {
        border-color: rgba(black, .5);
        outline: thin dotted $light-grey;
      }
    }

    textarea { 
      
      // height: 200px; 
    } // starting height

    // checkboxes and radios
    input[type="checkbox"], 
    input[type="radio"] {
      width: $checkbox-width;
      display: inline-block;
      clear: both;
      float: $from-direction;
    } 

    // When we start writing make it bright
    input:focus, 
    textarea:focus,
    body.cke_editable:focus { 
      background-color: white; 
    }

    // Default labels
    label {
      font-size: $large-font-size;
      display: inline-block;
      font-weight: normal;
      padding { top: $gw; bottom: $gw; }

      &[for="edit-pass"] {
        a  {
          padding: $gw;
          font-size: $small-font-size;
          color: $grey;
          font-weight: normal;
        }
      }
    }

    // // Default descriptions
    // .description {
    //   // clear: $from-direction;
    //   font-size: ms(-1);
    //   display: none; // displayed at larger breakpoints
    //   padding: 0.5em 0;
    //   color: rgba(black, 0.75);
    //   margin: 0;
    // }

    // little links: create new account, forgot password 
    // wow BAD selector here haha - CGB
    // .item-list .first.last {
    //   font-size: $small-font-size;
    // }

    // Confirmation Form Actions: Confirm delete node
    &.confirmation {
      .form-actions input {
          @include checkdesk-button($firetruck-red); // Red delete button
      }
    }

    // // Checkbox labels for checkboxes and radios, aka ".options"
    // label.option {
    //   @include reset-box-model; // reset default label styles
    //   display: inline-block;
    //   font-size: $smaller-font-size;
    //   cursor: pointer;
    //   float: $from-direction;
    //   clear: none;
    // }

    @include form-actions;
    @include form-drag-and-drop;
    @include form-inline-errors;

    // & > .form-item {
    //   clear: both;
    //   font-size: $small-font-size;
    //   color: $dark-grey;
    //   background: rgba($light-grey, 0.5);
    // }
  }
}

// ============================================================================
// The reusable form layout mixin 
// ONLY LAYOUT in this section
// It is reused many times at various breakpoints
//
@mixin cd-form-layout($w, $context, $gw: $gw) {
  form {
    // @include form-pass-layout($w, $context);
    // @include span-columns($w, $context, $gw);
    @content; // if you want to pass in padding via breakpoints

    // Form actions
    // .form-actions { @include span-columns($w, $w); }

    & > .form-item {
      @include span-columns($w, $w);

      // Nested <.form-item>s
      .form-item { 
        @include span-columns($w, $w);
      }
    } 

    // Default main inputs and textareas
    input[type="password"],
    input[type="text"],
    textarea {
      @include span-columns($w, $w, $gw/2); // small padding with grid accounting
      // padding: { top: $gw/2; bottom: $gw/2; } // match the padding on top and bottom
    }

    select {
      @include span-columns($w, $w, $gw/2); // small padding with grid accounting
      @include ctb-clearfix;
      float: none;
    }

    div.form-wrapper {
      clear: both;
      // @include span-columns($w, $w);
      margin: $baseLineHeight/2 0;
    }

    .form-type-textarea {
      @include ctb-clearfix;
      margin-bottom: $baseLineHeight/2;
    }


  }
}

// ======================================================================
// Forms Breakpoints

@include form-standardize;
@include cd-form-styles-except-layout;
@include cd-form-layout($cw, $cw, $gw); // Default render of the form layout

// Breakpoint: small
@include at-breakpoint($break-small) {
  $break: $break-small;
  @include cd-form-layout($break - 6, $break) {
    @include pad(0, 0, $break);
    .description {
      display: inline-block; // appears
    }
  }
}

// Breakpoint: medium
@include at-breakpoint($break-medium) {
  $break: $break-medium;
}

// Breakpoint: large
@include at-breakpoint($break-large) {
  $break: $break-large;
}
