.password-strength {
  color: $grey;
  font-size: 0.8em;
  width: 17em;
  float: $omega;
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: $omega;
  font-weight: bold;
}
.password-indicator {
  background-color: $lightest-grey;
  height: 0.3em;
  width: 100%;
}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: $success-text;
}
input.password-confirm,
input.password-field {
  width: 17em;
  margin-bottom: 0.4em;
}
div.password-confirm {
  float: $omega;  /* LTR */
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: $gutter-width;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid $light-grey;
  @include border-radius(5px);
  color: $grey;
  ul {
    @include reset-box-model;
    @include reset-list-style;
    margin-top: $absolute-line-height/4;
  }
}
div.password-confirm {
  color: $grey;
  font-size: 0.8em;
  width: 17em;
  float: $omega; 
  margin-top: 0.2em;
  .ok {
    padding: $gutter-width/2 $gutter-width;
    color: $success-text;
    background-color: $success-background;
  }
  .error {
    padding: $gutter-width/2 $gutter-width;
    color: $error-text;
    background-color: $error-background;
  }
  .description {
    display: block;
  }
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  @include ctb-clearfix;
}