
// Undo some things from the default password CSS
@mixin reset-password {

  .password-strength {
    width: auto;
    float: $from-direction;
    margin-top: 0;
  }
  .password-strength-text {
    float: opposite-position($from-direction);
    font-weight: bold;
  }
  .password-indicator {
    background-color: #C4C4C4;
    height: 0.3em;
    width: 100%;
  }
  .password-indicator div {
    height: 100%;
    width: 0%;
    background-color: #47C965;
  }
  input.password-confirm,
  input.password-field {
    width: auto;
    margin-bottom: 0.4em;
  }
  div.password-confirm {
    float: $omega-float;  /* LTR */
    margin-top: auto;
    visibility: hidden;
    width: auto;
  }
  div.password-suggestions {
    padding: 0;
    margin: 0;
    width: 98%;
    border-width: 0;
    padding: 1%;
  }
  div.password-suggestions ul {
    margin-bottom: 0;
    @include reset-list-style;
  }
  .confirm-parent,
  .password-parent {
    clear: $from-direction; /* LTR */
    margin: 0;
    width: auto;
  }
}

// Password section in the form
// 
// 
@mixin form-pass($w: $cw, $cw: $cw) {
  
  .form-item-pass {
    @include reset-password;
    @include span-columns($w, $w);

    .description {
      @include reset-box-model;
      @include span-columns($w, $w);
      border-width: none;
      background-color: $postit-yellow;
    }

    label {
      clear: both;
    }

    .password-strength {
      @include reset-box-model;
      @include span-columns($w, $w);
      margin: { top: $gw; bottom: $gw; }
      
      .password-strength-title {
        // @include span-columns($w, $w);
        font-size: $form-helper-text-size;
      }
      .password-indicator {
        // @include span-columns($w, $w);
        margin-top: $gw;
      }
      .password-strength-text {
        // @include span-columns($w, $w);
      }
    }

    // "Passwords match" box
    div.password-confirm {
      @include reset-box-model;
      @include span-columns($w, $w);
      font-size: $form-helper-text-size;
      span {
        padding: 1px $gw;
        &.error, &.ok {
          background: $firetruck-red;
          color: white; 
          @include border-radius($radius);
          font-family: monaco, courier, monospace;
        }
        &.ok {
          background: darken(#47c965, 5%);
        }
      }
    }

    // Suggestions box (hidden by default)
    .password-suggestions {
      @include reset-box-model;
      padding: { top: $gw; bottom: $gw; } 
      @include span-columns($w omega, $w);
      li {
        padding-#{opposite-position($from-direction)}: $gw;
      }
    }
  }
}