/**
 * Password strength indicator.
 */
.password-strength {
  color: $gray;
  font-size: 0.8em;
  width: 17em;
  float: $omega;
  margin-top: 1.4em;
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: $omega; /* LTR */
  font-weight: bold;
}
.password-indicator {
  background-color: $grayLighter;
  height: 0.3em;
  width: 100%;
}
.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: $successText;
}
input.password-confirm,
input.password-field {
  width: 17em;
  margin-bottom: 0.4em;
}
div.password-confirm {
  float: $omega;  /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: $gw;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid $grayLight;
  @include border-radius(5px);
  color: $gray;
  ul {
    @include reset-box-model;
    @include reset-list-style;
    margin-top: $baseLineHeight/4;
  }
}
div.password-confirm {
  color: $gray;
  font-size: 0.8em;
  width: 17em;
  float: $omega;  /* LTR */
  margin-top: 1.4em;
  .ok {
    padding: $gw/2 $gw;
    color: $successText;
    background-color: $successBackground;
  }
  .error {
    padding: $gw/2 $gw;
    color: $errorText;
    background-color: $errorBackground;
  }
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  @include clearfix;
  clear: $alpha;
  margin: 0;
  width: 36.3em;
}