// Checkdesk Global Variables
//
// Welcome 
//
// Directional defaults
$from-direction: left !default;
$icon-position: before !default;

// Typography configuration
//
// See also typography.scss and bowerbird/typography.scss
//
@import "compass/css3/font-face";
@import "bowerbird/typography";
@import "components/fonts";
// @import "components/google_fonts";