// The basic grid for susy

// $total-columns: <number>;
$total-columns: 12;
// $column-width: <length>;
$column-width: 64px;
// $gutter-width: <length>;
$gutter-width: 16px;
// $grid-padding: <length>;
$grid-padding: $gutter-width;  // 1em