// ==============================================================
// The installation page

#modalContent.modal-install-bookmarklet {
  @include span-columns($cw, $cw, 100px); // lots of padding

  background: #fff;
  border: 1px solid #C0C0C0;
  top: 80px !important; 
  #{$from-direction}: 50% !important;
  // margin-#{$from-direction}: -465px;
  
  z-index: 1050 !important; 
  overflow: visible;

  position: fixed !important;

  .ctools-modal-content {// Why are these inner widths necessary? CGB
    @include span-columns($cw, $cw);
    .modal-content {
      @include span-columns($cw, $cw);
    }
  }

  .modal-header {
    border-bottom: 0;

    .close {
      display: block;
      text-indent: -5000em;
      width: 19px;
      height: 19px;
      background: transparent url(../imgs/icons/modal-close.png) center center no-repeat;
      opacity: 1;
    }

    .modal-title {
      display: none;
    }
  }

  #install-bookmarklet-button {
    background: transparent url(../imgs/icons/bookmarklet-drag.png) $from-direction center no-repeat;
    display: block;
    height: 84px;
    width: 50%;
    padding-#{$from-direction}: 66px;
    position: absolute;
    #{$from-direction}: 35px;
    top: -9px;
    z-index: 1051;
    text-decoration: none;
    color: #fff;
    font-size: 18px;

    span {
      position: absolute;
      top: 35px;
      padding: 10px;
      background: #2DA3EB;
      @include border-radius(3px);
    }
  }

  .install-bookmarklet-col {
    width: 410px;
    float: $from-direction;
    margin: 0 22px;

    h3 {
      color: #C0C0C0;
      font-size: ms(1);
      text-align: center;
      margin: 80px auto 20px auto;
      font-weight: normal;
      padding-#{opposite-position($from-direction)}: 76px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-top: 5px;
      list-style: none;
    }

    a, p {
      font-size: $small-font-size;
    }

    p {
      color: #616161;
    }
  }

  .install-bookmarklet-col + .install-bookmarklet-col {
    h2 {
      color: #C0C0C0;
      font-weight: normal;
      font-size: $large-font-size;
    }

    p {
      margin: ms(0) 0;
    }
  }
}

#modalBackdrop.modal-install-bookmarklet {
  background: url(../imgs/alpha.png) !important;
  z-index: zindexModal - 1 !important;
}