// ==============================================================
// The installation page

#modalContent.modal-install-bookmarklet {
  border: 1px solid #C0C0C0;
  top: 80px !important; 
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  z-index: $zindexModal; 
  position: fixed ;

  .ctools-modal-content {
    border: 1px solid $light-grey;
    width: 300px;
    .modal-content {
      width: 300px;
      overflow: visible;
    }
  }

  .modal-header {
    border-bottom: 0;

    .close {
      display: block;
      text-indent: -5000em;
      width: 19px;
      height: 19px;
      background: transparent url(../imgs/icons/modal-close.png) center center no-repeat;
      opacity: 1;
      z-index: $zindexModal + 10000;
    }

    .modal-title {
      display: none;
    }
  }

  #install-bookmarklet-button {
    background: transparent url(../imgs/icons/bookmarklet-drag.png) $from-direction center no-repeat;
    display: block;
    height: 84px;
    width: 250px;
    padding-#{$from-direction}: 66px;
    position: absolute;
    #{$from-direction}: 35px;
    top: -9px;
    z-index: 1051;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    overflow: visible;

    span {
      position: absolute;
      top: 35px;
      padding: 10px;
      background: #2DA3EB;
      @include border-radius(3px);
    }
  }

  .install-bookmarklet-col {
    width: 300px/2;
    float: $alpha;

    h3 {
      color: #C0C0C0;
      font-size: ms(1);
      text-align: center;
      margin: 80px auto 20px auto;
      font-weight: normal;
      padding-#{$omega}: 76px;
      float: $alpha;
      clear: both;
      width: 300px/3;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin-top: 5px;
      list-style: none;
    }

    a, p {
      font-size: $small-font-size;
    }

    p {
      color: #616161;
    }
  }

  .install-bookmarklet-col + .install-bookmarklet-col {

    float: $omega;
    width: 350px;
    h2 {
      color: #C0C0C0;
      font-weight: normal;
      font-size: $x-large-font-size;
    }

    p {
      margin: ms(0) 0;
    }
  }
}

#modalBackdrop.modal-install-bookmarklet {
  background: url(../imgs/alpha.png) !important;
  z-index: zindexModal - 1 !important;
}