// ==============================================================
// The installation page

$bookmarklet-modal-width: 700px;
$bookmarklet-modal-height: 350px;

#modalContent.modal-install-bookmarklet {
  z-index: $zindexModal; 
  position: fixed;

  .ctools-modal-content {
  //   border: 1px solid $light-grey;
  //   width: 300px;
    .modal-content {
  //     width: 300px;
      overflow: visible;
    }
  }


  .modal {
    width: $bookmarklet-modal-width;
    height: $bookmarklet-modal-height;
    .modal-body {
      overflow: visible;
    }
  }

  .modal-header {
    border-bottom: 0;
    .modal-title {
      display: none;
    }
  }

  #install-bookmarklet-button {
    background: transparent url(../imgs/icons/bookmarklet-drag.png) $from-direction center no-repeat;
    display: block;
    height: 84px;
    width: $bookmarklet-modal-width/3;
    padding-#{$from-direction}: 66px;
    position: absolute;
    #{$from-direction}: 15px;
    top: -52px;
    z-index: 1056;
    text-decoration: none;
    color: $white;
    font-size: 18px;
    overflow: visible;

    span {
      position: absolute;
      top: 35px;
      padding: 10px;
      font-size: 16px;
      background: $identity;
      @include border-radius(3px);
    }
  }

  .install-bookmarklet-col {
    float: $alpha;

    h3 {
      @include reset-box-model;
      margin: 20px auto 25px auto;
      padding-#{$from-direction}: 60px;
      text-align: center;
      
      font-size: $fontSizeSmall;
      font-weight: normal;
      color: $grayLight;
      
    }

    ul {
      @include reset-box-model;
      @include reset-list-style;
    }

    a, p {
      font-size: $small-font-size;
    }

    p {
      color: $gray;
    }
  }

  .install-bookmarklet-col + .install-bookmarklet-col {
    h2 {
      @include reset-box-model;
      font-weight: normal;
      font-size: $x-large-font-size;
      color: $gray;
      margin-top: -30px;
      width: 90%;
    }
    p {
      margin: ms(0) 0;
    }
  }


  #info-page-install-bookmarklet {
    $opposite-direction: opposite-position($from-direction);
    .install-bookmarklet-col:first-child {
      float: $from-direction;
      margin-#{$opposite-direction}: $gw;
      padding-#{$from-direction}: $gw*2;
      clear: both;
      
      width: 250px;
    }
    .install-bookmarklet-col:last-child {
      float: $opposite-direction;
      width: 350px;
    }
  }


}