// Core layout
// 
// $from-direction = "left" or "right" defaults to left. Set by susy.
// $sidebar_alpha = number of columns for the alpha sidebar
// $sidebar_omega = number of columns for the omega sidebar
// $content_width = number of columns for the main div (i.e.) main page content
//
// Compatibility: untested

// Page structure:
//
// #page 
//   header#navbar
//   #main
//     #content
//       #content-inner
//         #content-header
//         #content-area

// Questions:
//
// Where will the sidebar go? 
// media query breakpoints

// Media query breakpoints for Susy at-breakpoint
//
// Please see: http://susy.oddbird.net/guides/reference/#ref-responsive

@mixin layout_skeleton {

  // defaults at all breakpoints 
  #main {
    @include container($break-small, $break-medium);
    margin-top: 1em;
    @include susy-grid-background;
    background-color: yellow;
  }
  
  // breakpoint: small
  @include at-breakpoint($break-small) {
    #main {
      background-color: green;
    }
  }

  // breakpoint: medium
  @include at-breakpoint($break-medium) {
    #main {
      background-color: pink;
    }
  }
}

@mixin cd_layout {
	@include layout_skeleton;
}