// Checkdesk original styles

// extra selector context, to give it extra heft in the cascade
html body {
  .fyre-widget {
    padding: 1em;
    .img {
      width: 83px !important; // there is a bug with with:100%
    }
    // hide the comment count etc inside the widget
    .fyre-stream-stats {
      display: none;
    }
    // editor: input box
    .fyre-editor {
      margin-top: 0;
    }
  }

  .fyre-box-wrapper {
    display: none !important; // Temporary CGB
  }

  .livefyre-comments {
    display: none;
  }

  img.fyre-logo-drop {
    width: auto !important;
  }

  // NOTE: This appers on liveblog homepage *and potentially* others that may not be obvious.
  // Use the page-specific sass files for layout or other non-global styles. CGB
  .livefyre-wrapper {
    clear: both;
    display: block;
  }
}
