.fyre-stream-stats {
  display: none;
}

.fyre-widget {
  height: 40px;
  @include transition-property(height);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in);
  &:hover {
    height: auto;
  } 
}