// .fyre-stream-stats {
//   display: none;
// }

.fyre-widget {
  .img {
    width: auto!important; // there is a bug with with:100%
  }
}

div.livefyre-header {
  width: auto;
}
  
div.livefyre-header {
  padding: 1em;
  display: block;
  .livefyre-commentcount {
    @include icon('comment');
  }
}

.livefyre-wrapper {
  float: $from-direction;
  clear: both;
  @include span-columns(1,1);
}