@mixin vertical-margin($width) {
  margin: { top: $width; bottom: $width; } 
}

@mixin liveblog-layout($width, $context) {
  @include span-columns($width, $context, $gw);
  @content; // pass in padding if needed
  .views-row { 
    @include vertical-margin($base-font-size); 
    @include span-columns($width, $width, $gw);
    
    .livefyre-wrapper {
      @include span-columns($width, $width, $gw);
      @include vertical-margin($base-font-size);
    }
  }
}

// Liveblog homepage
// 
// Default liveblog layout overrides global default layout 
body.page-liveblog {
  #main {
    @include liveblog-layout($cw, $cw);
    .view-liveblog {
      background-color: white;
      border-top: 2px solid black;
      .views-row {
        border-bottom: 1px solid $grey;
        padding-bottom: 1em;

        .views-field-title {
          font-weight: 700;
          font-size: $large-font-size;
        }

        p {
          line-height: $base-line-height;
        }
      }  
    }
  }
}

// Small breakpoint 
@include at-breakpoint($break-small) {
  body.page-liveblog #main {
    @include liveblog-layout($break-small - 2, $break-small) {
    @include pad(1, 1, $break-small);
    }  
  }
}
// Medium breakpoint
@include at-breakpoint($break-medium) {
  body.page-liveblog #main {
    @include liveblog-layout($break-medium/2, $break-medium) {
      @include pad($break-medium/4, $break-medium/4, $break-medium);
    }
  }
}