// Liveblog homepage
//
body.page-liveblog {
  #main { 
    .view-liveblog {
      @include ctb-clearfix;
      @include ctb-load-more-pager;

      .desk {
        z-index: 1;
        position: relative;
        @include ctb-clearfix;
        margin-bottom: 0;
        margin-top: ms(1);
        overflow: visible;

        &:first-child { margin-top: 0; }

        h1 {
          color: rgba(0,0,0,.9);
          a { 
            display: block;
            border-bottom: 1px dotted rgba(255,255,255,.01);
            color: rgba(0,0,0,.9);
            &:hover {
              @include ctb-bg(#efefef, rgba(0,0,0,.05));
              border-bottom: 1px dotted rgba(0,0,0,.1);
              text-decoration: none;
            }
            &:active { background-color: lighten($link-color, 30); }
          }
        }
      }
    }
  }
}

// The .related-updates bib is centered in 28 out of 30 columns
.related-updates {
  margin: { top: $base-font-size; bottom: $base-font-size; }
  @include span-columns(28, 30, $gutter-width);
  margin-#{$from-direction}: columns(1, 30); 
}