@mixin vertical-margin($width) {
  margin: { top: $width; bottom: $width; }
}

@mixin liveblog-layout($width, $context) {
  @include span-columns($width, $context, $gutter-width);
  @content; // pass in padding if needed
  
  .post-row { 
    @include vertical-margin($base-font-size); 
    @include span-columns($width, $width);
  }

  // The .related-updates bib is centered in 28 out of 30 columns
  .related-updates {
    @include vertical-margin($base-font-size);
    @include span-columns(28, 30, $gutter-width);
    margin-#{$from-direction}: columns(1, 30); // default value is left, so this means margin-#{left}.
  }
}

// Liveblog homepage
//
// Default liveblog layout overrides global default layout
body.page-liveblog, body.node-type-newsroom {
  #main {
    // @include liveblog-layout($container-width, $container-width);
    // Live blog view
    .view-liveblog {
      @include ctb-clearfix;
      // padding-top: $base-font-size;
      .desk {
        // z-index: 1;
        position: relative;
        @include ctb-clearfix;
        // float: $from-direction;
        margin-bottom: 0;
        margin-top: ms(1);
        overflow: visible;
        // remove margin for first instance
        &:first-child {
          margin-top: 0;
        }

        h1 {
          color: $firefly90;
          a { 
            display: block;
            border-bottom: 1px dotted rgba(255,255,255,.01);
            color: $firefly90;
            &:hover {
              @include ctb-bg(#efefef, $firefly5);
              border-bottom: 1px dotted $firefly10;
              text-decoration: none;
            }
            &:active { background-color: lighten($link-color, 30); }
          }
        }
      }
      // add styles for load more pager
      @include ctb-load-more-pager;
    }
  }
}

// Small breakpoint
@include at-breakpoint($break-small) {
  body.page-liveblog #main {
    // @include liveblog-layout($break-small - 2, $break-small) {
    // @include pad(1, 1, $break-small);
    // }
  }
}
// Medium breakpoint
@include at-breakpoint($break-medium) {
  body.page-liveblog #main {
    // @include liveblog-layout($break-medium - 4, $break-medium) {
      // @include pad(2, 2, $break-medium);
    // }
  }
}
