// .fyre-stream-stats {
//   display: none;
// }

body {

  .fyre-widget {
    padding: 1em;
    .img {
      width: 83px!important; // there is a bug with with:100%
    }
  }

  .fyre-box-wrapper {
    display: none!important; // Temporary CGB
  }

  div.livefyre-header {
    width: auto;
  }
    
  div.livefyre-header {
    padding: 0.5em 1em;
    display: block;
    font-family: $sans-font-family;
    color: darken($grey, 15%); // trying to match spec exactly
    font-weight: 200;
    text-transform: capitalize; // HACK... also does this cause #i18n issue with ar?
    // .livefyre-commentcount {
    //   @include icon('comment');
    // }
  }

  // Appers on liveblog homepage and others 
  // Do not set columnar layout here. 
  .livefyre-wrapper {
    float: $from-direction;
    clear: both;
  }  
}
