// Checkdesk Login page
//
// .not-front.not-logged-in.page-user - main container selector on body
// 
// The log in page has a small form in the middle which also appears as an even smaller form in the navigation section. 

$default-form-width: $total-width - 2;
$default-label-width: 1;

@mixin login_form($mode: "page", $form-width: $default-form-width, $context: $total-width) {  

  font-family: "Open Sans", sans;
  ul { 
    @include reset-box-model;
    @include reset-list-style;
  }
  li { 
    @include reset-box-model;
    float: $from-direction; 
  }  

  form {
    @include clearfix;
    @include span-columns($form-width, $context);
    @include squish(1, 1, $context);
    margin-top: 20px;

    .form-item {
      @include span-columns($form-width, $form-width, $gutter-width);
      padding-top: $gutter-width;

      input {
        float: opposite-position($from-direction);
        @include span-columns(6 omega, $form-width, $gutter-width);
      }

      label {
        font-size: $large-font-size;
        float: $from-direction;
      }

      .description {
        clear: both;
        margin-top: 0;
        float: $from-direction;
        font-size: $small-font-size;
      }
    }

    // All item-lists after the name field (exclude the social media item-list) 
    // 
    // Forgot password
    // Create new account
    .form-item-name ~ .item-list {
      @include span-columns($form-width, $form-width, $gutter-width);
      ul, li {
        @include span-columns($form-width, $form-width);
      }
        
      li a { 
        @include span-columns(3 omega, $form-width);
      }       
    }

    .form-type-checkbox,
    .form-item-textfield, 
    .form-item-password {
      @include span-columns($form-width, $form-width, $gutter-width);
    }

    .form-actions {
      @include span-columns($form-width, $form-width, $gutter-width);
    }

    input.form-submit {
      // Bowerbird button mixin, Checkdesk style
      @include checkdesk-button($twitter-blue);

      // Deprecated: The twitter bootsrap button classes.
      // but we can still extend them as necessary — CGB Nov 2012
      // @extend .btn;
      // @extend .btn-large;
      // @extend .btn-primary;
    }

    // The social media sign-in boxes
    #edit-social-media-signin {

      @include span-columns($form-width, $form-width, $gutter-width);
  
      label { 
        @include span-columns(3, $form-width);
      }
      
      div.item-list {
        @include span-columns(($form-width - 4) omega, $form-width);  
      }      

      // equal heights for social media logos
      img {
        margin-top: $gutter-width;
        height: 20px;
        padding-#{opposite-position($from-direction)}: $gutter-width;
      }

      // @include at-breakpoint(6) {
      //   $label-width: 3;
      //   label { 
      //     @include span-columns($label-width, $form-width); 
      //   }
      //   div.item-list {
      //     @include span-columns(($form-width - $label-width) omega, $form-width);  
      //     clear: none;
      //   }  
      // }
      
      // @include at-breakpoint(12) {
      //   $label-width: 2;
      //   label { 
      //     @include span-columns($label-width, $form-width); 
      //   }
      //   div.item-list {
      //     @include span-columns(($form-width - $label-width) omega, $form-width);  
      //     clear: none;
      //   }  
      // }

    }
  }
}

// Emit main login form CSS
body.not-front.not-logged-in.page-user {

  #main {
    margin-top: 3em;
  }

  // @include debug_drupal;

  @include login_form("page", $default-form-width);
  // @include login_form("overlay", $default-form-width);
}