.media-holder {
	overflow: auto; // keeps it from collapsing
	color: $firefly40;
	a { @include ctb-linkColor($firefly40); }

	.media {
		margin: .25rem 0;
	}

	.media-content {
		margin-bottom: .25rem;
		color: $firefly40;
		a { @include ctb-linkColor($firefly40); }

		& > span {
			display: block;
			font-size: 14px;
			color: $firefly40;
			line-height: 1.4;
			margin-top: 2px;
		}

		.media-label {
			font-size: 14px;
			font-weight: 700;
			color: $firefly40;
			.draft {
				color: $undetermined;
			}
			.published {
				color: $verified;
			}
			.media-type {
				font-weight: 300;
			}
		}

		.title {
			font-size: 18px;
			a { @include ctb-linkColor($strongBlue80); }
			font-weight: 700;
		}

		.description {
			font-size: 16px;
			color: $firefly60;
			margin-top: 0;
			a { @include ctb-linkColor($strongBlue80); }
			p { 
				margin-bottom: $absolute-line-height/3;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.show-more { padding-#{$from-direction}: $gutter-width/2; }
		}

		.provider-icon, .favicon {
			img {
				max-width: 16px;
				vertical-align: text-top;
			}
		}

	} // media-content

	.media-status {
		// add styles for media status
		@include media-status-styles;
		display: block;
		margin-top: 30px;
	}

	// for videos and rich embeds
	.video-holder, .re-holder {
		position: relative;
	  display: block;
	  height: 0;
	  padding: 0;
	  overflow: hidden;
	  
	  .oembed-video,
	  iframe,
	  embed,
	  object {
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    height: 100%;
	    width: 100%;
	    border: 0;
	  }
	  // Modifier class for 16:9 aspect ratio
	  &.media-16by9 {
	    padding-bottom: 56.25%;
	  }

	  // Modifier class for 4:3 aspect ratio
	  &.media-4by3 {
	    padding-bottom: 75%;
	  }

	  // Modifier class for 1:1 aspect ratio
	  &.media-1by1 {
	    padding-bottom: 100%;
	  }
	}

	@include clear-icon-margins;

} // media-holder

// Icons for media content title
.media--video .title a {
	@include icon(video-camera, 16px, $firefly40);
	&:before, &:after { 
    margin: 0 0 0 0;
    margin-#{$omega}: 7.5px;
  }
}

.video--facebook {
	iframe {
		max-width: 100% !important;
		max-height: 420px !important;
	}
}


.media .inline-img-thumb-holder, .media .inline-video-thumb-holder {
	float: opposite-position($from-direction);
	padding-#{$from-direction}: 12px;
	padding-bottom: 12px;
	display: block;
  margin-#{$from-direction}: auto;
  margin-#{opposite-position($from-direction)}: auto;
  position: relative;
	width: 140px;
	height: 88px;
	text-align: center;
}

.media .inline-img-thumb, .media .inline-video-thumb {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  @include border-radius(4px);
  background-color: $firefly20;
  width: 140px;
  height: 88px;
}

/* Hack to make the loader gif not resize as media thumbnails */
.media .inline-img-thumb-holder img[src*="loader_white.gif"] {
	width: auto !important;
	min-height: 0 !important;
	position: absolute;
  top: 0;
  bottom: 0;
  #{opposite-position($from-direction)}: 0;
  #{$from-direction}: 0;
  margin: auto;
  border: 0 none !important;
}


.item-type-story .media .inline-img-thumb-holder {
	position: relative;
	overflow: hidden;
	z-index: 1;
	// backrgound frame first
	&:after {
		position: absolute;
		content: "";
		z-index: -1;
		top: 7px;
		#{$from-direction}: 6px;
		bottom: 0;
		background: $firefly5;
		border: 1px solid $firefly10;
		width: 90%;
		height: 85%;
		@include border-radius(4px);
	}
	// backrgound frame second
	&:before {
		position: absolute;
		content: "";
		z-index: -1;
		top: 13px;
		#{$from-direction}: 0;
		bottom: 0;
		background: $firefly5;
		border: 1px solid $firefly10;
		width: 90%;
		height: 85%;
		@include border-radius(4px);
	}
}

.inline-attachment {
	
	margin-bottom: 10px;

	.inline-attachment-bar {
		display: table-cell;
		width: 4px;
		@include border-radius(2px);
		background-color: $firefly10;
		.indent {
			width: 4px;
		}
	}

	.media-inline-holder {
		display: table-cell;
		padding: 0;
		padding-#{$from-direction}: 15px;
		width: 100%;
	}

} // inline-attachment