.media-holder {
	
	.media-content {
		
	}

	.media {
		margin: .25rem 0;
	}

	.media-details {
		& > span {
			display: block;
			font-size: 14px;
			color: $firefly40;
			line-height: 1.4;
		}

		.title {
			font-size: 18px;
			color: $activityBlue80;
			font-weight: 700;
			margin-bottom: 5px;
		}
	} // media-details

	.media-status {
		display: block;
		margin-top: 30px;

		.verified {
			color: $verifiedGreen;
		}
	}
} // media-holder


.inline-attachment {

	margin: 20px 0 15px 0;

	.inline-attachment-bar {
		display: table-cell;
		width: 4px;
		@include border-radius(2px);
		background-color: $firefly10;
		.indent {
			width: 4px;
		}
	}

	.inline-img-thumb-holder, .inline-video-thumb-holder {
		float: opposite-position($from-direction);
	}

	.inline-img-thumb, .inline-video-thumb {
		width: 100%;
		@include ctb-size(74px, 120px);
		@include border-radius(4px);
		margin-top: 4px;
		margin-#{$from-direction}: $gutter-width/2;
	}

	.media-inline-holder {
		display: table-cell;
		padding: 0;
		padding-#{$from-direction}: 15px;
		width: 100%;
	}

} // inline-attachment