
// Building block
// Layout helper
// 
// Useful for standardizing link or navigation item. 
// There should be no margin or width specified on this.
// Typography, resets, transitions, floated, block level, padded
// with base font size and colors defined in colors.scss
//

// Layout Helper: Ensure padding is accounted for.
//
// Deprecated
//
// This is only necessary if you have not ste 
@mixin span-padded-columns(
  $width: $container-width, 
  $context: $container-width, 
  $from-pad: 0, 
  $to-pad: 0) {

  $total-pad: $from-pad + $to-pad;
  $adjusted-width: $width - $total-pad; // will prune the 'omega' shorthand ...

  // Apply the adjusted width ...
  @include span-columns($adjusted-width, $context);

  // And add the padding
  @include pad($from-pad, $to-pad, $context);

  // optionally call with omega
  @content;
}

// text-shadow
// see http://compass-style.org/reference/compass/css3/text-shadow/

@mixin cd-dark-text-shadow($opacity: 0.5) { // use $white for dark backgrounds
  @include text-shadow(rgba(black, 0.8) 0 1px 0);
}

@mixin cd-light-text-shadow($opacity: 0.5) { // use $white for dark backgrounds
  @include text-shadow(rgba(white, 0.8) 0 1px 0);
}

// Dropshadow
@mixin cd-box-shadow() {
  @include box-shadow(0px 1px 6px rgba($black, 0.2));
}

// Main canvas background image
@mixin cd-background {
  background-color: $bkg-color; 
}

// Version banner 
// 
// For Dev and Testing sites, so we know what version we are looking at.
@mixin version-banner {
  html body:before {
    position: fixed;
    content: "v0.1 Alpha Alpaca"; // Later, can enhance this with timestamp etc
    background-color: rgba(yellow, 0.5);
    padding: 3px;
    border: {top: 1px solid yellow; bottom: 1px solid yellow; }
    bottom: 0;
    #{opposite-position($from-direction)}: 0;
    font-size: $smaller-font-size;
  }
}
