// Checkdesk Core Mixins
// --------------------------------------------------


// Responsive Mixin
// This is a simple mixin for media queries as described
// in Sass for Web Designers by Dan Cederholm
// see _variables.scss for variables defining the breakpoints

@mixin cd-responsive($query) {
  @if $query == wide-screens {
    @media only screen and (max-width: $width-wide) { @content; }
  }
  @else if $query == desktop-screens {
    @media only screen and (max-width: $width-desktop) { @content; }
  }
  @else if $query == tablet-screens {
    @media only screen and (max-width: $width-tablet) { @content; }
  }
  @else if $query == mobile-screens {
    @media only screen and (max-width: $width-mobile) { @content; }
  }
  @else {
    @media only screen and ($query) { @content; }
  }
}
 
@mixin cd-dark-text-shadow($opacity: 0.5) { // use #fff for dark backgrounds
  @include text-shadow(rgba(black, 0.8) 0 1px 0);
}

@mixin cd-light-text-shadow($opacity: 0.5) { // use #fff for dark backgrounds
  @include text-shadow(rgba(white, 0.8) 0 1px 0);
}

// Dropshadow
@mixin cd-box-shadow() {
  @include box-shadow(0px 1px 6px rgba(#000, 0.2));
}

// Main canvas background image
@mixin cd-background {
  background-color: $bkg-color; 
}

@mixin cd-arrow-box($background-color: #eee, $border-color: #444, $arrow-size: 10px, $border-width: 1px) {
  position: relative;
  background: $background-color;
  border: $border-width solid $border-color;

  &:after, &:before {
    #{$omega}: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba($background-color, 0);
    border-#{$omega}-color: $background-color;
    border-width: $arrow-size;
    top: 50%;
    margin-top: -$arrow-size;
  }
  &:before {
    border-color: rgba($border-color, 0);
    border-#{$omega}-color: $border-color;
    border-width: ($arrow-size + $border-width);
    top: 50%;
    margin-top: -($arrow-size + $border-width);
  }
}

// Version banner 
// 
// For Dev and Testing sites, so we know what version we are looking at.
@mixin version-banner {
  html body:before {
    position: fixed;
    content: "v0.2 Beta Bandicoot"; // Later, can enhance this with timestamp etc
    background-color: rgba(yellow, 0.5);
    padding: 3px;
    border: {top: 1px solid yellow; bottom: 1px solid yellow; }
    bottom: 0;
    #{$omega}: 0;
    font-size: $smaller-font-size;
  }
}


// Set Family Typefaces
// -------------------------
@mixin cd-sans-serif-family {
  @if $from-direction == 'left' {
    font-family: $sans-serif-font-stack;
  } @else {
    font-family: $ar-sans-serif-font-stack;
  }
}

@mixin cd-serif-family {
  @if $from-direction == 'left' {
    font-family: $serif-font-stack;
  } @else {
    font-family: $ar-serif-font-stack;
  }
}

// Responsive Media 
// -------------------------
@mixin responside-media-styles {
  // for videos and rich embeds
  .video-holder, .re-holder {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    
    .oembed-video,
    iframe,
    embed,
    object {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      border: 0;
    }
    // Modifier class for 16:9 aspect ratio
    &.media-16by9 {
      padding-bottom: 56.25%;
    }

    // Modifier class for 4:3 aspect ratio
    &.media-4by3 {
      padding-bottom: 75%;
    }

    // Modifier class for 1:1 aspect ratio
    &.media-1by1 {
      padding-bottom: 100%;
    }
  }
}

// Media Status
// -------------------------
@mixin media-status-styles {
  .status-name {
    font-weight: 700;
  }

  .verified {
    color: $verified;
  }

  .undetermined {
    color: $undetermined;
  }

  .false {
    color: $false;
  }

  // .in-progress {
    
  // }
} // media-status

@mixin clear-icon-margins {
  // remove the margins around the icon
  span[class^="icon-"], span[class*="icon-"] {
    &:before, &:after { 
      margin: 0; // no margins
      font-size: 16px; 
    } 
  }
}

// Avatar styles
@mixin cd-avatar($style: 'pulled-out', $top: 0, $indent: 0) {
  @if $style == 'pulled-out' {
    position: absolute;
    float: $from-direction;
    top: $top; 
    #{$alpha}: $indent;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  @include border-radius(4px);
  background-color: #fff;
}

// Thumbnail Sizes
@mixin cd-thumbnail-sizes($size) {
  &.thumb-#{$size} {
    width: unquote($size + 'px');
    height: unquote($size + 'px');
  }
}

// Makes the scrollbar thin
// used in search filters
@mixin cd-simple-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
   
  /* Track */
  &::-webkit-scrollbar-track {
    @include border-radius(2px);
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    @include border-radius(2px);
    background: $firefly20;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $firefly20;
  }
}

// load more pager
@mixin ctb-load-more-pager {
  .pager-load-more {
    @include ctb-clearfix;
    @include reset-list-style;
    padding-top: 8px;
    padding-bottom: 8px;
    float: none;
    clear: both;
    position: relative;
    text-align: center;
    a {
      display: inline-block;
      width: 70%;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 12px;
      @if $from-direction == 'left' {
        letter-spacing: 0.05em;
      }
      font-size: $small-font-size;
      font-weight: 700;
      color: $firefly40;
      background-color: rgba(255,255,255,.8);
      &:hover {
        color: #fff;
        background-color: $brand-primary;
        border: 1px solid $brand-primary;
      }
      @include ctb-border-radius(4px);
    }
    .ajax-progress-throbber {
      position: absolute;
      top: 4px;
      #{$omega}: $gutter-width;
      .throbber {
        background: url("../imgs/icons/loader_white.gif");
      }
    }
  }
}
