// form in modal
.modal-dialog, .modal-forms-modal-content {
  text-align: center;
}

.modal-dialog-signin .modal-dialog-title {
  color: $firefly;
  font-size: 32px;
  @if $from-direction == 'left' {
    letter-spacing: -1.1px;    
  }

  // For mobile screens
  @media screen and (max-width: 767px) {
    & {
      font-size: 26px;
      @if $from-direction == 'left' {
        letter-spacing: -1.2px;
      }
      margin-bottom: 6px;
    }
  }

}

.modal-dialog-signin .modal-dialog-description {
  margin: 12px 0 30px 0;
  color: $firefly30;
  font-size: 20px;
  line-height: 1.4;
  @if $from-direction == 'left' {
    @include cd-serif-family;
    letter-spacing: -0.8px;    
  }

  // For mobile screens
  @media screen and (max-width: 767px) {
    & {
      font-size: 18px;
      line-height: 1.4;
      @if $from-direction == 'left' {
        letter-spacing: -0.4px;
      }
    }
  }
}

// Add icon for sign in with email form
.modal-dialog-signin-email {
  @include icon(sign-in, 80px);
  text-align: center;
  form .form-item { text-align: $alpha; }
}

.modal-dialog-signin .modal-dialog-actions {
  margin-top: 35px;
  // For mobile screens
  @media screen and (max-width: 767px) {
    & {
      margin-top: 20px;
    }
  }    
  a {
    @include checkdesk-button();
    display: block;
    margin: 0 auto 10px;
    width: 260px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: $alpha;
    height: 48px;
    line-height: 47px;
    @if $from-direction == 'right' {
      font-size: 16.5px;
    }

    // add icons and colors
    &.twitter-action-signin {
      @include icon(twitter);
      @include button-colors($twitter-blue, darken($twitter-blue, 10));
    }
    
    &.facebook-action-connect {
      @include icon(facebook);
      @include button-colors($facebook-blue, darken($facebook-blue, 10));
      &:before, &:after {
        margin-#{$omega}: 26px !important;  // bigger margin for thin icon
      }
    }

    &.email-signin {
      @include icon(envelope);
      @include button-colors($medium-grey, darken($medium-grey, 10));
    }

    &.email-signup {
      @include icon(envelope-o);
      color: $medium-grey;
      border: 1px solid $medium-grey;
      background-color: transparent;
      &:hover {
        color: $dodgerBlue;
        border: 1px solid $dodgerBlue;
        background-color: #fff;
      }
    }

    // for all icons
    &:before, &:after { 
      font-size: 24px !important;
      margin: 0 0 0 0 !important;
      margin-#{$omega}: 15px !important;
    }

    @media screen and (max-width: 767px) {
      & {
        height: 42px;
        line-height: 41px;
        &:before, &:after {
          font-size: 20px; 
          margin-#{$omega}: 10px;
        }
      }
    }

  }
}

.modal-dialog-signin .or {
  margin-bottom: 10px;
  font-size: 18px;
  color: $firefly30;
}

// when no js hide title
.page-checkdesk-nojs-sign-in-up h1.title {
  display: none;
}

// form inside modal
.modal-forms-modal-content form {
  max-width: 390px;
  margin: 0 auto;
  label {
    text-align: $alpha;
  }
  // hide extra field
  .email-textfield {
    display: none;
  }
}