@charset "UTF-8";


// =======================================================================
// Drupal toolbars at the very top
//
div.region-page-top {
  #toolbar {
    display: none;
    position: fixed;
    z-index: $zindexFixedNavbar;
    // This can be cleaned up with toolbar css is removed.
    @include box-shadow(0 0 0 0); // disable box shadow
    padding: 0;
    margin: 0;
    overflow: hidden; // removes scroll?
    background: $nav-container-bkg-color;
    li {
      @include reset-box-model;
      a { 
        color: $nav-color; 
        padding: $gutter-width;
      } 
    }

    div.toolbar-menu {
      // height: $toolbarMenuHeight;
      // padding: 0;
      // background-color: $nav-container-bkg-color;
    }
  }
}

// make navbar fixed at the top
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindexFixedNavbar;
}

// when toolbar is present
.toolbar .navbar-fixed-top {
  top: $toolbarHeight;
}

body.toolbar-drawer {
  #main #widgets.column { top: ($toolbarHeight + $navbarHeight) !important; }
  #main {
    #content {
      margin-top: ($toolbarHeight + $navbarHeight) !important;
    }
  }
}




header nav {
  background-color: $firefly;
  width: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
}

#main {
  margin-#{$alpha}: 60px;
}

// temporary hide
header nav ul li a span {
  display: none;
}