// 1. Drupal Navigation at the very top.
// 2. Checkdesk #main-menu navigation

// Nav icons
// This will have to be refined with improved markup. href-based selector is fragile. - CGB
@mixin nav-icons($size: $xsmall-font-size) {
  // home
  li.menu-477 .icon-home { @include icon("home", $size) { @include reset-box-model; } }
  // add a story 
  li a[href*="discussion"] { @include icon("file", $size); }
  // add a post
  li a[href*="post"] { @include icon("pencil", $size); }
  // add a report
  li.menu-472 a { @include icon("bookmark", $size); }
  // info menu
  li a[href*="sub"] { @include icon("info-sign", $size); }
}

// Home link
// Special shine
li.menu-477 {
  @include gradient(rgba(white, 0.2), rgba(white, 0.1));
  a {
    color: rgba(white, 0.2);
  }
}

// Nav item container
// This makes any element behave properly with 1 or more <.nav-item> children
// It is used on both the outer parent and some children.
// This helps standardize the implementation of the contained nav-items
// This is necessary because some nav-items are h2s, a, or divs.
@mixin nav-item-container() {
  @include reset-box-model;
  line-height: $base-line-height;
  float: $from-direction;
  display: inline-block;
  clear: none;
  position: relative;
  z-index: 1;
  background: $nav-container-bkg-color;
}

// Nav item
// Could be a dropdown, header, anchor or div, and can contain an img.
@mixin nav-item { 
  @include building-block;

  img { // images in nav items
    @include reset-box-model;
    width: $base-font-size;
    height: $base-font-size;
  }
}

// Checkdesk main navigation 
//

// Outer nav wrapper 
#navbar {
  background: $nav-container-bkg-color;
}

// This nav contains two rows of nav-items with icons.
nav[role="navigation"] {
  @include clearfix;

  // Apply nav icons
  // Warning: The line height must remain more than the icons' generated height.
  @include nav-icons(15px);

  // set the distance from the bottom of the button top of the dropdown
  .dropdown-menu, 
  #block-views-my-notifications-block .content {
    top: $nav-line-height*2 + 10;
  }

  .nav {
    margin: 0 auto;
    @include nav-item-container; // A container for some nav items
    & > div  {
      @include nav-item-container;
      h2 {
        @include nav-item;
      }
    }
    & > a.btn, // the user menu 
    & > li { // the rest of the li's
      @include nav-item; // floated, with bkg color, and padding
    }
  }

  #navigation-region,
  #info-menu,
  #user-menu {
    float: $omega-float; // at a larger breakpoint these fall in line
    img {
      width: $nav-icon-height;
      height: $nav-icon-height;
    }

    .dropdown-menu {
      #{opposite-position($from-direction)}: 0;
      #{$from-direction}: auto;
    }
  }

  // The installation page link
  // ==============================================================
  #info-menu {
    li {
      a.dropdown-toggle {
        margin-#{opposite-position($from-direction)}: 10px;
      }
    }
    li.open {
      a.dropdown-toggle {
        text-shadow: none;
      }
    }
  }

  // Notifications 
  // has a different structure than the other <ul>'s...
  #navigation-region {
    #block-views-my-notifications-block {
      h2 {
        @include nav-item-container;
        .notifications-label {
          @include nav-item;  
          @include caret; // ideally this should be on a separate .caret span
          padding-#{$from-direction}: $gw; // this should not be necessary
          cursor: pointer;
        }
        .notifications-count {
          display: inline;
          color: $notification-count-color;
          span {
            padding: 1px 5px;
            background: #296182;
            @include border-radius(5px);
          }
        }
      }
    }
  }
}

// =======================================================================
// Drupal toolbars at the very top
//

body.toolbar-drawer {
  padding-top: 0!important;
}

div.region-page-top {
  // Disable Drupal toolbar padding

  width: 100%;

  #toolbar {
    @include box-shadow(0 0 0 0); // disable box shadow
    padding: 0;
    margin: 0;
    @include clearfix;
    position: static;
  }

  div.toolbar-drawer {
  }

  // Disable duplicate link from Drupal
  div.toolbar-menu {
    // width: 98%;
    padding: 0;
    #toolbar-home, #toolbar-user {
      display: none;
    }  
  }
}

// Two row navigation style
// Applied in two breakpoints
@mixin one-row-nav {
  nav[role="navigation"] {
    #navigation-region,
    #info-menu,
    #user-menu {
      float: $from-direction; // flipped
    }
  }
}

// Only the largest size is currenly large enough for these to align on one row
@include at-breakpoint($break-large) {
  @include one-row-nav;
}