// Notifications block
//
// When the user gets a notification they can preview it in the navigation.
// http://wf.meedan.net/project/checkdesk/notifications
// Contained by: Navigation
//
// Compatibility: untested
#block-views-my-notifications-block {
  position: relative;
  @include clearfix;
  overflow: visible;
  float: opposite-position($from-direction);
  margin-#{opposite-position($from-direction)}: 5px;
  margin-#{$from-direction}: 5px;

  h2 {
    margin: 0;
    padding: 0 3px;
    color: #999;
    font-size: 1em;
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    z-index: 2;
    line-height: 30px;

    .notifications-count {
      display: inline;
      color: #999;
      span {
        padding: 1px 5px;
        background: #296182;
	      @include border-radius(5px);
      }
    }
  }
  h2:hover {
    color: #fff;
    .notifications-count {
      color: #fff;
      span {
        background: #2DA3EB;
      }
    }
  }
}

// Heartbeat
//
// W/ icon on the background of an element.
.heartbeat-activity {
  color: $dark-grey;
  border-bottom: 1px solid $light-grey;
  padding: { top: 1em; bottom: 1em; } 
  @include span-columns($cw, $cw, $gw);
  font-size: $base-font-size;
  a, a:visited, a:link {
    text-decoration: none;
    font-weight: bold;
    color: #6a6a6a;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    @include reset-box-model;
    width: 75%;
    float: $from-direction;
  }

  img {
    @include reset-box-model;
    width: $notification-icon-size;
    @include inline-block;
    float: $from-direction;
    width: $gw + 5px;
    margin-right: $gw;
    margin-top: 3px;
    background: $light-grey;
  }
  
  &:hover {
    #{$i-s}:before {
      @include opacity(1);
    }    
  }

  #{$i-s} {
    @include reset-box-model;
    display: block;
    float: $from-direction;
    clear: both;
    width: 100% - $notification-image-width;
    line-height: $base-font-size;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: $from-direction bottom;
    font-weight: normal;
    color: $grey;
  }
}

// Activity icons
@mixin activity-icon(
  $name: "add_story", 
  $symbol: "warning-sign", 
  $color: $grey, 
  $size: $notification-icon-size) 
  {
  .checkdesk_#{$name} #{$i-s} {
    @include icon($symbol, $size, $color) {
      // apply the width directly to the :before content
      width: $notification-image-width;
    }
  }
}

// .icon-iconname
@include activity-icon("comment_on_update", "comment", $grey);
@include activity-icon("new_update_on_story_i_commented_on_update", "comment", $dark-blue);
@include activity-icon("reply_to_comment", "comment-alt", $dark-blue);
@include activity-icon("comment_on_report", "comment", $dark-blue);
@include activity-icon("fact_checking_on", "wrench", $grey);
@include activity-icon("fact_checking_set", "star", $twitter-blue);
@include activity-icon("report_suggested_to_story", "link", $facebook-blue);
@include activity-icon("fact_status_changed_for_commenter", "warning-sign", $black);
@include activity-icon("flag_report", "flag", $youtube-red);
@include activity-icon("report_published_in_update", "star", $grey);

// Expanded block
#block-views-my-notifications-block.notifications-block-expanded {
  h2 {
    color: $nav-color;
    z-index: 6;
    font-size: $base-font-size;
	  @include border-radius(5px 5px 0 0);
    background-color: white;
  }

  .content {
    @include box-shadow(1px 10px 10px #333);
	  @include border-radius(5px);
    @if $from-direction == left {
      @include border-top-right-radius(0);
    } @else {
      @include border-top-left-radius(0);
    } 
  }

// WIP
// Chunkier notifications style for smaller breakpoints
//
//   .content {
//     @include reset-box-model;
//     @include span-columns($cw, $cw/2, $gw);
//     border: 1px solid $grey;
//     position: absolute;
//     #{$from-direction}: $gw;
//     top: 0;
//     background: $light-grey;
//     z-index: 3;
//     .view-content {
//       height: 300px;
//       overflow: auto;
//       background: white;
//     }
//     .item-list {
//       display: none;
//     }
//     .notifications-settings-link, .more-link {
//       @include chunky_block;
//       padding: { top: 0.5em; bottom: 0.5em;} 
//       a, a:visited, a:link {
//         font-size: $small-font-size;        
//         text-decoration: none;
//         color: white;
//       }
//       a:hover {
//         color: $light-grey;
//       }
//     }
//     .notifications-settings-link {
//       float: $from-direction;
//     }
//     .more-link {
//       float: opposite-position($from-direction);
//     }
//     .notifications-footer {
//       clear: both;
//     }
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: #fefefe;
}
::-webkit-scrollbar-thumb {
  background: #eee;
}
