@charset "UTF-8";

ul.pager { 
 margin-top: 1em;
 float: $from-direction;
 clear: both;
}  

// From drupal pager
.pager {
  @include reset-box-model;
  @include reset-list-style;
  @include ctb-clearfix;
  margin: $absolute-line-height 0;
  font-size: $small-font-size;

  li {
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    & > a, 
    & > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: $white;
      border: 1px solid $lightest-grey;
      @include ctb-border-radius(15px);
    }
    & > a:hover {
      color: $gray;
      text-decoration: none;
      background-color: darken($light-grey, 1%);
    }
  }

  .next > a,
  .pager .next > span {
    float: right;
  }

  .previous > a,
  .previous > span {
    float: left;
  }
  .disabled > a,
  .disabled > a:hover,
  .disabled > span {
    color: $light-grey;
    background-color: $white;
    cursor: default;
  }
}