
ul.pager { 
 margin-top: 1em;
 float: $from-direction;
 clear: both;

 a:hover {
  background-color: $twitter-blue;
  color: white;
 }

  // TBD this is breaking something in the js — CGB

//   @include border-radius(3px);
  
//   li:last-child {
//     border-#{$from-direction}-width: 0;
//   }
//   li {
//     font-family: $sans-font-family;
//     font-size: $large-font-size;
//     border-#{$from-direction}: 1px solid $grey;
//     a { 
//       @include building-block($black);
//       padding: $base-font-size; 
//       color: $identity;
//     }
//     &.pager-current {
//       @include building-block($identity);
//       color: black;
//       padding: $base-font-size; // hack ... the markup is uneven
//     }
//   }
}  
