// Partner header

#partner-header {
  text-align: center;
}

#partner-header-inner {
  img {
    // max-height: 140px;
  }

  #partner-header-slogan {
    border-top: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.6);
    margin-top: $absolute-line-height;
    padding: $absolute-line-height/1.5 $gutter-width*2 0 $gutter-width*2;

    a {
      color: rgba(0,0,0,.6);
      &:hover { 
        text-decoration: none;
        color: rgba(0,0,0,.8); 
      }
    }

  }

  .checkdesk-slogan-logo {
    display: inline-block;
    width: 86px;
    height: 22px;
    text-indent: -5000em;
    background: transparent url(../imgs/checkdesk-logo.png) center bottom no-repeat;
  }
}