// Partner header

#partner-header {
  // padding-top: $navbarHeight;
  // width: 100%;
  text-align: center;
}

.toolbar #partner-header {
  // margin-top: $toolbarHeight + $navbarHeight;
  // padding-top: 0;
}

#partner-header-inner {
  // @include ctb-box-shadow(0px 1px 3px 1px rgba(0, 0, 0, 0.2));
  // background-color: $white;
  // padding: ms(0) 0;

  #partner-header-slogan,
  img {
    // padding: 0 ms(0);
  }

  #partner-header-slogan {
    // width: ms(12);
    // color: $bright-green;
    // font-size: $base-font-size * 1.5;
    // text-align: $from-direction;
    border-top: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.6);
    margin-top: $absolute-line-height;
    padding: $absolute-line-height/1.5 $gutter-width*2 0 $gutter-width*2;

    a {
      color: rgba(0,0,0,.6);
      &:hover { 
        text-decoration: none;
        color: rgba(0,0,0,.8); 
      }
    }

  }

  .checkdesk-slogan-logo {
    display: inline-block;
    width: 86px;
    height: 22px;
    text-indent: -5000em;
    background: transparent url(../imgs/checkdesk-logo.png) center bottom no-repeat;
  }
}
