// Partner header

#partner-header {
  padding-top: $navbarHeight;
  width: 100%;
}

.toolbar #partner-header {
  margin-top: $toolbarHeight + $navbarHeight;
  padding-top: 0;
}

#partner-header-inner {
  @include ctb-box-shadow(0px 1px 3px 1px rgba(0, 0, 0, 0.2));
  background-color: $white;
  padding: ms(0) 0;

  #partner-header-slogan,
  img {
    padding: 0 ms(0);
  }

  #partner-header-slogan {
    width: ms(12);
    color: $bright-green;
    font-size: $base-font-size * 1.5;
    text-align: $from-direction;
  }
}
