// Reports page 
//
// We use the views fluid grid plugin
li.views-fluid-grid-item  {
	width: $rw;
	article.report {
		width: auto;
	}
}

// Report 
//
// When a link is received we convert it into an embedded media "report"
//
// Compatibility: untested

// Checkdesk report
.report {
	@include span-columns($rw, $rw, $gw);
	border: 1px solid $grey;
	background-color: lighten($grayLighter, 5%);
	margin: {top: $gw; bottom: $gw; }
	padding: {top: $gw; bottom: $gw; }
	& > header {
		@include clearfix;
		// background: top $from-direction repeat url("/sites/all/themes/bowerbird/images/bkgs/arches.png");
		color: $gray;
		@include span-columns($rw, $rw);

		h3 {
			font-size: $small-font-size;
			line-height: $base-line-height;
			overflow: hidden;
			background-color: white;
			padding: $base-font-size;
			margin: 0;
			display: block;
			.source-url {
				font-weight: normal;
				font-size: $small-font-size;
				line-height: $base-line-height;
				overflow: hidden;
				padding-#{opposite-position($from-direction)}: $gw;
			}
		}

		.report-actions {
			@include reset-box-model;
			@include reset-list-style;
			font-size: $base-font-size;

			& > li {
				display: block;
				float: $from-direction;
				& > a {
					@include reset-box-model;
					display: block;
					padding: 1em $gw;
					
					@include transition-property(color);
			    @include transition-duration(0.2s);
				  &:hover { 
			    	color: black;
			    	text-decoration: none;
			    }

					span {
						float: $from-direction;
						@include reset-box-model;
						&.icon-edit {
							@include icon(edit, fontawesome, 16px, $darker-grey, transparent);
						}

						// Flag and share on the top of the report
						&.icon-flag {
							@include icon(flag, 16px, $darker-grey);
						}
						&.icon-share {
							@include icon(share, 16px, $darker-grey);
						}
						&.icon-edit {
							@include icon(edit, 16px, $darker-grey);
						}
					}
				}
				// hide ajax throbber in dropdown
		    .ajax-progress-throbber {
		    	display: none;
		  	}
			}
		}
	}

	// Hmmm...	
	// .node-media.node-promoted {
	// 	@include icon("star");
	// }

	// Need more icons!
	// h3 a[href*="flickr.com"] {
	// 	@include icon('flickr');
	// }

	// Twitter reports icon in header
	h3 a[href*="twitter.com"]:first-of-type { 
		@include icon('twitter');
		&:before {
			display: inline-block;
			@include transform(rotate(-19deg));
		}
	}

	// Twitter profile images
	a[href*="twitter.com"]	{
		img {
			width: 50px; // profile of user
		}
	}

	div.sensitive-notification {
	  background: rgba($grey, 0.8);
	  text-align: center;
	  color: $dark-grey;
	  min-height: 250px;
	  margin: 0;
	  display: block;
	  .sensitive-notification-text {
		  padding-top: 30px;
		  width: 100%;
		  float: $from-direction;
	  }
	}

	div.sensitive-hide {
	  display: hidden;
	}

	.report-content {
		color: $gray;
		background-color: darken($grayLighter, 5%);
		@include span-columns($rw, $rw);
		.report-media {
			text-align: center;
			padding: 1em;
			// What is this for? 
			/* The ghost, nudged to maintain perfect centering */
			.report-media:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */

			}

			.container {
				display: inline-block;
  				vertical-align: middle;
  				text-align: $from-direction;
  				.title,
  				.content, 
  				.favicon, 
  				.domain {
  					margin: 0 $gw;	
  				}
				.oembed-title {
					display: none;
				}
				.title {
					padding: $baseLineHeight 0;
				}
				.content {
					padding: $baseLineHeight 0;
				}
				.favicon {
					float: $from-direction;
					padding: 0 $gw/2;
				}
				.domain {
					margin-bottom: $baseLineHeight;
				}
				img,
				embed,
				object,
				video,
				iframe {
					max-width: 100%;
				}
			}
		}

		& > p {
			@include ctb-clearfix;
			padding: $baseLineHeight/2.8 $gridGutterWidth/2 $baseLineHeight/2 $gridGutterWidth/2;
			border-bottom: 1px solid $white;
			@include ctb-font-shorthand(12px, normal);
		}

		.gravatar {
			img {
				vertical-align: text-bottom;
				@include ctb-square(20px);
				margin-right: $gridGutterWidth/3;
			}	
		}

		.description {
			@include ctb-font-shorthand(14px, normal);
			padding: 0 $gridGutterWidth/2 0 40px;
			background-repeat: no-repeat;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAATBAMAAABvvEDBAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTAvMTMvMTIKtzHNAAAAb0lEQVQIma2MwQ2CUBBE3+cgkViBFyzFDrQDKkBKgA6gEznSxW+BaAEeOCBexoEamGQnb7OzAyQDVul5fG1nwUGmEE2FZsgkwkcN1Hpz1I91vZLrBakWqNTBSRM8dceHEaIucFMPfl8jG7m5te9DfyQZZNhMbKspAAAAAElFTkSuQmCC);
			background-position: 10px 0;
		}

	}

	.report-activity {

		& > header {
			@include ctb-clearfix();
			padding: $baseLineHeight/2.8 $gridGutterWidth/2;
			text-shadow: 0 1px 0 rgba(255,255,255,.3);
			cursor: pointer;
			h3 {
				float: $from-direction;
				@include reset-box-model();
				font-size: $small-font-size;
				width: 50%;
			}
			.report-status {
				width: 200px;
				float: opposite-position($from-direction);
				text-align: opposite-position($from-direction);
				// icon in the status
				span[class^="icon-"], span[class*="icon-"] {
					// width: 20px;
					float: opposite-position($from-direction);
				}
				span.status-name {
					// temporary use of pixels until the report is converted to columns
					width: 150px; 
					text-align: opposite-position($from-direction);
					float: opposite-position($from-direction);
					margin-#{opposite-position($from-direction)}:5px; 
				}
			}
			&:hover {
				background-color: darken($grayLighter, 10%);
			}
		}
		// header status
		& > .undetermined {
			background-color: lighten($orange, 40%);
			a { color: darken($orange, 10%); }
			&:hover {
				background-color: lighten($orange, 30%);
				a {	color: darken($orange, 20%); }
			}
		}
		& > .verified {
			background-color: lighten($green, 50%);
			a { color: $green; }
			&:hover {
				background-color: lighten($green, 40%);
				a {	color: darken($green, 10%); }
			}
		}	
		& > .false {
			background-color: lighten($red, 50%);
			a { color: $red; }
			&:hover {
				background-color: lighten($red, 40%);
				a {	color: darken($red, 10%); }
			}
		}

		.activity-wrapper {
			display: none;
		}

		.activity-list {
			@include reset-list-style;
			@include reset-box-model;
			background-color: lighten($grayLighter, 5%);
			li {
				@include clearfix;
				border-left: 2px solid $white;
				color: $gray;
				padding-bottom: $base-font-size;
				header {	
					line-height: $base-line-height;
					.time {
						color: $grayLight;
					}
					.title {
						float: $from-direction;
						clear: both;
					}
					a {
						font-weight: bold;
					}
				}
				.message {
					margin-top: $baseLineHeight/2.8;
					padding: $baseLineHeight/2.8 $gridGutterWidth/2;
					background-color: $white;
					@include border-radius(4px);
					& > p {
						@include reset-box-model;
					}
				}
			}
		}

		#comment-form {
			@include clearfix;
			padding: 0 $gridGutterWidth/2;
			background-color: $grayLighter;
			label {
				display: none;
			}
		}

		& > footer {
			color: $grayLight;
			padding: $baseLineHeight/2.8 $gw;
			font-size: $small-font-size;
		}
	}
	// toggle states
	.open > .false {
		background-color: lighten($red, 40%);
	}
	.open > .undetermined {
		background-color: lighten($orange, 30%);
		a {	color: darken($orange, 20%); }
	}
	.open > .verified {
		background-color: lighten($green, 40%);
	}

	// based on status
	.icon-ok-sign { 
		color: red;
		@include icon(ok-sign, 16px, darken($green, 15%));
	}
	.icon-question-sign { 
		color: $orange; 
		@include icon(remove-sign, 16px, darken($orange, 15%));
	}
	.icon-remove-sign { 
		color: $red; 
		@include icon(question-sign, 16px, darken($red, 15%));
	}
}


// ========================================================================
// Responsive layouts 
//
.report header {
  .report-actions {
    @include span-columns($rw, $rw); 
  }

  h3 {
    @include span-columns($rw, $rw);
  }
}
