// The report filters
// Views filter
//
// $w - the width
//
// .views-filters form .views-exposed-form .views-exposed-widgets #edit-title-wrapper
@mixin reports-filter-and-results($w) {
  @content; // implement the form layout in the parent scss

  // Default views settings are in views.scss
  form {    
    .views-exposed-widget > label {
      font-weight: bold;
      font-size: $small-font-size;
    }
  }

  // Checkboxes and radios
  // Can we move this to forms.scss?
  .form-type-bef-checkbox input, 
  .form-type-radio input {
    margin: 3px; 
  }

  .edit-field-rating-tid-wrapper {
    .form-item {
      float: $from-direction;
      padding: 5px;
    }
  }

  // All of these really necessary? 
  .view-content,
  .views-field, 
  .field-content {
    @include span-columns($w, $w); // ensure everything clears
  }

  .views-row {
    @include span-columns($w, $w, $gw);
  }

  // When dragging
  // or about to drag
  .views-row.ui-draggable-dragging, 
  .views-row.ui-draggable:hover {
    background-color: $postit-yellow;
    cursor: move;
    // z-index: 1000000;
    // position: relative;
  }
}