// incoming reports 
//
// inside the sidebar

.view-desk-reports {
  .view-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 $gutter-width*1.2;
  }
  form {
    margin-bottom: 0;
  }
  .pager-load-more {
    position: relative;
    border-top: 1px solid $firefly5;
    @include reset-box-model;
    padding: $absolute-line-height/4 0;
    // Dropshadow for depth
    &:before {
      position: absolute;
      content: "";
      z-index: -1;
      top: -12px;
      left: 0;
      right: 0;
      height: 12px;
      width: 100%;
      @include ctb-gradient-vertical(rgba(255,255,255,0.0), rgba($firefly,.02));
    }
  }
}

// Report filters
// 
// They control which reports are visible while you are using the incoming report stream.
#incoming-reports-filters {
  @extend %filters;
}

.filters-summary {
  position: relative;
  margin-top: $absolute-line-height/4;
  border-top: 1px solid rgba($firefly,.02);
  padding: $absolute-line-height/4 $gutter-width*2 $absolute-line-height/5;
  font-size: $small-font-size;
  font-family: $sans-serif-font-stack;
  color: $firefly40;
  // Dropshadow for depth
  &:before {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: -12px;
    left: 0;
    right: 0;
    height: 12px;
    width: 100%;
    @include ctb-gradient-vertical(rgba($firefly,.02), rgba(255,255,255,0.0));
  }
}

// Incoming reports
// 
// A list of the incoming media submitted with the bookmarklet.
#incoming-reports {
  font-size: $small-font-size;
  color: $gray;
  padding-top: $absolute-line-height/2;
  
  // while dragging
  .ui-draggable-dragging {
    border: 3px solid rgb(239,202,43);
    .report-row-container {
      border: 3px solid rgb(239,202,43);
      background-color: rgba(239,202,43,.1);
    }
  }

  // no reports
  .view-empty {
    clear: both;
    float: $alpha;
    font-style: italic;
    padding: $gutter-width;
    color: $grey;
  }
} 

// incoming reports
.report-row {
  @include ctb-clearfix;
  position: relative;
  margin-bottom: $absolute-line-height/6;
  border: 3px solid $white;
  // hide ajax throbber in dropdown
  .ajax-progress-throbber {
    display: none;
  }

  .report-row-container {
    cursor: move;
    border: 1px solid rgba($firefly, .2);
    background-color: $white;
    font-family: $sans-serif-font-stack;
  }

  .report-content {
    @include ctb-clearfix;
    padding: $absolute-line-height/3 $gutter-width 0;
    // thumbnail type
    .report-type-thumbnail {
      max-width: 100%;
      .report-thumbnail img {
        @include ctb-opacity(.9);
      }
      .report-title {
        margin: $absolute-line-height/4 0;
        font-size: $small-font-size;
        line-height: 1.1;
        color: $firefly60;
      }
    } // thumbnail type

    .report-type-tweet {
      & > div > a { display: none;}
      // keeps embedded iframe
      // inside sidebar
      iframe {
        min-width: 100% !important;
        width: 100% !important;
      }
      // for tweets
      iframe {
        padding: 0 !important;
        margin: 0 !important;
        border: 0 none !important;
        box-shadow: none !important;
      }
      .favicon, .domain, .author {
        display: none;
      }
    }

  } // report content

  .report-attributes {
    @include ctb-clearfix;
    padding: $absolute-line-height/4 $gutter-width;
    border-top: 1px solid rgba($firefly, .1);
    font-size: modular-scale(0) - modular-scale(-3); // 14px
    display: block;
    color: $firefly40;
    background-color: rgba($firefly, .02);
    cursor: move;
    &:hover {
      background-color: rgba($firefly, .05);
    }
    &:active { 
      background-color: lighten($link-color, 40); 
      color: $firefly60;
    }
    .report-meta {
      float: $alpha;
      color: $firefly40;

      .favicon,
      .report-created-at {
        display: inline-block;
      }

      .favicon {
        img { 
          width: 16px; 
          vertical-align: text-top;
        }
      }
    }
    .report-status {
      float: $omega;
    }
  }

  // hover
  &:hover {
    border: 3px solid rgb(239,202,43);
    .report-row-container {
      border: 1px solid rgb(239,202,43);
    } 
    .report-content .report-thumbnail img {
      @include ctb-opacity(1);
    }

  } // hover

  // status icons
  .verified {
    color: rgba(0,140,0,1);
    background-color: rgba(0,140,0,.2);
    span { @include icon(ok-sign, 16px); }
  }
  .false {
    color: $red;
    background-color: lighten($red, 50%);
    span { @include icon(remove-sign, 16px); }
  }
  .undetermined {
    color: darken($orange, 10%);
    background-color: lighten($orange, 30%);
    span { @include icon(question-sign, 16px); }
  }
  .in_progress {
    color: rgba(239,202,43,1);
    background-color: rgba(239,202,43,.2);
    span { @include icon(refresh, 16px); }
  }

  // report published on an update
  .report-published {
    position: absolute;
    top: 0;
    #{$alpha}: auto;
    #{$omega}: 0;
    z-index: 2; // over the report thumbnail
    height: 54px; // background image height
    width: 51px; // background image width
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    @if $alpha == 'left' {
      background-image: url(../imgs/published.png);
    }
    @if $alpha == 'right' {
      background-image: url(../imgs/published-ar.png);
    }
    // @include icon(file-alt, 22px, $black, 'after');

    span {
      display: none;
    }
  }
} // report row

//
// CTools modal report
//
#modalContent.modal-report {
  z-index: $zindexModal;
  .modal {
    
    
  }
}
// Fixed only for normal screen sizes
@media all and (min-height: 40em) {
  #modalContent.modal-report {
    position: fixed !important;
    top: 200px !important;
  }
}


