// The report filters
// Views filter
//
// $w - the width
//
// .views-filters form .views-exposed-form .views-exposed-widgets #edit-title-wrapper
@mixin reports-filter($w) {
  // 1. Rerender form layout
  @include cd-form($w, $w);

  form#views-exposed-form-desk-reports-block {

    @include span-columns($w omega, $w);
    
    // Default views settings are in views.scss
    .views-exposed-widget {
      @include span-columns($w, $w);

      & > #edit-title-wrapper {
        input.form-autocomplete {
          background-image: none; // Remove the drupal autocomplete image
          border-color: 1px solid $syntax-three;
        }
      }

      & > #edit-field-rating-tid-wrapper {

      }

      & > #edit-source-wrapper {

      }
    }

    .form-item {
      padding-top: ms(-4);
      padding-bottom: ms(-4);
      margin-bottom: ms(-3);
      @include span-columns($w, $w);
      & > label { 
        font-size: 10px;
        padding-bottom: ms(-5);
        font-weight: 700;
      }
      &:hover {
        background-color: rgba(black, 0.075);
      }
    }
  }

  // The actual reports
  // .view-desk-reports {
  //   @include span-columns($w, $w);
  //   @include clearfix;
  //   @include d;
  // }
}
