// Report 
//
// When a link is received we convert it into an embedded media "report"
//
// Compatibility: untested

$report-background-color: $light-grey;
$report-description-background-color: $light-grey;
$report-footnotes-background-color: darken($light-grey, 10%);
$report-text-color: $dark-grey;

.report {
	// @include span-columns($container-width, $container-width); // default is full width
	width: 100%; //default
	// min-width: 240px;
	// max-width: 600px;
	float: $from-direction;
	text-align: $alpha;
	@include ctb-clearfix;
	
	// when inside a modal
	.modal & { 
		max-width: 380px; 
		margin-#{$from-direction}: $gutter-width*2;
	}

	font-size: $fontSizeSmall;
	margin: { top: $gutter-width; bottom: $gutter-width; }
	
	a {
		color: $report-text-color;
		&:hover {
			color: $identity;
		}
	}

	& > header {
		color: $report-text-color;
		padding: $gutter-width/2 $gutter-width;
		@include ctb-clearfix;
		background-color: darken($grayLighter, 5%);
		h3 {
			@include reset-box-model;
			overflow: hidden;
			float: $alpha;
			font-size: $fontSizeSmall;
			line-height: inherit;
			font-weight: normal;

			.source-url { // this is not the best markup CGB
				font-weight: bold;
				overflow: inherit;
			}
		}
	}

	// Report actions
	#report-actions {

		ul.content-actions {

			@include reset-box-model;
			@include reset-list-style;
			// display: inline-block;
			float: $omega;
			padding-right: $gutter-width;
			// The last dropdown needs to not stick out at smaller sizes
			@if $from-direction == left {
				li.add-to .dropdown-menu {
					left: -125px;
				}
				li.flag-as .dropdown-menu {
					left: -120px;
				}
				li.share-on .dropdown-menu {
					left: -90px;
				}
			}
			@if $from-direction == right {
				li.add-to .dropdown-menu {
					right: -145px;
				}
				li.flag-as .dropdown-menu {
					right: -115px;
				}
				li.share-on .dropdown-menu {
					right: -100px;
				}
			}

			& > li {
				float: $from-direction;
				font-size: $fontSizeSmall;

				& > a {
					@include reset-box-model;
					display: block;
					
					@include transition-property(all);
			    	@include transition-duration(0.2s);
					&:hover { 
				    	color: black;
				    	text-decoration: none;
				    }

					span {
						@include reset-box-model;
						float: $from-direction;
						display: inline-block;
						margin-#{$from-direction}: $gutter-width;
						&:hover {
							color: $identity;
						}

						// Flag and share on the top of the report
						&.icon-link    { @include icon(link, $fontSizeSmall, $darker-grey); }
						&.icon-reorder { @include icon(reorder, $fontSizeSmall, $darker-grey); }
						&.icon-flag    { @include icon(flag, $fontSizeSmall, $darker-grey); }
						&.icon-share   { @include icon(share, $fontSizeSmall, $darker-grey); }
					}
				}
				// hide ajax throbber in dropdown
			    .ajax-progress-throbber {
			    	display: none;
			  	}
			} // li
		} // ul
	} // report actions


	// Sensitive content handling
	div.sensitive-hide {
	  display: none;
	}

	// Main report content
	.report-content {
		@include ctb-clearfix;

		background-color: $report-background-color;
		color: $report-text-color;
		padding: $gutter-width;

		.report-media {
			text-align: center;
			margin-bottom: $gutter-width;
			.container {
				max-width: 100%;
				display: inline-block;
				vertical-align: middle;
				text-align: $from-direction;
				font-size: $fontSizeSmall;

				.oembed-content {
					@include ctb-clearfix;
				}
				
				.oembed-content img {
					// width: $report-width-px; // enlarge photos to fit ...
				}

				.thumbnail img {
					padding: $gutter-width 0;
				}

				.oembed-title {
					display: none;
				}
				
				.title {
					padding: 0;
					font-size: $fontSizeSmall;
				}
				
				.content {
					padding: 0;
				}
				
				.favicon, 
				.author-img {
					float: $alpha;
					padding-#{$omega}: $gutter-width/2;
					width: auto;
				}
				
				.domain {

				}

				img,
				embed,
				object,
				video,
				iframe {
					max-width: 100%;
				}

				.sensitive-notification {
					display: table-cell;
					width: 400px;
			    	height: 200px;
			    	text-align: center;
			    	vertical-align: middle;
			    	background: none !important;
			    .sensitive-notification-text {
			    	color: $grayDark;
			    	padding: $absolute-line-height/2 $gutter-width/2;
			    }
			    .sensitive-notification-link {
			    	padding: $absolute-line-height/2 $gutter-width/2;
			    	a {
			    		@include button($grayLight, 18px);
			    	}
			    }
				}
			}
		}

		& > p {
			color: $grayLight;
			margin: $absolute-line-height/2 0;
			a {
				font-weight: bold;
			}
		}

		.gravatar {
			margin-#{$alpha}: $gutter-width;
			img {
				vertical-align: text-bottom;
				@include ctb-square(20px);
				margin-#{$omega}: $gutter-width/3;
			}	
		}

		// description double quotes
		.icon-quote-left {
			@include icon("quote-left", 16px, $white);
		}
		.icon-quote-right {
			@include icon("quote-right", 16px, $white);
		}

		.description {
			@include ctb-clearfix;
			border-top: 1px solid $white;
			padding-top: $gutter-width;

			span {
				color: $white;
				float: $alpha;
				padding: $absolute-line-height/2 $gutter-width;
				font-size: 140%;
			}
		}
	}

	// Twitter customizations
	h3 > a[href*="twitter.com"] { 
		@include icon('twitter') {
			margin: 1px;
		}
		&:before {
			display: inline-block;
			@include transform(rotate(-19deg)); // new twitter logo :)
			font-size: inherit;
		}
	}

	// Report activity 
	.report-activity {
		background-color: $white;
		margin: 0 auto;
		width: 95%;

		& > header {
			@include clearfix();
			padding: $gutter-width;
			// text-shadow: 0 1px 0 rgba(255,255,255,.3);
			cursor: pointer;
			font-size: $fontSizeSmall;
			background-color: darken($grayLighter, 5%);
			h3 {
				float: $from-direction;
				@include reset-box-model();
				font-size: $fontSizeSmall;
				display: inline-block;
		
				font-weight: normal;
				color: rgba(black, 0.8);
				padding: 0;
			}
			.report-status {
				font-weight: bold;
				float: opposite-position($from-direction);
				text-align: opposite-position($from-direction);
				// icon in the status
				span[class^="icon-"], span[class*="icon-"] {
					// width: 20px;
					float: $alpha;
				}
				span.status-name {
					text-align: opposite-position($from-direction);
					overflow: visible;
					margin-#{opposite-position($from-direction)}:5px; 
				}
			}
			&:hover {
				background-color: darken($grayLighter, 10%);
			}
		}
		// header status
		& > .undetermined {
			background-color: lighten($orange, 40%);
			a { color: darken($orange, 10%); }
			&:hover {
				background-color: lighten($orange, 30%);
				a {	color: darken($orange, 20%); }
			}
		}
		& > .verified {
			background-color: lighten($green, 50%);
			a { color: $green; }
			&:hover {
				background-color: lighten($green, 40%);
				a {	color: darken($green, 10%); }
			}
		}	
		& > .false {
			background-color: lighten($red, 50%);
			a { color: $red; }
			&:hover {
				background-color: lighten($red, 40%);
				a {	color: darken($red, 10%); }
			}
		}

		.activity-wrapper {
			display: none;
			@include ctb-clearfix;
			padding: $absolute-line-height/2 $gutter-width;
			background-color: $grayLighter;
			
			ul.pager-load-more {
				float: $alpha;
				clear: both;
				text-align: $alpha;
				margin: $absolute-line-height/2 0 $absolute-line-height 0;
				position: relative;

				a {
					text-align: center;
					display: inline-block;
				}
				.ajax-progress-throbber {
					position: absolute;
					top: 6px;
					#{$omega}: -$gutter-width*3;
					.throbber {
						background: url("../imgs/icons/loader_white.gif");
					}
				}
			}
		}

		.activity-list {
			.activity {
				@include ctb-clearfix;
				border-#{$from-direction}: 2px solid $white;

				font-size: 14px;
				color: $gray;
				margin-#{$from-direction}: $gutter-width/2;
				padding-bottom: $absolute-line-height/2;
				padding-#{$from-direction}: $gutter-width*2;

				header {
					@include ctb-clearfix;
					[class^="icon-"],
					[class*=" icon-"] {
						float: $alpha;
						margin-#{$alpha}: -$gutter-width*2.8;
						margin-#{$omega}: $gutter-width/2;
					}
					.time {
						float: $from-direction;
						color: $grayLight;
					}
					.title {
						// float: $from-direction;
						display: inline-block;
						margin-#{$from-direction}: $gutter-width;
					}
					a {
						font-weight: bold;
					}
				}
				.message p {
					display: block;
					margin-top: $absolute-line-height/2;
					padding: $absolute-line-height/2 $gutter-width/2;
					background-color: $white;
					@include border-radius(4px);
				}
			}
		}

		#comment-form {
			@include ctb-clearfix;
			padding: 0;
			margin-top: $absolute-line-height/2*2;
			background-color: $grayLighter;
			label {
				display: none;
			}
			form { 
				width: 100%;
				textarea {
					float: none;
					@include ctb-clearfix;
				}
			}
		}

		& > footer {
			color: $grayLight;
			// padding: $gutter-width;
			font-size: $fontSizeSmall;
		}
	}

	// toggle states in dropdown
	.open > .false {
		background-color: lighten($red, 40%);
	}
	.open > .undetermined {
		background-color: lighten($orange, 30%);
		a {	color: darken($orange, 20%); }
	}
	.open > .verified {
		background-color: lighten($green, 40%);
	}

	// report icon based on status
	$position:  "before";
	@if $from-direction == left {
	    $position: "after";
	  }
	  @if $from-direction == right {
	    $position: "before";
	  }
	.icon-ok-sign { 
		color: $green;
		@include icon(ok-sign, 16px, darken($green, 15%), $position);
	}
	.icon-question-sign { 
		color: $orange; 
		@include icon(question-sign, 16px, darken($orange, 15%), $position);
	}
	.icon-remove-sign { 
		color: $red; 
		@include icon(remove-sign, 16px, darken($red, 15%), $position);
	}

} // report

