// incoming reports 
//
// inside the sidebar

// Report filters
// 
// They control which reports are visible while you are using the incoming report stream.
#incoming-reports-filters {
  @extend %filters;
}

// Incoming reports
// 
// A list of the incoming media submitted with the bookmarklet.
#incoming-reports {
  font-size: $small-font-size;
  padding: 0 $gutter-width*2;
  color: $gray;

  // while dragging
  .ui-draggable-dragging {
    .report-row-container {
      border: 4px solid $warningBorder;
      background-color: $warningBackground;
    }
  }

  // no reports
  .view-empty {
    clear: both;
    float: $alpha;
    font-style: italic;
    padding: $gutter-width;
    color: $grey;
  }
} 

// incoming reports
.report-row {
  @include ctb-clearfix;
  position: relative;

  .report-row-container {
    cursor: pointer;
    padding: $absolute-line-height/2 $gutter-width;
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    border-left: 1px solid $white;
    border-bottom: 1px solid $grayLighter;
    @include ctb-bg(#fff, rgba(255, 255, 255, 0.6));
    @include ctb-transition(opacity 0.3s linear);
  }

  // for tweets
  .twitter_com {
    @include ctb-bg($grayLighter, rgba(238, 238, 238, 0.9));
    .favicon, .domain {
      display: none;
    }
  }

  .report-content {
    @include ctb-clearfix;
    // thumbnail type
    .report-type-thumbnail {
      max-width: 100%;
      .report-thumbnail img {
        @include ctb-opacity(.9);
      }
      .report-title {
        margin: $absolute-line-height/4 0;
        font-size: $fontSizeSmall;
        line-height: 1.2;
      }
    } // thumbnail type

    .report-type-tweet {
      & > div > a { display: none;}
    }

  } // report content

  .report-status {
    float: $omega;
  }

  // status icons
  .verified span {
    color: $green;
    @include icon(ok-sign, 16px, darken($green, 15%)); 
  }
  .failed span {
    color: $red;
    @include icon(remove-sign, 16px, darken($red, 15%)); 
  }
  .undetermined span {
    color: $orange;
    @include icon(question-sign, 16px, darken($orange, 15%)); 
  }
  .in_progress span {
    color: $yellow;
    @include icon(refresh, 16px, darken($yellow, 15%)); 
  }

  .report-detail-link {
    a {
      @include checkdesk-button($grayLight);
      @include button-size(13px);
    }
  }

  // hover
  &:hover {
    color: $grayDark;
    .report-row-container {
      position: static;
      $bw: 4px;
      border: $bw solid $warningBorder;
      background-color: $warningBackground;
      margin-top: -$bw;
      margin-#{$alpha}: -$bw;
    } 

    .report-content .report-thumbnail img {
      @include ctb-opacity(1);
    }

  } // hover
} // report row
