
// Building block
// Layout helper
// 
// Useful for standardizing link or navigation item. 
// There should be no margin or width specified on this.
// Typography, resets, transitions, floated, block level, padded
// with base font size and colors defined in colors.scss
//
@mixin building-block(
  $nav-bkg-color: $nav-bkg-color,
  $nav-active-bkg-color: $nav-active-bkg-color,
  $nav-color: $nav-color,
  $nav-active-color: $nav-active-color,
  $base-font-size: $nav-font-size,
  $radius: 0) 
  {
  @include reset-box-model;
  display: inline-block;
  float: $from-direction;
  line-height: $nav-height;
  font-size: $nav-icon-height;
  background-color: $nav-bkg-color;
  color: $nav-color;
  font-weight: normal;
  position: relative;
  z-index: $zindexDropdown - 1; 
  font-size: $base-font-size;
  padding: ms(-1);
  & > a {
    text-decoration: none; 
    color: $nav-color;
    line-height: $base-line-height;
    font-size: $base-font-size;
    display: inline-block;
    @include border-radius($radius);
    &:hover {
      color: $nav-active-color;
      font-weight: normal;
    }
  }

  @include border-radius($radius);
  @include bb-transition($nav-color, $nav-active-color, '0.2s', 'color');
  @include bb-transition($nav-bkg-color, $nav-active-bkg-color, '0.2s', 'background-color');
  
  // Hovering on the chunky element (could be an <h2> or an <li> or an <a>)
  &:hover, 
  &.active {
    background-color: $nav-active-bkg-color;
    color: $nav-active-color;
  }

  // An anchor inside the chunky block, (without the bkg color duplicated)
  &.active > a, 
  a.active {
    color: $nav-active-color;
  }

  @content
}


// Layout Helper: Ensure padding is accounted for.
// Deprecated
@mixin span-padded-columns(
  $width: $container-width, 
  $context: $container-width, 
  $from-pad: 0, 
  $to-pad: 0) {

  $total-pad: $from-pad + $to-pad;
  $adjusted-width: $width - $total-pad; // will prune the 'omega' shorthand ...

  // Apply the adjusted width ...
  @include span-columns($adjusted-width, $context);

  // And add the padding
  @include pad($from-pad, $to-pad, $context);

  // optionally call with omega
  @content;
}

// text-shadow
// see http://compass-style.org/reference/compass/css3/text-shadow/

@mixin cd-dark-text-shadow($opacity: 0.5) { // use $white for dark backgrounds
  @include text-shadow(rgba(black, 0.8) 0 1px 0);
}

@mixin cd-light-text-shadow($opacity: 0.5) { // use $white for dark backgrounds
  @include text-shadow(rgba(white, 0.8) 0 1px 0);
}


// Dropshadow
@mixin cd-box-shadow() {
  @include box-shadow(0px 1px 6px rgba($black, 0.2));
}

// Main canvas background image
@mixin cd-background {
  background-color: $bkg-color; 
  background-image: url("/sites/all/themes/bowerbird/images/bkgs/cream_dust.png");
}

// Version banner 
// 
// For Dev and Testing sites, so we know what version we are looking at.
@mixin version-banner {
  html body:before {
    position: fixed;
    content: "v0.1 Alpha Alpaca"; // Later, can enhance this with timestamp etc
    background-color: rgba(yellow, 0.5);
    padding: 3px;
    border: {top: 1px solid yellow; bottom: 1px solid yellow; }
    bottom: 0;
    #{opposite-position($from-direction)}: 0;
    font-size: $smaller-font-size;
  }
}
