// Page with sidebar second

body.sidebar-second #main {
	max-width: 1280px;
	position: relative;
}

body.sidebar-second #content {
	@include ctb-clearfix;
	width: 80%;
	padding-top: $absolute-line-height;
	padding-#{$from-direction}: 50px;
	padding-#{opposite-position($from-direction)}: 75px;
	@include box-sizing(border-box);
	overflow: auto;
	// checkdesk search
	.view-checkdesk-search { 
		@include ctb-clearfix;
		margin-bottom: 60px;
		// add styles for load more pager
    @include ctb-load-more-pager;
    .pager-load-more {
    	margin-top: 30px;

    }
	}
}

body.sidebar-second aside#sidebar-second {
	width: 20%;
	position: absolute;
	#{opposite-position($from-direction)}: 50px;
	overflow: auto;
	height: auto;
	top: $toolbarHeight + $navbarHeight + $absolute-line-height;
	@include box-sizing(border-box);
}

body.sidebar-second h1 {
	font-size: 28px;
	@include cd-sans-serif-family;
	font-weight: 700;
}