// Static pages

.static {
  color: $gray;
  padding: $absolute-line-height/2 $gutter-width*4;
  h2 {
    @include reset-box-model;
    margin: $absolute-line-height/2 0;
    font-size: 88%;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h3 {
    @include reset-box-model;
    font-size: $base-font-size;
  }

  img {
    width: auto;
    height: 31px;
    vertical-align: text-bottom;
  }

  p {
    margin: 0 0 $absolute-line-height;
    font-size: 88%;
  }

  ul {
    @include reset-box-model;
    margin-bottom: $gutter-width;
    margin-#{$from-direction}: $gutter-width*2;
    list-style: disc outside none;
    li {
      @include reset-box-model;
      margin-bottom: $absolute-line-height/2;
      font-size: 88%;
    }
  }

}