// Static pages


.static-page {
  margin-bottom: $absolute-line-height*4;
  h2 {
    @include reset-box-model;
    margin: $absolute-line-height*1.2 0 $absolute-line-height/2 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:first-child {
      margin: 0 0 $absolute-line-height/2 0;
    }
  }

  h3 {
    @include reset-box-model;

    font-size: $base-font-size;
  }

  img.creativecommons {
    width: auto;
    height: 31px;
    vertical-align: text-bottom;
  }

  ul {
    @include reset-box-model;
    margin-bottom: $gutter-width;
    margin-#{$from-direction}: $gutter-width*2;
    list-style: disc outside none;
    li {
      @include reset-box-model;
      margin-bottom: $absolute-line-height/2;
    }
  }

  p {
    margin: 0 0 $absolute-line-height;
  } 
}

#modalContent {
  .static-page {
    color: $gray;
    padding: $absolute-line-height/2 $gutter-width*4;

    ul li { font-size: 88%; }
    
    h2 {
      font-size: 92%;
    }

    p {
      font-size: 88%;
    }

  }
}
