// Citizen's view of Story page 
// aka Discussion Node 

@mixin vertical-margin($width) {
  margin: { top: $width; bottom: $width; } 
}

@mixin layout-story($width, $context) {
  // @include span-columns($width, $context, $gutter-width);
  @content;
  .update-row { 
    // @include vertical-margin($base-font-size);
    // @include span-columns($width, $context, $gutter-width);
    // @debug $width;
    .update-body {
      @include span-columns(14); 
      float: $omega;
      min-height: 220px;
      margin-#{$omega}: 0;
    }
    .update-footer {
      @include span-columns(4);
      float: $alpha;
      // width: 160px;
      .livefyre-wrapper {
        // @include span-columns($width, $width);
      }
    }
  }
}

.node-type-discussion, .page-liveblog {
  #main {
    @include layout-story($container-width, $container-width);
  }
}

// Psuedo div for anchors
// Adds head room for updates in presence of navbars
.anchor {
  display: block;
  height: (($toolbarHeight + $navbarHeight) + ($absolute-line-height*2)); /* this is the height of your header */
  margin-top: -(($toolbarHeight + $navbarHeight) + ($absolute-line-height*2)); /* this is again negative value of the height of your header */
  visibility: hidden;
}

// "Published" updates
.updates {
  margin-top: $absolute-line-height/2;
  .update-row {
    margin-bottom: $base-line-height;
    border-top: 2px solid $firefly20;

    .update-info {
      @include span-columns(4);
      font-family: $sans-serif-font-stack;
      color: $firefly20;
      border-top: 4px solid $firefly20;
      margin-bottom: $absolute-line-height;
      padding-top: $absolute-line-height/2;
      text-transform: uppercase;
      font-weight: 700;
      font-size: modular-scale(0) - modular-scale(-3); // 14px
      @if $from-direction == 'left' {
        letter-spacing: 0.15em;
      }
      // update number
      b {
        display: block;
        padding: $absolute-line-height/2 0;
        font-size: $xxx-large-font-size;
        @if $from-direction == 'left' {
          letter-spacing: -0.08em;
        }
      }
    }
  }
}

// ark_20130126: Omega not set, not sure why?
$omega: opposite-position($alpha);

.story {
  @include ctb-clearfix;
  text-align: $alpha;
  margin-bottom: $absolute-line-height/2;

  // #story-actions {
  //   ul.content-actions {
  //     @include reset-box-model;
  //     @include reset-list-style;
  //     display: block;
  //     @include ctb-bg(#fff, rgba(255, 255, 255, 0.6));
  //     @include border-radius(4px);
  //     padding: $absolute-line-height/4 $gutter-width;
  //     margin-bottom: $absolute-line-height/2;
  //     li {
  //       display: inline-block;
  //       a {
  //         @include checkdesk-button($grayLight);
  //         @include button-size(13px);
  //       }
  //     }
  //   }
  // }

  .story-meta {
    @include ctb-clearfix;
    // border-top: 4px solid $firefly90;
    padding-top: $absolute-line-height/2;
    font-family: $sans-serif-font-stack;
    color: $firefly60; 
    .separator {
      color: $firefly30; 
    }
    .gravatar {
      margin-#{$omega}: $gutter-width/2;
    }
    a.contributor { 
      font-weight: 700;
      color: $firefly60; 
      &:hover { 
        color: $firefly80; 
        text-decoration: none;
      }
    }
    .story-attributes {
      float: $alpha;
      .story-commentcount {
        display: inline-block;
        a {
          color: $firefly60; 
          &:hover {
            color: $firefly80; 
            text-decoration: none;
          }
        }
        .icon-comment {
          @include icon(comments, $base-font-size, $firefly30);  
        }
        
      }
    }

    ul.content-actions {
      @include reset-list-style;
      float: $omega;
      .add-to {
        display: none;
      }
      .share-on > a {
        float: $omega;
        font-weight: 700;
        color: $firefly30;
        .icon-share { @include icon(share); }
        &:hover {
          color: $firefly80;
          text-decoration: none;
        }
        @if $from-direction == 'left' {
          .icon-share { @include icon(share, modular-scale(0) - modular-scale(-3)); }
          font-size: modular-scale(0) - modular-scale(-3); // 14px;
          text-transform: uppercase;
          letter-spacing: 0.08em;
          color: $firefly30;
        }
      }
    }
  }

  .story-by {
    font-size: $larger-font-size;
    margin-top: $absolute-line-height/4;
    margin-bottom: $absolute-line-height/2;
    a { @include ctb-linkColor($grayLight); }
  }

  .story-context {
    font-size: $small-font-size;
    line-height: $relative-line-height;
  }

  // Message displayed when a story has drafted updates
  .story-drafts {
    color: $red;
    font-size: $small-font-size;
    font-style: italic;
  }
  
  // The current blogger information
  .story-blogger {
    @include ctb-clearfix;
    margin: $absolute-line-height/2 0;

    .avatar {
      display: inline-block;
      padding: $absolute-line-height/2 0;
      .user-picture {
        display: inline-block;
        margin-#{$omega}: $gutter-width;
        img {
          display: inline-block;
          vertical-align: text-bottom;
          @include ctb-square(20px);
          margin-#{omega}: $gutter-width/3;
        }
      }
      a { @include ctb-linkColor($grayLight); }
    }

    .blogger-status {
      display: inline-block;
      margin-#{$alpha}: $gutter-width;

      .blogger-status-indicator {
        @include ctb-square(10px);
        @include border-radius(10px);
        display: inline-block;
        background-color: $grayLight;
      }

      .blogger-status-text {
        @include ctb-bg(#fff, rgba(255, 255, 255, 0.6));
        @include border-radius(4px);
        display: inline-block;
        padding: $absolute-line-height/2 $gutter-width;
        margin-#{$alpha}: $gutter-width;
      }
      
    }
    // status indicator colors
    .story-blogger-status-offline .blogger-status-indicator { background-color: $grayLight; }
    .story-blogger-status-online .blogger-status-indicator { background-color: $green; }
  }

  figure {
    margin: $absolute-line-height/2 0;
  }

  .story-body {  
    @include ctb-clearfix;
    margin: $absolute-line-height/2 0;
    color: $firefly80;
    font-family: $serif-font-stack;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.4px;
    p {
      margin: 0 0 $base-line-height*1.4 0;
      max-width: 600px;
      &:first-child {
        // margin: 0 0;
      }
    }
  }

  // compose / create update form
  .compose-update-form {
    @include ctb-clearfix();
    margin: $absolute-line-height 0;
    .compose-update-header {
      a {
        display: inline-block;
        @include icon("pencil", $large-font-size, $white, $icon-position);
        padding: $absolute-line-height/2 $gutter-width;
        color: $white;
        background-color: $identity;
        @include border-radius(4px);
        font-family: $sans-serif-font-stack;
        font-size: $large-font-size;
        text-decoration: none;
      }
    }

    .div.vertical-tabs, div.vertical-tabs-panes {
        display: none !important;
      }

    .node-post-form {
      display: none;
      padding: 0 $gutter-width;
      background-image: $striped_lens;
      input[type='submit'] {
        @include checkdesk-button($identity);
      }
      // override drupal
      .ui-droppable {
        float: none;
      }
    }
  }
  .open .compose-update-header {
    border-bottom: 4px solid rgb(239,202,43);
    background-color: rgba(239,202,43,.1);
    a {
      color: $firefly90;
      background: none;
      @include icon("pencil", $large-font-size, $firefly90, $icon-position);
      @include border-radius(4px 4px 0 0);
    }
  }

  .story-updates-wrapper {
    // add styles for load more pager
    @include ctb-load-more-pager;
  }

  .story-footer {
    @include ctb-clearfix;
    display: block;
    margin-top: $absolute-line-height/2;
    padding: $absolute-line-height/4 0;
    border-top: 1px solid $firefly10;
    color: $firefly20;
    font-family: $sans-serif-font-stack;
    font-size: $small-font-size;
    cursor: pointer;
    a {
      color: $firefly20;
      &:hover {
        color: $firefly40;
        text-decoration: none;
      }
    }
    .story-continue {
      @include icon('link', $small-font-size);
      float: $alpha;
      
      .permalink {
        display: none;
      }
    }

    .story-updated-at {
      float: $omega;
      text-align: $omega;
      font-style: italic;
    }
    &:hover {
      .story-continue .permalink { display: inline-block; }
    }
  }

  .story-comments {
    margin-top: $absolute-line-height;
    .livefyre-header, .fb-comments-header {
      @include icon(comments, $large-font-size);
      font-family: $sans-serif-font-stack;
      font-size: $large-font-size;
      @if $from-direction == 'right' {
        font-size: $larger-font-size;
      }
      color: $firefly80;
      background-color: rgba(0,0,0,.02);
      padding: $absolute-line-height/2 $gutter-width/2;
      @include border-radius(4px);
      cursor: pointer;
      &:hover {
        color: $white;
        background-color: rgb(239,202,43);
      }
    }
    .fb-comments {
      margin-top: $absolute-line-height/2;
    }
  }
}

// story lists
.stories {
  .story-row {
    // margin-bottom: $absolute-line-height/3;
    padding: $absolute-line-height/3 0;
    border-bottom: 1px solid $firefly5;
    &:first-child {
      padding: 0 0 $absolute-line-height/3 0;
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0px none;
    }

    a {
      color: $firefly60;
      &:hover {
        color: $firefly80;
        text-decoration: none;
      }
    }

    // hide by default
    figure {
      display: none;
    }

    h3 {
      @include reset-box-model;
      font-size: 16px;
      @if $from-direction == 'right' {
        font-size: $base-font-size;
      }
      font-weight: 600;
      line-height: 1.3;
    }
    .story-desc {
      display: none;
    }
  }

  // show featured image on the first item
  .views-row-first {
    figure {
      display: block;
      margin-bottom: $absolute-line-height/2;
    }
  }
}
