@charset "UTF-8";
// Checkdesk Tabs
//
// div.tabs - the main tab container with ul.primary and ul.secondary inside
//
// Adds styles for the primary and secondary tabs. Compare this with default CSS found in the system module's stylesheet.

// resuable resets and basic styles
@include bb-tabs-reset;

div.tabs {
  @include reset-box-model;
  @include clearfix;
  padding: {top: $gw; bottom: $gw;}
  
  ul.primary {
    @include reset-box-model;
    @include clearfix;
    background-color: rgba(white, 0.8);
    font-family: $sans-font-family;
    font-size: $small-font-size;
    font-weight: 300;
    
    li {
      @include reset-box-model;
      @include span-columns($cw, $cw); // default full width
      display: inline-block;
      float: $from-direction;
      
      &.active {
        a {
          @include span-columns($cw, $cw, $gw); // default full width
          background-color: $nav-active-bkg-color;
          color: white; 
          display: inline-block;
        }
      }

      a {
        @include span-columns($cw, $cw, $gw); // default full width
        @include bb-transition($grey, $nav-active-bkg-color, '0.2s', 'background-color');
        line-height: $base-line-height;
        display: inline-block;
        padding: {top: $gw; bottom: $gw;}

        &:hover {
          color: $nav-active-color;
        }
      }
    }
  }
}

// =================================================================================
// Breakpoints for tabs
@include at-breakpoint($break-small) { 
  $break: $break-small;

  div.tabs ul.primary {
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;

    li, li a, li.active a {
      @include reset-box-model;
      width: auto; // constrain full width
      padding: $gw; // WARNING important should not be necessary — CGB
      margin: $gw/2;
      display: inline-block;
    }
  }
}

@include at-breakpoint($break-medium) {
  // same as previous breakpoint
}

@include at-breakpoint($break-large) {
  // same as previous breakpoint
}