// Checkdesk Tabs
//
// .tabs - the main tab container with ul.primary and ul.secondary inside
//
// Adds styles for the primary and secondary tabs. Compare this with default CSS found in the system module's stylesheet.

@import "bowerbird/tabs";

@mixin tabs($tw, $context) {

  div.tabs {
    @include span-columns($tw, $context);
    ul.primary {
      @include reset-box-model;
      border-top: 1px solid orange;
      @include span-columns($tw, $tw);
      display: block;
      @include clearfix;
      padding: { top: $gw; bottom: $gw; }
      margin: { top: $gw;}
      background-color: white;
      font-family: "Open Sans", sans-serif;
      font-size: $large-font-size;

      li {
        @include reset-box-model;
        display: block;
        float: left;
        margin-#{opposite-position($from-direction)}: $gw;
        padding: $gw;
        &.active {
          padding: $gw;
          background-color: $light-grey;
          a {
            padding: $gw;
            display: block;
          }
        }
        a {
          padding: $gw;
        }
        a:hover {
          padding: $gw;
        }
      }
    }
  }
}
