// Checkdesk Tabs
//
// .tabs - the main tab container with ul.primary and ul.secondary inside
//
// Adds styles for the primary and secondary tabs. Compare this with default CSS found in the system module's stylesheet.

@import "bowerbird/tabs";

$tabs-width: $total-width - 2;

#content div.tabs {
  @include span-columns($tabs-width, $total-width);
  @include squish(1, 1, $total-width);
  
  ul.primary {
    @include span-columns($tabs-width, $tabs-width);
    display: block;
    @include clearfix;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin-top: 20px;
    padding { top: 20px; bottom: 20px; }
    font-family: "Open Sans", sans-serif;
    font-size: $large-font-size;
    

    li {
      margin-#{opposite-position($from-direction)}: 20px;
      padding { top: 20px; bottom: 20px; }
      &.active {
      }
      a {
        padding: 0;
      }
    }
  }
}