
// Checkdesk Typography
//
// Configutation variables are in base.scss
// Typography configuration needs to come very early in the load sequence, but we want this file to emit CSS which comes later in the stylesheet.

// Compass basline
@include establish-baseline;
@include bowerbird-typography-defaults; // typography defaults

body {
  line-height: $absolute-line-height; // in px
  font-size: $small-font-size; // in px
  color: $text-color;
  font-family: $body-font-stack;
  text-align: $from-direction;
}

h1, h2, h3, h4 {
  @include reset-box-model;

  margin:  { bottom: $absolute-line-height/2; }
  // padding: { bottom: $base-font-size; top: $base-font-size; }
  font-family: $header-font-stack;
  font-weight: normal;
}

h1 {
  font-size: $xx-large-font-size + 2px;
  @if $from-direction == 'right' {
    font-size: $largest-font-size - 10px;
  }
  font-weight: 700;
  @if $from-direction == 'left' {
    letter-spacing: -.04em;
  }
  line-height: 1.15;
  color: #191919;
  color: $firefly90;
}

// Navigation 
nav {
  font-family: $nav-font-stack;
  font-size: $nav-font-size;
  font-weight: 300px;
}

// The sidebar
#sidebar-first {
  font-family: $nav-font-stack;
  font-size: $small-font-size;
}
