
// Checkdesk Typography
//
// Configutation variables are in base.scss
// Typography configuration needs to come very early in the load sequence, but we want this file to emit CSS which comes later in the stylesheet.

// Compass basline
@include establish-baseline;
@include bowerbird-typography-defaults; // typography defaults

body {
  line-height: $absolute-line-height; // in px
  font-size: $small-font-size; // in px
  color: $text-color;
  font-family: $body-font-stack;
  text-align: $from-direction;
}

h1, h2, h3, h4 {
  @include reset-box-model;
  margin:  { bottom: $base-font-size; top: $base-font-size; }
  padding: { bottom: $base-font-size; top: $base-font-size; }
  font-family: $header-font-stack;
}

h1 {
  font-size: $xxx-large-font-size;
  line-height: $relative-line-height;
  color: $dark-grey;
  @include cd-light-text-shadow;
}

// Navigation 
nav {
  font-family: $nav-font-stack;
  font-size: $nav-font-size;
  font-weight: 300px;
}

// The sidebar
#sidebar-first {
  font-family: $nav-font-stack;
  font-size: $small-font-size;
}