
// Checkdesk Typography
//
// Configuration variables are in base.scss
// Typography configuration needs to come very early in the load sequence, but we want this file to emit CSS which comes later in the stylesheet.

// Compass baseline
// @include establish-baseline;
@include bowerbird-typography-defaults; // typography defaults

body {
  line-height: $absolute-line-height;
  font-size: $small-font-size;
  color: $text-color;
  font-family: $body-font-stack;
  text-align: $from-direction;
}

h1, h2, h3, h4 {
  @include reset-box-model;

  margin:  { bottom: $absolute-line-height/2; }
  // padding: { bottom: $base-font-size; top: $base-font-size; }
  font-family: $header-font-stack;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-style: normal;
  @if $from-direction == 'right' {
    font-size: 46px;
    line-height: 66px;
    font-weight: 700;
  }
  
  @if $from-direction == 'left' {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 56px;
  }
  
  color: $firefly90;
}

// Navigation 
nav {
  font-family: $nav-font-stack;
  font-size: $nav-font-size;
  font-weight: 400;
  font-style: normal;
}

// The sidebar
#sidebar-first {
  font-family: $nav-font-stack;
  font-size: $small-font-size;
  font-weight: 400;
  font-style: normal;
}
