// A Liveblog Update
//

.update {
	.update-by {
		margin-bottom: $absolute-line-height/4;
		color: $grayLight;
		a {
			font-weight: bold;
			@include ctb-linkColor($grayLight);
		}
	} 
	.update-body {
		.node-media {
			@include clearfix;
			margin: $absolute-line-height/4 0;
		}

		p {
			margin: $absolute-line-height/4 0;
		}

	} // body
  .update-footer {
    position: relative;
    margin-bottom: 1em;

	  .update-actions {
      position: absolute;
      font-size: $fontSizeSmall;
      width: auto;
      #{$alpha}: 0;
      top: 1px;

      ul.content-actions {
        @include reset-box-model;
        @include reset-list-style;
        @include border-radius(4px);
        display: block;

        & > li {
          float: $omega;

          & > a {
					  @include reset-box-model;
            color: $dark-grey;
					  display: block;

					  &:hover { 
				      color: black;
				      text-decoration: none;
				    }

					  span {
					  	@include reset-box-model;
					  	display: inline-block;
					  	&:hover {
					  		color: $identity;
					  	}
					  	&.icon-share {
                @include icon(share, $fontSizeSmall, $darker-grey);
              }
					  	&.icon-reorder {
                @include icon(reorder, $fontSizeSmall, $darker-grey);
						    margin-#{$omega}: $gutter-width;
              }
					  }
          }
        }

      } // content actions
	  } // update actions
  } // update footer
} // update
