// A Liveblog Update
//

.update {
	@include ctb-clearfix;

	.update-body {
    padding-top: $absolute-line-height/2 - 4; // to align with update number
    color: $firefly80;



    .update-title {
      font-size: $x-large-font-size;
      line-height: 1.2;
      margin-bottom: $absolute-line-height;
      color: $firefly80;
      @if $from-direction == 'left' {
        letter-spacing: -0.6px;
        font-weight: 600;
        font-style: normal;
      }
      // padding-bottom: $absolute-line-height/2;
    }

		.node-media {
			@include ctb-clearfix;
			margin: 0 0 $absolute-line-height/4 0;
		}
    @debug $absolute-line-height;
		p {
      font-size: 16px;
      line-height: 1.4;
			margin: 0 0 $absolute-line-height/2.4 0; // 10px 
      &:first-child {
        padding-top: $absolute-line-height/3;
      }
		}

    // move embeds closer
    .report {
      margin-top: 0;
    }

	} // body
  
  .update-footer {
  	margin-#{$omega}: $gutter-width*2;
    margin-bottom: 1em;
    @include cd-sans-serif-family;
    color: $firefly20;
    a { 
      color: $firefly20; 
      &:hover { 
        color: $firefly60; 
        text-decoration: none;
      }
    }

    .update-meta {
    	@include reset-list-style;
      // float: $alpha;
      font-size: 14px; // 16px
    	li {
    		padding: $absolute-line-height/4 0;
    		border-bottom: 1px solid $firefly10;
    		&:last-child { border-bottom: 0px none; }
        span { font-weight: 400; }
    	}
    }

    // icons
    .icon-time {
    	@include icon(time, $base-font-size, $firefly20);
    }
    .icon-share {
      @include icon(share, $small-font-size, $firefly20);
    }
    .icon-edit-sign {
      @include icon(edit-sign, $small-font-size, $firefly20);
    }

    // by
    .update-by {
      line-height: 1;
      @include ctb-clearfix;
			margin-bottom: $absolute-line-height/4;
      a {
        float: $alpha; 
      }
      a:last-child {
        width: 78%;
        @include ctb-break-words;
      }
      .gravatar {
        width: 15px;
        margin: 0 $gutter-width/2;
        text-align: center;
        img {
          @include ctb-square(15px);
        }
      }
		} 

		// actions
	  .update-actions {
      ul.content-actions {
        @include reset-box-model;
        @include reset-list-style;
        @include border-radius(4px);
        display: block;

        & > li {
          & > a {
						@include reset-box-model;
            color: $firefly60;
						display: block;

						&:hover { 
							color: $firefly;
							text-decoration: none;
						}

						span {
							@include reset-box-model;
							display: inline-block;
							&:hover {
								color: $identity;
							}	
							
							&.icon-reorder {
								@include icon(reorder, $small-font-size, $darker-grey);
								margin-#{$omega}: $gutter-width;
							}
						}
    			}
        }
      } // content actions
	  } // update actions
  } // update footer
} // update
