// Checkdesk User Section Forms
//
// .not-front.not-logged-in.page-user - main container selector on body
//
// The log in page has a small form in the middle which also appears as an even smaller form in the navigation section.

// Top and bottom padding
// 
// $pad - Amount to pad defaults to gutter width.
@mixin top-and-bottom-padding($pad: $gw) {
  margin-top: $pad;
  padding-top: $pad;
}

// Main mixin for all of the user section
// 
// $fw - the form width
@mixin user_section_forms($fw, $context) {  

  // Basics of the form layout
  // $fw - form width
  // $cw - total width (context)
  @include checkdesk-form-basics($fw, $fw); 

  // Main form layout
  // $fw - form width
  @include checkdesk-form-item($fw);

  // All <.item-list>s after the <.form-item-name> field 
  // Sections: forgot password & create new account
  .form-item-name ~ .item-list {
    @include span-columns($fw, $fw, $gw);
    ul, li {
      @include span-columns($fw, $fw);
    }
  }
  
  // Password section
  .form-item-pass {
    @include span-columns($fw, $fw, $gw);
    .description {
        @include reset-box-model;
        @include span-columns(half-of($fw), $fw, $gw);
      }
    .password-strength {
      @include reset-box-model;
      @include span-columns($input-width omega, $fw, $gw);
      margin: { top: $gw; bottom: $gw; }
      
      .password-strength-title {
        @include span-columns(third-of($fw), $fw);
        font-size: $form-helper-text-size;
      }
      .password-indicator {
        @include span-columns(half-of($fw), $fw);
        margin-top: $gw;
      }
      .password-strength-text {
        @include span-columns(sixth-of($fw), $fw);
      }
    }

    // "Passwords match" box
    div.password-confirm {
      @include reset-box-model;
      @include span-columns($input-width omega, $fw);
      font-size: $form-helper-text-size;
      span {
        padding: 0 $gw;
        &.error {
          background: $firetruck-red;
          color: white; 
          @include border-radius(15%);
          font-family: monaco, courier, monospace;
        }
        &.ok {
          background: darken(#47c965, 5%);
          @extend .error;
        }
      }
    }

    // Suggestions box (hidden by default)
    .password-suggestions {
      @include reset-box-model;
      @include top-and-bottom-padding;
      @include span-columns(half-of($fw) omega, $fw);
      li {
        padding-#{opposite-position($from-direction)}: $gw;
      }
    }
  }

  .form-type-checkbox,
  .form-item-textfield {
    @include span-columns($fw, $fw, $gw);
  }

  .form-actions {
    @include span-columns($fw, $fw, $gw);
  }

  input.form-submit {
    // Bowerbird button mixin, Checkdesk style
    @include checkdesk-button($twitter-blue);
  }

  // The social media sign-in boxes
  #edit-social-media-signin {
    @include span-columns($fw, $fw, $gw);
    div.item-list {
      @include span-columns($input-width omega, $fw);  
      ul {
        @include reset-list-style;
      }
      
      li a {
        display: block;
        margin: $gw;
        float: $from-direction;
      }

      li.first a {
        @include icon(twitter, fontawesome, 30px, white, $grey, $twitter-blue);
      }

      li a.facebook-action-connect {
        @include icon(facebook, fontawesome, 30px, white, $grey, $facebook-blue);
      }
    }

    // the icons with the social media 
    img {
      display: none;
    }

    // @include at-breakpoint(6) {
    //   $label-width: 3;
    //   label { 
    //     @include span-columns($label-width, $fw); 
    //   }
    //   div.item-list {
    //     @include span-columns(($fw - $label-width) omega, $fw);  
    //     clear: none;
    //   }  
    // }
    
    // @include at-breakpoint(12) {
    //   $label-width: 2;
    //   label { 
    //     @include span-columns($label-width, $fw); 
    //   }
    //   div.item-list {
    //     @include span-columns(($fw - $label-width) omega, $fw);  
    //     clear: none;
    //   }  
    // }
  }
}

// Checkdesk user section
// 
// Emit main login form CSS
body.not-front.not-logged-in.page-user {

  // Hide breadcrumbs and titles
  div.breadcrumb, 
  h1.title {
   display: none;
  }


  @include user_section_forms($center-column-width, $center-column-width);

  form {
    border-top: 1px solid aqua;
  }
}