// User section profile
// http://checkdesk:8888/user
@mixin user-profile($width: $cw, $context: $cw) {

  // Temporary, this should go in a layout not on the header ...
  #content-header > h1 {
    padding-#{$alpha}: $gw;
  }

  div.profile {
    @include span-columns($width - 2, $context, $gw);
    background-color: $input-background;
    @content;
    
    .user-picture {
      float: opposite-position($from-direction);
      @include span-columns(1 omega, $context, $gw);
    }

    h3 {
      display: block;
      width: auto;
      padding: $gw;
    }

    dl {
      @include ctb-clearfix;
      padding: $gw;
      font-size: $base-font-size;
      font-family: $sans-font-family;
      border-bottom: 1px solid $light-grey;
      dt {
        float: $from-direction;
      }
      dd {
       float: opposite-position($from-direction); 
       font-weight: 200px;
      }
    }
  }
}

// Checkdesk User Section Forms
//
// .not-front.not-logged-in.page-user - main container selector on body
//
// The log in page has a small form in the middle which also appears as an even smaller form in the navigation section.
//
// Forgot password and create new account <.item-list>s

//  this first selector is jacked ... -CGB
body.page-user-, 
body.page-user { // both logged in and not logged ins states

  #main {
    @include span-columns(4, 6);  
    @include pad(1, 1, 6);
  }

  // The page with your picture
  @include user-profile;

  // The user forms
  // An implementation of the main cd form mixin
  // With many customizations for this user section context only
  .item-list ul li {
    @include reset-list-style;
    @include reset-box-model;
  }

  // "create new account" and social media login items
  // WARNING needs better selector
  .item-list {
    // float: $from-direction;
    // clear: both;
    // margin: {bottom: $gw*2; top: $gw*2;}
  }
  
  // The social media sign-in boxes
  #edit-social-media-signin {
    // Generate an "or" divider
    // 
    // Deprecated: this can't be localized properly
    position: relative;

    .item-list ul {
      text-align: center;
      li {
        display: inline;
      }
    }
    &:after {
      content: "or";
      font-family: $serif-font-family;
      font-style: italic;
      width: 100%;
      display: block;
      font-size: $base-font-size;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    
    // WARNING hiding "Sign in with:"
    label {
      // @include span-columns($width, $context);
      // font-weight: 700;
      // margin-top: $gw;
      display: none!important;
    }

    // The list of social media providers
    div.item-list {
      float: none; // undo default float
      
      ul { margin-top: $gw; }

      li {
        text-align: center;
        display: inline-block;
        a {
          // @include building-block;
          margin-#{$omega-float}: $gw/2;
          display: inline-block;
          line-height: 2.4;
          padding: $gw;

          // The word "Twitter"
          &:after {
            color: white;
            font-size: $base-font-size;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }

      // Add the icons with a transition
      $sign-in-icon-size: 20px;
      li.first a {
        @include bb-transition($grey, $twitter-blue) {
          @include icon(twitter, $sign-in-icon-size, white);
          &:after { content: " Twitter"; }
        }
      }

      li a[class^='facebook'] {
        @include bb-transition($grey, $facebook-blue) {
          @include icon(facebook, $sign-in-icon-size, white);
          &:after { content: " Facebook"; }
        }
      }

      // the icons with the social media 
      img {
        display: none;
      }
    }    
  }
  
  .form-item.form-item-name {
    clear: both;
    display: block;
    border-top: 1px solid $light-grey!important;
    padding-top: $gw*2!important;
  }      

  // ================================================================================
  // Breakpoints
  //

  // Break small
  @include at-breakpoint($break-small) {
    form {
      #edit-social-media-signin a {
        font-size: $large-font-size!important;
      }
    }
  }
}


// user admin page
.view-administer-users {
  fieldset {
    margin-bottom: $baseLineHeight/2;
  }
  select {
    margin-bottom: $baseLineHeight/2;
  }
}



/**
 * Override default textfield float to put the "Add role" button next to
 * the input textfield.
 */
#user-admin-roles td.edit-name {
  clear: both;
}
#user-admin-roles .form-item-name {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}