// User section profile
//
@mixin user-profile($width: $container-width, $context: $container-width) {

  // Temporary, this should go in a layout not on the header ...
  #content-header > h1 {
    padding-#{$alpha}: $gutter-width;
  }

  div.profile {
    @include span-columns($width - 2, $context, $gutter-width);
    background-color: $input-background;
    @content;
    
    .user-picture {
      float: $omega;
      @include span-columns(1 omega, $context, $gutter-width);
    }

    h3 {
      display: block;
      width: auto;
      padding: $gutter-width;
    }

    dl {
      @include ctb-clearfix;
      padding: $gutter-width;
      font-size: $base-font-size;
      border-bottom: 1px solid $firefly30;
      dt {
        float: $from-direction;
      }
      dd {
       float: $omega; 
       font-weight: 200px;
      }
    }
  }
}

// A user profile
body.page-user.logged-in {

  // Sidebar
  #sidebar-first {
    height: 100%;
    top: $navbar-height !important;
    padding: $base-line-height;
    padding-top: $base-line-height * 2;
  }

  // User info block
  .user-info {
    .linked-accounts {
      margin-top: $gutter-width * 2;
      margin-bottom: $gutter-width * 2;

      .icon-twitter  {
        @include icon("twitter-sign", 21.5px, $twitter-blue);

        &:before {
          margin: 0;
        }
      }

      a {
        @include reset-box-model;
        display: inline;
        color: $firefly;
      }
    }
    .profile-links {
      a {
        @include checkdesk-button($light-grey);
        @include button-size(16px);
        text-transform: lowercase;
        float: $from-direction;
        clear: both;
        margin-bottom: $gutter-width;
      }
    }
  }

  // Profile contents
  h1.title {
    font-size: $x-large-font-size;
    strong {
      font-size: $xx-large-font-size + 2px;
    }
  }
  .tabs {
    display: none;
  }
  div.profile {
    .report-row-container {
      margin: 2px;
    }
  }
}

body.page-user.logged-in.toolbar {
  // Sidebar
  #sidebar-first {
    top: $navbar-height + $toolbar-height !important;
  }
}

// Checkdesk User Section Forms
//
// .not-front.not-logged-in.page-user - main container selector on body
//
// The log in page has a small form in the middle which also appears as an even smaller form in the navigation section.
//
// Forgot password and create new account <.item-list>s

//  this first selector is jacked ... -CGB
body.page-user-login, 
body.page-user-register, 
body.page-user-password { // both logged in and not logged ins states

  #main {

    h1.title {
      text-align: center;
    }

    #content-area {
      clear: both;
    }

  }

  // The page with your picture
  @include user-profile;

  // hide tabs
  .tabs {
    display: none;
  }

  // hide password strength and suggestions
  .password-strength, 
  .password-suggestions {
    display: none !important;
  }

  // captcha
  .captcha {
    @include ctb-clearfix;
    #recaptcha_table {
      float: $alpha;
      width: auto;
      background-color: $white;
      
      #recaptcha_response_field {
        width: 284px !important;
        @if $from-direction == right {
          margin-#{$alpha}: $gutter-width;
        }
      }

      #recaptcha_privacy {
        font-size: 80%;
      }
    }
  }

  // same size as the form
  #content-header {
    // @include span-columns(4, 6);
    // @include pad(1, 1, 6);
  }
  

  
//   // Break small
//   @include at-breakpoint($break-small) {
//     form {
//       #edit-social-media-signin a {
//         font-size: $large-font-size !important;
//       }
//     }
//   }
// }

#user-login, 
#user-register-form {
    @include span-columns(4, 6);
    @include pad(1, 1, 6);
    margin-top: $absolute-line-height;

    // when labels are visible
    label {
      color: $firefly60;
    }    

    // no need of space
    input[type="text"], input[type="password"] {
      margin-top: 0;
    }

    // hide required stars
    .form-required {
      display: none;
    }

    // hide extra link to twitter sign in
    & > div > .item-list {
      display: none;
    }

    // The social media sign-in boxes
    #edit-social-media-signin {
      float: none;
      .item-list {
        @include ctb-clearfix;
        text-align: center;
      }
      .item-list li {
        @include reset-list-style;
        display: inline;
        margin-#{$omega}: $gutter-width;
        a {
          float: none;
          display: inline-block;
          padding: $absolute-line-height/2 $gutter-width*2;
          margin-bottom: $absolute-line-height/2;
          color: $white;
          @include border-radius(4px);
          &:hover {
            text-decoration: none;
          }
        }
      }

      // Add the icons with a transition
      $sign-in-icon-size: 20px;
      li.first a {
        @include bb-transition($grey, $twitter-blue) {
          @include icon(twitter, $sign-in-icon-size, white);
        }
      }

      li a[class^='facebook'] {
        @include bb-transition($grey, $facebook-blue) {
          @include icon(facebook, $sign-in-icon-size, white);
        }
      }
    }

    .or {
      @include ctb-clearfix;
      font-family: $sans-serif-font-stack;
      color: $light-grey;
      text-align: center;
      margin: $absolute-line-height/2 0;
      span {
        display: inline-block;
        border: 1px solid lighten($light-grey, 20%);
        width: 40px;
        font-size: 10px;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include border-radius(1000px);
      }
    }

    .user-links {
      @include ctb-clearfix;
      font-family: $sans-serif-font-stack;
      font-size: $small-font-size;
      line-height: 1.5;
    }

    .form-item-remember-me {
      float: $alpha;
      padding-#{$from-direction}: $gutter-width*2;
      label {
        display: inline-block;
        color: $light-grey;
        font-family: $sans-serif-font-stack;
        font-size: $small-font-size;
        line-height: 1.5;
      }
      input[type="checkbox"] {
        float: $alpha;
        width: auto;

      }
    }

    .user-forgot-pass-link {
      float: $omega;
    }

    .form-actions {
      .form-submit {
        float: $alpha;
      }
      .user-new-account-link {
        float: $omega;
        margin-top: $absolute-line-height/4;
        font-family: $sans-serif-font-stack;
        font-size: $small-font-size;
        color: $light-grey;

        span {
          display: inline-block;
        }
        
        .register {
          @include reset-box-model;
          background: none;
          font-family: $sans-serif-font-stack;
          font-size: $small-font-size;
          font-weight: normal;
          @include ctb-linkColor($link-color);
        }
      }
    }
  }

// user admin page#
.view-administer-users {
  fieldset {
    margin-bottom: $absolute-line-height/2;
  }
  select {
    margin-bottom: $absolute-line-height/2;
  }
}

// Override default textfield float to put the "Add role" button next to
// the input textfield.
#user-admin-roles td.edit-name {
  clear: both;
}
#user-admin-roles .form-item-name {
  float: $alpha;
  margin-#{$omega}: 1em;
}
