// Drupal views
// 
// Defaults for all views lists: liveblog list of posts, list of

.view-content,
.views-field, 
.views-row { 
  @include clearfix; 
} 

.views-row {
  & > a {
  padding: $base-font-size 0;
  display: block;
  font-weight: bold;
  }
  
  // Views main title
  & > h1.title {
    padding: $base-font-size 0;
  }
  
  // Views paragraphs
  & > p {
    padding: $base-font-size 0;
  }
}

