// Drupal views
// 
// Defaults for all views lists: liveblog list of posts, list of reports

.view-content,
.views-field, 
.views-row { 
  // @include clearfix;
} 

.views-row {

  // The notorious link in the views-row
  // 
  // This is a very anonymous selector ...
  & > a {
    padding: $base-font-size 0;
    display: block;
    font-weight: bold;
  }
  
  // Views main title
  & > h1.title {
    padding: $base-font-size 0;
  }
  
  // Views paragraphs
  & > p {
    padding: $base-font-size 0;
  }

  .views-field-title {
    font-weight: 700;
    font-size: $large-font-size;
  }
}

