// Page with widgets
// Mostly same as incoming reports sidebar
//
// By default, there is only one column.
// In larger breakpoints the primary width $primary-width and secondary-width diverge to create two columns.
@mixin widgets-layout($secondary-width, $primary-width, $break: $container-width) {
  body.widgets {
    #main {
      @include reset-box-model;
      @content;

      // 2. The sidebar column
      #widgets.column {
        position: fixed;
        height: 100%;
        max-width: 360px;
        #{$alpha}: 0;
        top: $navbarHeight;
        width: 30%;
        border-#{$omega}: 1px solid rgba(0,0,0,.1);
        background-color: $white;
        
      }

      // 3. The primary content column, 
      // on story create page, the main column with the compser form
      #content {
        // position: absolute;
        margin-top: $navbarHeight;
        // bottom: 0;
        margin-#{$alpha}: 30%;
        // #{$omega}: 0;
        // overflow-y: auto;
        #content-inner {
          -moz-box-sizing: border-box;
          @include ctb-clearfix;
          max-width: 850px;
          padding-top: $base-line-height*2;
          @include pad(1,2, $break);
        }
      }
    }
  }
}

// ==========================================================================
// Default: up to break-small
@include widgets-layout($container-width, $container-width - 2); 

// ==========================================================================
// Breakpoint: small
@include at-breakpoint($break-small) {
  // $break: $break-small;
  // $secondary-width: 4;
  // $primary-width: $break-small - $secondary-width; // calculate main col width

  // body.widgets #main {
    // @include span-columns($break - 2, $break);
    // @include pad(1, 1, $break);
  // }

  // @include widgets-layout($secondary-width, $primary-width, $break); // reapply widgets-layout
}

// Hide featured stories block for small viewports
@media all and (max-height: 42em) {
  body.widgets #main #widgets.column {
    .view-featured-stories {
      display: none;
    }
  }
}

// Hide featured stories block for small viewports
@media all and (max-height: 72em) {
  body.widgets #main #widgets.column {
    .view-featured-stories {
      .views-row-first {
        img {
          display: none;
        }
      }
    }
  }
}

// ======================================================================
// Breakpoint: med
//
// The sidebar doubles in width and the primary form widens

@include at-breakpoint($break-medium) {
  // $break: $break-medium;
  // $secondary-width: 7;
  // $primary-width: $break-medium - $secondary-width; 
  // @include widgets-layout($secondary-width, $primary-width, $break) {
  //   @include span-columns($break - 4, $break, $gutter-width);
  //   @include pad(2, 2, $break);
  // }

 body.widgets #main #content {
    margin-#{$alpha}: 360px;
  }

}  
// Breakpoint: large
@include at-breakpoint($break-large) {

  body.widgets #main #content {
    margin-#{$alpha}: 360px;
  }

//   $break: $break-large/2;
//   $secondary-width: 7;
//   $primary-width: $break - $secondary-width;

//   body.widgets #main {
//     @include span-columns($break - 8, $break);
//     @include pad(2, 2, $break);
//   }
//   @include widgets-layout($secondary-width, $primary-width, $break) {
//     @include span-columns($break - 4, $break, $gutter-width);
//     @include pad(2, 2, $break);
//   }
}



// ======================================================================
// Widgets styles


#widgets {
  #widgets-inner {
    // width: 92%;
    padding: 12%;
    
    // remove margin from first block
    .region-widgets :first-child {
      margin-top: 0;
    }
  }
  // spacing between blocks/widgets
  .block {
    @include ctb-clearfix;
    margin: $absolute-line-height/2 0;
    // block title
    h2 {
      @include reset-box-model;
      border-top: 4px solid rgba(0,0,0,.1);
      padding-top: $base-line-height/2;
      margin-bottom: $base-line-height/2;
      font-family: $sans-serif-font-stack;
      font-weight: 700;
      font-size: $base-font-size;
      color: rgba(0,0,0,.4);
    }
    // keep embedded widgets width 100%
    iframe {
      width: 100% !important;
    }
  }

  .elsewhere {
    @include ctb-clearfix;
    // position: fixed;
    // bottom: $absolute-line-height;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(255,255,255,.8);

    h2 {
      @include reset-box-model;
      float: $alpha;
      border-top: 0px none;
      height: 24px;

      padding: $absolute-line-height/2 $gutter-width*2;
      font-size: $smaller-font-size;
      @if $from-direction == 'right' {
        font-size: $x-large-font-size;
        height: 20px;
        color: $grey;
      }
      @if $from-direction == 'left' {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        
      }
    }
    ul {
      @include reset-list-style;
      float: $omega;
      text-align: center;
      
      li {
        float: $alpha;
        a {
          display: block;
          border-#{$alpha}: 1px solid rgba(0,0,0,.1);
          background-color: rgba(0,0,0,.02);
          padding: $absolute-line-height/4 $gutter-width/2;
          vertical-align: top;
          line-height: 1.4;
          height: 36px;
          width: 35px;
          text-align: center;
          &:hover { 
            text-decoration: none;
            background-color: rgba(0,0,0,.05);
          }
        }

        span {
          &.icon-facebook  { @include icon("facebook", $larger-font-size, $facebook-blue); } 
          &.icon-twitter  { @include icon("twitter", $larger-font-size, $twitter-blue); }
          &.icon-google-plus  { @include icon("google-plus-sign", 40px, $red); }
          // social icons seem to be larger
          &.icon-youtube  { 
            @include icon("youtube", $larger-font-size, $red); 
          }
        }
      }
    }
  }   
}

