// Page with widgets
// Mostly same as incoming reports sidebar
//
// By default, there is only one column.
// In larger breakpoints the primary width $primary-width and secondary-width diverge to create two columns.
@mixin widgets-layout($secondary-width, $primary-width, $break: $container-width) {
  body.widgets {
    #main {
      @include reset-box-model;
      @content;

      // 2. The sidebar column
      #widgets.column {
        background-color: $white;
        display: block;
        position: fixed;
        height: 100%;
        max-width: 360px;
        #{$alpha}: 0;
        top: $navbarHeight;
        width: 30%;
        border-#{$omega}: 1px solid $firefly10;
        #widgets-inner { 
          padding: 12%;
          #partner-header,
          .widgets-wrapper {
            @include reset-columns;
            #featured-stories {
              .block {
                margin: $absolute-line-height/2 0;
              }
              h2 {
                display: none;
              }
            }
          }
          
        }
      }

      // 3. The primary content column, 
      // on story create page, the main column with the compser form
      #content {
        margin-top: $navbarHeight;
        margin-#{$alpha}: 30%;
        #content-inner {
          @include ctb-clearfix;
          max-width: 850px;
          padding-top: $absolute-line-height*1.5;
          @include pad(1,2, $break);
        }
      }
    }
  }
}

// ==========================================================================
// Default: up to break-small
@include widgets-layout($container-width, $container-width); 

// ==========================================================================
// Breakpoint: small
@include at-breakpoint($break-small) {
  body.widgets {
    #main {
      #widgets.column {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        border-#{$omega}: 0 none;
        border-bottom: 1px solid $firefly10;
        #widgets-inner {
          padding: 4% 2% 2%;
          @include ctb-clearfix();
          @include pad(1,1, $container-width);
          #partner-header {
            @include span-columns($break-small - 8, $break-small);
          }
          .widgets-wrapper {
            @include span-columns($break-small - 5, $break-small);
            #featured-stories {
              h2 {
                border-top: 0 none;
                padding-top: 0;
              }
              .block {
                margin-top: 0;
              }
            }
          }
          
        }
      }
      #content {
        margin-#{$alpha}: 0;
      }
    }
  }
}

// Hide featured stories block for small viewports
@media all and (max-height: 38em) {
  body.widgets #main #widgets.column {
    .view-featured-stories {
      display: none;
    }
  }
}

// Hide featured stories block for small viewports
@media all and (max-height: 48em) {
  body.widgets #main #widgets.column {
    .view-featured-stories {
      .views-row-first {
        img {
          display: none;
        }
      }
    }
  }
}

// ======================================================================
// Breakpoint: med
//
// The sidebar doubles in width and the primary form widens

@include at-breakpoint($break-medium) {
  @include widgets-layout($container-width, $container-width); 
  body.widgets {
    #main {
      #content {
        margin-#{$alpha}: 360px;
      }
    }
  }
}

// Breakpoint: large
@include at-breakpoint($break-large) {
  @include widgets-layout($container-width, $container-width); 
  body.widgets {
    #main {
      #content {
        margin-#{$alpha}: 360px;
      }
    }
  }
}



// ======================================================================
// Widgets styles


#widgets {
  #widgets-inner {
    // remove margin from first block
    .region-widgets :first-child {
      margin-top: 0;
    }
  }
  // spacing between blocks/widgets
  .block {
    @include ctb-clearfix;
    margin: $absolute-line-height/2 0;
    // block title
    h2 {
      @include reset-box-model;
      border-top: 4px solid $firefly10;
      padding-top: $base-line-height/2;
      margin-bottom: $base-line-height/2;
      @include cd-sans-serif-family;
      font-weight: 700;
      font-size: $base-font-size;
      color: $firefly40;
    }
    // keep embedded widgets width 100%
    iframe {
      width: 100% !important;
    }
  }

  .elsewhere {
    @include ctb-clearfix;
    text-align: center;
    h2 {
      display: none;
    }
    ul {
      @include reset-list-style;
      text-align: center;
      
      li {
        display: inline-block;
        a {
          display: block;
          padding: $absolute-line-height/4 $gutter-width/2;
          vertical-align: top;
          line-height: 1.4;
          height: 36px;
          width: 35px;
          text-align: center;
          &:hover { 
            text-decoration: none;
            background-color: $firefly5;
          }
        }

        span {
          &.icon-facebook  { @include icon("facebook", $larger-font-size, $facebook-blue); } 
          &.icon-twitter  { @include icon("twitter", $larger-font-size, $twitter-blue); }
          &.icon-google-plus  { @include icon("google-plus-square", $larger-font-size, $google-plus-red); }
          &.icon-tumblr  { @include icon("tumblr", $larger-font-size, $tumblr-blue); }
          // social icons seem to be larger
          &.icon-youtube  { 
            @include icon("youtube", $larger-font-size, $youtube-red); 
          }
        }
      }
    }
  }   
}

