// Page with widgets
// Implementations: The story page as seen by a journalist (create update)
//
// By default, there is only one column.
// In larger breakpoints the primary width $primary-width and secondary-width diverge to create two columns.
@mixin widgets-layout($secondary-width, $primary-width, $break: $container-width) {
  body.widgets {
    #main {
      @include span-columns($break, $break); //outermost container
      @include pad(0,0, $break); // override story.scss
      @content;

      // 2. The sidebar column
      #widgets.column {
        @include span-columns($secondary-width, $break); // sidebar width
        @include cd-box-shadow();
        background-color: white;
        margin-top: ms(0);
      }

      // 3. The primary content column, 
      // on story create page, the main column with the compser form
      #content {
        @include span-columns($primary-width omega, $break);
        @include pad(0,0, $break);
      }
    }
  }
}

// ==========================================================================
// Default: up to break-small
@include widgets-layout($container-width, $container-width - 2); 

// ==========================================================================
// Breakpoint: small
@include at-breakpoint($break-small) {
  $break: $break-small;
  $secondary-width: 4;
  $primary-width: $break-small - $secondary-width; // calculate main col width

  body.widgets #main {
    @include span-columns($break, $break); //reset to full
    @include pad(0, 0); //reset to no pad 
  }

  @include widgets-layout($secondary-width, $primary-width, $break); // reapply widgets-layout
}
// ======================================================================
// Breakpoint: med
//
// The sidebar doubles in width and the primary form widens

@include at-breakpoint($break-medium) {
  $break: $break-medium;
  $secondary-width: 7;
  $primary-width: $break-medium - $secondary-width; 

  @include widgets-layout($secondary-width, $primary-width, $break) {
    @include span-columns($break, $break); //reset container to full
    @include pad(0, 0); //reset container padding
  }
}  
// Breakpoint: large
@include at-breakpoint($break-large) {
  $break: $break-large;
  $secondary-width: 7;
  $primary-width: $break-large - $secondary-width;
  body.widgets #main {
    @include span-columns($break, $break); // reset to full
    @include pad(0, 0, $break); // reset to zero
  }
  @include widgets-layout($secondary-width, $primary-width, $break); // reapply widgets-layout with new break
}