// Page with widgets
//


// Single column layout
// Mobile default
//
%widgets-layout-1col {

  @include d;
  
  #main {

    #content { margin-#{$alpha}: 0; }

    #widgets.column {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-#{$omega}: 0 none;
      border-bottom: 1px solid rgba(0,0,0,.1);
      
      #widgets-inner {
        padding: 4% 2% 2%;
        @include ctb-clearfix();
        @include pad(1,1, $container-width);
        
        #partner-header { @include span-columns($breakpoint - 8, $breakpoint);  }
        
        .widgets-wrapper {
          @include span-columns($breakpoint - 5, $breakpoint);
          #featured-stories {
            .block { margin-top: 0; }
            h2 {
              border-top: 0 none;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

// Two column layout
// 
@mixin widgets-layout-2col {
  #main {
    @include reset-box-model;

    // Sidebar
    #widgets.column {
      background-color: $white;
      display: block;
      position: fixed;
      height: 100%;
      max-width: 360px;
      width: 30%;
      #{$alpha}: 0;
      top: $navbarHeight;
      border-#{$omega}: 1px solid rgba(0,0,0,.1);
      
      #widgets-inner { 
        padding: 12%;

        #partner-header,
        .widgets-wrapper {
          @include reset-columns;
          #featured-stories {
            .block {
              margin: $absolute-line-height/2 0;
            }
            h2 {
              border-top: 4px solid rgba(0,0,0,.1);
              padding-top: $base-line-height/2;
            }
          }
        }
      }
    }

    // The primary content column
    #content {
      margin-top: $navbarHeight;
      margin-#{$alpha}: 30%;
      overflow-y: auto;
      #content-inner {
        @include ctb-clearfix;
        max-width: 850px;
        padding-top: $base-line-height*2;
        @include pad(1,2, $breakpoint);
      }
    }
  }
}

// ======================================================================
// Default: up to break-small
body.widgets { @extend %widgets-layout-1col; }

// ======================================================================
// Breakpoint: after break-small
@include at-breakpoint($breakpoint) {
    body.widgets { @include widgets-layout-2col;
  }
}

// ======================================================================
// Hide some sidebar elements on short viewports
@media all and (min-height: 38em) { 
  #widgets.column .view-featured-stories .views-row-first img { display: none; } 
}

@media all and (min-height: 48em) { 
  #widgets.column .view-featured-stories { display: none; } 
}

// ======================================================================
// Widgets styles

#widgets {
  
  #widgets-inner  .region-widgets:first-child { margin-top: 0; }

  .block {
    @include ctb-clearfix;
    margin: $absolute-line-height/2 0;
    

    h2 {
      @include reset-box-model;
      border-top: 4px solid rgba(0,0,0,.1);
      padding-top: $base-line-height/2;
      margin-bottom: $base-line-height/2;
      @include cd-sans-serif-family;
      font-weight: 700;
      font-size: $base-font-size;
      color: rgba(0,0,0,.4);
    }
    
    iframe { width: 100% !important; } // keep embedded widgets width 100%
  }

  .elsewhere {
    @include ctb-clearfix;
    text-align: center;
    
    h2 {
      @include reset-box-model;
      float: $alpha;
      border-top: 0px none;
      height: 24px;
      padding: $absolute-line-height/2 $gutter-width*2 $absolute-line-height/2 0;
      font-size: $smaller-font-size;
      @if $from-direction == 'right' {
        font-size: $x-large-font-size;
        height: 20px;
        color: $grey;
      }
      @if $from-direction == 'left' {
        text-transform: uppercase;
        letter-spacing: 0.15em;
      }
    }

    ul {
      @include reset-list-style;
      float: $alpha;
      text-align: center;
      
      li {
        float: $alpha;
        a {
          display: block;
          padding: $absolute-line-height/4 $gutter-width/2;
          vertical-align: top;
          line-height: 1.4;
          height: 36px;
          width: 35px;
          text-align: center;
          &:hover { 
            text-decoration: none;
            background-color: rgba(0,0,0,.05);
          }
        }

        span {
          &.icon-facebook  { @include icon("facebook", $larger-font-size, $facebook-blue); } 
          &.icon-twitter  { @include icon("twitter", $larger-font-size, $twitter-blue); }
          &.icon-google-plus  { @include icon("google-plus-sign", 40px, $red); }
          // social icons seem to be larger
          &.icon-youtube  { 
            @include icon("youtube", $larger-font-size, $red); 
          }
        }
      }
    }
  }   
}