
@import "bowerbird";
$alpha: $from-direction;
$omega: opposite-position($from-direction);
$gw: 12px;

// bad float issue
BODY.sidebar-first #main .column#sidebar-first {
	width: 400px;
	float: $alpha;
	margin-#{$omega}: $gw;
}

BODY.sidebar-first #main DIV#content .inner {
	width: 800px;
	float: $alpha;
}
// username in single line
nav[role='navigation'] #user-menu SPAN.avatar {
	float: $alpha;
	width: 20px;
	margin-#{$omega}: $gw;
}


// REPORTS
// ---------------------------------------

// remove extra space at the top
.report > header {
	padding: 0;
	margin: 0;
}

// stop container from collapsing
// due to display: inline-block;
.report .report-content .report-media .container {
	display: inline;
}

// clarify dropdown menu's edges 
.dropdown-menu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#DDDDDD')";
	border: 1px solid #CCCCCC;
}