#l10n-client {
  display: block !important;
  visibility: visible !important;
  form {
    width: 100%;
    .form-item {
      textarea {
        clear: both;
        float: none;
      }     
    }
  }
}