// RTL
//
// 1. ============================================
// re-configuration
$from-direction: right !default;
$icon-position: after !default;

// ar fonts 
// note the semantic names
// needs #review for fallback fonts CGB

$ar-header-font-family: "Andalus", "Arabic Typesetting", "Tahoma" !default;
$ar-body-font-family: "DecoType Naskh", "Amiri", "Tahoma" !default;
$ar-nav-font-family: "Droid Arabic Naskh", "DecoType Naskh", "Tahoma" !default;

// needs #review to confirm this selection
// override defaults — which must be set with !default
$header-font-family: $ar-header-font-family !default;
$body-font-family: $ar-body-font-family !default;

// 2. ============================================
// Now we reload all styles with this updated configuration

@import "style"; 


// 3. ============================================
// Override the text direction
body.i18n-ar, 
.rtl { 
  direction: rtl; 
}