/*
Syntax error: File to import not found or unreadable: bowerbird.
              Load path: /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk
        on line 8 of assets/scss/style.scss

3: // First, Checkdesk configuration.
4: @import "base";
5: 
6: // Bowerbird Compass Framework (BCF)
7: // See: README.md and ../bowerbird/README.md
8: @import "bowerbird";
9: 
10: // Checkdesk override susy functions very selectively
11: // (for debugging support only at this point) — CGB Nov 2012
12: @import "override_susy/functions";
13: 

Backtrace:
assets/scss/style.scss:8
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:45:in `import'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/plugin.rb:107:in `method_missing'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/exec.rb:444:in `watch_or_update'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/exec.rb:307:in `process_result'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/exec.rb:41:in `parse'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/exec.rb:21:in `parse!'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/bin/sass:8:in `<top (required)>'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/bin/sass:23:in `load'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bowerbird.\A               Load path: /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk\A         on line 8 of assets/scss/style.scss\A \A 3: // First, Checkdesk configuration.\A 4: @import \"base\";\A 5: \A 6: // Bowerbird Compass Framework (BCF)\A 7: // See: README.md and ../bowerbird/README.md\A 8: @import \"bowerbird\";\A 9: \A 10: // Checkdesk override susy functions very selectively\A 11: // (for debugging support only at this point) — CGB Nov 2012\A 12: @import \"override_susy/functions\";\A 13: "; }
