@charset "UTF-8";
// Checkdesk Sass Theme 2.x

// Modular scale via gem
@import "modular-scale";

// Bowerbird colors by name
// Example usage: div { color: $tupperware-blue; }
// We always want to use colors by name, to facilitate readbility + discussion.
// hsl() values preferred for readability
@import "bowerbird/colors";

// Checkdesk configuration (relies on colors and modular scale)
@import "base";

// Bowerbird Compass Extension
// See: README.md and ../bowerbird/README.md
@import "bowerbird";

// Checkdesk override susy functions very selectively
@import "override_susy/grid";

// Bowerbird Drupal touchups
@import "bowerbird/drupal";

//  Debugger mixins for the grid, breakpoints, etc.
@import "bowerbird/debug";

// Transition helper, for transitioning between two states
@import "bowerbird/transition";

// Bowerbird font-icon support mixins: apply-font-face() and icon()
@import "bowerbird/icons/icons";

// background image helper for development
@import "bowerbird/backgrounds";

// Icon webfonts stored locally
// This loads many classnames that can be safely removed before production - CGB
@include apply-font-face("FontAwesome", "fontawesome-webfont");

// Load .icon- classnames
// Import the classnames as a mixin
@import "bowerbird/icons/fontawesome";
// Now use the mixin
@include all-fontawesome-classnames;

// Bowerbird fork of fancy-buttons 
// Example usage: button { @include button($tupperware-blue, 26px, 1em, 4px); }
// Replaces: "bowerbird/compass_twitter_bootstrap/buttons";
// Replaces: "bowerbird/compass_twitter_bootstrap/button-groups";
@import "bowerbird/buttons";

// Bowerbird fork of fancy-gradients
// Example usage: div { @include gradient($dark-blue, $midnight-blue); }
@import "bowerbird/gradients";

// ====================================================================== 
// Checkdesk (lightly forked) versions of Twitter Bootstrap libraries.
//
// These are customized versions of existing modules (files).
// The order of the includes is important: variables, mixin, then reset
// Gradually Deprecated: use our own mixins wherever possible.
// Use unmodified versions straight from bowerbird whenever possible.
@import "override_ctb/variables";

// Our overrides and replacement for TB mixins
// All of them are namespaced ctb-mixinname
@import "override_ctb/mixins";

// Our version of TB reset
$inputHeight: $base-line-height;
@import "bowerbird/compass_twitter_bootstrap/reset";

// our version of bootstrap forms
// @import "override_ctb/forms";

// our bootstrap modals
@import "override_ctb/modals";
// @import "bowerbird/compass_twitter_bootstrap/modals";

// our bootstrap alerts
@import "override_ctb/alerts";

// our bootstrap dropdowns
@import "override_ctb/dropdowns";

// ====================================================================== 
// Imported but unmodified Twitter Bootstrap scaffolding
//
// TB "scaffolding" - Setup typography and image classes
// Deprecated: these should be in more appropriate files or mixins
@import "bowerbird/compass_twitter_bootstrap/scaffolding";

// TB Syntax highlighting
@import "bowerbird/compass_twitter_bootstrap/code";

// TB Tabular data
@import "bowerbird/compass_twitter_bootstrap/tables";

// TB utilities
@import "bowerbird/compass_twitter_bootstrap/utilities";   // Should come last of TB

// ====================================================================== 
// The Rest of Twitter Bootstrap
// Ready to wear
//
// These bootstrap files not in use.
// They are available via bowerbird's copy of the compass_twitter_bootstrap library.
// Uncomment these lines to use them:
// @import "bowerbird/compass_twitter_bootstrap/sprites";
// @import "bowerbird/compass_twitter_bootstrap/wells";
// @import "bowerbird/compass_twitter_bootstrap/component-animations";
// @import "bowerbird/compass_twitter_bootstrap/close";
// @import "bowerbird/compass_twitter_bootstrap/breadcrumbs";
// @import "bowerbird/compass_twitter_bootstrap/pagination";
// @import "bowerbird/compass_twitter_bootstrap/pager";
// @import "bowerbird/compass_twitter_bootstrap/thumbnails";
// @import "bowerbird/compass_twitter_bootstrap/labels-badges";
// @import "bowerbird/compass_twitter_bootstrap/progress-bars";
// @import "bowerbird/compass_twitter_bootstrap/accordion";
// @import "bowerbird/compass_twitter_bootstrap/carousel";
// @import "bowerbird/compass_twitter_bootstrap/hero-unit";
// @import "bowerbird/compass_twitter_bootstrap/tooltip";
// @import "bowerbird/compass_twitter_bootstrap/popovers";

// ====================================================================== 
// Main Checkdesk Sass files
// Drupal sections, pages, mixins

// Some shared helpers
@import "shared";

//  Checkdesk typography
//  And a reponsive typography mixin which is applied in layout.
@import "typography";

// Checkdesk Drupal tabs
// .tabs - the containing element which has a ul.primary and ul.secondary
@import "tabs";

// Checkdesk notifications
// #block-views-my-notifications-block - the main notification list in the top bar
@import "notifications";

// Checkdesk reports
@import "report";

// Checkdesk commenting plugin
@import "livefyre";

// Checkdesk bookmarklet stuff
@import "bookmarklet";

// Checkdesk Pagination
@import "pagination";

// Main form styles
@import "forms";

// Form: password strength section
@import "form_password";

// User section and form
@import "user";

// Create node page and form
@import "create_node";

// Primary Navigation and Drupal nav at very top
@import "navigation";

// Reports filters on sidebar
@import "reports_filter";

// Sidebar layout with main and secondary cols
@import "sidebar";

// Tabs
@import "tabs"; 

// Forms
@import "forms"; 

// ====================================================================== 
//  Checkdesk layout
//
body {
  @include container($cw $break-small $break-medium);
  #main {
    @include span-columns($cw, $cw);
  }
}

// ====================================================================== 
// Styles in progress that have not been refactored into imports
//
body {
  background-color: $light-grey;  
  
  // Drupal blocks
  .block {
    float: $from-direction;
    clear: both;
    background-color: yellow!important;
  }
}

// ====================================================================== 
// Specific pages (for now, w/ unique body selectors)
//

// User section
body.not-front.not-logged-in.page-user { @include cd-user-section; }

// Sidebar page
@import "sidebar";

// ====================================================================== 
// Lastly: hacks to be removed
//
@import "evil_hacks";