@charset "UTF-8";

// Colors
// via: bowerbird sass extension
// note: We always want to use colors by name, to facilitate readbility + discussion.
// note: hsl() values preferred for readability
@import "colors"; // checkdesk theme colors
@import "bowerbird/colors";

// Variables and Mixins
@import "variables";
@import "mixins";
// Flexbox mixins until we use something like Autoprefixer
@import "flexbox_mixins";

// Checkdesk Global
@import "global";

// Aliases for bidirectional stuff
$alpha: $from-direction;
$omega: opposite-position($from-direction);

// Tell the browser about these files and define the font name
// See base.scss configuration, with overrides in style-rtl.scss
// @font-face with unciode range declarations are in fonts.scc
// Icon fonts
@include bowerbird-font-face("FontAwesome", "fontawesome-webfont-webfont");

// English fonts
@import url(//fonts.googleapis.com/css?family=Lato:400,400italic,700|Merriweather:400,400italic,700);

// Bowerbird Compass Extension
// See also README.md and ../bowerbird/README.md
// Requires: base
@import "bowerbird";

// Bowerbird font-icon support mixin: icon()
@import "bowerbird/icons/icons";

// Load @extendable %icon- selectors
// @extend directly or use icon() mixin to do it for you
@import "bowerbird/icons/fontawesome";

// ======================================================================
// Checkdesk (lightly forked) versions of Twitter Bootstrap libraries.
//
// These are customized versions of existing modules (files).
// The order of the includes is important: variables, mixin, then reset
//
// Deprecated: use our own mixins wherever possible. Also, use unmodified versions straight from bowerbird whenever possible.

// Our overrides and replacement for TB mixins
//
// All of them are namespaced ctb-mixinname
@import "replace_ctb/mixins";
@import "replace_ctb/forms";
@import "replace_ctb/navs";
@import "replace_ctb/buttons";
@import "compass_twitter_bootstrap/reset";

// @import "compass_twitter_bootstrap/code"; // TB Syntax highlighting
// @import "compass_twitter_bootstrap/tables"; // TB Tabular data

// TB utilities
@import "compass_twitter_bootstrap/utilities";

// Completely unrelated to Twitter Bootstrap mixins file
@import "components/alerts";

// Mix of Drupal alerts and Twitter Bootstrap alerts.
@import "components/dropdowns";

// Modals
@import "components/responsive_modals";
@import "components/modal_form";

// ======================================================================
// Main Checkdesk Sass files
// Pages, navigation, layout

//  Checkdesk typography
//  And a reponsive typography mixin which is applied in layout.
@import "bowerbird/_typography";

//defaults
@import "base/base";
@import "base/typography";
@import "base/lists";
@import "base/helpers";
@import "base/faux-block-link";

//checkdesk specific

// Global Navigation, user menu and Drupal nav at very top
@import "layout/header";
@import "module/navigation";
@import "module/responsive_nav";
@import "module/submeta";
@import "module/drupal_admin_nav";

// Layouts
@import "layout/widgets";
@import "layout/sidebar";
@import "module/sidebar_filters";
@import "layout/footer";


// Partner stuff
@import "module/partner/partner_header";
@import "module/branding";
@import "module/content/static";


// ======================================================================
// Checkdesk pages
//

// Checkdesk media
@import "module/content/media";

// Checkdesk reports
@import "module/content/report/report";
@import "module/content/report/report_detail";
@import "module/content/report/reports_incoming";

// Checkdesk updates
@import "module/content/update";

// Story blog page with discussion
@import "module/content/story";
@import "module/content/content_body";

// Most Popular component
@import "components/most_popular";

// Common item styles
@import "module/items";
@import "module/item";

// Container
@import "module/container/container";
@import "module/container/containers";
@import "module/container/slices";
@import "module/container/l_row";
@import "module/container/l_list";
@import "module/container/linkslist";
// Container item tones
@import "module/container/tones";
// Container item
@import "module/container/cd_item";
@import "module/container/cd_items";


// Story colloboration activity
@import "module/activity";

// Create node page and form
@import "components/forms/create_node";
@import "components/forms/create_story";

// Forms, Tables
@import "components/forms/forms";
@import "base/tables";

// Checkdesk notifications
// #block-views-my-notifications-block - the main notification list in the top bar
@import "module/notifications";

// Filters
@import "module/filters";

// Tags
@import "module/tag-list";

// Checkdesk Pagination
@import "components/pagination";

// Checkdesk user accounts
@import "module/user/user";
@import "module/user/user_forms";
@import "module/user/administer_users";
@import "module/user/user_menu";

// Form: password strength section
@import "components/forms/form_password";

// Forms autocomplete and jquery ui
@import "replace_drupal/jquery.ui.autocomplete";

// Drupal styles
// Drupal itself should not emit *any* CSS.
//
// These are all of the files that were ultimately being included in the markup.
// Now all of them can be controlled here and inspected more easily.
// Ideally these will all be *completely refactored away* CGB Jan 2013
@import "replace_drupal/system_base";
@import "replace_drupal/system_menus";
@import "replace_drupal/jquery_ui_core";
@import "replace_drupal/jquery_ui_dialog";
@import "replace_drupal/comment";
@import "replace_drupal/field";
@import "replace_drupal/node";
@import "replace_drupal/toolbar";
@import "replace_drupal/shortcut";
@import "replace_drupal/contextual";
@import "replace_drupal/rules";
@import "replace_drupal/context_reaction_block";
@import "replace_drupal/vertical-tabs";

// ======================================================================

// #sidebar-first.column,
// .desk { background-color: white; }

// ======================================================================
// Bidi helpers
// These are unusual because they are not overridden in style-rtl.scss
.rtl {
  text-align: right;
  direction: rtl;
}

.ltr {
  text-align: left;
  direction: ltr;
}

// Based on bootstrap-tour default CSS

// ======================================================================
// Lastly: hacks to be removed
//
@import "evil_hacks";

// ======================================================================
// No really, The End
//
// Debuggers get the final word

// $display-layout-debugger: true; // shows current breakpoint and columns
// @include visualize-grid($display-layout-debugger);
