
@import "base"; 

$from-direction: right;
$absolute-line-height: $absolute-line-height * 1.2;
$header-font-stack: $ar-header-font-stack;
$body-font-stack: $ar-body-font-stack;
$nav-font-stack: $ar-body-font-stack;

@import "style"; 
@import "drupal/vertical-tabs-rtl";

html body.i18n-ar, 
.rtl { 
  direction: rtl;
  text-align: right;
}

html body.i18n-ar {
  font-size: $large-font-size;
}

.posts {
  h3 a {
    font-family: $ar-body-font-stack;
  }
}