header#header {
  position: relative;
  height: 100%;
}

// utility classes for animating header
.hidden-on-frontpage {
  visibility: hidden;
  opacity: 0;
  will-change: opacity;
}

// adjust header items for drupal toolbar
ul#breadcrumb, ul#user-menu, ul#utility-menu {
  position: fixed;
  top: 0;
  body.toolbar & {
    top: $toolbarMenuHeight;
  }
  body.toolbar-drawer & {
    top: $toolbarHeight;
  }
  #{$omega}: 0;
  height: $headerHeight;
  @include flexbox;
  @include align-items(center);
  @include box-sizing(border-box);
  @include reset-list-style;
  padding: 0 50px;
  a { @include ctb-linkColor($firefly30); }
  will-change: transform;

  @include cd-responsive(small-screens) {
    body.toolbar & {
      top: 0;
    }
    body.toolbar-drawer & {
      top: 0;
    }
    padding: 0 20px;
  }  

}

ul#breadcrumb {
  #{$alpha}: $navbarWidth;
  z-index: $z-index-FixedHeader + 1;
  pointer-events: none;

  li {
    pointer-events: auto;
  }

  a {
    display: block;
  }

}

ul#breadcrumb h1 {
  margin-bottom: 0;
  padding-#{$omega}: 200px;
  overflow: hidden;
  @include cd-sans-serif-family;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul#user-menu {
  #{$alpha}: 0;
	@include flex-direction(row-reverse);
	margin-#{$alpha}: $navbarWidth;
	z-index: $z-index-FixedHeader;
  background: #fff;

  &:after {
    content: '';
    position: absolute;
    #{$alpha}: 0;
    #{$omega}: 0;
    bottom: 0;
    height: 100%;
    box-shadow:0 -4px 0px 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    .show-content-shadow & {
      opacity: 1;
    }
  }

	// add bell icon for notifications.
  .icon-bell-o { 
  	@include icon("bell-o", 26px); 
  	&:before {
      margin: 0;
    }
  }
}


ul#user-menu li {
  position: relative;
  #my-notifications-menu-link {
    border-#{$alpha}: 1px solid $firefly10;
  }
}

ul#user-menu li > a { 
  padding: 0 20px;
  @include transition(border 0.2s ease);
  @include transition(color 0.2s ease);
}

ul#user-menu .badge {
  position: absolute;
  display: block;
  top: 4px;
  #{$alpha}: 35px;
  padding: 4px;
  line-height: 10px;
  font-size: 12px;
  font-weight: bold;
  @include border-radius(2px);
  color: $notification-count-color;
  background: $notification-count-bkg-color;
}

// apply default avatar styles
ul#user-menu .avatar__menu {
  @include cd-avatar('inline');
  @include border-radius(50%);
  border: 3px solid $firefly20;
}

ul#user-menu .sign-in-up {
  padding: 0 15px;
  font-size: 16px;
  color: $dodgerBlue80;
  border: 1px solid $dodgerBlue80;
  @include border-radius(4px);
  line-height: 36px;
  &:hover {
    color: $dodgerBlue;
    border-color: $dodgerBlue;
  }
}

ul#utility-menu {
  #{$omega}: 200px;
  padding: 0 20px;
  z-index: $z-index-FixedHeader + 1;
  a.language-link {
    padding: 10px;
  }
}

#my-account {
  ul {
    @include reset-list-style;
  }
}

// Position dropdown menu
#user-menu {
  .dropdown-menu {
    #{$alpha}: auto;
    #{$omega}: 10px;

    @if $from-direction == left {
      @include border-radius($radius 0 $radius $radius);
    }
    @else {
      @include border-radius(0 $radius $radius $radius);
    }
  }
}