// #header {
  
// }

// utility classes for animating header
.hidden-on-frontpage {
  visibility: hidden;
  opacity: 0;
  will-change: opacity;
}

// adjust header items for drupal toolbar
.metabar {
  position: fixed;
  top: 0;
  #{$alpha}: 0;
  padding: 0 20px;
  @include cd-responsive('min-width: #{$width-tablet}') {
    #{$alpha}: $navbarWidth;
    padding: 0 50px;
    body.toolbar & {
      top: $toolbarMenuHeight;
    }
    body.toolbar-drawer & {
      top: $toolbarHeight;
    }
    
  }
  #{$omega}: 0;
  z-index: $z-index-FixedNavbar;
  
  @include flexbox;
  @include align-items(center);
  @include box-sizing(border-box);
  height: $headerHeight;
  background: #fff;
  @include transition(top 0.2s ease-in-out);
  will-change: transform;
}

// adjust top when drupal admin toolbar is present
// only when responsive nav isn't active
html:not(.js-nav-active) .metabar.header-up {
  top: - $headerHeight;
  body.toolbar & {
    top: - ($headerHeight + $toolbarMenuHeight);
  }
  body.toolbar-drawer & {
    top: - ($headerHeight + $toolbarHeight);
  }
}

ul#breadcrumb {
  @include flexbox;
  @include align-items(center);
  margin-#{$omega}: auto;
}

ul#breadcrumb svg.logo-icon {
  position: relative;
  top: 3px;
  fill: $firefly60;
}

ul#breadcrumb li {
  list-style: none;
}

ul#breadcrumb li.nav-toggle {
  padding-#{$omega}: 20px;
  margin-#{$omega}: 10px;
  body.front.scrolling & {
    border-#{$omega}: 1px solid $firefly10;
  }
  body.not-front & {
    border-#{$omega}: 1px solid $firefly10;
  }
}

ul#breadcrumb a {
  display: block;
}

ul#breadcrumb h1 {
  margin-bottom: 0;
  @include cd-responsive('min-width: #{$width-tablet}') {
    padding-#{$omega}: 200px;
  }
  overflow: hidden;
  @include cd-sans-serif-family;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  ul#breadcrumb a.header_logo img {
    @include border-radius(4px);
  }
}

ul#user-menu {
	@include flexbox();
  @include flex-direction(row-reverse);
  @include align-items(center);
  // make user-menu the last item in metabar
  @include order(3);

  &:after {
    content: '';
    position: absolute;
    #{$alpha}: 0;
    #{$omega}: 0;
    bottom: 0;
    height: 100%;
    box-shadow:0 -4px 0px 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    .show-content-shadow & {
      opacity: 1;
    }
    .js-nav-active .show-content-shadow & {
      opacity: 0;
    }
  }

	// add bell icon for notifications.
  .icon-bell-o { 
  	@include icon("bell-o", 26px); 
  	&:before {
      margin: 0;
    }
  }
}


ul#user-menu li {
  @include cd-responsive('min-width: #{$width-tablet}') {
    position: relative;
  }
  list-style: none;
}

@include cd-responsive('min-width: #{$width-tablet}') {
  #my-notifications-menu-link {
    border-#{$alpha}: 1px solid $firefly10;
  }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  #my-account-link .caret { display: none; }
}

ul#user-menu li > a { 
  display: block;
  text-decoration: none;
  @include transition(border 0.2s ease);
  @include transition(color 0.2s ease);
}

ul#user-menu li a.dropdown-toggle {
  padding-#{$alpha}: 20px;
  padding-#{$omega}: 20px;
  @media (min-width: 1px) and (max-width: #{$width-tablet}) {
    position: relative;
    padding-#{$alpha}: 8px;
    padding-#{$omega}: 8px;
  }
  @include ctb-linkColor($firefly30);
}

ul#user-menu .badge {
  position: absolute;
  display: block;
  top: 4px;
  #{$alpha}: 35px;
  @media (min-width: 1px) and (max-width: #{$width-tablet}) {
    #{$alpha}: 24px;
  }
  padding: 4px;
  line-height: 10px;
  font-size: 12px;
  font-weight: bold;
  @include border-radius(2px);
  color: $notification-count-color;
  background: $notification-count-bkg-color;
}

// apply default avatar styles
ul#user-menu .avatar-menu {
  @include cd-avatar('inline');
  @include border-radius(50%);

  @include cd-responsive('min-width: #{$width-tablet}') {
    border: 3px solid $firefly20;
  }
}

// Utility menu which contains language switcher
// don't show it on mobile
@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  #utility-menu { display: none; }
}

@include cd-responsive('min-width: #{$width-tablet}') {
  #utility-menu {
    padding-#{$alpha}: 20px;
    padding-#{$omega}: 20px;
    li { list-style: none; }
    a.language-link { 
      @include ctb-linkColor($firefly30);
      padding: 10px; 
    }
  }
}

#my-account {
  ul {
    @include reset-list-style;
  }
}

// Position dropdown menu
#user-menu .dropdown-menu {
  #{$alpha}: auto;
  #{$omega}: 10px;

  @media (min-width: 1px) and (max-width: #{$width-tablet}) {
    width: 100%;
    #{$alpha}: 0;
    #{$omega}: 0;
  }

  @include box-sizing(border-box);

  @if $from-direction == left {
    @include border-radius($radius 0 $radius $radius);
  }
  @else {
    @include border-radius(0 $radius $radius $radius);
  }
}