// Page with sidebar second

body.sidebar-second #main {
	position: relative;
	display: flex;
}

body.sidebar-second #main #content {
	padding-#{opposite-position($from-direction)}: 20px;
	flex: 4;
	margin: 0;
	@include box-sizing(border-box);
	overflow: auto;
	// checkdesk search
	.cd-container { 
		@include ctb-clearfix;
		margin-bottom: 160px;
		// add styles for load more pager
    @include ctb-load-more-pager;
    .pager-load-more {
    	margin-top: 30px;
    }
	}
}	

body.sidebar-second aside#sidebar-second {
	flex: 2;
	padding-top: $absolute-line-height;
	padding-#{opposite-position($from-direction)}: 50px;
	max-width: 300px;
	overflow: auto;
	height: auto;
	@include box-sizing(border-box);
}