// Page with sidebar first
// as in incoming reports

// adjust top for drupal toolbar
body.toolbar-drawer #sidebar-first.column {
  top: $toolbarHeight + $headerHeight !important;
}

body.sidebar-first #main {
  position: relative;
  @include flexbox;
}

body.sidebar-first #main #content {
  margin-#{$alpha}: 360px;
  @include flex(4);
}

body.sidebar-first #sidebar-first.column {
  position: fixed;
  // flex-basis: 360px;
  // flex-shrink: 1;
  // flex-grow: 2;
  @include flex(2 1 360px);
  max-width: 360px;
  #{$alpha}: $navbarWidth;
  top: $headerHeight;
  height: 100%;
  border-#{$omega}: 1px solid $firefly10;
  background-color: #fff;
  z-index: 1;
  .view-desk-reports {
    .view-content {
      height: 400px; // default height adjusted by jQuery in reports.js
      overflow-y: auto;
    }
  }
  // add styles for load more pager
  @include ctb-load-more-pager;
}

// Page with sidebar second
// as in search page
// using flex
body.sidebar-second #main {
	position: relative;
	@include flexbox;
}

body.sidebar-second #main #content {
	padding-#{$omega}: 20px;
	@include flex(4);
	margin: 0;
	max-width: 860px;
	@include box-sizing(border-box);
	overflow: auto;
	// checkdesk search
	.cd-container { 
		@include ctb-clearfix;
		margin-bottom: 160px;
		// add styles for load more pager
    @include ctb-load-more-pager;
    .pager-load-more {
    	margin-top: 30px;
    }
	}
}	

body.sidebar-second aside#sidebar-second {
	@include flex(2);
	padding-top: $absolute-line-height;
	padding-#{$omega}: 50px;
	max-width: 300px;
	overflow: auto;
	height: auto;
	@include box-sizing(border-box);
}

