// ======================================================================
// Widgets styles

#widgets {
  background: #fff;
  #widgets-inner {
    padding-bottom: 10px;
    // remove margin from first block
    .region-widgets :first-child {
      margin-top: 0;
    }
  }
  // spacing between blocks/widgets
  .block {
    @include ctb-clearfix;
    margin: $absolute-line-height/2 0;
    // block title
    h2 {
      @include reset-box-model;
      border-top: 4px solid $firefly10;
      padding-top: $base-line-height/2;
      margin-bottom: $base-line-height/2;
      @include cd-sans-serif-family;
      font-weight: 700;
      font-size: $base-font-size;
      color: $firefly40;
    }
    // keep embedded widgets width 100%
    iframe {
      width: 100% !important;
    }
  }

  .elsewhere {
    @include ctb-clearfix;
    text-align: center;
    h2 {
      display: none;
    }
    ul {
      @include reset-list-style;
      text-align: center;
      
      li {
        display: inline-block;
        a {
          display: block;
          padding: 8px 5px;
          vertical-align: top;
          line-height: 1.4;
          height: 36px;
          width: 35px;
          text-align: center;
          color: $firefly30;
          @include border-radius(4px);
          &:hover { 
            text-decoration: none;
            background-color: $firefly5;
          }
        }

        span {
          &.icon-facebook  { @include icon("facebook", $larger-font-size); } 
          &.icon-twitter  { @include icon("twitter", $larger-font-size); }
          &.icon-google-plus  { @include icon("google-plus-square", $larger-font-size); }
          &.icon-tumblr  { @include icon("tumblr", $larger-font-size); }
          // social icons seem to be larger
          &.icon-youtube  { 
            @include icon("youtube", $larger-font-size); 
          }
        }
      }
    }
  }   
}
