@import "colors";
@import "bowerbird/colors";

// ensure we have the original variables loaded
@import "global";

// Aliases for bidirectional stuff
$alpha: $from-direction;
$omega: opposite-position($from-direction);

// Variables and Mixins
@import "variables";
@import "mixins";
@import "replace_ctb/mixins";
// Flexbox mixins until we use something like Autoprefixer
@import "flexbox_mixins";

// Bowerbird Compass Extension
// See also README.md and ../bowerbird/README.md
@import "bowerbird";

// Bowerbird font-icon support mixin: icon()
@import "bowerbird/icons/icons";

// Load @extendable %icon- selectors
// @extend directly or use icon() mixin to do it for you
@import "bowerbird/icons/fontawesome";

// Mix of Drupal alerts and Twitter Bootstrap alerts.
@import "components/dropdowns";

// =======================================================================
// Header User Menu and Notifications Menu
//

// Checkdesk notifications menu
@import "module/notifications";
// Checkdesk user menu
@import "module/user/user_menu";

ul#user-menu {
	@include flexbox();
  @include flex-direction(row-reverse);
  @include align-items(center);
  // make user-menu the last item in metabar
  @include order(3);

  &:after {
    content: '';
    position: absolute;
    #{$alpha}: 0;
    #{$omega}: 0;
    bottom: 0;
    height: 100%;
    box-shadow:0 -4px 0px 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    .show-content-shadow & {
      opacity: 1;
    }
    .js-nav-active .show-content-shadow & {
      opacity: 0;
    }
  }

	// add bell icon for notifications.
  .icon-bell-o { 
  	@include icon("bell-o", 26px); 
  	&:before {
      margin: 0;
    }
  }
}


ul#user-menu li {
  @include cd-responsive('min-width: #{$width-tablet}') {
    position: relative;
  }
  list-style: none;
}

@include cd-responsive('min-width: #{$width-tablet}') {
  #my-notifications-menu-link {
    border-#{$alpha}: 1px solid $firefly10;
  }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  #my-account-link .caret { display: none; }
}

ul#user-menu li > a { 
  display: block;
  text-decoration: none;
  @include transition(border 0.2s ease);
  @include transition(color 0.2s ease);
}

ul#user-menu li a.dropdown-toggle {
  padding-#{$alpha}: 20px;
  padding-#{$omega}: 20px;
  @media (min-width: 1px) and (max-width: #{$width-tablet}) {
    position: relative;
    padding-#{$alpha}: 8px;
    padding-#{$omega}: 8px;
  }
  @include ctb-linkColor($firefly30);
}

ul#user-menu .badge {
  position: absolute;
  display: block;
  top: 4px;
  #{$alpha}: 37px;
  @media (min-width: 1px) and (max-width: #{$width-tablet}) {
    #{$alpha}: 24px;
  }
  padding: 4px;
  line-height: 10px;
  font-size: 12px;
  font-weight: bold;
  @include border-radius(2px);
  color: $notification-count-color;
  background: $notification-count-bkg-color;
}

// apply default avatar styles
ul#user-menu .avatar-menu {
  @include cd-thumbnail-sizes(40);
  @include cd-avatar('inline');
  @include border-radius(50%);

  @include cd-responsive('min-width: #{$width-tablet}') {
    border: 3px solid $firefly20;
  }
}

// Utility menu which contains language switcher
// don't show it on mobile
@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  #utility-menu { display: none; }
}

@include cd-responsive('min-width: #{$width-tablet}') {
  #utility-menu {
    padding-#{$alpha}: 20px;
    padding-#{$omega}: 20px;
    li { list-style: none; }
    a.language-link { 
      @include ctb-linkColor($firefly30);
      padding: 10px; 
    }
  }
}

#my-account {
  ul {
    @include reset-list-style;
  }
}

// Position dropdown menu
#user-menu .dropdown-menu {
  #{$alpha}: auto;
  #{$omega}: 10px;

  @media (min-width: 1px) and (max-width: #{$width-tablet}) {
    width: 100%;
    #{$alpha}: 0;
    #{$omega}: 0;
  }

  @include box-sizing(border-box);

  @if $from-direction == left {
    @include border-radius($radius 0 $radius $radius);
  }
  @else {
    @include border-radius(0 $radius $radius $radius);
  }
}