<!-- This runs in the context of cdTranslationUICtrl -->
<div class="inner" ng-class="{'collapsed': collapsed}">
  <table ng-hide="collapsed ">
    <thead>
      <th>Token</th>

      <th ng-repeat="language in languages">Translation for {{language}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="(source, languageTranslations) in allTranslations track by $index">
        <td class="source">{{source}}</td>

        <td ng-repeat="(language, translation) in languageTranslations track by $index" class="translation translation-{{language}}">
          <input type="text" ng-model="allTranslations[source][language]" ng-change="translationChanged(language, source)">
          <button class="btn btn-success btn-save" ng-click="save(language, source)">Save</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button ng-click="toggle()" class="btn btn-visibility">{{ collapsed && 'Show' || 'Hide' }}</button>
</div>
