<!-- This runs in the context of cdTranslationUICtrl -->
<div class="inner" ng-class="{'collapsed': collapsed}">
  <table ng-hide="collapsed ">
    <thead>
      <th>Token</th>
      <th>Translation {{currentLanguage}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="missingTranslation in missingTranslations">
        <td class="source">{{missingTranslation}}</td>
        <td class="translation"><input type="text" ng-model="inputTranslations[$index]" ng-change="translationChanged($index)"></td>
      </tr>
    </tbody>
  </table>

  <button ng-click="toggle()">{{ collapsed && 'Show' || 'Hide' }}</button>
</div>
