<!-- This runs in the context of cdTranslationUICtrl -->
<div class="inner" ng-class="{'collapsed': collapsed}">
  <table ng-hide="collapsed ">
    <thead>
      <th>Token</th>

      <th ng-repeat="language in languages">Translation for {{language}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="(source, sourceLanguages) in missingTranslationsInvert">
        <td class="source">{{source}}</td>

        <td ng-repeat="language in sourceLanguages" class="translation"><input type="text" ng-model="editedTranslations[language][source]" ng-change="translationChanged(language, source)"></td>
      </tr>

      <tr ng-repeat="(source, translations) in translationTableInvert">
        <td class="source">{{source}}</td>

        <td ng-repeat="(language, translation) in translations" class="translation"><input type="text" ng-model="editedTranslations[language][source]" ng-change="translationChanged(language, source)"></td>
      </tr>
    </tbody>
  </table>

  <button ng-click="toggle()">{{ collapsed && 'Show' || 'Hide' }}</button>
</div>
