<!-- This runs in the context of ReportCtrl -->
<section id="content" class="verified">
    <div class="main container">
        <article class="checkdesk-report full">
            <a href="/report/{{report.nid}}/edit">Edit report</a>
            <img ng-src="{{ report.embed.thumbnail_url }}" alt="The content" class="report-content">

            <img src="img/report-icons.png" alt="Report icons" class="report-icons">
        </article>
    </div>
</section>

<section id="fact-checking-footnotes">
    <div id="highlight-info">
        <div class="main container">
            <span translate values="{num: {{reportActivity.length}}}">#_FACT_CHECKING_FOOTNOTES</span>
            <span translate>VERIFIED</span>
        </div>
    </div>

    <div id="new-note">
        <div class="main container">
            <input type="text" name="add-note" ng-model="newNote">
            <button ng-click="createNote()" translate>CREATE_NOTE</button>

            <div>
                <h4 translate>PEOPLE_HELPING_VERIFY_THIS_REPORT</h4>
                <ul>
                    <li translate values="{num: 2}">#_JOURNALISTS</li>
                    <li translate values="{num: 12}">#_CITIZENS</li>
                </ul>

                <img src="img/mug-shots.png" alt="Commenters">
            </div>
        </div>
    </div>

    <div id="comments">
        <!-- <article ng-bind-html-unsafe="reportActivity[0]" class="main container"> -->
            <!-- <span>Noha Aziz</span> -->
            <!-- <span translate>Changed status to <em>verified</em></span> -->
            <!-- <ng-pluralize translate="when" count="personCount" when="{'0': '0m', 'other': '{} people are viewing.'}"></ng-pluralize> -->
            <!-- <span translate>2m</span> -->
        <!-- </article> -->

        <article class="main container">
            <span>Reko</span>
            <span translate>LOREM_IPSUM</span>
            <span translate values="{num: 8}">#_MINUTES_SHORT</span>
        </article>

        <article class="main container">
            <span>Noha Aziz</span>
            <span><span translate>CHANGED_STATUS_TO</span> <em translate>UNDETERMINED</em></span>
            <span translate values="{num: 23}">#_MINUTES_SHORT</span>
        </article>

        <article class="main container">
            <span>Kasim</span>
            <span translate>LOREM_IPSUM</span>
            <span translate values="{num: 7}">#_HOURS_SHORT</span>
        </article>

        <div class="action-centre">
            <a href="#" translate>LOAD_MORE</a>
        </div>
    </div>
</section>
