// Bowerbird background mixin 
//
// $name - use the name of the images in bowerbird/images/bkgs
// $size - default | large
// $position

// Basic background helper
@mixin bb-background($name: "arches", $size: "default", $attachment: fixed, $repeat: repeat, $position: 0 0) {
  background: { 
    @if $size == "large" {
      image: url((bb_background_path() + $name + "_@2x.png"));
    } @else {
      image: url((bb_background_path() + $name + ".png"));
    }
    repeat: $repeat;
    position: $position;
    attachment: $attachment;
  }
}

// Preview Helper
// use this to preview the backgrounds! 
// make the browser wider and smaller to see most of them.
// 
// Compatibility: Recent Firefox (not Safari)
@mixin all-bb-backgrounds($path: bb_background_path(), $size: "default") {
  // two custom SassScript functions
  $list: all_bb_backgrounds();
  $count: all_bb_backgrounds_count(); 
  @for $i from 1 through $count {
    // put a different background at arbitrary widths
    @include at-breakpoint(($i * 5)) {
      @include bb-backgrounds(nth($list, $i));  
    }
  }
}