// Apply font-face mixin
//
// $fontnames = ("font1 [font2 font3 ...]")
// the base font_path and font_dir are set in config.rb
//
// Compatibility: Woff and TTF together support IE9+, FF3.6+, Chrome4.0+, iOS4.2+, Opera 10+ 
// http://caniuse.com/ttf http://caniuse.com/woff
// https://developer.mozilla.org/en-US/docs/CSS/@font-face#Browser_compatibility

// Bowerbird font face
//
// $name is required, arbitrary, and what you will use in font stacks.
// $weight shows if the font is bold, defaults to normal
// $style defaults to normal, might be also italic
//
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.
// All fonts should be in the same folder as defined in config.rb font_path
// See: http://compass-style.org/reference/compass/css3/font_face/
@mixin bowerbird-font-face($name: "FontName", $file: "fontname-webfont", $weight: normal, $style: normal) {
  @include font-face(  
  $name,
  font-files(
    "#{$file}.woff",
    "#{$file}.ttf"
  ));
}

// bowerbird type defaults
@mixin bowerbird-typography-defaults {
  
  h1, h2, h3, h4 {
    @include reset-box-model;
  }

  a {
    color: $link-color;
    text-decoration: none;
  }

  a:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }

  p {
    margin: 0;
  }

  small {
    font-size: $small-font-size;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  cite {
    font-style: normal;
  }

  .muted {
    color: $light-grey;
  }

  ul, ol {
    padding: 0;
    margin: 0;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  li {
    line-height: $base-line-height;
  }

  dl {
    margin-bottom: $base-font-size;
  }

  dt,
  dd {
    line-height: $base-line-height;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-#{$from-direction}: $base-font-size;
  }

  hr {
    margin: $base-font-size 0;
    border: 0;
    border-top: 1px solid $hr-color;
    border-bottom: 1px solid $white;
  }

  abbr[title] {
    cursor: help;
    border-bottom: 1px dotted $light-grey;
  }

  abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
  }

  blockquote {
    @include reset-box-model;
    border-#{$from-direction}: 5px solid $light-grey;
    font-size: $small-font-size;
  }
}