// Bowerbird Tabs
//
// div.tabs - outer tab container with ul.primary and ul.secondary inside
//
// Mostly used in the user section.
// Adds styles for the primary tabs ul.
// Compare this with default CSS found in the system module's stylesheet.
// Note the extensive use of Compass resets:
// http://compass-style.org/reference/compass/reset/

// Reset the outer div
div.tabs {  @include reset-box-model; }

// bowerbird tabs mixin 
//
// $width - in columns
// $pad - padding on each <a>
@mixin bb-tabs-reset {
  ul.tabs {
    @include reset-list-style;
    @include reset-box-model;
    li {
      @include reset-box-model;
      a {
        @include reset-box-model;
      }
    }  
  }
}