//
// Alerts
//
// Alerts and "messages" appear for many kinds of notifications and errors
// We establish the basic alert and then alternates.

// The alert container
.messages, .user-alert {
  padding: 8px 14px;
  margin-bottom: $absolute-line-height/2;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: $warningBackground;
  border: 1px solid $warningBorder;
  @include border-radius($radius);
}

.messages,
.user-alert,
.messages-heading {
  color: $warningText;
  a, a:hover {
    color: $warningLink;
    text-decoration: none;
  }
}

// Alternate styles
// ----------------

.success {
  @include icon(check-circle, $base-font-size, $successText, $icon-position);
  background-color: $successBackground;
  border-color: $successBorder;  
}
.success,
.success .messages-heading {
  color: $successText;
}
.danger,
.error {
  @include icon(exclamation-triangle, $base-font-size, $errorText, $icon-position);
  background-color: $errorBackground;
  border-color: $errorBorder;
}
.danger,
.error,
.danger .messages-heading,
.error .messages-heading {
  color: $errorText;
}
.status {
  @include icon(info-circle, $base-font-size, $infoText, $icon-position);
  background-color: $infoBackground;
  border-color: $infoBorder;
}
.status,
.status .messages-heading {
  color: $infoText;
}

.messages ul {
  padding-left: $gutter-width*2;
  margin: $absolute-line-height/4 0;
}

// Dismiss alert
.messages .messageclose, .alert .close {
  float: $omega;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: rgba($firefly, 0.80);
  &:hover {
    color: $firefly;
    text-decoration: none;
    cursor: pointer;
  }
}

// When inline add space
.messages-inline .messageclose {
  margin-#{$from-direction}: $gutter-width;
}

// Close icons
.messageclose, .close, .user-alert-close {
  float: $omega;
  font-size: 20px;
  font-weight: bold;
  line-height: $absolute-line-height;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  @include opacity(0.2);
  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    @include opacity(0.4);
  }
}
