// Arabic body text rendered in Serif
// Noto Naskh
@font-face {
  font-family: 'AR Serif';
  font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'AR Serif';
  font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.ttf') format('truetype');
}
// Render English text in Merriweather within Noto Naskh Arabic Regular
// Serif replacement
@font-face {
  font-family: 'AR Serif';
  src:  url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot');
  src:  local('Merriweather'), local('Merriweather-Regular'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000 – U+007F;
}
// Render English text in Merriweather Bold within Noto Naskh Arabic Bold
@font-face {
  font-family: 'AR Serif';
  src:  url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot');
  src:  local('Merriweather Bold'), local('Merriweather-Bold'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0000 – U+007F;
}

// Arabic body text rendered in Sans
// Noto Naskh
@font-face {
  font-family: 'AR Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notonaskharabic-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'AR Sans';
  font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notonaskharabic-bold-webfont.ttf') format('truetype');
}
// Render English text in Merriweather within Noto Naskh Arabic Regular
// Sans replacement
@font-face {
  font-family: 'AR Sans';
  src:  url('../extensions/bowerbird/fonts/lato-regular-webfont.eot');
  src:  local('Lato Regular'), local('Lato-Regular'),
        url('../extensions/bowerbird/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/lato-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/lato-regular-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000 – U+007F;
}
// Render English text in Merriweather Bold within Noto Naskh Arabic Bold
@font-face {
  font-family: 'AR Sans';
  src:  url('../extensions/bowerbird/fonts/lato-bold-webfont.eot');
  src:  local('Lato Bold'), local('Lato-Bold'),
        url('../extensions/bowerbird/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/lato-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/lato-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/lato-bold-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0000 – U+007F;
}



