//
// Checkdesk Dropdown menus

// Dropdown arrow/caret
.caret { @include caret; }

.dropup,
.dropdown {
  position: relative;
}

// The dropdown menu (usually a ul)
.dropdown-menu {
  position: absolute;
  @include border-radius($radius);
  z-index: $z-index-Dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: $from-direction;
  min-width: 160px;
  padding: $gutter-width 0;
  margin: -$gutter-width / 2 0 0; // override default ul
  list-style: none;
  background-color: white;
  color: $firefly60;
  @include cd-box-shadow;
  @include background-clip(padding-box);

  // Aligns the dropdown menu to right
  &.pull-#{$omega} {
    #{$omega}: 0;
    #{$alpha}: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include ctb-nav-divider($dropdownDividerTop, $dropdownDividerBottom);
  }
}

// Links within a dropdown list menu
@mixin dropdown-link {
  display: block;
  padding: 6px 14px;
  font-weight: normal;
  line-height: $absolute-line-height;
  white-space: nowrap;
  @include border-radius(0);
  color: $dropdownLinkColor;
  background-color: $dropdownBackground;
  &:hover {
    color: $dropdownLinkColorHover;
    background-color: $dropdownLinkBackgroundHover;
  }
}

ul.dropdown-menu {
  a {
    @include dropdown-link;
  }
}

// Drop up menus
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

// Hover state
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: $dropdownLinkColorHover;
  background-color: $brand-primary;
}

// Active state
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: $dropdownDividerTop;
  text-decoration: none;
  outline: 0;
  background-color: $brand-primary;
}

// Disabled state
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: $grey;
}

// Nuke hover effects
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none; // Remove CSS gradient
  cursor: default;
}

// Open state for the dropdown
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: $z-index-Dropdown;

  & > .dropdown-menu {
    display: block;
  }
}

// Sub menus
.dropdown-submenu {
  position: relative;
}

// Default dropdowns
.dropdown-submenu > .dropdown-menu {
  top: 0;
  #{$alpha}: 100%;
  #{$omega}: auto;
  @include border-radius($radius);
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  @include border-radius($radius);
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}