// Header text in Arabic
// Noto Kufi Arabic
@font-face {
  font-family: 'AR Header';
  font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'AR Header';
  font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.ttf') format('truetype');
}
// Render English text in Merriweather within Noto Kufi Arabic Regular
@font-face {
  font-family: 'AR Header';
  src:  url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot');
  src:  local('Merriweather'), local('Merriweather-Regular'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000 – U+007F;
}
// Render English text in Merriweather Bold within Noto Kufi Arabic Bold
@font-face {
  font-family: 'AR Header';
  src:  url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot');
  src:  local('Merriweather Bold'), local('Merriweather-Bold'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0000 – U+007F;
}

// Header text for English
// Merriweather
// Serif
// Regular
@font-face {
  font-family: 'EN Header';
  src:  url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot');
  src:  local('Merriweather'), local('Merriweather-Regular'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-regular-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
// Bold
@font-face {
  font-family: 'EN Header';
  src:  url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot');
  src:  local('Merriweather Bold'), local('Merriweather-Bold'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-bold-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
// Italic
@font-face {
  font-family: 'EN Header';
  src:  url('../extensions/bowerbird/fonts/merriweather-italic-webfont.eot');
  src:  local('Merriweather Italic'), local('Merriweather-Italic'),
        url('../extensions/bowerbird/fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/merriweather-italic-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/merriweather-italic-webfont.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}
// Render Arabic text in Noto Kufi Arabic Regular within Merriweather Regular
@font-face {
  font-family: 'EN Header';
  font-style: normal;
  font-weight: 400;
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notokufiarabic-regular-webfont.ttf') format('truetype');
  unicode-range: U+0600 – U+06FF;
}
// Render Arabic text in Noto Kufi Arabic Bold within Merriweather Bold
@font-face {
  font-family: 'EN Header';
  font-style: normal;
  font-weight: 700;
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.eot');
  src:  url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.woff2') format('woff2'),
        url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.woff') format('woff'),
        url('../extensions/bowerbird/fonts/notokufiarabic-bold-webfont.ttf') format('truetype');
  unicode-range: U+0600 – U+06FF;
}