//
// Media
//
// Embeded media handling

.media_embed {
  // handle embed video
  // Borrows from Zurb Foundation Flex Video
  // https://github.com/zurb/foundation/blob/master/scss/foundation/components/_flex-video.scss
  &.video {
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
    padding-bottom: 56.34%; // assume widescreen video
    padding-top: 25px;
    position: relative;
    iframe,
    object,
    embed,
    video {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      #{$from-direction}: 0;
    }
  }
}
