@charset "UTF-8";
@import "colors";
@import "bowerbird/colors";
// Directional defaults
@import "global";
// Aliases for bidirectional stuff
$alpha: $from-direction;
$omega: opposite-position($from-direction);

// Variables and Mixins
@import "variables";
@import "mixins";
// Flexbox mixins until we use something like Autoprefixer
@import "flexbox_mixins";

@import "bowerbird";
@import "bowerbird/icons/icons";
@import "bowerbird/icons/fontawesome";

// All of them are namespaced ctb-mixinname
@import "replace_ctb/mixins";
@import "replace_ctb/forms";
@import "replace_ctb/navs";
@import "replace_ctb/buttons";

/* *********************************************************** */
/* Overrides for the media browser modal forms */

#media-browser-page {
  padding: 10px;
}

#media-browser-page .views-exposed-widgets {
  @include flexbox;
  @include flex-wrap(wrap);
  @media screen and (max-width: 767px) {
    @include justify-content(center);
  }
}

@include cd-responsive('min-width: #{$width-tablet}') {
  #media-browser-page .views-exposed-widget {
    margin-#{$omega}: 10px;
    margin-bottom: 10px;
  }
}

// Hide fields in search except file title
@media screen and (max-width: 767px) {
  #media-browser-page .views-widget-filter-field_media_caption_value,
  #media-browser-page .views-widget-sort-sort_bef_combine {
    display: none;
  }
}

#media-browser-tabset #branding {
	border-bottom: 1px solid #ccc;
}

#media-browser-tabset .media-browser-tab {
  padding-top: 20px;
  padding-bottom: 50px;
}

#media-wysiwyg-format-form {
  padding: 20px;
  #preview {
    max-width: 200px;
  }
  .fieldset-legend {
    display: none;
  }
}

// hide image view mode selection form item
#media-wysiwyg-format-form .form-item-format {
  display: none;
}

// make input file behave better
#media-browser-page input[type="file"] {
  max-width: 100%;
}

#media-browser-page .form-wrapper {
  margin: 0;
}

#media-browser-page .form-actions {
  clear: both;
  position: fixed;
  display: block;
  bottom: 0;
  #{$alpha}: 0;
  #{$omega}: 0;
  padding: 10px 20px;
  background-color: #fff;
  border-top: 1px solid $firefly10;
  text-align: $omega;
  .btn { margin-bottom: 0; }
  .btn-default { color: $btn-default-color; }
}



/* *********************************************************** */
/* Responsive Modal */
/* See: _responsive_modals.scss */
/* Copied and slightly modified media.css file from the module */

/**
 * @file
 * Styles for the media library.
 *
 * The display and layout of the Media browser assumes Drupal's Seven theme as
 * the theme active when this is displayed.
 */

/* jQuery UI Resets */
.ui-tabs {
  padding: 0;
}

.ui-dialog.media-wrapper .ui-dialog-content {
  padding: 0;
}

.ui-dialog.media-wrapper .ui-dialog-buttonpane {
  display: none;
}

#media-browser-tabset .ui-widget-header {
  background: none;
}

/* Remove the default border */
.ui-widget-content {
  border: none;
}

/* *********************************************************** */
/* Browser layout themeing */

/* Size the branding header appropriately */
#media-browser-tabset #branding {
  padding: 10px 10px 0px 10px;
}

#media-browser-tabset #branding h1 {
  float: $alpha;
  height: 16px;
  margin-top: 0px;
}

/* Float the tabs right to keep the UI consistent across themes */
#media-tabs-wrapper {
  float: $omega;
}

#media-browser-tabset ul.tabs {
  padding: 0;
  border: none;
}

/* Reset the height to match the browser */
#media-browser-tabset ul.tabs.primary li a:link {
  font-weight: bold;
  margin-#{$omega}: 0;
}

/* *********************************************************** */
/* Media item display */

.media-item {
  background: $firefly2;
  border: 1px solid $firefly10;
  display: inline-block;
  padding: 8px;
  position: relative;
  border-radius: 4px;
}

.media-item img {
  display: block;
}

.media-item .label-wrapper {
  background: rgba(255,255,255,.8);
  border-radius: 0 0 4px 4px;
  bottom: 0;
  #{$alpha}: 0;
  max-height: 100%;
  overflow: hidden;
  position: absolute;
  #{$omega}: 0;
  text-align: center;
  word-wrap: break-word;
}

.media-item .label-wrapper label {
  font-size: 10px;
  padding: 5px 10px;
}

/* Media item lists */

#media-browser-library-list {
  margin: 0;
  padding: 0;
}

.media-list-thumbnails {
  @include flexbox;
  @include flex-wrap(wrap);
  @media screen and (max-width: 767px) {
    @include justify-content(center);
  }
}

.media-list-thumbnails li {
  list-style: none;
  margin-#{$omega}: 10px;
  margin-bottom: 10px;
}

.media-list-thumbnails li a {
  text-decoration: none;
}

.media-list-thumbnails .media-item.selected {
  background: rgba($brand-primary, .4);
  border-color: $brand-primary;
}

.media-list-thumbnails .media-item:hover {
  border-color: #058AC5;
  cursor: pointer;
}

.media-list-thumbnails .media-item .label-wrapper label {
  color: #058AC5;
}

.media-list-thumbnails .media-item .label-wrapper label:hover {
  cursor: pointer;
}

.media-list-thumbnails .form-type-checkbox {
  bottom: 117px;
  #{$alpha}: 6px;
  margin: 0;
  padding: 0;
  position: relative;
}

/* File field */

.media-widget .preview {
  display: inline-block;
  margin-#{$omega}: 10px;
  vertical-align: middle;
}
