// Liveblog homepage
//
.desk {
  position: relative;
  margin-bottom: 0;
  margin-top: 30px;
  overflow: visible;
  // remove margin for first instance
  &:first-child {
    margin-top: 0;
  }
}

.desk h1 {
  color: $firefly90;
  a { 
    display: block;
    border-bottom: 1px dotted rgba(255,255,255,.01);
    color: $firefly90;
    &:hover {
      @include ctb-bg(#efefef, $firefly5);
      border-bottom: 1px dotted $firefly10;
      text-decoration: none;
    }
    &:active { background-color: lighten($link-color, 30); }
  }
}

// add styles for load more pager
.view-liveblog { @include ctb-load-more-pager; }