// Citizen's view of Story page 
// aka Discussion Node 

@mixin vertical-margin($width) {
  margin: { top: $width; bottom: $width; } 
}

@mixin layout-story($width, $context) {
  // @include span-columns($width, $context, $gutter-width);
  @content;
  .update-row { 
    // @include vertical-margin($base-font-size);
    // @include span-columns($width, $context, $gutter-width);
    // @debug $width;
    .update-body {
      @include span-columns(14); 
      float: $omega;
      min-height: 220px;
      margin-#{$omega}: 0;
    }
    .update-footer {
      @include span-columns(4);
      float: $alpha;
      // width: 160px;
      .livefyre-wrapper {
        // @include span-columns($width, $width);
      }
    }
  }
}

.node-type-discussion, .page-liveblog {
  #main {
    @include layout-story($container-width, $container-width);
  }
}

// Psuedo div for anchors
// Adds head room for updates in presence of navbars
.anchor {
  display: block;
  height: (($toolbarHeight + $navbarHeight) + ($absolute-line-height*2)); /* this is the height of your header */
  margin-top: -(($toolbarHeight + $navbarHeight) + ($absolute-line-height*2)); /* this is again negative value of the height of your header */
  visibility: hidden;
}

// "Published" updates
.updates {
  .update-row {
    margin-bottom: $base-line-height;
    border-top: 1px solid rgba($firefly, 0.1);

    .update-info {
      @include span-columns(4);
      @include cd-sans-serif-family;
      color: $firefly20;
      border-top: 2px solid rgba($firefly, 0.1);
      margin-bottom: $absolute-line-height;
      padding-top: $absolute-line-height/1.2;
      text-transform: uppercase;
      font-weight: 700;
      font-size: modular-scale(0) - modular-scale(-3); // 14px
      @if $from-direction == 'left' {
        letter-spacing: 0.15em;
      }
      // update number
      b {
        display: block;
        padding: $absolute-line-height/2 0;
        font-size: $xxx-large-font-size;
        @if $from-direction == 'left' {
          letter-spacing: -0.08em;
        }
      }
    }
  }
}

.story {
  @include ctb-clearfix;
  text-align: $alpha;
  margin-bottom: $absolute-line-height/2;

  figure {
    margin-bottom: 30px;
    margin-top: 30px;
    blockquote {
      border: 0 none;
      color: $firefly40;
      font-size: 16px;
      line-height: 20px;
      margin-top: 5px;
    }

  }

  h1 {
    font-style: normal;
    @if $from-direction == 'right' {
      font-size: 38px;
      line-height: 58px;
    }
    
    @if $from-direction == 'left' {
      font-size: 40px;
      letter-spacing: -1.48px;
      line-height: 50px;
    }
    
    color: $firefly90;
    margin: $absolute-line-height*1.25 0 10px;
  }

  .story-meta {
    @include ctb-clearfix;
    @include cd-sans-serif-family;
    color: $thatch80;
    .separator {
      color: rgba($thatch, .60);
      font-size: 10px;
      margin: 0 2px;
    }
    .gravatar {
      margin-#{$omega}: $gutter-width/2;
    }
    a.contributor {
      font-family: $serif-font-stack;
      font-style: italic;
      color: $thatch80; 
      &:hover { 
        color: $thatch; 
        text-decoration: none;
      }
    }
    .story-attributes {
      float: $alpha;
      width: 80%;
      .story-commentcount {
        margin-#{$from-direction}: $gutter-width/2;
        display: inline-block;
        a {
          color: $dodgerBlue60; 
          &:hover {
            color: $dodgerBlue80; 
            text-decoration: none;
          }
        }
        .icon-comment-o {
          @include icon(comment-o, $base-font-size);  
        }
        
      }
    }
  }

  .story-body {  
    @include ctb-clearfix;
    margin: 30px 0 0;
    color: $firefly80;
    @include cd-serif-family;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    font-weight: 400;
    word-wrap: break-word;
    @if $from-direction == left {
      letter-spacing: -0.45px;
    }
    p {
      margin: 0 0 $absolute-line-height/2.4 0;
      &:last-child {
        margin: 0 0;
      }
    }
    & > ul, & > ol {
      margin: 0 0 $absolute-line-height/2.4 0; // 10px 
      padding-#{$alpha}: $gutter-width*2;
      ul, ol {
        padding-#{$alpha}: $gutter-width*2;
      }
    }
  }

  .story-follow {
    @include ctb-clearfix;
    margin-top: 30px;
    margin-bottom: 20px;
    color: $thatch;
    a {
      @include ctb-linkColor($thatch);
      text-decoration: none;
    }

    a:first-child { 
      float: $from-direction;
      font-size: 18px;
      font-weight: 700;
    }
    
    a.flag-action {
      @include icon("plus");
      &:before, &:after { 
        margin: 0 0 0 0;
        margin-#{$omega}: 7.5px;
      }
    }
    
    a.unflag-action {
      @include icon("minus");
      &:before, &:after { 
        margin: 0 0 0 0;
        margin-#{$omega}: 7.5px;
      }
    }

    .follow-count {
      float: $from-direction;
      margin-#{$from-direction}: $gutter-width;
    }


  }

  .story-tabs-wrapper {
    margin: 0 0 24px;
    ul {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: separate;
      li {
        display: table-cell;
        float: none;
        height: 43px;
        vertical-align: middle;
        font-size: 20px;
        @include ctb-bg($firefly5, rgba($firefly, 0.05));
        border-bottom: 1px solid rgba($firefly, 0.01);
        a { 
          color: $firefly80; 
          display: block; 
          padding: 0 15px;
          &.active {
            color: $firefly;
          }
        }
        &.active {
          background-color: transparent;
          border-bottom: 0 none;
          border-top: 4px solid $dodgerBlue;
        }
      }
    }
  }

  .story-collaboration-header-wrapper {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    body.page-node-collaboration & { 
      border-bottom: 1px solid rgba($firefly, 0.1);
    }
    padding-bottom: 15px;
    & > div {
      display: table-cell;
      width: 100%;
      vertical-align: bottom;
    }
  }

  .story-collaborate-links {
    li {
      display: inline;
      margin-#{opposite-position($from-direction)}: 30px;
      font-size: 18px;
      &:last-child {
        margin-#{opposite-position($from-direction)}: 0;
      }
      &.submit-report a {
        @include icon("bookmark", 18px);
      }
      &.compose-update a {
        @include icon("pencil", 18px);
      }
    }
  }

  .collaboration-report-tooltip {
    #{$from-direction}: 20px;
    top: 55px;
    width: 400px;
    @include cd-box-shadow;
    @include background-clip(padding-box);
    h3, .popover-content {
      @include reset-box-model;
      padding-#{$alpha}: 10px;
      color: $firefly40;
      span { color: $firefly60; }
    }
    h3 {
      line-height: 48px;
    }
    .popover-arrow {
      #{$from-direction}: 28px;
    }
  }

  .story-collaboration-activity-wrapper {
    min-height: 200px;
  }

  .story-collaborators {
    text-align: opposite-position($from-direction);
    .sc-users, .sc-avatars {
      display: inline-block;
    }
    .sc-users {
      font-size: 14px;
      line-height: 1;
      color: $firefly40;
      margin-#{opposite-position($from-direction)}: 15px;
      h3 {
        @include reset-box-model;
        @include cd-sans-serif-family;
        font-weight: 700;
        font-size: 18px;
        color: $firefly60;
        margin-bottom: 4px;
      }
      a {
        color: $firefly40;
      }
    }
    .sc-avatars {
      a {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        @include ctb-size(48px, 48px);
        vertical-align: bottom;
        &:first-child {
          @include border-radius(4px 0 0 4px);
        }
        &:last-child {
          @include border-radius(0 4px 4px 0); 
        }
        &:only-child {
          @include border-radius(4px);  
        }
      }
    }
  }

  .story-by {
    font-size: $larger-font-size;
    margin-top: $absolute-line-height/4;
    margin-bottom: $absolute-line-height/2;
    a { @include ctb-linkColor($grayLight); }
  }

  .story-context {
    font-size: $small-font-size;
    line-height: $relative-line-height;
  }

  // Message displayed when a story has drafted updates
  .story-drafts {
    color: $red;
    font-size: $small-font-size;
    font-style: italic;
  }
  
  // The current blogger information
  .story-blogger {
    @include ctb-clearfix;
    margin: $absolute-line-height/2 0;

    .avatar {
      display: inline-block;
      padding: $absolute-line-height/2 0;
      .user-picture {
        display: inline-block;
        margin-#{$omega}: $gutter-width;
        img {
          display: inline-block;
          vertical-align: text-bottom;
          @include ctb-square(20px);
          margin-#{omega}: $gutter-width/3;
        }
      }
      a { @include ctb-linkColor($grayLight); }
    }

    .blogger-status {
      display: inline-block;
      margin-#{$alpha}: $gutter-width;

      .blogger-status-indicator {
        @include ctb-square(10px);
        @include border-radius(10px);
        display: inline-block;
        background-color: $grayLight;
      }

      .blogger-status-text {
        @include ctb-bg(#fff, rgba(255, 255, 255, 0.6));
        @include border-radius(4px);
        display: inline-block;
        padding: $absolute-line-height/2 $gutter-width;
        margin-#{$alpha}: $gutter-width;
      }
      
    }
    // status indicator colors
    .story-blogger-status-offline .blogger-status-indicator { background-color: $grayLight; }
    .story-blogger-status-online .blogger-status-indicator { background-color: $green; }
  }

  // compose / create update form
  .compose-update-form {
    @include ctb-clearfix();
    margin: $absolute-line-height 0;
    .compose-update-header {
      a {
        display: inline-block;
        @include icon("pencil", $large-font-size, $white, $icon-position);
        padding: $absolute-line-height/2 $gutter-width;
        color: $white;
        background-color: $identity;
        @include border-radius(4px);
        @include cd-sans-serif-family;
        font-size: $large-font-size;
        text-decoration: none;
      }
    }

    .div.vertical-tabs, div.vertical-tabs-panes {
        display: none !important;
      }

    .node-post-form {
      display: none;
      padding: 0 $gutter-width;
      background-image: $striped_lens;
      input[type='submit'] {
        @include checkdesk-button($identity);
      }
      // override drupal
      .ui-droppable {
        float: none;
      }
    }
  }
  .open .compose-update-header {
    border-bottom: 4px solid rgb(239,202,43);
    background-color: rgba(239,202,43,.1);
    a {
      color: $firefly90;
      background: none;
      @include icon("pencil", $large-font-size, $firefly90, $icon-position);
      @include border-radius(4px 4px 0 0);
    }
  }

  .story-updates-wrapper {
    // add styles for load more pager
    @include ctb-load-more-pager;
  }

  .story-footer {
    @include ctb-clearfix;
    display: block;
    margin: 20px 0 30px 0;
    padding: $absolute-line-height/4 0;
    color: $firefly40;
    @include cd-sans-serif-family;
    font-size: $small-font-size;

    .content-actions {
      @include reset-list-style;
      .add-to {
        display: none;
      }
      .share-on > a {
        cursor: pointer;
        font-weight: 700;
        color: $firefly40;
        .icon-share { @include icon("share"); }
        &:hover {
          color: $firefly80;
          text-decoration: none;
        }
        @if $from-direction == 'left' {
          .icon-share { @include icon("share", $small-font-size, $firefly30); }
          font-size: $small-font-size;
          color: $firefly30;
        }
      }
    }
  }

  .story-updated-at {
    .icon-clock-o { 
      @include icon("clock-o", $larger-font-size, $firefly30); 
      &:before { 
        vertical-align: middle; 
        margin-#{$from-direction}: 0;
      }
    }
  }

  .story-comments {
    margin-top: $absolute-line-height;
    margin-bottom: 60px;
    .livefyre-header, .fb-comments-header {
      @include icon(comments, $large-font-size);
      @include cd-sans-serif-family;
      font-size: $large-font-size;
      @if $from-direction == 'right' {
        font-size: $larger-font-size;
      }
      color: $firefly80;
      background-color: rgba(0,0,0,.02);
      padding: $absolute-line-height/2 $gutter-width/2;
      @include border-radius(4px);
      cursor: pointer;
      &:hover {
        color: $white;
        background-color: rgb(239,202,43);
      }
    }
    .fb-comments {
      margin-top: $absolute-line-height/2;
    }
  }
}

// create story note 
.node-discussion-form {
  .form-actions .description {
    padding-top: 10px;
    span {
      text-transform: uppercase;
      letter-spacing: 0.08em;
      color: $yellow;
      font-weight: 700;
    }
  }
}


// story lists
.stories {
  .story-row {
    // margin-bottom: $absolute-line-height/3;
    padding: $absolute-line-height/3 0;
    border-bottom: 1px solid $firefly5;
    &:first-child {
      padding: 0 0 $absolute-line-height/3 0;
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0px none;
    }

    a {
      color: $firefly60;
      &:hover {
        color: $firefly80;
        text-decoration: none;
      }
    }

    // hide by default
    figure {
      display: none;
    }

    h3 {
      @include reset-box-model;
      font-size: 16px;
      @include cd-sans-serif-family;
      line-height: 1.3;
    }
    .story-desc {
      display: none;
    }
  }

  // show featured image on the first item
  .views-row-first {
    figure {
      display: block;
      margin-bottom: $absolute-line-height/2;
      blockquote {
        display: none;
      }
    }
  }
}
