body.page-embed {
  padding: 0;
  margin: 0;

  #main {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;

    #content {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

.report {
  padding: 0 !important;
  margin: 0 !important;
}
