/* line 1, ../scss/embeded.scss */
body.page-embed {
  padding: 0;
  margin: 0;
}
/* line 5, ../scss/embeded.scss */
body.page-embed #main {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
/* line 10, ../scss/embeded.scss */
body.page-embed #main #content {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 17, ../scss/embeded.scss */
.report {
  padding: 0 !important;
  margin: 0 !important;
}
