/*

List item. Looks a bit like this:

***********************************************
x x x x x x x x x x x x x x x x x x x x x x x
x x x x x x x x x x x x x x x x x x x x x x x x

***********************************************

 */

@mixin cd-item-list {

  .cd-item-header {
    font-size: 14px;
    @if $from-direction == left {
      line-height: 18px;
      letter-spacing: -0.3px;
    }
    padding-bottom: 5px;
  }
  
  .cd-item-lead {
    display: none;
  }

  .cd-item-media-wrapper {
    display: none;
  }

}
