/*

Standard item. Looks a bit like this:

********************
0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0

x x x x x x x x x x
x x x x x x x x x x x
x x x x x x x x







*********************

*/


@mixin cd-item-standard {
    .cd-item-image-container {
        display: block;
    }

    // TEMPORARY until font size is based on the arrangement in the slices
    .cd-item-header {
    	font-size: 20px;
	    @if $from-direction == left {
	      line-height: 26px;
	      letter-spacing: -0.5px;
	    }
    }

}
