// Report status icons in activity log's header
$position:  "before";
@if $from-direction == left {
	$position: "after";
}
@if $from-direction == right {
	$position: "before";
}
// verified
.icon-check-circle { 
	color: $verified;
	@include icon(check-circle);
}
// in-progress
.icon-random { 
	@include icon(random);
}
.icon-circle { 
	color: rgba(239,202,43,1);
}
// undetermined
.icon-question-circle { 
	color: $undetermined;
	@include icon(question-circle);
}
// false
.icon-times-circle { 
	color: $false; 
	@include icon(times-circle);
}

// activity
.view-story-collaboration {
	// add styles for load more pager
	@include ctb-load-more-pager;

	.pager-load-more {
		// border-top: 1px solid rgba($firefly, .1);
		margin-top: 30px;
	}
}

.activity-item {
	position: relative;
	padding: 0;
	padding-#{$alpha}: (60px + $gutter-width);
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid rgba($firefly, .05);

	// no top border and padding for first item
	&:first-child {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
		.avatar { top: 0; }
	}

	// when nested inside a parent 
	// e.g. in verfication log
	.nested & {
		padding-#{$alpha}: (38px + $gutter-width);
		padding-top: 6px;
		margin-top: 20px;
		min-height: 32px;
		line-height: 22px;
		border: 0 none;
		// avatar default position
		.avatar { top: 0; }
		// show delete icon on hover
		&:hover {
			.inline-delete-item {
				display: inline-block;
			}
		}
		&:first-child {
			margin-top: 0;
		}
	}

	.avatar {
		@include cd-thumbnail-sizes(60);
		@include cd-avatar('pulled-out', 20px, 0);
	}

	.activity-item-message {
		@include border-radius(4px 4px 0 0);
		.nested & {
			@include border-radius(0px);
		}
	}

	.activity-item-content-wrapper {
		padding: 10px 20px 15px 20px;
		@include border-radius(0px);
	}

	.item-content-actions {
		padding: 0;
		margin: 0;
	}

	.media {
		will-change: transform;
	}

	.media-status {
		// add styles for media status
		@include media-status-styles;
		@include clear-icon-margins;
	}

	a.actor {
		font-weight: 700;
		color: $firefly;
		.nested & { 
			// display: block; 
			margin-top: 8px;
		}
	}

	.timestamp {
		float: $omega;
		font-size: 14px;
		color: $firefly30;
	}

	.inline-delete-item {
		float: $omega;
		display: none;
	}

	.item-content-text p {
		margin-#{$omega}: 30px;
	}

	@include ctb-clearfix;
} // activity-item 

// when grouped together
.nested .grouped-item {
	padding-top: 0;
	margin-top: -10px;
	.avatar {
		display: none;
	}
}



// specific styles for different activity types
// when an update is added to a story
.activity .update-added {
	.activity-item-content {
		border-top: 1px dotted rgba($firefly, 0.1);
		// margin-top: 10px;
		padding-top: 10px;
	}

	h3.update-title {
		@include reset-box-model;
		@include cd-sans-serif-family;
		font-size: 18px;
		font-weight: 700;
		a { @include ctb-linkColor($strongBlue80); }
	}

	.checkdesk-update-reports {
		margin-top: 8px;
	}

 	.update-reports-authors {
 		font-weight: 700;
 		color: $firefly80;
 		font-size: 16px;
 		a { @include ctb-linkColor($firefly80); }
 	}

}