// =======================================================================
// Drupal toolbars at the very top
//
div.region-page-top {
  #toolbar {
    will-change: transform;
    #{$alpha}: $navbarWidth;
    position: fixed;
    z-index: $zindexFixedNavbar;
    // This can be cleaned up with toolbar css is removed.
    @include box-shadow(0 0 0 0); // disable box shadow
    padding: 0;
    margin: 0;
    overflow: hidden; // removes scroll?
    background: white;
    li {
      @include reset-box-model;
      a { 
        color: $nav-color; 
        padding: $gutter-width;
      } 
    }
  }
}

// make navbar fixed at the top
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindexFixedNavbar;
}

// when toolbar is present
.toolbar .navbar-fixed-top {
  top: $toolbarHeight;
}