// =======================================================================
// Drupal toolbars at the very top
//
div.region-page-top #toolbar {
  position: fixed;
  #{$alpha}: $navbarWidth;
  overflow: hidden; // removes scroll?
  z-index: $z-index-FixedNavbar;
  padding: 0;
  margin: 0;
  background: white;
  // This can be cleaned up with toolbar css is removed.
  @include box-shadow(0 0 0 0); // disable box shadow
  will-change: transform;
  li {
    @include reset-box-model;
    a { 
      padding: $gutter-width;
      color: $nav-color; 
    } 
  }
}

// make navbar fixed at the top
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $z-index-FixedNavbar;
}

// when toolbar is present
.toolbar .navbar-fixed-top {
  top: $toolbarHeight;
}