// generalized item with white background and grey
.item {
	font-size: 16px;
	color: $firefly60;
	word-wrap: break-word;
	@include ctb-clearfix;
} // item


.item-content-wrapper {
	@include border-radius(4px 4px 0 0);
	background-color: #fff;
} //item-content-wrapper

.item-message {
	padding: 15px 20px 0 20px;
	background-color: #fff;
	a { @include ctb-linkColor($firefly60); }
}

.item-content-wrapper {
	padding: 6px 8px;
	@include cd-responsive('min-width: #{$width-tablet}') {
		padding: 20px 20px 15px 20px;
	}
}

.item .item-content {
	display: block;

	p {
		@include reset-box-model;
		color: $firefly80;
		font-size: inherit;
		font-family: inherit;
		a { @include ctb-linkColor($strongBlue80); }
	}
	
}

.item .item-body-text {
	color: $firefly80;
	a { @include ctb-linkColor($strongBlue80); }

	ul, ol {
    margin: 0 0 $absolute-line-height/2.4 0; // 10px 
    padding-#{$alpha}: $gutter-width*2;
  }
}

.open .count {
	color: $firefly80;	
}

.item-controls {

} // item-controls

.item-controls .meta, 
.item-controls .actions {
	display: table-cell;
	width: 100%;
}

.item-controls .meta {
	font-weight: 700;
	.count {
		color: $firefly40;
		text-decoration: none;
		margin-#{$omega}: 30px;
		&:hover {
			color: $firefly80;
		}
		.node-type-media & {
			color: $firefly80;	
		}
	}
}

.item-controls .populated {
	cursor: pointer;
}

.item-controls .actions {
	padding-#{$omega}: 8px;
	@include cd-responsive('min-width: #{$width-tablet}') {
		padding-#{$omega}: 20px;
	}
	cursor: pointer;
	white-space: nowrap;
	span {
		position: relative;
	}
	span[class^="icon-"], span[class*="icon-"] { 
		font-size: 20px;
		color: $firefly40;
	}
	div {
		display: inline-block;
	}
}

// hide any labels
.item-controls .label {
	display: none;
}

.item-controls:hover .meta {
	color: $firefly80;
}

.item .item-nested-content-wrapper {
	@include ctb-bg($firefly5, rgba($firefly, 0.05));
	@include border-radius(0 0 4px 4px);
	padding: 6px 8px;
	padding-#{$omega}: 0;
	@include cd-responsive('min-width: #{$width-tablet}') {
		padding: 10px 20px;
		padding-#{$omega}: 0;
	}
	font-size: 16px;
	color: $firefly40;
	
	// add styles for load more pager
	@include ctb-load-more-pager;

} // item-nested-content-wrapper

.item .open {
	color: $firefly80;
	.count {
		color: $firefly80;
	}
}

.item .item-nested-content {
	display: none;
	& > div { 
		position: relative;
		margin-top: 20px;
		max-height: 300px;
		overflow: auto;
		padding-#{$omega}: 20px;
		@include cd-simple-scrollbar;
	}
	.node-type-media:not(.page-embed) & {
		display: block;
		& > div { 
			overflow: visible;
			max-height: none;
		}
	}
} // item-nested-content

.item .item-nested-footer {
	margin-top: 20px;
	padding-top: 8px;
	margin-bottom: 2px;
	border-top: 1px solid rgba($firefly, .05);
	.cta, .helper {
		display: table-cell;
		width: 100%;
		color: $firefly60;
	}
	.cta {
		font-size: 16px;
		a { @include ctb-linkColor($strongBlue80); }
	}
	.helper {
		font-size: 14px;
		white-space: nowrap;
		span[class^="icon-"], span[class*="icon-"], a {
			color: $firefly30;
			text-decoration: none;
		}
	}
}