// Notifications block
//
// When the user gets a notification they can preview it in the navigation.
// http://wf.meedan.net/project/checkdesk/notifications
// Contained by: Navigation
//
// Compatibility: untested

// setting omega
$omega: opposite-position($from-direction);

// Notifications list
#my-notifications {
  width: 360px; // warning magic px CGB
  font-size: $fontSizeMini;
  font-weight: normal;
  line-height: 1;
  

  .heartbeat-activity {
    @include ctb-clearfix();
    color: $firefly60;
    padding: $absolute-line-height/2 $gutter-width;
    border-bottom: 1px solid rgba($firefly, 0.10);
    overflow: hidden;

    a {
      @include ctb-linkColor($identity);
    }

    .activity-data {
      @include flexbox;
      @include align-items(center);
      .activity-data-image {
        margin-#{$omega}: $gutter-width;
        vertical-align: text-bottom;
      }

      .activity-data-message {
        
      }
    }

    .activity-meta {
      margin-top: $absolute-line-height/4;
      padding-#{$alpha}: 40px;
      color: $firefly40;
    }
  }

  // Activity icons
  @mixin activity-icon(
    $name: "add_story", 
    $symbol: "warning-sign", 
    $color: $firefly60, 
    $size: $notification-icon-size) 
    {
    .checkdesk_#{$name} #{$notifications-icon-selector} {
      @include icon($symbol, $size, $color) {
        // apply the width directly to the :before content
        width: $notification-image-width;
      }
    }
  }

  // .icon-iconname
  // @include activity-icon("comment_on_update", "comments");
  // @include activity-icon("new_update_on_story_i_commented_on_update", "comment");
  // @include activity-icon("reply_to_comment", "comment-alt");
  // @include activity-icon("comment_on_report", "asterisk");
  // @include activity-icon("checkdesk_fact_checking_on", "star");
  // @include activity-icon("checkdesk_fact_checking_on", "star");
  // @include activity-icon("report_suggested_to_story", "bookmark");
  // @include activity-icon("fact_status_changed_for_commenter", "warning-sign");
  // @include activity-icon("flag_report", "flag");
  // @include activity-icon("report_published_in_update", "star");
  // @include activity-icon("new_user", "user");
  
  // Pager is called when content is scrolled, so it must be hidden
  ul.pager-load-more {
    display: none;
  }

  // We need a scrollbar here
  .view-content {
    height: ms(10);
    overflow-y: auto;
    margin-bottom: $absolute-line-height/4;
  }

  .more-link {
    float: $alpha;
  }

  .notifications-settings-link {
    @include reset-box-model;
    float: $omega;
  }

  .more-link,
  .notifications-settings-link {
    a {
      @include dropdown-link;
      @include ctb-linkColor($firefly60);
      &:hover {
        background-color: transparent;
      }
    }
  }

}

// Notifications settings page
.notifications-preferences {
  .notifications-preferences-site {
    @include icon('bell');
  }
  .notifications-preferences-email {
    @include icon('envelope');
  }
  tr {
    td, th {
      text-align: $from-direction;
    }
  }
}
