.content-filter {
	@include border-radius(4px);
	background-color: #fff;
	padding: 15px;
	margin-bottom: 20px;
}

.filter-list {
	@include reset-list-style;
	margin: 0 -15px;
	li {
		display: block;
	}
}

.views-exposed-widget label {
	display: block;
	padding: 12px 15px 10px;
	padding-#{$omega}: 30px;
	margin-bottom: 0;
	@include box-sizing(border-box);
	background-color: #fff;
	border-bottom: 1px solid rgba($firefly, 0.05);
	color: $firefly40;
	font-weight: 700;
	&:hover {
		color: $firefly80;
	}
	// chevron down for closed filter group
	@include icon(chevron-up, 12px);
	position: relative;
	&:before {
		position: absolute;
		top: 12px;
		#{$omega}: 10px;
	}
}

// chevron up for open filter group
.open > label {
	@include icon(chevron-down, 12px);
	position: relative;
	&:before {
		position: absolute;
		top: 12px;
		#{$omega}: 10px;
	}
}

.content-filter .form-type-bef-link a {
	display: block;
	position: relative;
	padding: 12px 15px 10px;
	@include box-sizing(border-box);
	background-color: #F3F4F4;
	border-bottom: 1px solid rgba($firefly, 0.05);
	color: $firefly60;
	text-decoration: none;
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	&:hover {
		background-color: #fff;
	}
}

.content-filter .selected a {
	color: $dodgerBlue;
	font-weight: 700;
	&:before {
		content: "";
		width: 5px;
		background: $dodgerBlue;
		position: absolute;
		top: 0;
		bottom: 0;
		#{$alpha}: 0;
	}
}

.content-filter input.search {
	@include box-sizing(border-box);
	border: 0;
	display: block;
	padding: 12px 15px 10px;
	background-color: #F3F4F4;
	border-bottom: 1px solid rgba($firefly, 0.05);
	@include cd-sans-serif-family;
	color: $firefly40;
	height: 45px;
	width: 100%;
	&:focus {
		background-color: #fff;
		color: $firefly60;
		border-bottom-color: $dodgerBlue;
		outline: 0;
	}
}

.content-filter input#edit-keys {
	@include box-sizing(border-box);
	@include border-radius(4px 4px 0 0);
	@include box-shadow(none);
	@include cd-sans-serif-family;
	color: $firefly40;
	font-size: 16px;
	height: 45px;
	border: 0;
	display: block;
	padding: 12px 15px 10px;
	float: none;
	clear: both;
	margin-top: -15px;
	margin-bottom: 0;
	background-color: #E7E8EA;
	border-top: 1px solid #E7E8EA;
	border-#{$alpha}: 1px solid #E7E8EA;
	border-#{$omega}: 1px solid #E7E8EA;
	border-bottom: 1px solid rgba($firefly, 0.05);
	&:focus {
		background-color: white;
		color: $dodgerBlue;
		border: 1px solid rgba($firefly, 0.10);
		border-bottom-color: $dodgerBlue;
		outline: 0;
		@include ctb-transition(all 0.3s linear);
	}
}

.content-filter .form-type-textfield {
	@include icon(search, 18px, $firefly60);
	position: relative;
	&:before {
		position: absolute;
		top: 10px;
		#{$omega}: 10px;
	}
}

.content-filter .selected {
	@include icon(search, 18px, $dodgerBlue);
	position: relative;
	&:before {
		position: absolute;
		top: 10px;
		#{$omega}: 10px;
	}
}

.views-exposed-widget .bef-select-as-links .search-list {
	max-height: 234px;
	overflow: auto;
	@include cd-simple-scrollbar;
}

.content-filter .filters-toggle:not(.element-hidden) {
	display: block;
	margin-top: 12px;
	color: $firefly40;
	&:hover {
		text-decoration: none;
		color: $firefly80;
	}
	// chevron open for closed filter group
	@include icon(eye);
}