.tag-list {
	
}

.btn--tag {
	display: inline-block;
	margin-#{opposite-position($from-direction)}: $gutter-width*3;
  margin-bottom: $absolute-line-height / 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // max-width: 140px;
  color: $firefly60;
  &:hover {
    color: $firefly80;
  }
}

.tag__name {
	font-family: $serif-font-stack;
	font-size: 20px;
}

.tag__count {
	font-size: 12px;
	text-transform: uppercase;
  @if $from-direction == 'left' {
    letter-spacing: 0.15em;
  }
  color: $firefly40;
}
