.tag-list {
	@include flexbox;
  @include flex-wrap(wrap);
}

.tag-link {
  display: block;
  padding: 4px 8px;
  color: $firefly60;
  background-color: rgba($firefly, 0.1);
  border-radius: 4px;
  &:hover {
    color: $firefly80;
    text-decoration: none;
    background-color: rgba($firefly, 0.2);
  } 
}

.tag-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}