@import "colors";
@import "bowerbird/colors";
// Directional defaults
$from-direction: left !default;
// Aliases for bidirectional stuff
$alpha: $from-direction;
$omega: opposite-position($from-direction);

// Variables and Mixins
@import "variables";
@import "mixins";

// Bowerbird Compass Extension
// See also README.md and ../bowerbird/README.md
// Requires: base
@import "bowerbird";

// Core Drupal toolbar
@import "replace_drupal/toolbar";
@import "replace_drupal/shortcut";

// =======================================================================
// Drupal toolbars at the very top
//

@include cd-responsive('min-width: #{$width-tablet}') {
  div.region-page-top #toolbar {
    position: fixed;
    #{$alpha}: $navbarWidth;
    overflow: hidden; // removes scroll?
    // making this nav on top of theme header
    z-index: $z-index-FixedNavbar + 10;
    padding: 0;
    margin: 0;
    background: white;
    // This can be cleaned up with toolbar css is removed.
    @include box-shadow(0 0 0 0); // disable box shadow
    @include transition(top 0.2s ease-in-out);
    will-change: transform;
    li {
      @include reset-box-model;
      a { 
        padding: $gutter-width;
        color: $nav-color; 
      } 
    }
  }

  #toolbar.header-up {
    top: - ($toolbarHeight);
  }

  // make navbar fixed at the top
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: $z-index-FixedNavbar;
  }

  // when toolbar is present
  .toolbar .navbar-fixed-top {
    top: $toolbarHeight;
  }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  div.region-page-top #toolbar {
    display: none;
  }
}