/* ============= */
/* = STEP ONE  = */
/* ============= */
/* ============= */
/* = STEP TWO = */
/* ============= */
/* line 1, ../scss/_navigation.scss */
#navigation {
  width: 100%;
  float: left;
  background: #000;
}
/* line 5, ../scss/_navigation.scss */
#navigation ul {
  list-style-type: none;
}
/* line 8, ../scss/_navigation.scss */
#navigation li {
  display: inline-block;
}

/* line 13, ../scss/_navigation.scss */
#primary {
  color: #fff;
  float: left;
}
/* line 16, ../scss/_navigation.scss */
#primary a {
  color: #fff;
}

/* line 21, ../scss/_navigation.scss */
#secondary {
  background: #000;
  color: #fff;
  float: right;
  clear: right;
}
/* line 26, ../scss/_navigation.scss */
#secondary a {
  color: #fff;
}

/* ============================  */
/* =   The Skeleton           =  */
/* Called below in yallah layout */
/* Then overridden on some pages */
/* $direction = ltr or rlt --sets the susy $from-direction */
/* $sidebar_alpha = number of columns for the alpha sidebar */
/* $sidebar_omega = number of columns for the omega sidebar */
/* $content_width = number of columns for the main div (i.e.) main page content */
/* ============================  */
/* ============= */
/* = STEP THREE = */
/* ============= */
/* This section actually renders direction-specific markup. 
We use the layout in two language contexts, and set the $direction variable */
/* line 19, ../scss/_layout.scss */
body div#content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -16px;
  display: inline;
}
/* line 22, ../scss/_layout.scss */
body div#sidebar-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 19, ../scss/_layout.scss */
body.i18n-en div#content, body.i18n-pt-br div#content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -16px;
  display: inline;
}
/* line 22, ../scss/_layout.scss */
body.i18n-en div#sidebar-first, body.i18n-pt-br div#sidebar-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 19, ../scss/_layout.scss */
body.i18n-ar div#content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -16px;
  display: inline;
}
/* line 22, ../scss/_layout.scss */
body.i18n-ar div#sidebar-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
