/* ============= */
/* = STEP ONE  = */
/* ============= */
/* ============= */
/* = STEP TWO = */
/* ============= */
/* ============================  */
/* =   The Skeleton           =  */
/* Called below in yallah layout */
/* Then overridden on some pages */
/* $direction = ltr or rlt --sets the susy $from-direction */
/* $sidebar_alpha = number of columns for the alpha sidebar */
/* $sidebar_omega = number of columns for the omega sidebar */
/* $content_width = number of columns for the main div (i.e.) main page content */
/* ============================  */
/* ============= */
/* = STEP THREE = */
/* ============= */
/* This section actually renders direction-specific markup. 
We use the layout in two language contexts, and set the $direction variable */
/* line 19, ../scss/_layout.scss */
body div#content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -16px;
  display: inline;
}
/* line 22, ../scss/_layout.scss */
body div#sidebar-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 11, ../scss/_navigation.scss */
body #navigation {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  float: left;
  background: #333333;
  line-height: 20px;
  padding: 5px 50px 5px 10px;
  position: relative;
}
/* line 19, ../scss/_navigation.scss */
body #navigation ul {
  list-style-type: none;
}
/* line 22, ../scss/_navigation.scss */
body #navigation li {
  display: inline-block;
}
/* line 27, ../scss/_navigation.scss */
body #primary {
  color: #fff;
  float: left;
}
/* line 3, ../scss/_navigation.scss */
body #primary a {
  color: #cccccc;
  padding: 0 10px;
  text-decoration: none;
}
/* line 30, ../scss/_navigation.scss */
body #primary .first {
  background: url(../images/icons/glyphicons/glyphicons_020_home.png) no-repeat;
}
/* line 35, ../scss/_navigation.scss */
body #secondary {
  color: #fff;
  float: right;
}
/* line 3, ../scss/_navigation.scss */
body #secondary a {
  color: #cccccc;
  padding: 0 10px;
  text-decoration: none;
}

/* line 19, ../scss/_layout.scss */
body.i18n-en div#content, body.i18n-pt-br div#content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -16px;
  display: inline;
}
/* line 22, ../scss/_layout.scss */
body.i18n-en div#sidebar-first, body.i18n-pt-br div#sidebar-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 11, ../scss/_navigation.scss */
body.i18n-en #navigation, body.i18n-pt-br #navigation {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  float: left;
  background: #333333;
  line-height: 20px;
  padding: 5px 50px 5px 10px;
  position: relative;
}
/* line 19, ../scss/_navigation.scss */
body.i18n-en #navigation ul, body.i18n-pt-br #navigation ul {
  list-style-type: none;
}
/* line 22, ../scss/_navigation.scss */
body.i18n-en #navigation li, body.i18n-pt-br #navigation li {
  display: inline-block;
}
/* line 27, ../scss/_navigation.scss */
body.i18n-en #primary, body.i18n-pt-br #primary {
  color: #fff;
  float: left;
}
/* line 3, ../scss/_navigation.scss */
body.i18n-en #primary a, body.i18n-pt-br #primary a {
  color: #cccccc;
  padding: 0 10px;
  text-decoration: none;
}
/* line 30, ../scss/_navigation.scss */
body.i18n-en #primary .first, body.i18n-pt-br #primary .first {
  background: url(../images/icons/glyphicons/glyphicons_020_home.png) no-repeat;
}
/* line 35, ../scss/_navigation.scss */
body.i18n-en #secondary, body.i18n-pt-br #secondary {
  color: #fff;
  float: right;
}
/* line 3, ../scss/_navigation.scss */
body.i18n-en #secondary a, body.i18n-pt-br #secondary a {
  color: #cccccc;
  padding: 0 10px;
  text-decoration: none;
}

/* line 19, ../scss/_layout.scss */
body.i18n-ar div#content {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -16px;
  display: inline;
}
/* line 22, ../scss/_layout.scss */
body.i18n-ar div#sidebar-first {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 11, ../scss/_navigation.scss */
body.i18n-ar #navigation {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  float: right;
  background: #333333;
  line-height: 20px;
  padding: 5px 50px 5px 10px;
  position: relative;
}
/* line 19, ../scss/_navigation.scss */
body.i18n-ar #navigation ul {
  list-style-type: none;
}
/* line 22, ../scss/_navigation.scss */
body.i18n-ar #navigation li {
  display: inline-block;
}
/* line 27, ../scss/_navigation.scss */
body.i18n-ar #primary {
  color: #fff;
  float: right;
}
/* line 3, ../scss/_navigation.scss */
body.i18n-ar #primary a {
  color: #cccccc;
  padding: 0 10px;
  text-decoration: none;
}
/* line 30, ../scss/_navigation.scss */
body.i18n-ar #primary .first {
  background: url(../images/icons/glyphicons/glyphicons_020_home.png) no-repeat;
}
/* line 35, ../scss/_navigation.scss */
body.i18n-ar #secondary {
  color: #fff;
  float: left;
}
/* line 3, ../scss/_navigation.scss */
body.i18n-ar #secondary a {
  color: #cccccc;
  padding: 0 10px;
  text-decoration: none;
}
