-- see install_db.sh
-- this file should get sed'd for all the ddVARNAMEdd
CREATE DATABASE IF NOT EXISTS ddINSTANCEdd;
CREATE USER 'ddINSTANCEdd'@'%' IDENTIFIED BY 'ddPASSWORDdd';
GRANT ALL PRIVILEGES ON ddINSTANCEdd.* TO 'ddINSTANCEdd'@'%';
REVOKE GRANT OPTION ON ddINSTANCEdd.* TO 'ddINSTANCEdd'@'%';
FLUSH PRIVILEGES;