#cd-translation-ui-padding-hack {
  height: 350px;
}

#cd-translation-ui {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0088cc;
  color: #fff;
}
#cd-translation-ui > .inner {
  overflow-y: auto;
  position: relative;
  margin: 0.5em 1em;
  padding-right: 80px;
  max-height: 350px;
}
#cd-translation-ui > .inner.collapsed {
  height: 2em;
}
#cd-translation-ui table {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
}
#cd-translation-ui table td {
  background-color: transparent;
  color: #000;
}
#cd-translation-ui table td.source {
  width: 20%;
}
#cd-translation-ui table td.translation {
  padding-left: 15px;
  padding-right: 65px;
  position: relative;
}
#cd-translation-ui table td button.btn-save {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
#cd-translation-ui table td input[type=text] {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  height: 30px;
}
#cd-translation-ui button.btn-visibility {
  position: absolute;
  top: 0;
  right: 0;
}
