html.ar_AR [ng\:cloak], html.ar_AR [ng-cloak], html.ar_AR .ng-cloak {
  display: none !important;
}
html.ar_AR html, html.ar_AR body {
  font-size: 16px;
  font-weight: lighter;
  color: #0f0d02;
  text-direction: left;
  direction: ltr;
}
html.ar_AR #call-to-action h2 {
  font-family: Times;
}
html.ar_AR body, html.ar_AR html {
  height: 100%;
  padding: 0;
  margin: 0;
}
html.ar_AR .main.container {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
html.ar_AR .main.container:after {
  content: "";
  display: table;
  clear: both;
}
html.ar_AR .action-centre {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
html.ar_AR .action-centre:after {
  content: "";
  display: table;
  clear: both;
}
html.ar_AR #header #logo {
  width: 23.94366%;
  float: right;
  margin-left: 1.40845%;
  display: inline;
}
html.ar_AR #header #actions {
  width: 49.29577%;
  float: right;
  margin-left: 1.40845%;
  display: inline;
}
html.ar_AR #header #user-actions {
  width: 23.94366%;
  float: left;
  margin-left: 0;
  *margin-right: -1em;
  display: inline;
}
html.ar_AR .checkdesk-report.full {
  width: 580px;
  margin: 1em auto;
}
html.ar_AR .checkdesk-report.embed {
  width: 40.84507%;
  float: right;
  margin-left: 1.40845%;
  display: inline;
  margin-left: 8.4507%;
}
html.ar_AR .checkdesk-report.embed:nth-child(2n) {
  width: 40.84507%;
  float: left;
  margin-left: 0;
  *margin-right: -1em;
  display: inline;
}
html.ar_AR .checkdesk-report.embed:nth-child(2n-1) {
  clear: both;
}
html.ar_AR #widgets.column {
  position: fixed;
  height: 100%;
  max-width: 360px;
  right: 0;
  top: 38px;
  width: 30%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}
html.ar_AR #content {
  margin-top: 38px;
  margin-right: 30%;
  overflow-y: auto;
}
html.ar_AR #content #content-inner {
  -moz-box-sizing: border-box;
  *zoom: 1;
  max-width: 850px;
  padding-top: 48px;
  padding-right: 8.4507%;
  padding-left: 16.90141%;
}
html.ar_AR #content #content-inner:before, html.ar_AR #content #content-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
html.ar_AR #content #content-inner:after {
  clear: both;
}
html.ar_AR #header {
  background-color: #333333;
  color: #fffef6;
  padding: 2em 0;
}
html.ar_AR #header #call-to-action {
  float: right;
}
html.ar_AR #header #toggle-language-btn {
  float: left;
}
html.ar_AR #user-actions {
  float: right;
}
html.ar_AR #content {
  background-color: #e6e6e6;
  padding: 1em 0;
}
html.ar_AR #content.verified {
  background-color: #dbf4df;
}
html.ar_AR #highlight-info {
  background-color: #18ad3d;
  color: #fffef6;
  padding: 1em 0;
}
html.ar_AR #new-note {
  background-color: #efefef;
  padding: 1em 0;
}
html.ar_AR #comments {
  background-color: #fff;
  padding: 1em 0;
}
html.ar_AR .checkdesk-report {
  position: relative;
  background-color: #fff;
  border-top: 5px solid #18ad3d;
  margin-bottom: 3em;
}
html.ar_AR .checkdesk-report .report-content {
  width: 100%;
}
html.ar_AR .checkdesk-report .report-icons {
  position: absolute;
  left: -42px;
  top: 1em;
}
html.ar_AR .checkdesk-report .added-by,
html.ar_AR .checkdesk-report .facts > .fact {
  padding: 0.5em 1em;
}
html.ar_AR .checkdesk-report .added-by {
  border: 1px solid #cccccc;
  border-bottom: none;
}
html.ar_AR .checkdesk-report .facts {
  display: table;
  border: 1px solid #cccccc;
}
html.ar_AR .checkdesk-report .facts > .fact {
  display: table-cell;
  border-left: 1px solid #cccccc;
}
html.ar_AR .checkdesk-report .facts > .fact:last-child {
  border-left: none;
}
html.ar_AR .checkdesk-report .facts > .fact.active {
  background-color: #cccccc;
}
html.ar_AR .checkdesk-report .facts > .fact.verified {
  background-color: #dbf4df;
}
html.ar_AR .action-centre {
  text-align: center;
}
html.ar_AR .action-centre a {
  padding: 0.5em 1em;
}

html.ar_AR,
html.ar_AR body {
  text-direction: right;
  direction: rtl;
}
