[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

html, body {
  font-size: 16px;
  font-weight: lighter;
  color: #0f0d02;
  text-direction: left;
  direction: ltr;
}

#call-to-action h2 {
  font-family: Times;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main.container {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.main.container:after {
  content: "";
  display: table;
  clear: both;
}

.action-centre {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.action-centre:after {
  content: "";
  display: table;
  clear: both;
}

#header #logo {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
}
#header #actions {
  width: 49.29577%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
}
#header #user-actions {
  width: 23.94366%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

.checkdesk-report.full {
  width: 580px;
  margin: 1em auto;
}

.checkdesk-report.embed {
  width: 40.84507%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  margin-right: 8.4507%;
}
.checkdesk-report.embed:nth-child(2n) {
  width: 40.84507%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
.checkdesk-report.embed:nth-child(2n-1) {
  clear: both;
}

#widgets.column {
  position: fixed;
  height: 100%;
  max-width: 360px;
  left: 0;
  top: 38px;
  width: 30%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

#content {
  margin-top: 38px;
  margin-left: 30%;
  overflow-y: auto;
}
#content #content-inner {
  -moz-box-sizing: border-box;
  *zoom: 1;
  max-width: 850px;
  padding-top: 48px;
  padding-left: 8.4507%;
  padding-right: 16.90141%;
}
#content #content-inner:before, #content #content-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
#content #content-inner:after {
  clear: both;
}

#header {
  background-color: #333333;
  color: #fffef6;
  padding: 2em 0;
}
#header #call-to-action {
  float: left;
}
#header #toggle-language-btn {
  float: right;
}

#user-actions {
  float: left;
}

#content {
  background-color: #e6e6e6;
  padding: 1em 0;
}
#content.verified {
  background-color: #dbf4df;
}

#highlight-info {
  background-color: #18ad3d;
  color: #fffef6;
  padding: 1em 0;
}

#new-note {
  background-color: #efefef;
  padding: 1em 0;
}

#comments {
  background-color: #fff;
  padding: 1em 0;
}

.checkdesk-report {
  position: relative;
  background-color: #fff;
  border-top: 5px solid #18ad3d;
  margin-bottom: 3em;
}
.checkdesk-report .report-content {
  width: 100%;
}
.checkdesk-report .report-icons {
  position: absolute;
  right: -42px;
  top: 1em;
}
.checkdesk-report .added-by,
.checkdesk-report .facts > .fact {
  padding: 0.5em 1em;
}
.checkdesk-report .added-by {
  border: 1px solid #cccccc;
  border-bottom: none;
}
.checkdesk-report .facts {
  display: table;
  border: 1px solid #cccccc;
}
.checkdesk-report .facts > .fact {
  display: table-cell;
  border-right: 1px solid #cccccc;
}
.checkdesk-report .facts > .fact:last-child {
  border-right: none;
}
.checkdesk-report .facts > .fact.active {
  background-color: #cccccc;
}
.checkdesk-report .facts > .fact.verified {
  background-color: #dbf4df;
}

.action-centre {
  text-align: center;
}
.action-centre a {
  padding: 0.5em 1em;
}
