// Susy
$total-columns: 12;
$column-width: 5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$from-direction: left !default;
$opposite-from-direction: opposite-position($from-direction);

// From Checkdesk theme
$navbarHeight: 38px !default;

// Colours
$text-color: #444444;

$grey: #666666;
$dark-grey: darken($grey, 30%);
$darkest-grey: darken($grey, 40%);
$light-grey: lighten($grey, 30%);
$lightest-grey: lighten($grey, 40%);

$cd-header-grey: #333333;
$cd-logo-orange: #f0c609;
$cd-content-green: #dbf4df;
$cd-content-grey: #e6e6e6;
$cd-green: #18ad3d;
$cd-light-grey: #efefef;

$warm-black: #0f0d02;
$warm-white: #fffef6;

$tb-blue: #0088cc;