@charset "UTF-8";

// ====================================================================== 
//  Default checkdesk layout
//

html {
  height: 100%;
  background-color: $thatch5;
}

#main {
  margin-#{$alpha}: $navbarWidth;
  top: 80px;
  position: relative;

  // adjust top for drupal toolbar
  body.toolbar-drawer & {
    margin-top: ($toolbarHeight) !important;
  }
  // when no sidebars
  body.no-sidebars & {
    margin-top: $absolute-line-height * 3;
  }
}

#main #content, #main #widgets, #main footer {
  position: relative;
  padding: 0 50px;
}

#main #content {
  max-width: 1020px;
}
