@charset "UTF-8";

// ====================================================================== 
//  Default checkdesk layout
//

html {
  // overflow: hidden;
  height: 100%;
  // background-image: $cream_dust;
  background-color: $thatch5;
}

body {
  // @include container($container-width $break-small $break-medium);
  // establish three breakpoints
}

// when no sidebars
body.no-sidebars {
  #main {
    margin-top: $absolute-line-height * 3;
  }
}

#main {
  margin-#{$alpha}: $navbarWidth;
  max-width: 1280px;
  top: 80px;
  position: relative;
}

#main #content {
  padding: 0 50px 50px;
}


