  @charset "UTF-8";

// ====================================================================== 
//  Default checkdesk layout
//

html:not(.embed):not(.media-browser) {
  height: 100%;
  background-color: $thatch5Alt;
}

#main {
  position: relative;
  top: $headerHeight;
  @include cd-responsive('min-width: #{$width-tablet}') {
    margin-#{$alpha}: $navbarWidth;
    // adjust top for drupal toolbar
    body.toolbar-drawer & {
      top: $headerHeight + $toolbarHeight;
    }
  }
}

#main #content, #main #widgets, #main footer {
  position: relative;
  padding-#{$alpha}: 20px;
  padding-#{$omega}: 20px;
  @include cd-responsive('min-width: #{$width-tablet}') {
    padding-#{$alpha}: 50px;
    padding-#{$omega}: 50px;
  }
  @include cd-responsive('min-width: #{$width-desktop}') {
    padding-#{$alpha}: 100px;
    padding-#{$omega}: 100px;
  }
}

#main #content {
  padding-top: $padding-large-horizontal;
  @include cd-responsive('min-width: #{$width-tablet}') {
    padding-top: $padding-large-horizontal*2;  
    max-width: 940px;
    margin-#{$alpha}: auto;
    margin-#{$omega}: auto;
  }
}

// for frontpage
body.page-liveblog #main #content {
  max-width: 620px;
}

// for content pages
#content-area .content {
  position: relative;
}

// default story size and centralized position
body.page-node .story {
  max-width: 680px;
  @media (min-width: 1px) and (max-width: 1080px) {
    margin-#{$alpha}: auto;
    margin-#{$omega}: auto;
  }
}

// Add margin for the most popular component
body.page-node .most-popular-component .story {
  @include cd-responsive('min-width: 1080px') {
    margin-#{$omega}: 320px;
  }
}

// align story body in center 
body:not(.most-popular-component) .story {
  margin-#{$alpha}: auto;
  margin-#{$omega}: auto;
}

// report
body.node-type-media:not(.page-embed) .report {
  max-width: 530px;
  margin-#{$alpha}: auto;
  margin-#{$omega}: auto;
}

