@charset "UTF-8";
// Bowerbird Icons helper
//
// Frontend to webfont-based icon libraries.
// 
// Supported Fonts:
// * Fontawesome - includes one font, FontAwesome
// http://fortawesome.github.com/Font-Awesome/
//
// Future support: 
// http://www.zurb.com/playground/foundation-icons
// http://www.heydonworks.com/article/a-free-icon-web-font
// http://somerandomdude.com/work/iconic/
// http://thedesignoffice.org/project/modern-pictograms/
// http://www.fontsquirrel.com/fonts/modern-pictograms
// 
// Example usage:
// li a { @include icon(bookmark-empty); } // => grabs .icon-bookmark-empty
// 
// Configuration: 
// $classPrefix - this is used to generate ".icon-thumbs-up" classname.
//
// Imports files: 
// _fontawesome.scss
//
// CSS classes:
// .icon-<icon-name> - each class starting with ".icon-" should have an icon listed in the included libraries. This class should be extended on semantic element, not linked directly to the markup. Usage of the mixin is preferred over utilizing these css classes created by the icon libraries.
//
// $classPrefix - Prefix for the classname we will generate and extend
$classPrefix: "icon-" !default;

// Icon Mixin
//
// Extends a preexisting selector like .icon-thumb-up for a given font or font family.
// 
// $icon - the name of the icon eg "thumb-up"
// $set - the shorthand name of the set eg "fontawesome"
// $size - the width and height of the icon
// $font-name - Required for Foundicons: Specify one font from the family.

$default-icon-font-size: 14px; // fontawesome 3.0 is optimized for 14px
$large-icon-font-size: 18px;

// Just for icons on words or elements, before or after
@mixin icon($icon, $size: $default-icon-font-size, $color: "black", $position: "before", $margin: 0 $gutter-width/2) {

  &:#{$position} {

    font-family: "FontAwesome"; // 1. set the font name

    @extend %icon-#{$icon}:before; // 2. class selector with dynamic name w/ @extend'ed placeholder

    // 3. basic layout
    display: inline-block;
    margin: $margin;
    *margin-right: .3em; // fixes ie7 issues
    
    color: $color;
    font-size: $size;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // 4. content (for any extra)
    @content;
  }
}

// A small triangle, eg for dropdowns
@mixin caret {
  @include icon('caret-down', 18px, $firefly30, 'after');
}

// Enable icons
//
// each of the icons we use must be extended, 
// it does not just work with the icon-* classname.
//
// .icon-link {
//   @include icon('link');
// }

.icon-muted { color: rgba(255, 255, 255, 0.2); }
.icon-light { color: #fff; }
.icon-dark { color: $gray-dark; }
