// ==============================================================
// The installation page

$bookmarklet-modal-width: 700px;
$bookmarklet-modal-height: 350px;

#modalContent.modal-install-bookmarklet {
  z-index: $z-index-Modal;
  .ctools-modal-content {
    .modal-content {
      overflow: visible;
    }
  }

  .modal {
    width: $bookmarklet-modal-width;
    height: $bookmarklet-modal-height; 
    .modal-body {
      overflow: visible;
    }
  }

  .modal-header {
    border-bottom: 0;
    .modal-title {
      display: none;
    }
  }

  .install-bookmarklet-col {
    float: $alpha;
    margin-top: -$absolute-line-height;

    #install-bookmarklet-button {
      position: relative;
      text-align: center;
      margin-top: -$absolute-line-height/2;
      // arrow
      &:before {
        pointer-events: none;
        content: "";
        position: absolute;
        top: -35px;
        bottom: 0;
        #{$alpha}: -60px;
        width: 66px;
        height: 84px;
        @if $from-direction == left {
          background: transparent url(../imgs/icons/bookmarklet-drag.png) no-repeat;
        } @else {
          background: transparent url(../imgs/icons/bookmarklet-drag-ltr.png) no-repeat;
        }
        overflow: visible;
      }

      a {
        padding: 10px;
        display: block;
        background: $brand-primary;
        font-size: $small-font-size;
        color: #fff;
        text-decoration: none;
        @include border-radius(3px);
        overflow: visible;
      } 

      .description {
        @include reset-box-model;
        margin: $absolute-line-height/2 auto;
        font-size: modular-scale(0) - modular-scale(-3); 
        font-weight: normal;
        line-height: 1.3;
        color: $gray-light;
        width: 80%;
      }
    }

    ul {
      @include reset-box-model;
      @include reset-list-style;
    }

    a, p {
      font-size: $small-font-size;
    }

    p {
      color: $gray;
    }
      
  }

  .install-bookmarklet-col + .install-bookmarklet-col {
    h2 {
      @include reset-box-model;
      font-weight: normal;
      font-size: $large-font-size;
      color: $gray;
      width: 90%;
    }
    // p {
    //   margin: ms(0) 0;
    // }
  }


  #info-page-install-bookmarklet {
    $opposite-direction: $omega;
    .install-bookmarklet-col:first-child {
      float: $from-direction;
      margin-#{$opposite-direction}: $gutter-width;
      padding-#{$alpha}: $gutter-width;
      clear: both;
      width: 250px;
    }
    .install-bookmarklet-col:last-child {
      float: $opposite-direction;
      width: 300px;
    }
  }


}