/*
Syntax error: Invalid CSS after "-": expected number or function, was "  -webkit-user-..."
        on line 51 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/override_drupal/context_reaction_block.scss

Backtrace:
/Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/override_drupal/context_reaction_block.scss:51
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:1134:in `expected'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:1070:in `expected'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:1052:in `expr!'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:908:in `term'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:883:in `expr'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:657:in `simple_selector_sequence'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:626:in `_selector'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:605:in `selector'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:589:in `selector_sequence'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:514:in `ruleset'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:577:in `block in declaration_or_ruleset'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:1108:in `call'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:1108:in `rethrow'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:578:in `declaration_or_ruleset'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:540:in `block_child'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:532:in `block_contents'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:521:in `block'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:515:in `ruleset'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:539:in `block_child'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:532:in `block_contents'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/scss/parser.rb:27:in `parse'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/engine.rb:342:in `_to_tree'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:99:in `block in run_supervised_task'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:97:in `catch'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:97:in `run_supervised_task'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:146:in `block in run_first_task_found'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:144:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:144:in `run_first_task_found'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:80:in `block in run_on_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:175:in `block (3 levels) in scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:174:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:174:in `block (2 levels) in scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:173:in `catch'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:173:in `block in scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:172:in `each'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:172:in `scoped_guards'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard/runner.rb:72:in `run_on_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard.rb:139:in `block (2 levels) in setup_listener'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard.rb:363:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard.rb:360:in `within_preserved_state'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/guard-1.6.0/lib/guard.rb:138:in `block in setup_listener'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/listener.rb:212:in `call'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/listener.rb:212:in `on_change'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapter.rb:196:in `call'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapter.rb:196:in `report_changes'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/chris/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.6.0/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"-\": expected number or function, was \"  -webkit-user-...\"\A         on line 51 of /Users/chris/git/meedan-checkdesk/drupal/sites/all/themes/checkdesk/assets/scss/override_drupal/context_reaction_block.scss"; }
