/* width percentages add to 99% rather than 100% to prevent float
overflows from occurring in an unnamed browser that can't decide
how it wants to round. */
/* l10n_client container */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\000037}}
#l10n-client {
  text-align: left;
  z-index: 9999;
  line-height: 1em;
  color: #000;
  background: #fff;
  position: fixed;
  width: 100%;
  height: 2em;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000317}}
* html #l10n-client {
  position: static;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000322}}
#l10n-client-string-select .string-list,
#l10n-client-string-editor .source,
#l10n-client-string-editor .editor {
  height: 20em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000325}}
#l10n-client .labels {
  overflow: hidden;
  position: relative;
  height: 2em;
  color: #fff;
  background: #37a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000332}}
#l10n-client .labels .label {
  display: none;
}

/* Panel toggle button (span) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000336}}
#l10n-client .labels .toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0em;
  padding: 0em 0.75em;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
  background: #000;
}

/* Panel labels */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000345}}
#l10n-client h2 {
  border-left: 1px solid white;
  height: 1em;
  line-height: 1em;
  padding: .5em;
  margin: 0px;
  font-size: 1em;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000352}}
#l10n-client .strings h2 {
  border: 0px;
}

/* 25 + 37 + 37 = 99 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000356}}
#l10n-client .strings {
  width: 25%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000359}}
#l10n-client .source {
  width: 37%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000362}}
#l10n-client .translation {
  width: 37%;
  float: left;
}

/* Translatable string list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000366}}
#l10n-client-string-select {
  display: none;
  float: left;
  width: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000371}}
#l10n-client .string-list {
  height: 17em;
  overflow: auto;
  list-style: none;
  list-style-image: none;
  margin: 0em;
  padding: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000377}}
#l10n-client .string-list li {
  font-size: .9em;
  line-height: 1.5em;
  cursor: default;
  background: transparent;
  list-style: none;
  list-style-image: none;
  border-bottom: 1px solid #dddddd;
  padding: 0.25em 0.5em;
  margin: 0em;
}

/* Green for translated */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000388}}
#l10n-client .string-list li.translated {
  border-bottom-color: #9c3;
  background: #cf6;
  color: #360;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000392}}
#l10n-client .string-list li.translated:hover {
  background: #df8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000395}}
#l10n-client .string-list li.translated:active {
  background: #9c3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\0000398}}
#l10n-client .string-list li.hidden {
  display: none;
}

/* Gray + Blue hover for untranslated */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003104}}
#l10n-client .string-list li.untranslated:hover {
  background: #ace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003107}}
#l10n-client .string-list li.untranslated:active {
  background: #8ac;
}

/* Selected string is indicated by bold text */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003111}}
#l10n-client .string-list li.active {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003114}}
#l10n-client #l10n-client-search-form {
  background: #eee;
  text-align: center;
  height: 2em;
  line-height: 2em;
  margin: 0em;
  padding: 0.5em 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003124}}
#l10n-client #l10n-client-search-form .form-item,
#l10n-client #l10n-client-search-form input.form-text,
#l10n-client #l10n-client-search-form #search-filter-go,
#l10n-client #l10n-client-search-form #l10n-client-search-filter-clear {
  display: inline;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003129}}
#l10n-client #l10n-client-search-form .form-item {
  margin: 0em;
  padding: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003134}}
#l10n-client #l10n-client-search-form input.form-text {
  width: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003138}}
#l10n-client #l10n-client-search-form #l10n-client-search-filter-clear {
  width: 10%;
  margin: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003144}}
#l10n-client-string-editor {
  display: none;
  float: left;
  width: 74%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003149}}
#l10n-client-string-editor .source {
  overflow: hidden;
  width: 50%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003153}}
#l10n-client-string-editor .source .source-text {
  line-height: 1.5em;
  background: #eee;
  height: 15em;
  margin: 1em;
  padding: 1em;
  margin-bottom: 0.5em;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003159}}
#l10n-client-string-editor .context {
  line-height: 1em;
  height: 1em;
  font-size: 0.8em;
  margin: 0.5em 1em 1em 1em;
  padding: 0 1em 0 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003166}}
#l10n-client-string-editor .translation {
  overflow: hidden;
  width: 49%;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003170}}
#l10n-client-form {
  padding: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003173}}
#l10n-client-form .form-textarea {
  height: 13em;
  font-size: 1em;
  line-height: 1.25em;
  width: 95%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003178}}
#l10n-client-form .form-submit {
  margin-top: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003182}}
#l10n-client-data {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003185}}
.l10n-client-feedback {
  background-color: #DF8;
  padding: 5px;
  font-style: italic;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003191}}
.l10n-client-feedback.message-warning {
  background-color: #FD8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/checkdesk\/drupal\/sites\/all\/themes\/checkdesk\/assets\/scss\/override_drupal\/l10n_client\.scss}line{font-family:\00003194}}
.l10n-client-feedback.message-error {
  background-color: #F00;
  color: #fff;
}
