<?php

$databases['default']['default'] = array(
  'driver'   => 'mysql',
  'database' => 'checkdesk',
  'username' => 'checkdesk',
  'password' => '',
  'host'     => 'localhost',
  'prefix'   => '',
);

