#behat-ui-output {
  display: block;
  height: 600px;
  overflow: auto;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #333;
  background: #ffe;
  /*
  word-wrap: normal;
  white-space: pre;
  */
}

#behat-ui-output * {
  font-size: 12px;
  font-family: sans-serif;
}

#behat-ui-output table {
  width: 90% !important;
}

#behat-ui-status {
  font-weight: bold;
  line-height: 16px;
}

#behat-ui-status span {
  color: #a00;
  padding-left: 18px; 
}

#behat-ui-status.running span {
  color: green;
  background: transparent url(loading.gif) left center no-repeat;
}

#behat .summary {
  position: static !important;
}

#behat .summary .switchers {
  display: none !important;
}

#behat-ui-steps {
  display: none;
}

#behat-ui-new-scenario, #behat-ui-scenario-output {
  width: 40%;
}

#behat-ui-new-scenario {
  float: left;
}

#behat-ui-scenario-output {
  float: right;
}

#behat-ui-run {
  display: block;
  width: 20%;
  text-align: center;
  float: left;
  padding-top: 200px;
}

#behat-ui-create {
  clear: both;
  text-align: center;
}

#behat-ui-new-steps fieldset fieldset {
  padding: 0;
}

#behat-ui-new-steps .form-item {
  float: left;
  margin-bottom: 0;
}

#behat-ui-new-steps .form-type-select {
  width: 20%;
}

#behat-ui-new-steps .form-type-textfield {
  width: 80%;
}

#behat-ui-new-steps .form-type-select select {
  width: 90%;
}

#behat-ui-new-steps .form-type-textfield .form-text {
  width: 100%;
}

#behat-ui-new-steps .form-type-textfield .form-rich {
  width: 93%;
}

#behat-ui-new-steps .field-rich-wrapper {
  position: relative;
  background: #fff;
  padding: 2px;
  border: 1px solid #ccc;
}

#behat-ui-new-steps .form-type-textfield .form-rich,
#behat-ui-new-steps .form-type-textfield .form-text.form-rich-processed {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  border: 0;
  outline: none;
}

#behat-ui-new-steps .form-type-textfield .form-rich {
  z-index: 1;
  background: transparent;
}

#behat-ui-new-steps .form-type-textfield .form-text.form-rich-processed {
  color: transparent;
  background-position: 100% 2px;
}

#behat-ui-new-steps .form-type-textfield .form-text.form-rich-processed.throbbing {
  background-position: 100% -18px;
}

#behat-ui-new-steps .form-type-select select {
  border: 1px solid #ccc;
  outline: none;
}

#behat-ui-new-steps .step-param {
  font-weight: bold;
  color: #000;
}

#behat-ui-new-steps .step-no-param {
  font-weight: normal;
  color: #666;
}

#edit-behat-ui-title {
  width: 98%;
}

#behat-ui-new-steps .sort-up,
#behat-ui-new-steps .sort-down,
#behat-ui-new-steps .remove {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  text-indent: -5000em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

#behat-ui-new-steps .sort-up {
  left: 3px;
  top: 11px;
  background-image: url(up.png);
}

#behat-ui-new-steps .sort-up:hover {
  background-image: url(up-hover.png);
}

#behat-ui-new-steps .sort-down {
  left: 3px;
  top: 23px;
  background-image: url(down.png);
}

#behat-ui-new-steps .sort-down:hover {
  background-image: url(down-hover.png);
}

#behat-ui-new-steps .remove {
  right: 2px;
  top: 16px;
  background-image: url(remove.png);
}

#behat-ui-new-steps .remove:hover {
  background-image: url(remove-hover.png);
}
