#meedan_bookmarklet_cont {
  width: 600px;
  background: #fff;
}

#meedan_bookmarklet_cont iframe {
  width: 100%;
  height: 350px;

  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

#meedan_bookmarklet_cont {
  position: fixed;
  z-index: 9999;
  margin-left: -250px;
  left: 50%;
  top: 50px;
  border: 5px solid #000;
  display: none;
}

#meedan_bookmarklet_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  background: url(../images/alpha.png);
  display: none;
}
