#meedan_bookmarklet {
  background: #fff;
}

#meedan_bookmarklet .vertical-tabs,
#meedan_bookmarklet .filter-wrapper {
  display: none;
}

#meedan_bookmarklet_close {
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: transparent url(../images/close-default.png) right center no-repeat;
}

#meedan_bookmarklet_close:hover {
  background-image: url(../images/close-hover.png);
}

#meedan_bookmarklet_close span {
  display: none;
}
