#meedan_bookmarklet {
  background: #fff;
}

#meedan_bookmarklet .vertical-tabs,
#meedan_bookmarklet .filter-wrapper {
  display: none;
}

#meedan_bookmarklet_close {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 24px;
  background: transparent url(../images/close-default.png) center center no-repeat;
  float: right;
}

#meedan_bookmarklet_close:hover {
  background-image: url(../images/close-hover.png);
}

#meedan_bookmarklet_close span {
  display: none;
}
