.cd-container {
	@include ctb-clearfix;
}

.cd-container-inner {
	margin: $absolute-line-height/1.2 0;
  padding: 20px 0 0;

	.cd-container & {
		border-top: 1px solid $firefly10;	
	}

}

.cd-container-header {
  margin-top: 10px;
  margin-bottom: 30px;
}

.cd-container-header-title {
  text-align: center;
  color: $firefly60;
  a { 
    @include ctb-linkColor($firefly60);
    text-decoration: none;
  }
  @if $from-direction == 'left' {
    letter-spacing: -0.5px;
  }
}



// slices
@include cd-responsive('min-width: #{$width-tablet}') {
  .cd-slice-wrapper {
    margin: 0 -8px;
  }
}

.cd-slice-item {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

@include cd-responsive('min-width: #{$width-tablet}') {
  .cd-slice-item {
    @include flexbox;
  }
}


// item 
@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  .cd-item {
    width: 100%;
  }
  .cd-item-has-image {
    position: relative;
  }
}

@include cd-responsive('min-width: #{$width-tablet}') {
  .cd-item {
    @include flexbox;
    @include flex(1 1 auto);
    margin-#{$alpha}: 8px;
    margin-#{$omega}: 8px;
  }
}


.cd-item-container {
  position: relative;
  a { 
    color: $firefly60;
    text-decoration: none;
  }
  .cd-item-meta a {
    color: $firefly30;
  }
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  .cd-item-has-image .cd-item-container {
    display: block;
    padding-#{$alpha}: 124px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      #{$alpha}: 0;
      #{$omega}: 0;
      z-index: 2;
    }
  }
}

@include cd-responsive('min-width: #{$width-tablet}') {
  .cd-item-container {
    @include flexbox;
    @include flex-direction(column);
    @include flex(1 1 auto);
    @include box-sizing(border-box);
    width: 0;
  }
}

.cd-item-container:hover {
  a { 
    color: $firefly80;
    text-decoration: none;
  }
  .cd-item-meta a {
    color: $firefly40;
  }
}

.cd-item-media-wrapper {
  position: relative;
  @include box-sizing(border-box);
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  .cd-item-media-wrapper {
    position: absolute;
    display: block;
    width: 120px;
    margin-#{$alpha}: -120px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.cd-item-image-container {
  display: block;
}

.cd-item-content {
  padding-top: 4px;
  padding-#{$alpha}: 8px;
  padding-#{$omega}: 8px;
  padding-bottom: 50px;
  @include box-sizing(border-box);
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  .cd-item-content {
    position: relative;
    display: block;
    padding-bottom: 40px;
    min-height: 72px;
  }
}

@include cd-responsive('min-width: #{$width-tablet}') {
  .cd-item-content { 
    min-height: 132px;
  }
}

.cd-item-header {
  font-size: 16px;
  @if $from-direction == left {
    line-height: 20px;
    letter-spacing: -0.4px;
  }
  @include cd-serif-family;
  padding-bottom: 10px;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  .cd-item-header {
    font-size: 14px;
    @if $from-direction == left {
      line-height: 18px;
      letter-spacing: -0.3px;
    }
    padding-bottom: 5px;
  }
}

.cd-item-title {
  font: inherit;
  line-height: inherit;
  word-wrap: break-word;
}

.cd-item-meta {
  position: absolute;
  bottom: 4px;
  #{$alpha}: 8px;
  #{$omega}: 8px;
  font-size: 14px;
  line-height: 1.3;
  color: $firefly30;
  .icon-comment-o { 
    @include icon(comment-o);
    &:before, &:after { 
      margin: 0;
      margin-#{$omega}: 4px;
    }
  }
}

.cd-item-meta .byline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cd-item-meta .timestamp {
  float: $alpha;
  padding-#{$omega}: 10px;
}

// rows

@include cd-responsive('min-width: #{$width-tablet}') {
  .l-row {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-content(stretch);
    @include align-items(stretch);
  }

  .l-row-item-span-1 {
    @include flex(1 1 auto);
  }

  .l-row-item-span-2 {
    @include flex(2 1 auto);
  }
}

// tones
.tone-default-item {
  background-color: #fff;
  color: $firefly60;
}