body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

// Susy layout
.main.container {
  @include container;
}
.action-centre {
  @include container;
}
#header {
  #logo {
    @include span-columns(3);
  }
  #actions {
    @include span-columns(6);
  }
  #user-actions {
    @include span-columns(3 omega);
  }
}
.checkdesk-report.full {
  width: 580px;
  margin: $gutter-width auto;
}
.checkdesk-report.embed {
  @include span-columns(5, 12);
  @include post(1);

  &:nth-child(2n) {
    @include span-columns(5 omega, 12);
  }
  &:nth-child(2n-1) {
    clear: both;
  }
}

// 2. The sidebar column
#widgets.column {
  position: fixed;
  height: 100%;
  max-width: 360px;
  #{$from-direction}: 0;
  top: $navbarHeight;
  width: 30%;
  border-#{$opposite-from-direction}: 1px solid rgba(0,0,0,.1);
  background-color: #fff;

  overflow: hidden;
}

// 3. The primary content column, 
// on story create page, the main column with the compser form
#content {
  // position: absolute;
  margin-top: $navbarHeight;
  // bottom: 0;
  margin-#{$from-direction}: 30%;
  // #{$opposite-from-direction}: 0;
  overflow-y: auto;
  #content-inner {
    -moz-box-sizing: border-box;
    @include ctb-clearfix;
    max-width: 850px;
    padding-top: $base-line-height * 2;
    @include pad(1, 2, 12);
  }
}

// Section shapes and colours
#header {
  background-color: $cd-header-grey;
  color: $warm-white;
  padding: $gutter-width * 2 0;

  #call-to-action {
    float: $from-direction;
  }

  #toggle-language-btn {
    float: $opposite-from-direction;
  }
}

#user-actions {
  float: $from-direction;
}

#content {
  background-color: $cd-content-grey;
  padding: $gutter-width 0;

  &.verified {
    background-color: $cd-content-green;
  }
}

#highlight-info {
  background-color: $cd-green;
  color: $warm-white;
  padding: $gutter-width 0;
}

#new-note {
  background-color: $cd-light-grey;
  padding: $gutter-width 0;
}

#comments {
  background-color: #fff;
  padding: $gutter-width 0;
}