@charset "UTF-8";

ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
  @if $from-direction == right {
    padding: 3px 0 3px $gutter-width*2;
  }
}

a.autocomplete-deluxe-single:hover {
  text-decoration: none;
}

.ui-autocomplete .ui-state-hover {
  background: $dodgerBlue;
  border-color: $dodgerBlue;
  color: #fff;
  padding: 0;
  margin: 0;
}