@charset "UTF-8";
@import "colors";
@import "bowerbird/colors";
// Directional defaults
@import "global";
// Aliases for bidirectional stuff
$alpha: $from-direction;
$omega: opposite-position($from-direction);

// Variables and Mixins
@import "variables";
@import "mixins";

// Bowerbird Compass Extension
// See also README.md and ../bowerbird/README.md
// Requires: base
@import "bowerbird";

// Bowerbird font-icon support mixin: icon()
@import "bowerbird/icons/icons";

// Load @extendable %icon- selectors
// @extend directly or use icon() mixin to do it for you
@import "bowerbird/icons/fontawesome";

// Forms autocomplete and jquery ui
@import "replace_drupal/jquery.ui.autocomplete";

// =======================================================================
// Autocomplete 
//

ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
  background: #fff;
  border: 1px solid #aaaaaa;
  @if $from-direction == right {
    padding: 3px 0 3px $gutter-width*2;
  }
}

a.autocomplete-deluxe-single:hover {
  text-decoration: none;
}

.ui-autocomplete .ui-state-hover {
  background: $dodgerBlue;
  border-color: $dodgerBlue;
  color: #fff;
  padding: 0;
  margin: 0;
}

.autocomplete-deluxe-container {
  display: inline-block;
  position: relative;
  padding: 0;
  border: 1px solid #CCCCCC;
  background: no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}
div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  // background: #fff no-repeat -38px -22px;
  @if $from-direction == left {
    padding: 4px 5px;
  } @else {
    padding: 0px 5px;
  }
  border: none;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single  {
  width: 90%;
  border: none;
  background: no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}

.autocomplete-deluxe-search {
  margin: 0px 0px 4px 0px;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1010;
}

span.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: $omega;
  // background:url('x.gif') no-repeat center;
  width: 18px;
  width: 18px;

  /* Prevent text selection. */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.autocomplete-deluxe-single-open {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}

input.autocomplete-deluxe-closed {
}

div.autocomplete-deluxe-multiple {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  @if $from-direction == left {
    padding: $absolute-line-height/4 $gutter-width/2 4px;
  } @else {
    padding: $absolute-line-height/4 $gutter-width/2 2px;
  }
  cursor: text;
  height: auto !important;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  cursor: text;
}

input[type="text"].autocomplete-deluxe-form {
  border: 0 none;
  box-shadow: none;
}

input[type="text"]:focus.autocomplete-deluxe-form {
  border: 0 none;
  box-shadow: none;
  outline: 0;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  border: 3px none;
  width: 25px;
  margin-#{$alpha}: 5px;
  float: $from-direction;
}

div.autocomplete-deluxe-throbber {
  width: 16px;
  float: $omega;
  height: 50%;
}

.autocomplete-deluxe-closed {
  background: url(/misc/throbber.gif) no-repeat 100% -40px;
}

.autocomplete-deluxe-open {
  background: url(/misc/throbber.gif) no-repeat 100% 8px;
}

.autocomplete-deluxe-item {
  float: $from-direction;
  position: relative;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: $firefly10;
  border: 1px solid $firefly20;
  cursor: default;
  @if $from-direction == left {
    margin: 3px $gutter-width/2 3px 5px;
  } @else { 
    margin: 3px 5px 3px $gutter-width/2;
  }
  @if $from-direction == left {
    padding: 3px $gutter-width*2 3px 5px;
  } @else {
    padding: 3px 5px 3px $gutter-width*2;
  }
  color: $firefly80;
}

.autocomplete-deluxe-item-delete {
  @include icon("times");
  color: $firefly40;
  display: block;
  position: absolute;
  #{$omega}: $gutter-width;
  top: 3px;
  width: 12px;
  &:hover {
    color: $red;
  }
}

.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #D4D4D4;
}

.autocomplete-deluxe-highlight-char {
  color: $strongBlue;
  font-weight: bold;
  .ui-menu .ui-menu-item a.ui-state-hover & {
    color: #fff;
  }
}