-- see install_cd_db.sh
-- this file should get sed'd for all the ddVARNAMEdd
CREATE DATABASE IF NOT EXISTS ddINSTANCEdd;
CREATE USER 'ddINSTANCEdd'@'%' IDENTIFIED BY 'ddPASSWORDdd';
CREATE USER 'ddINSTANCEdd'@'localhost' IDENTIFIED BY 'ddPASSWORDdd';
GRANT ALL PRIVILEGES ON ddINSTANCEdd.* TO 'ddINSTANCEdd'@'%';
REVOKE GRANT OPTION ON ddINSTANCEdd.* FROM 'ddINSTANCEdd'@'%';
GRANT ALL PRIVILEGES ON ddINSTANCEdd.* TO 'ddINSTANCEdd'@'localhost';
REVOKE GRANT OPTION ON ddINSTANCEdd.* FROM 'ddINSTANCEdd'@'localhost';
FLUSH PRIVILEGES;