.table-revisions .form-type-item {
  padding-left: 24px;
}

.revisions-active {
  margin-left: -24px;
  padding-left: 24px;
  background: url('images/arrow-right.png') no-repeat;
}

.revisioning-ux-buttons form {
  float: left;
  margin-right: 16px;
  margin-bottom: 8px;
}
