.static-page {
  margin-bottom: 96px;
}
.static-page h2 {
  margin: 0;
  padding: 0;
  margin: 28.8px 0 12px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.static-page h2:first-child {
  margin: 0 0 12px 0;
}
.static-page h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.static-page img.creativecommons {
  width: auto;
  height: 31px;
  vertical-align: text-bottom;
}
.static-page ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-left: 30px;
  list-style: disc outside none;
}
.static-page ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
.static-page p {
  margin: 0 0 24px;
}

#modalContent .static-page {
  color: #555555;
}
#modalContent .static-page ul li {
  font-size: 88%;
}
#modalContent .static-page h2 {
  font-size: 92%;
}
#modalContent .static-page p {
  font-size: 88%;
}

#page-node-form .filter-wrapper {
  display: block;
}
