// Old styles from the bookmarklet preview
// Applies to "add report" form

$bookmarklet-preview-max-height: 345px;

// Bookmarklet
// ==============================================================

// when as regular form with some temporary duplicates from bookmarklet
#media-node-form {
  // Loading ..
  .meedan-bookmarklet-loading {
    background: #fff url(../imgs/icons/loader_white.gif) opposite-position($from-direction) center no-repeat;
  }
}

#meedan_bookmarklet_preview {
  color: $firefly60;
  margin: $gutter-width 0;
}

#meedan_bookmarklet_preview_content img {
  width: auto;
  clear: both;
}

#meedan_bookmarklet_preview_content,
#meedan_bookmarklet_preview_gc {
  height: auto;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

#meedan_bookmarklet_preview_gc {
  background: $firefly40;
  color: $firefly80;
  padding-top: 85px;
  height: $bookmarklet-preview-max-height;
  max-height: 145px;
  span, a {
    text-align: center;
    display: block;
    width: 100%;
  }
  span {
    font-size: 15px;
    margin-bottom: 5px;
  }
  a, a:visited, a:link, a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}
