//
// Buttons
// --------------------------------------------------
// Modified version of BS buttons


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include ctb-button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include ctb-user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include ctb-tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include ctb-box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include ctb-opacity(.65);
    @include ctb-box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include ctb-button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include ctb-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-primary-alt {
  @include ctb-button-variant($brand-primary, $btn-default-bg, $btn-primary-border);
}