//
// Forms
// --------------------------------------------------


// GENERAL STYLES
// --------------

// Make all forms have space below them
form {
  margin-bottom: 30px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $absolute-line-height;
  font-size: $base-font-size * 1.5;
  line-height: $absolute-line-height * 2;
  color: $gray;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

  // Small
  small {
    font-size: $absolute-line-height * .75;
    color: $gray-light;
  }
}

// Set font for forms
label,
input,
button,
select,
textarea {
  font: normal $base-font-size/$absolute-line-height; // Set size, weight, line-height here
}
input,
button,
select,
textarea {
  font-family: $header-font-stack; // And only set font-family here for those that need it (note the missing label element)
}

// Identify controls by their labels
label {
  display: block;
  margin-bottom: 5px;
}


// Form controls
// -------------------------

// Shared size and type resets
select,
textarea,
body.cke_editable,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: $absolute-line-height;
  padding: 10px 6px;
  margin-bottom: $absolute-line-height / 4;
  font-size: $base-font-size;
  font-family: $body-font-stack;
  color: $gray-light;
  @include border-radius($radius);
  vertical-align: middle;
}

// Reset appearance properties for textual inputs and textarea
// Declare width for legacy (can't be on input[type=*] selectors or it's too specific)
input,
textarea,
body.cke_editable,
.uneditable-input {
  width: 206px; // plus 12px padding and 2px border
}
// Reset height since textareas have rows
textarea,
body.cke_editable {
  height: 100%;
}
// Everything else
textarea,
body.cke_editable,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 1px solid $inputBorder;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border linear .2s, box-shadow linear .2s);

  // Focus state
  &:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
  }
}
// Fixes for WYSIWYG editor iframe field
body.cke_editable {
  border: none !important;
  @include box-shadow(none !important);
  @include transition(none !important);
  @include border-radius(none !important);
  width: auto;
  display: block;
  margin: 0;
  vertical-align: baseline;

  p br {
    display: block;
  }
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: $absolute-line-height + 18px;; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: $absolute-line-height + 18px;;
}

// Make select elements obey height by applying a border
select {
  // width: 220px; // default input width + 10px of padding that doesn't get applied
  border: 1px solid $inputBorder;
  background-color: $inputBackground; // Chrome on Linux and Mobile Safari need background-color
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for select, file, radio, and checkbox
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include ctb-tab-focus();
}


// Uneditable inputs
// -------------------------

// Make uneditable inputs look inactive
.uneditable-input,
.uneditable-textarea {
  color: $gray-light;
  background-color: darken($inputBackground, 1%);
  border-color: $inputBorder;
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
  cursor: not-allowed;
}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
  overflow: hidden; // prevent text from wrapping, but still cut it off like an input does
  white-space: nowrap;
}

// Make uneditable textareas behave like a textarea
.uneditable-textarea {
  width: auto;
  height: auto;
}


// CHECKBOXES & RADIOS
// -------------------

// Indent the labels to position radios/checkboxes as hanging
.form-type-radio,
.form-type-checkbox {
  min-height: $absolute-line-height; // clear the floating input if there is no label text
  padding-#{$alpha}: 20px;
}
.form-type-radio input[type="radio"],
.form-type-checkbox input[type="checkbox"] {
  float: $alpha;
  margin-#{$alpha}: -20px;
}

// Move the options list down to align with labels
.controls > .form-type-radio:first-child,
.controls > .form-type-checkbox:first-child {
  padding-top: 5px; // has to be padding because margin collaspes
}

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.form-type-radio.inline,
.form-type-checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-type-radio.inline + .form-type-radio.inline,
.form-type-checkbox.inline + .form-type-checkbox.inline {
  margin-left: 10px; // space out consecutive inline controls
}


// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: $inputDisabledBackground;
}
// Explicitly reset the colors here
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

// FORM FIELD FEEDBACK STATES
// --------------------------

.marker,
.form-required {
  color: $linkColor;
}

// Error
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  color: $errorText;
  border-color: darken($errorBorder, 10%);
  &:focus {
    border-color: darken($errorBackground, 30%);
    @include box-shadow(0 0 6px lighten($errorBackground, 10%));
  }
}


// FORM ACTIONS
// ------------

.form-actions {
  // add spacing when buttons appear together
  .btn {
    &:not(:last-child) {
      margin-#{$omega}: $gutter-width;
    }
  }
}


// HELP TEXT
// ---------

.help-block {
  margin-top: 5px;
  margin-bottom: 0;
  color: $gray-light;
}

.form-item {
  .description {
    display: inline-block;
    margin-bottom: 9px;
    vertical-align: middle;
    padding-left: 5px;
    color: $gray-light;
    font-size: 12px;
    @include ctb-ie7-inline-block();
  }
}

// 
// --------------------------------------------

.form-item {
  label span.field-edit-link {
    display: none;
  }


}