// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin ctb-clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Webkit-style focus
// ------------------
@mixin ctb-tab-focus() {
  // I am not happy with how this look/works, need to revisit CGB

  // // Default
  // outline: thin dotted $grey;
  // // Webkit
  // outline: 5px auto -webkit-focus-ring-color;
  // outline-offset: -2px;
}

// Set anchor color
@mixin ctb-link-color($color, $opacity:40) {
  color: $color;
  &:hover { 
    color: darken($color, $opacity); 
  }
}

@mixin ctb-break-words() {
  -ms-word-break: break-all;
  word-break: break-all;
  // Non standard for webkit
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


// Border Radius
@mixin ctb-border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Transitions
@mixin ctb-transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}


// Box sizing
@mixin ctb-box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

// Opacity
@mixin ctb-opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

// Background color with alpha
@mixin ctb-bg($hex: #333, $rgba: rgba(0, 0, 0, 0.8)) {
  background-color: $hex; 
  background-color: $rgba;
}

// Gradients
@mixin ctb-gradient-horizontal($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-image: -moz-linear-gradient($alpha, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient($alpha, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($alpha, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to $omega, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken($startColor, 1%)}', endColorstr='#{darken($endColor, 1%)}', GradientType=1); // IE9 and down
}

@mixin ctb-gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: mix($startColor, $endColor, 62.5%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken($startColor, 1%)}', endColorstr='#{darken($endColor, 1%)}', GradientType=0); // IE9 and down
}

// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists
//
@mixin ctb-nav-divider($top: #e5e5e5, $bottom: $white) {
  // IE7 needs a set width since we gave a height. Restricting just
  // to IE7 to keep the 1px left/right space in other browsers.
  // It is unclear where IE is getting the extra space that we need
  // to negative-margin away, but so it goes.
  *width: 100%;
  height: 1px;
  margin: $absolute-line-height/4 1px; // 8px 1px
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: $top;
  border-bottom: 1px solid $bottom;
}

@mixin ctb-load-more-pager {
  .pager-load-more {
      @include ctb-clearfix;
      @include reset-list-style;
      padding: $absolute-line-height/2 0;
      float: none;
      clear: both;
      position: relative;
      text-align: center;
      a {
        width: 70%;
        text-align: center;
        @if $from-direction == 'left' {
          letter-spacing: 0.05em;
        }
        font-family: $sans-serif-font-stack;
        font-size: $small-font-size;
        font-weight: 700;
        color: $firefly40;
        background-color: rgba(255,255,255,.8);
        &:hover {
          color: $white;
          background-color: $identity;
          border: 1px solid $identity;
        }
        @include ctb-border-radius(4px);
      }
      .ajax-progress-throbber {
        position: absolute;
        top: 4px;
        #{$omega}: $gutter-width;
        .throbber {
          background: url("../imgs/icons/loader_white.gif");
        }
      }
    }
}

// Sizing shortcuts
// -------------------------
@mixin ctb-size($height, $width) {
  width: $width;
  height: $height;
}
@mixin ctb-square($size) {
  @include ctb-size($size, $size);
}
