// // Variables forked from compass-twitter-bootstrap variables.scss
// // To reset to defaults delete this file and do
// // @import compass_twitter_bootstrap/variables;
// //
// // for info on compass configuration see
// // http://compass-style.org/help/tutorials/configurable-variables/



// // Typography
// //
// // Overriden where appropriate with values from checkdesk. - Nov 2012 CGB
// // -------------------------
// $sansFontFamily: $body-font-stack;
// $serifFontFamily: $header-font-stack;
// $monoFontFamily: $mono-font-stack;

// $base-font-size:          $base-font-size !default;
// $baseFontFamily:        $body-font-stack !default;
// $altFontFamily:         $header-font-stack !default;

// $headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
// $headingsFontWeight:    bold !default;    // instead of browser default, bold
// $headingsColor:         inherit !default; // empty to use BS default, $textColor

// // Component sizing
// // -------------------------
// // Based on 14px font-size and 20px line-height

// Depracated
// 
// to #review and #remove
// we should only use variables in base — CGB
$fontSizeLarge:         $base-font-size * 1.25; // ~18px
$fontSizeSmall:         $base-font-size * 0.85; // ~12px
$fontSizeMini:          $base-font-size * 0.75; // ~11px

$zindexDropdown:          900 !default;
$zindexPopover:           910 !default;
$zindexTooltip:           930 !default;
$zindexFixedNavbar:       930 !default;
$zindexModalBackdrop:     940 !default;
$zindexModal:             950 !default;


// $paddingLarge:          11px 19px; // 44px
// $paddingSmall:          2px 10px;  // 26px
// $paddingMini:           1px 6px;   // 24px

// $radius:      3px;
// $borderRadiusLarge:     6px;
// $borderRadiusSmall:     3px;




// // COMPONENT VARIABLES
// // --------------------------------------------------

// // Hr border color
// // -------------------------
// $hrBorder:                $grayLighter !default;


// // Navbar
// // -------------------------
// $navbarCollapseWidth:             979px !default;

$navbarHeight:                    24px !default;
// $navbarBackgroundHighlight:       $grayDarker !default;
// $navbarBackground:                $grayDarker;
// $navbarBorder:                    darken($navbarBackground, 12%) !default;

// $navbarText:                      $grayLight !default;
// $navbarLinkColor:                 $grayLight !default;
// $navbarLinkColorHover:            $white !default;
// $navbarLinkColorActive:           $white !default;
// $navbarLinkBackgroundHover:       transparent !default;
// $navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;

// Drupal admin toolbar and drawer
$toolbarMenuHeight:				  20px;
$drawerMenuHeight:				  35px;
$toolbarHeight:					  $toolbarMenuHeight + $drawerMenuHeight;



// // GRID
// // --------------------------------------------------


// // Default 940px grid
// // // -------------------------
// $gridColumns:             $total-width !default;
// $gridColumnWidth:         $column-width !default;
// $gridGutterWidth:         $gutter-width !default;
// $gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// // Horizontal forms & lists
// // -------------------------
// $horizontalComponentOffset:       180px !default;

// $placeholderText:         $grayLight !default;


// // Tooltips and popovers
// // -------------------------
// $tooltipColor:            #fff !default;
// $tooltipBackground:       #000 !default;
// $tooltipArrowWidth:       5px !default;
// $tooltipArrowColor:       $tooltipBackground !default;

// $popoverBackground:       #fff !default;
// $popoverArrowWidth:       10px !default;
// $popoverArrowColor:       #fff !default;
// $popoverTitleBackground:  darken($popoverBackground, 3%) !default;

// // Special enhancement for popovers
// $popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
// $popoverArrowOuterColor:  rgba(0,0,0,.25) !default;

