//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $gw;
  margin-bottom: $gw;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  background-color: $warningBackground;
  border: { top: 1px solid $grey; bottom: 1px solid $grey; }
  color: $grey;
  font-size: $smallest-font-size;
  background-color: $light-grey;
  @include transition-property(height);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in);
  &:hover {
    height: auto; 
  }
} 

.alert .close {
  float: opposite-position($from-direction);
  font-size: $base-font-size;
  font-weight: bold;
  line-height: $base-line-height;
  color: $black;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  @include opacity(0.2);
  &:hover {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    @include opacity(0.4);
  }
}

// ------------- end of customizations, this is mostly bootstrap stil - CGB 

.messages h4 {
  margin: 0;
}

// Unnecessary in our layout. 
//
// Adjust close link position
// .alert .close {
//   position: relative;
//   top: -2px;
//   right: -21px;
//   line-height: $baseLineHeight;
// }


// Alternate styles
// -------------------------

.alert-success {
  background-color: $successBackground;
  border-color: $successBorder;
  color: $successText;
}
.alert-danger,
.alert-error {
  background-color: $errorBackground;
  border-color: $errorBorder;
  color: $errorText;
}
.alert-info {
  background-color: $infoBackground;
  border-color: $infoBorder;
  color: $infoText;
}


// Block alerts
// -------------------------

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

//
// Close icons
// --------------------------------------------------


.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: $baseLineHeight;
  color: $black;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  @include opacity(0.2);
  &:hover {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    @include opacity(0.4);
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}



